<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title"><b>Erreichbarkeitsszenario verwalten</b></h4>
    <button type="button" class="close" (click)="activeModal.close('Close click')">
      <i class="fas fa-xmark"></i>
    </button>
  </div>
  <div class="modal-body">
    <div
      class="modal-body reachability-scenario-modal-body"
      style="text-align: left"
      [ngStyle]="{ '--reachability-max-text-width': maxTextWidth + 'px' }"
    >
      <!-- MultiStep Form -->
      <div class="row">
        <div class="col-md-12">
          <form
            class="multiStepForm form-group"
            id="reachabilityScenarioForm"
            role="form"
            data-toggle="validator"
            data-disable="true"
            style="margin-bottom: 0px; margin-top: 0px"
          >
            <!-- div required for click logic -->
            <div>
              <!-- progressbar -->
              <ul id="progressbar">
                <li style="width: 20%" class="active">Szenario-Metadaten</li>
                <li style="width: 20%" (click)="onEditFeaturesClick()">
                  Bearbeiten der Punktdatenquelle
                </li>
                <li style="width: 20%" (click)="onReachbilityConfigurationClick()">
                  Einzugsgebiets-Definition
                </li>
                <li style="width: 20%" (click)="onPoisInReachabilityClick()">
                  Punkte in Einzugsgebieten
                </li>
                <li style="width: 20%" (click)="onIndicatorStatisticsClick()">
                  Indikatoren-Statistiken
                </li>
              </ul>
            </div>

            <!-- fieldsets -->
            <fieldset>
              <app-reachbility-scenario-setup></app-reachbility-scenario-setup>

              <input
                type="button"
                name="next"
                class="next action-button"
                value="N&auml;chster Schritt"
                (click)="onEditFeaturesClick()"
              />
            </fieldset>

            <fieldset>
              <h2 class="fs-title">Manuelles Bearbeiten der Datensatz-Objekte</h2>
              <p class="fs-subtitle reachability-text-content">
                Eine interaktive Karte sowie Eingabefelder erlauben das Editieren einzelner Features
                hinsichtlich r&auml;umlicher Lage und/oder Sachdaten. Weiterhin k&ouml;nnen
                vorhandene Punkte entfernt oder neue Punkte erg&auml;nzt werden. Die &Auml;nderungen
                gelten nur im Rahmen dieses Erreichbarkeits-Szenarios und werden nicht in der
                Datenbank gespeichert.
                <br />
                Nur die mit * markierten Elemente müssen verpflichtend angegeben werden
              </p>

              <div class="reachability-content-wrapper">
                <app-single-feature-edit></app-single-feature-edit>
              </div>

              <input
                type="button"
                name="previous"
                class="previous action-button-previous"
                value="Voriger Schritt"
              />
              <input
                type="button"
                name="next"
                class="next action-button"
                value="N&auml;chster Schritt"
                (click)="onReachbilityConfigurationClick()"
              />
            </fieldset>

            <fieldset>
              <h2 class="fs-title">Einzugsgebiets-Definition mittels OpenRouteService</h2>
              <p class="fs-subtitle reachability-text-content">
                Konfiguration der Berechnung von Einzugsgebieten f&uuml;r alle Punkte der
                Szenarien-Punktdatenquelle. Die Einstellungen umfassen Fortbewegungsmittel und
                Erreichbarkeitszonen (Distanz oder Zeit).
              </p>

              <app-reachability-scenario-configuration></app-reachability-scenario-configuration>

              <input
                type="button"
                name="previous"
                class="previous action-button-previous"
                value="Voriger Schritt"
              />
              <input
                type="button"
                name="next"
                class="next action-button"
                value="N&auml;chster Schritt"
                (click)="onPoisInReachabilityClick()"
              />
            </fieldset>

            <fieldset style="padding: 0px 10px">
              <h2 class="fs-title">Punkte in Einzugsgebieten</h2>
              <p class="fs-subtitle reachability-text-content">
                Bestimmen Sie ein Referenzdatum und selektieren relevante Punktlayer in der Tabelle.
                F&uuml;r jeden Punktlayer werden gem&auml;&szlig; des Referenzdatums die
                g&uuml;ltigen Punktobjekte geladen und mit den zuvor berechneten Isochronen
                verschnitten.
              </p>

              <app-reachability-poi-in-iso></app-reachability-poi-in-iso>

              <input
                type="button"
                name="previous"
                class="previous action-button-previous"
                value="Voriger Schritt"
              />
              <input
                type="button"
                name="next"
                class="next action-button"
                value="N&auml;chster Schritt"
                (click)="onIndicatorStatisticsClick()"
              />
            </fieldset>

            <fieldset>
              <h2 class="fs-title">Indikatoren-Statistiken</h2>
              <p class="fs-subtitle reachability-text-content">
                Beantworten Sie Fragestellungen zur Versorgung durch Punkt-Einzugsgebiete, in dem
                die berechneten Isochronen mit Indikatoren verschnitten werden (fl&auml;chenenteil
                oder besser &uuml;berlappende Wohngebiete). Die Sch&auml;tzwerte werden umso
                genauer, je kleinr&auml;umiger der Indikator mit eingeht.
              </p>

              <app-reachability-indicator-statistics></app-reachability-indicator-statistics>

              <input
                type="button"
                name="previous"
                class="previous action-button-previous"
                value="Voriger Schritt"
              />
              <input
                type="button"
                name="next"
                class="next action-button"
                value="N&auml;chster Schritt"
              />
            </fieldset>
          </form>
        </div>
      </div>

      <!-- <form role="form" class="form-group" data-toggle="validator" style="margin-bottom: 0px;"> -->
    </div>
    <div class="modal-custom-footer">
      <div></div>
      <div>
        <button
          type="button"
          class="btn btn-success"
          [disabled]="
            !reachabilityStateService.scenarioTitle ||
            !reachabilityStateService.currentIsochronesGeoJSON ||
            !reachabilityStateService.original_nonDissolved_isochrones
          "
          (click)="onClickAddScenario()"
        >
          Szenario anlegen/aktualisieren
        </button>
        <button type="button" class="btn btn-danger" (click)="resetReachabilityScenarioForm()">
          Zur&uuml;cksetzen
        </button>
      </div>
    </div>
  </div>
</div>
