<div id="adminRolesContent">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Zugriffskontrolle
			<small>Zugriffs-Management via Keycloak</small>
		</h1>

		<div class="adminTableButtonWrapper"
			ng-show="$ctrl.kommonitorDataExchangeServiceInstance.enableKeycloakSecurity && $ctrl.kommonitorDataExchangeServiceInstance.checkGroupCreatePermission()">
			<div class="verticalAlign">
				<span>Nur editierbare Datensätze anzeigen</span>
				<div>
					<label class="switch">
						<input type="checkbox" ng-model="tableViewSwitcher" ng-change="onTableViewSwitch()" class="ng-valid ng-dirty ng-valid-parse ng-touched ng-not-empty">
						<span class="switchslider round"></span>
					</label>
				</div>
			</div>
			<button ng-disabled="!$ctrl.kommonitorDataExchangeServiceInstance.checkGroupCreatePermission()" class="btn btn-success btn-sm" type="button" data-toggle="modal" data-target="#modal-add-ou"><i
					class="fas fa-plus"></i>&nbsp;&nbsp;Erstellen</button>

			<!-- delete selected completely -->
			<button ng-disabled="!$ctrl.kommonitorDataExchangeServiceInstance.checkGroupsEditPermission()" class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#modal-delete-roles"
				ng-click="onClickDeleteDatasets()"><i class="fas fa-trash"></i>&nbsp;&nbsp;L&ouml;schen</button>

		</div>
	</section>

	<!-- Main content -->
	<section class="content container-fluid">
		<!--------------------------
	| Your Page Content Here |
	-------------------------->

		<div ng-show="! $ctrl.kommonitorDataExchangeServiceInstance.enableKeycloakSecurity">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">Zugriffskontrolle</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">

					<p>KomMonitor nutzt die Open Source Software <b>Keycloak</b> zum Nutzer- und Rechtenmanagement.
					</p>
					<h4>In der Konfiguration ist der Zugriffsschutz jedoch deaktiviert. Es muss zuerst
						aktiviert und mit einer validen Keycloak-Instanz konfiguriert werden bevor die Zugriffskontrolle verwaltet
						werden k&ouml;nnen.</h4>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>

		<div ng-show="$ctrl.kommonitorDataExchangeServiceInstance.enableKeycloakSecurity">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">Mandantenspezifische Zugriffskontrolle</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<h4>Seit <b>Version 4</b> erlaubt KomMonitor eine unabh&auml;ngige Verwaltung mehrerer <b>Mandanten</b> innerhalb der gleichen KomMonitor Instanz. 
						Nur IT-Systemadministratoren, deren User Account mit der speziellen Rolle <i>kommonitor-creator</i> verbunden ist, d&uuml;rfen neue <b>Mandanten</b> einrichten. 
						Mandanten verwalten sich anschlie&szlig;end eigenst&auml;ndig und unabh&auml;ngig von anderen Mandanten der gleichen Instanz (bspw. Kreisverwaltung und angeh&ouml;rige Kommune)</h4>
					<p>KomMonitor nutzt die Open Source Software <b>Keycloak</b> zum Nutzer- und Rechtenmanagement.
						 
						Pro KomMonitor-Organisationseinheit wird eine analoge Gruppe in Keycloak hinterlegt, für die Zugriffsrechte auf Datens&auml;tze und weitere Eigenschaften vergeben werden.   
					Die Verwaltung der Nutzer selbst sowie deren Zuordnung zu Gruppen muss direkt &uuml;ber die
					Administrations-Oberfl&auml;che der folgenden Keycloak Instanz erfolgen:</p>
					<h4>
						<a ng-href="{{$ctrl.kommonitorKeycloakHelperServiceInstance.targetRealmUrlToKeycloakInstance}}" target="_blank" rel="noopener noreferrer">{{$ctrl.kommonitorKeycloakHelperServiceInstance.targetRealmUrlToKeycloakInstance}}</a>
					</h4>
					<div ng-show="$ctrl.kommonitorDataExchangeServiceInstance.isRealmAdmin">
						<p>Die nachfolgend gelisteten Organisationseinheiten werden aus der KomMonitor Datenbank abgerufen. 
							<!-- Die
							Administrations-Seiten des KomMonitor leiten die Befehle zum Erstellen, Modifizieren und
							L&ouml;schen analoger Gruppen per REST Request an die Keycloak-Instanz weiter. Beispielsweise wird
							eine neue Organisationseinheit daher sowohl in der KomMonitor Datenbank angelegt, als auch automatisch
							in Keycloak als neue Gruppe registriert. Dennoch haben Sie jederzeit die M&ouml;glichkeit, die
							Administrations-Seiten der Keycloak-Instanz &uuml;ber obigen Link aufzurufen, um dort
							Anpassungen vorzunehmen. -->
						</p>
						<p><i>Wichtiger Hinweis: Perspektivisch sollen weitere KomMonitor Men&uuml;s entwickelt werden, um den Systembruch nach Keycloak ganz zu vermeiden.</i>
						</p>
					<!-- <p>
						Es gibt eine vordefinierte System-Organisation, die nicht gelöscht werden kann:<br>
						<ul>
							<li>kommonitor - notwendige Standard Organisation angemeldeter Nutzer</li>							
						</ul>
					</p> -->
				</div>
				<hr>
				<br/>

				<div class="admin-table-wrapper">
					<table id="roleOverviewTable" style="height: 45vh; width: 100%;" class="ag-theme-alpine"></table>

				</div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>

	</section>
	<!-- /.content -->
</div>