<div class="modal-header">
  <h4 class="modal-title">Skripte löschen</h4>
  <button type="button" class="btn-close" aria-label="Schließen" (click)="close()">
    <!-- <span aria-hidden="true">&times;</span> -->
  </button>
</div>

<div class="modal-body">
  <!-- Loading Overlay -->
  @if (loadingData) {
    <div class="loading-overlay-admin-panel text-center">
      <i class="fas fa-spinner fa-spin fa-2x"></i>
    </div>
  }

  <h4><b>Sollen die folgenden Skripte wirklich gelöscht werden?</b></h4>
  <p>
    Der jeweilige Ziel-Indikator kann dann nicht mehr automatisiert durch KomMonitor berechnet
    werden.
  </p>

  @if (datasetsToDelete.length > 0) {
    <div>
      <ul>
        @for (dataset of datasetsToDelete; track dataset) {
          <li>{{ dataset.name }}</li>
        }
      </ul>
    </div>
  }

  @if (datasetsToDelete.length === 0) {
    <div>
      <pre>
        Kein Datensatz zum Löschen markiert. Mindestens ein Datensatz muss markiert werden.</pre
      >
    </div>
  }

  <!-- Success Alert -->
  @if (showSuccessAlert) {
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="btn-close" (click)="hideSuccessAlert()" aria-hidden="true">
        &times;
      </button>
      <h4><i class="icon fa fa-check"></i> Folgende Skripte wurden erfolgreich gelöscht</h4>
      <ul>
        @for (dataset of successfullyDeletedDatasets; track dataset) {
          <li>
            {{ dataset.name }}
          </li>
        }
      </ul>
    </div>
  }

  <!-- Error Alert -->
  @if (showErrorAlert) {
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="btn-close" (click)="hideErrorAlert()" aria-hidden="true">
        &times;
      </button>
      <h4><i class="icon fa fa-ban"></i> Löschen gescheitert</h4>
      <p>Folgende Datensätze konnten nicht gelöscht werden.</p>
      <table
        class="table table-bordered table-condensed"
        style="width: 100%; overflow: auto; font-size: 11px"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Fehlermeldung</th>
          </tr>
        </thead>
        <tbody>
          @for (entry of failedDatasetsAndErrors; track entry) {
            <tr>
              <td>{{ entry[0].name }}</td>
              <td [innerHTML]="entry[1]"></td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="close()">Schließen</button>
  <div style="flex: 1"></div>
  <button
    type="button"
    class="btn btn-danger"
    [disabled]="datasetsToDelete.length === 0 || loadingData"
    (click)="deleteScripts()"
  >
    Skripte unwiderruflich löschen
  </button>
</div>
