<div id="kommonitorFilter">

	<p></p>

	<!-- RÄUMLICHE FILTER -->
	<div class="box box-primary" id="kommonitorSpatialFilter" *ngIf="isFilterModeActive('kommonitorSpatialFilter')">
		<div class="box-header with-border">
			<h3 class="box-title">R&auml;umliche Filter</h3>

			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
				</button>
			</div>
		</div>
		<div class="box-body">

			<strong>gefilterte Features tempor&auml;r aus Datensatz entfernen</strong>
			&nbsp;
			<label class="switch">
				<input id="controlFilterBehaviourToggle" type="checkbox" (change)="filterHelperService.onChangeFilterBehaviourToggle()"
					[(ngModel)]="filterData.completelyRemoveFilteredFeaturesFromDisplay" 
					(checked)="filterData.completelyRemoveFilteredFeaturesFromDisplay">
				<span class="switchslider round"></span>
			</label>

			<br/>
			<hr>

			<div style="text-align: center">
				<h4>Selektion anhand &uuml;bergeordneter Raumeinheit</h4>
				<p>Durch Auswahl eines Gebiets der &uuml;bergeordneten Raumeinheit (relativ zur momentan angezeigten) k&ouml;nnen alle darin enthaltenen Gebiete ausgew&auml;hlt werden. Die Auswahl erfolgt &uuml;ber eine Zentroidberechnung.</p>
				<label class="switch">
					<input id="showSelectionByFeatureSpatialFilterToggle" type="checkbox" (change)="onChangeShowSelectionByFeature(showSelectionByFeatureSpatialFilter)"
						[(ngModel)]="showSelectionByFeatureSpatialFilter" 
						(checked)="showSelectionByFeatureSpatialFilter">
					<span class="switchslider round"></span>
				</label>

				<div id="selectionByFeatureSpatialFilter" *ngIf="showSelectionByFeatureSpatialFilter">					

					<div style="text-align: center">
						<div class="loading-overlay-sidebar ng-hide" *ngIf="loadingData">
									<span class="glyphicon glyphicon-refresh icon-spin"></span>
						</div>
					</div>

					<br>
					<br>

					<div *ngIf="! selectedSpatialUnitForFilter">
						Auswahl bei derzeitig visualisierter Raumebene nicht m&ouml;glich - keine &uuml;bergeordneten Raumebenen vorhanden
					</div>

					<div class="row">						
						<div class="col-sm-12 col-md-7 col-lg-7">
							<label>nur Raumeinheiten des aktuellen Indikators ber&uuml;cksichtigen</label>
							
						</div>
						<div class="col-sm-12 col-md-2 col-lg-2">
							<label class="switch">
								<input id="considerAllowedSpatialUnitsOfCurrentIndicatorToggle" type="checkbox" (change)="onChangeShowSelectionByFeature(true)"
									[(ngModel)]="considerAllowedSpatialUnitsOfCurrentIndicator" 
									(checked)="considerAllowedSpatialUnitsOfCurrentIndicator">
								<span class="switchslider round"></span>					
							</label>
						</div>
						<div class="col-sm-12 col-md-3 col-lg-3">
							
						</div>
					</div>

					<div class="row">						
						<div class="col-sm-12 col-md-3 col-lg-3">
							<label>Raumebene</label>							
						</div>
						<div class="col-sm-12 col-md-6 col-lg-6">
							<!-- <select style="font-size: 12px;"
								[(ngModel)]="selectedSpatialUnitForFilter"
								ng-options="spatialUnit as spatialUnit.spatialUnitLevel for spatialUnit in higherSpatialUnits track by spatialUnit.spatialUnitId"
								class="form-control" (change)="onChangeSelectedSpatialUnitForFilter(selectedSpatialUnitForFilter)"
								required>
								<option disabled selected value> -- Raumeinheit w&auml;hlen --
								</option>
							</select> -->
              <!-- todo -->
              <select>
                <option *ngFor="let item of higherSpatialUnits"></option>
              </select>
						</div>
						<div class="col-sm-12 col-md-3 col-lg-3">
							
						</div>
					</div>

					<excalibur-dual-list class="spatialFilterDuallist" 
						options="selectionByFeatureSpatialFilterDuallistOptions"></excalibur-dual-list>
					<button class="btn btn-primary" (click)="onSelectionByFeatureSpatialFilterSelectBtnPressed()"
						ng-disabled="!selectionByFeatureSpatialFilterDuallistOptions || selectionByFeatureSpatialFilterDuallistOptions.selectedItems.length == 0">
							Selektion durchf&uuml;hren
					</button> 
					<br/>
					<button id="selectionByFeatureSpatialFilterResetSelectionBtn" class="btn btn-danger" 
						(click)="onSelectionByFeatureSpatialFilterResetBtnPressed()">Selektion zur&uuml;cksetzen</button>
				</div>

				<hr>

				<h4>Manuelle Selektion anzuzeigender Raumeinheiten</h4>
				<p>Gebiete k&ouml;nnen &uuml;ber ihre Bezeichnung oder &uuml;ber die Karte ausgew&auml;hlt werden.</p>
				<label class="switch">
					<input id="showManualSelectionSpatialFilterToggle" type="checkbox" (change)="onChangeShowManualSelection(showManualSelectionSpatialFilter)"
						[(ngModel)]="showManualSelectionSpatialFilter" 
						(checked)="showManualSelectionSpatialFilter">
					<span class="switchslider round"></span>
				</label>
				<div id="manualSelectionSpatialFilter" *ngIf="showManualSelectionSpatialFilter">
					<excalibur-dual-list class="spatialFilterDuallist" 
						options="manualSelectionSpatialFilterDuallistOptions"></excalibur-dual-list>
					
					<!-- selection via any drawable item on map - hidden for now -->
						<!-- <div>
						<p>Selektion &uuml;ber Kartenbild</p>
						<label class="switch">
							<input id="manualSelectionSpatialFilterSelectByMapToggle" type="checkbox" (change)="onChangeManualSelectionSpatialFilterSelectByMapToggle()"
								[(ngModel)]="manualSelectionSpatialFilterSelectByMap" 
								(checked)="manualSelectionSpatialFilterSelectByMap">
							<span class="switchslider round"></span>
						</label><br />
						<div id="manualSelectionSpatialFilterSelectByMapBtn" > 
							<button class="btn btn-primary" ng-disabled="!manualSelectionSpatialFilterSelectByMap" (click)="manualSelectionSpatialFilterSelectByMapBtnClicked()">Selektionsbereich zeichnen</button>
						</div>
					</div>						 -->					
					<button class="btn btn-primary" (click)="onManualSelectionSpatialFilterSelectBtnPressed()">Selektion durchf&uuml;hren</button>
					<button class="btn btn-danger"
					(click)="onManualSelectionSpatialFilterResetBtnPressed()">Selektion zur&uuml;cksetzen</button>

					<br/>
					<br/>
					<!-- <button class="btn btn-primary" ng-disabled="$ctrl.kommonitorFilterHelperServiceInstance.selectedIndicatorFeatureIds.size == 0" (click)="onManualSelectionBySelectedMapFeaturesBtnPressed()">{{$ctrl.kommonitorFilterHelperServiceInstance.selectedIndicatorFeatureIds.size}} aktuell gew&auml;hlte Kartenobjekte filtern</button>
					 -->
				</div>
			</div>

		</div>
	</div>
	<!-- /.box -->

	<!-- DARSTELLUNGSFILTER -->
	<div class="box box-primary" id="kommonitorRangeFilter" *ngIf="isFilterModeActive('kommonitorRangeFilter')">
		<div class="box-header with-border">
			<h3 class="box-title">Wertebereich Filter</h3>

			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
				</button>
			</div>
		</div>
		<div class="box-body">

			<div style="text-align: middle">
				<p>Einschr&auml;nken der dargestellten Features anhand des Indikatorenwertebereichs. Bewegen der
					Schieberegler mit Hilfe der Maus oder den Pfeiltasten der Tastatur.</p>
				<div id="rangeSliderForFilteringWrapper">
					<input id="rangeSliderForFiltering" type="text" class="js-range-slider" value="">
				</div>
			</div>

			<p></p>

			<div class="row">
				<div class="col-lg-6">
					<div class="input-group">
						<span class="input-group-addon">
							<b>untere Grenze</b>
						</span>
						<input id="inputLowerValue" [(ngModel)]="inputLowerFilterValue" [(ngModel)]-options="{debounce: 500, blur: 0}"
							(change)="onChangeLowerFilterValue(inputLowerFilterValue)" string-to-number type="number"
							step="0.01" class="form-control input-sm">
					</div>
					<!-- /input-group -->
					<p></p>

					<div *ngIf="lowerFilterInputNotValid" class="alert alert-danger" style="margin-bottom:0px;">
						<strong><i class="icon fas fa-ban"></i>Untere Filtergrenze ung&uuml;ltig!</strong>
						<p></p>
						<p>
							<strong>Hinweis: </strong>Der Wert muss zwischen {{valueRangeMinValue}} und
							{{valueRangeMaxValue}} liegen und kleiner als die aktuelle obere Filtergrenze
							({{currentHigherFilterValue}}) sein.
						</p>
					</div>
				</div>
				<!-- /.col-lg-6 -->
				<div class="col-lg-6">
					<div class="input-group">
						<span class="input-group-addon">
							<b>obere Grenze</b>
						</span>
						<input id="inputHigherValue" [(ngModel)]="inputHigherFilterValue" [(ngModel)]-options="{debounce: 500, blur: 0}"
							(change)="onChangeHigherFilterValue(inputHigherFilterValue)" string-to-number type="number"
							step="0.01" class="form-control input-sm">
					</div>
					<!-- /input-group -->

					<p></p>
					<div *ngIf="higherFilterInputNotValid" class="alert alert-danger" style="margin-bottom:0px;">
						<strong><i class="icon fas fa-ban"></i>Obere Filtergrenze ung&uuml;ltig!</strong>

						<p></p>

						<p>
							<strong>Hinweis: </strong>Der Wert muss zwischen {{valueRangeMinValue}} und
							{{valueRangeMaxValue}} liegen und gr&ouml;ßer als die aktuelle untere Filtergrenze
							({{currentLowerFilterValue}}) sein.
						</p>
					</div>
				</div>
				<!-- /.col-lg-6 -->
			</div>
			<!-- /.row -->

		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->


	<!-- SCHWELLENWERT FILTER -->
	<div style="margin-bottom: 0px;" class="box box-primary" id="kommonitorThresholdFilter" *ngIf="isFilterModeActive('kommonitorThresholdFilter')">
		<div class="box-header with-border">
			<h3 class="box-title">Dynamische Schwellenwertklassifizierung</h3>

			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
				</button>
			</div>
		</div>
		<div class="box-body">

			<div style="text-align: justify">
				<p>Dieses Tool bietet eine spezielle Form der Klassifizierung der dargestellten r&auml;mlichen Features.
					Mit Hilfe eines Schwellenwertes werden die Features zun&auml;chst in zwei Kategorien unterteilt:</p>
				<ul>
					<li>Features, deren Indikatorwert unter dem Schwellenwert liegt (Blau-T&ouml;ne)</li>
					<li>Features, deren Indikatorwert &uuml;ber dem Schwellenwert liegt (Orange-T&ouml;ne)</li>
				</ul>
				<p>Jedes Feature wird anschließend gem&auml;&szlig; seiner Kategorie in eine von 1-5 Abstufungen
					klassifiziert und entsprechend eingef&auml;rbt. Zum Aktivieren/Deaktivieren der
					Schwellenwertklassifizierung bitte die unten stehende Checkbox nutzen.</p>
			</div>

			<div style="text-align: center" class="form-group"
				*ngIf="exchangeData.selectedIndicator">

				<strong>Schwellenwertklassifizierung aktivieren/deaktivieren</strong>
				&nbsp;
				<label class="switch">
					<input id="measureOfValueCheckbox" type="checkbox" (change)="onChangeUseMeasureOfValue()"
						[(ngModel)]="exchangeData.isMeasureOfValueChecked"
						(checked)="exchangeData.isMeasureOfValueChecked">
					<span class="switchslider round"></span>
				</label>

				<div *ngIf="exchangeData.isMeasureOfValueChecked">

					<!-- <p>Verschieben des Schwellenwertes klassifiziert die dargestellten Indikatoren-Features unmittelbar neu. Ebenso passt sich die Anzahl an Klassen der beiden oben genannten Kategorien dynamisch an die Anzahl der zu klassifizierenden Features an.</p> -->
					<br />

					<div class="slidecontainer" style="position:relative">
						<input [(ngModel)]="exchangeData.measureOfValue"
							id="measureOfValueInput" type="text" class="js-range-slider" value="">

						<!-- <input [(ngModel)]="$ctrl.kommonitorDataExchangeServiceInstance.measureOfValue" type="number" style="width:100px;" class="form-control" id="measureOfValueTextInput">
									<br/>
									<p>Schwellenwert: {{$ctrl.kommonitorDataExchangeServiceInstance.measureOfValue}}</p> -->
					</div>
					<div style="text-align: center">
						<br />
						<label>Schwellenwert: </label><input
							[(ngModel)]="exchangeData.measureOfValue"
							(change)="onMeasureOfValueChangeByText()" [(ngModel)]-options="{debounce: 1500, blur: 0}"
							min="{{movMinValue}}" max="{{movMaxValue}}" step="0.01" string-to-number type="number"
							style="width:175px;" class="form-control input-sm" id="measureOfValueTextInput">

						<!-- <div *ngIf="inputNotValid">
										<p>Schwellenwert: {{$ctrl.kommonitorDataExchangeServiceInstance.measureOfValue}}</p>
									</div> -->

						<div *ngIf="inputNotValid">
							<br />
							<div class="alert alert-danger" style="margin-bottom:0px;">
								<strong><i class="icon fas fa-ban"></i>Eingegebener Schwellenwert ist nicht
									g&uuml;ltig!</strong>
								<p></p>
								<p>
									<strong>Hinweis: </strong>Der Schwellenwert muss zwischen {{movMinValue}} und
									{{movMaxValue}} liegen.
								</p>
							</div>
						</div>

					</div>

				</div>

			</div>

		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->

</div>