:host {
  #rangeSliderForFilteringWrapper {
    padding-bottom: 2.5em;
  }

  .dual-list-button-wrapper {
    button {
      margin-top: 0.5em;
    }
  }
}

/* custom fix for left sided range slider */
::ng-deep #measureOfValueSlider.custom-dateSlider .noUi-connects {
  background-color: transparent !important;

  .noUi-connect {
    background-color: var(--kommonitor-primary-80);
  }
}
