<div id="kommonitorFilter">
  <div style="text-align:center">
		<div class="loading-overlay-sidebar-small ng-hide" *ngIf="loadingData">
					<span class="glyphicon glyphicon-refresh icon-spin"></span>
		</div>
	</div>
	<p></p>

<!-- GLOBALE FILTER -->
  <div class="box box-primary" id="globalFilterBox" *ngIf="globalFiltersActive()">
		<div class="box-header with-border">
			<h3 class="box-title">Globale Filter</h3>

			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
				</button>
			</div>
		</div>
		<div class="box-body">

      Eingrenzung der Indikatoren-Auswahl anhand von voreingestellten globalen Filtern.

      <table class="table table-condensed " style="margin: 10px 10px 10px 0; max-height:150px; overflow: auto; padding-left: 5px;">
        <thead>
          <tr>
            <th>
              Filter-Bezeichnung											
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let filter of globalFilters; let i = index">
            <td>
              <label class="checkbox-inline input-sm"><input type="checkbox" [(ngModel)]="globalFilters[i].checked" [checked]="globalFilters[i].checked" (change)="onChangeFilterSelection()">{{filter.name}}</label>											
            </td>
          </tr>	
        </tbody>												

      </table>

    </div>
  </div>

	<!-- RÄUMLICHE FILTER -->
	<div class="box box-primary" id="kommonitorSpatialFilter" *ngIf="isFilterModeActive('kommonitorSpatialFilter')">
		<div class="box-header with-border">
			<h3 class="box-title">R&auml;umliche Filter</h3>

			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
				</button>
			</div>
		</div>
		<div class="box-body">

			<strong>gefilterte Raumebenen tempor&auml;r aus Datensatz entfernen</strong>
			&nbsp;
			<label class="switch">
				<input id="controlFilterBehaviourToggle" type="checkbox" (change)="filterHelperService.onChangeFilterBehaviourToggle()"
					[(ngModel)]="filterHelperService.completelyRemoveFilteredFeaturesFromDisplay" 
					(checked)="filterHelperService.completelyRemoveFilteredFeaturesFromDisplay">
				<span class="switchslider round"></span>
			</label>

			<br/>
			<hr>

			<div style="text-align: center">
				<h4>Selektion anhand &uuml;bergeordneter Raumebene</h4>
				<p>Durch Auswahl eines Gebiets der &uuml;bergeordneten Raumebene (relativ zur momentan angezeigten) k&ouml;nnen alle darin enthaltenen Gebiete ausgew&auml;hlt werden. Die Auswahl erfolgt &uuml;ber eine Zentroidberechnung.</p>
				<label class="switch">
					<input id="showSelectionByFeatureSpatialFilterToggle" type="checkbox" (change)="onChangeShowSelectionByFeature(showSelectionByFeatureSpatialFilter)"
						[(ngModel)]="showSelectionByFeatureSpatialFilter" 
						(checked)="showSelectionByFeatureSpatialFilter=!showSelectionByFeatureSpatialFilter">
					<span class="switchslider round"></span>
				</label>

				<div id="selectionByFeatureSpatialFilter" *ngIf="showSelectionByFeatureSpatialFilter">					

					<div style="text-align: center">
						<div class="loading-overlay-sidebar ng-hide" *ngIf="loadingData">
									<span class="glyphicon glyphicon-refresh icon-spin"></span>
						</div>
					</div>

					<br>
					<br>

					<div *ngIf="! selectedSpatialUnitForFilter">
						Auswahl bei derzeitig visualisierter Raumebene nicht m&ouml;glich - keine &uuml;bergeordneten Raumebenen vorhanden
					</div>

					<div class="row">						
						<div class="col-sm-12 col-md-7 col-lg-7">
							<label>nur Raumebenen des aktuellen Indikators ber&uuml;cksichtigen</label>
							
						</div>
						<div class="col-sm-12 col-md-2 col-lg-2">
							<label class="switch">
								<input id="considerAllowedSpatialUnitsOfCurrentIndicatorToggle" type="checkbox" (change)="onChangeShowSelectionByFeature(true)"
									[(ngModel)]="considerAllowedSpatialUnitsOfCurrentIndicator" 
									(checked)="considerAllowedSpatialUnitsOfCurrentIndicator">
								<span class="switchslider round"></span>					
							</label>
						</div>
						<div class="col-sm-12 col-md-3 col-lg-3">
							
						</div>
					</div>

					<div class="row">						
						<div class="col-sm-12 col-md-3 col-lg-3">
							<label>Raumebene</label>							
						</div>
						<div class="col-sm-12 col-md-6 col-lg-6">
              <select [(ngModel)]="selectedSpatialUnitIdForFilter" (change)="onChangeSelectedSpatialUnitForFilter()">
								<option disabled selected value> -- Raumebene w&auml;hlen -- </option>
                <option *ngFor="let item of higherSpatialUnits" [value]="item.spatialUnitId">{{item.metadata.description}}</option>
              </select>
						</div>
						<div class="col-sm-12 col-md-3 col-lg-3">
							
						</div>
					</div>
          
          <app-dual-list-box [data]="selectionByFeatureSpatialFilterDuallistOptions" [reload]="reloadList" (selectedItems)="onUpdatedSelectedItems($event)"></app-dual-list-box>
				<!-- 	<excalibur-dual-list class="spatialFilterDuallist" 
						options="selectionByFeatureSpatialFilterDuallistOptions"></excalibur-dual-list> -->
          <div style="margin-top: 4em;">
            <button class="btn btn-primary" (click)="onSelectionByFeatureSpatialFilterSelectBtnPressed()"
              ng-disabled="!selectionByFeatureSpatialFilterDuallistOptions || selectionByFeatureSpatialFilterDuallistOptions.selectedItems.length == 0">
                Selektion durchf&uuml;hren
            </button> 
            <br/>
            <button id="selectionByFeatureSpatialFilterResetSelectionBtn" class="btn btn-danger" 
              (click)="onSelectionByFeatureSpatialFilterResetBtnPressed()">Selektion zur&uuml;cksetzen</button>
            </div>
				</div>

				<hr>

				<h4>Manuelle Selektion anzuzeigender Raumebeneen</h4>
				<p>Gebiete k&ouml;nnen &uuml;ber ihre Bezeichnung oder &uuml;ber die Karte ausgew&auml;hlt werden.</p>
				<label class="switch">
					<input id="showManualSelectionSpatialFilterToggle" type="checkbox" (change)="onChangeShowManualSelection(showManualSelectionSpatialFilter)"
						[(ngModel)]="showManualSelectionSpatialFilter" 
						(checked)="showManualSelectionSpatialFilter=!showManualSelectionSpatialFilter">
					<span class="switchslider round"></span>
				</label>
				<div id="manualSelectionSpatialFilter" *ngIf="showManualSelectionSpatialFilter">
          <app-dual-list-box [data]="manualSelectionSpatialFilterDuallistOptions" [reload]="reloadManualList" (selectedItems)="onUpdatedManualSelectedItems($event)"></app-dual-list-box>
				<!-- 
					<excalibur-dual-list class="spatialFilterDuallist" 
						options="manualSelectionSpatialFilterDuallistOptions"></excalibur-dual-list> -->
					
					<!-- selection via any drawable item on map - hidden for now -->
						<!-- <div>
						<p>Selektion &uuml;ber Kartenbild</p>
						<label class="switch">
							<input id="manualSelectionSpatialFilterSelectByMapToggle" type="checkbox" (change)="onChangeManualSelectionSpatialFilterSelectByMapToggle()"
								[(ngModel)]="manualSelectionSpatialFilterSelectByMap" 
								(checked)="manualSelectionSpatialFilterSelectByMap">
							<span class="switchslider round"></span>
						</label><br />
						<div id="manualSelectionSpatialFilterSelectByMapBtn" > 
							<button class="btn btn-primary" ng-disabled="!manualSelectionSpatialFilterSelectByMap" (click)="manualSelectionSpatialFilterSelectByMapBtnClicked()">Selektionsbereich zeichnen</button>
						</div>
					</div>						 -->					
					<button class="btn btn-primary" (click)="onManualSelectionSpatialFilterSelectBtnPressed()">Selektion durchf&uuml;hren</button>
					<button class="btn btn-danger"
					(click)="onManualSelectionSpatialFilterResetBtnPressed()">Selektion zur&uuml;cksetzen</button>

					<br/>
					<br/>
					<!-- <button class="btn btn-primary" ng-disabled="$ctrl.kommonitorFilterHelperServiceInstance.selectedIndicatorFeatureIds.size == 0" (click)="onManualSelectionBySelectedMapFeaturesBtnPressed()">{{$ctrl.kommonitorFilterHelperServiceInstance.selectedIndicatorFeatureIds.size}} aktuell gew&auml;hlte Kartenobjekte filtern</button>
					 -->
				</div>
			</div>

		</div>
	</div>
	<!-- /.box -->

	<!-- DARSTELLUNGSFILTER -->
	<div class="box box-primary" id="kommonitorRangeFilter">
		<div class="box-header with-border">
			<h3 class="box-title">Wertebereich Filter</h3>

			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
				</button>
			</div>
		</div>
		<div class="box-body">

			<div style="text-align: middle">
				<p>Einschr&auml;nken der dargestellten Features anhand des Indikatorenwertebereichs. Bewegen der
					Schieberegler mit Hilfe der Maus oder den Pfeiltasten der Tastatur.</p>
				<div id="rangeSliderForFilteringWrapper">
					<div id="filterRangeSlider"></div>
				</div>
			</div>

			<p></p>

			<div class="row">
				<div class="col-lg-6">
					<div class="input-group">
						<span class="input-group-addon">
							<b>untere Grenze</b>
						</span>
						<input id="inputLowerValue" [(ngModel)]="inputLowerFilterValue"
							(change)="onChangeLowerFilterValue(inputLowerFilterValue)" string-to-number type="number"
							step="0.01" class="form-control input-sm">
					</div>
					<p></p>

					<div *ngIf="lowerFilterInputNotValid" class="alert alert-danger" style="margin-bottom:0px;">
						<strong><i class="icon fas fa-ban"></i>Untere Filtergrenze ung&uuml;ltig!</strong>
						<p></p>
						<p>
							<strong>Hinweis: </strong>Der Wert muss zwischen {{valueRangeMinValue}} und
							{{valueRangeMaxValue}} liegen und kleiner als die aktuelle obere Filtergrenze
							({{currentHigherFilterValue}}) sein.
						</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="input-group">
						<span class="input-group-addon">
							<b>obere Grenze</b>
						</span>
						<input id="inputHigherValue" [(ngModel)]="inputHigherFilterValue"
							(change)="onChangeHigherFilterValue(inputHigherFilterValue)" string-to-number type="number"
							step="0.01" class="form-control input-sm">
					</div>

					<p></p>
					<div *ngIf="higherFilterInputNotValid" class="alert alert-danger" style="margin-bottom:0px;">
						<strong><i class="icon fas fa-ban"></i>Obere Filtergrenze ung&uuml;ltig!</strong>

						<p></p>

						<p>
							<strong>Hinweis: </strong>Der Wert muss zwischen {{valueRangeMinValue}} und
							{{valueRangeMaxValue}} liegen und gr&ouml;ßer als die aktuelle untere Filtergrenze
							({{currentLowerFilterValue}}) sein.
						</p>
					</div>
				</div>
			</div>

		<!-- /.box-body -->
		</div>
	</div>
	<!-- /.box -->


	<!-- SCHWELLENWERT FILTER -->
	<div style="margin-bottom: 0px;" class="box box-primary" id="kommonitorThresholdFilter" *ngIf="isFilterModeActive('kommonitorThresholdFilter')">
		<div class="box-header with-border">
			<h3 class="box-title">Dynamische Schwellenwertklassifizierung</h3>

			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
				</button>
			</div>
		</div>
		<div class="box-body">

			<div style="text-align: justify">
				<p>Dieses Tool bietet eine spezielle Form der Klassifizierung der dargestellten r&auml;mlichen Features.
					Mit Hilfe eines Schwellenwertes werden die Features zun&auml;chst in zwei Kategorien unterteilt:</p>
				<ul>
					<li>Features, deren Indikatorwert unter dem Schwellenwert liegt (Blau-T&ouml;ne)</li>
					<li>Features, deren Indikatorwert &uuml;ber dem Schwellenwert liegt (Orange-T&ouml;ne)</li>
				</ul>
				<p>Jedes Feature wird anschließend gem&auml;&szlig; seiner Kategorie in eine von 1-5 Abstufungen
					klassifiziert und entsprechend eingef&auml;rbt. Zum Aktivieren/Deaktivieren der
					Schwellenwertklassifizierung bitte die unten stehende Checkbox nutzen.</p>
			</div>

			<div style="text-align: center" class="form-group">

				<strong>Schwellenwertklassifizierung aktivieren/deaktivieren</strong>
				&nbsp;
				<label class="switch">
					<input id="measureOfValueCheckbox" type="checkbox" (change)="onChangeUseMeasureOfValue()"
						[(ngModel)]="exchangeData.isMeasureOfValueChecked"
						(checked)="exchangeData.isMeasureOfValueChecked">
					<span class="switchslider round"></span>
				</label>

				<div [hidden]="!exchangeData.isMeasureOfValueChecked">

					<!-- <p>Verschieben des Schwellenwertes klassifiziert die dargestellten Indikatoren-Features unmittelbar neu. Ebenso passt sich die Anzahl an Klassen der beiden oben genannten Kategorien dynamisch an die Anzahl der zu klassifizierenden Features an.</p> -->
					<br />

					<div class="slidecontainer" style="position:relative">
						<div id="measureOfValueSlider"></div>

						<!-- <input [(ngModel)]="$ctrl.kommonitorDataExchangeServiceInstance.measureOfValue" type="number" style="width:100px;" class="form-control" id="measureOfValueTextInput">
									<br/>
									<p>Schwellenwert: {{$ctrl.kommonitorDataExchangeServiceInstance.measureOfValue}}</p> -->
					</div>
					<div style="text-align: center">
						<br />
						<label>Schwellenwert: </label><input
							[(ngModel)]="exchangeData.measureOfValue"
							(change)="onMeasureOfValueChangeByText()"
							min="{{movMinValue}}" max="{{movMaxValue}}" step="0.01" string-to-number type="number"
							style="width:175px;" class="form-control input-sm" id="measureOfValueTextInput">

						<!-- <div *ngIf="inputNotValid">
										<p>Schwellenwert: {{$ctrl.kommonitorDataExchangeServiceInstance.measureOfValue}}</p>
									</div> -->

						<div *ngIf="inputNotValid">
							<br />
							<div class="alert alert-danger" style="margin-bottom:0px;">
								<strong><i class="icon fas fa-ban"></i>Eingegebener Schwellenwert ist nicht
									g&uuml;ltig!</strong>
								<p></p>
								<p>
									<strong>Hinweis: </strong>Der Schwellenwert muss zwischen {{movMinValue}} und
									{{movMaxValue}} liegen.
								</p>
							</div>
						</div>

					</div>

				</div>

			</div>

		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->

</div>