<div id="adminIndicatorsContent">

	<div align="center">
		<div class="loading-overlay-admin-panel ng-hide" ng-show="loadingData">
			<span class="glyphicon glyphicon-refresh icon-spin"></span>
		</div>
	</div>

	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Verwalten der Indikatoren
			<small>Info</small>
		</h1>

		<div class="adminTableButtonWrapper">
			<!-- batch update indicators -->
			<button id="button-batch-update-indicators" class="btn btn-success btn-sm" type="button" ng-disabled="!$ctrl.kommonitorDataExchangeServiceInstance.checkEditorPermission()"
				data-toggle="modal" data-target="#modal-batch-update-indicators"><i class="fas fa-refresh"></i>&nbsp;&nbsp;Batch-Update</button>
			<!-- add indicator -->
			<button  ng-disabled="!$ctrl.kommonitorDataExchangeServiceInstance.checkCreatePermission()" class="btn btn-success btn-sm" type="button" data-toggle="modal"
				data-target="#modal-add-indicator"><i class="fas fa-plus"></i>&nbsp;&nbsp;Erstellen</button>
			<!-- edit metadata -->

			<!-- edit features -->

			<!-- delete selected completely -->
			<button class="btn btn-danger btn-sm" type="button" data-toggle="modal" ng-disabled="!$ctrl.kommonitorDataExchangeServiceInstance.checkDeletePermission()"
				data-target="#modal-delete-indicators" ng-click="onClickDeleteDatasets()"><i
					class="fas fa-trash"></i>&nbsp;&nbsp;L&ouml;schen</button>

			<!-- delete b timestamp -->
		</div>
	</section>

	<!-- Main content -->
	<section class="content container-fluid">
		<!--------------------------
			| Your Page Content Here |
			-------------------------->

		<!-- POI -->

		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">Indikatoren-Metadaten</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
				</div>
			</div>

			<!-- /.box-header -->
			<div class="box-body">

				<div class="admin-table-wrapper">


					<div id="indicatorOverviewTable" style="height: 70vh;" class="ag-theme-alpine"></div>

					

				</div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->

		<!-- /.box-header -->
		<div class="box box-primary collapsed-box">
			<div class="box-header">
				<h3 class="box-title">Indikatoren-Reihenfolge in Themenkatalog</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
			<div class="box-body">

				<div class="just-padding">

					<div id="indicatorHierarchyOrderView" class="list-group list-group-root well">

						<label>Erl&auml;uterungen zur Symbolik </label>
						<div class="list-group-item list-group-item-default style-simple-indicator">
							<p style="cursor:pointer; color: black;"> <i class="fas fa-sitemap"></i> &nbsp;&nbsp;<b>Standardindikator
									(numerische Wertverteilung)</b>
								[Einheitsbezeichnung]</p>
						</div>
						
						<div class="list-group-item list-group-item-default style-headline-indicator">
							<p style="cursor:pointer; color: white;">
								<i class="fas fa-tachometer-alt"></i> &nbsp;&nbsp;<b>Leitindikator (bewertende Aussage)</b>
								[Einheitsbezeichnung]
							</p>
						</div>
						
						<br />

						<label> Via Drag and Drop Eintr&auml;ge innerhalb eines (Unter-)Themas sortieren </label>

						<div
							ng-repeat="mainTopic in $ctrl.kommonitorDataExchangeServiceInstance.topicIndicatorHierarchy_forOrderView | orderBy: 'topicName'">
							<div class="list-group-item list-group-item-default kommonitor-theme">
								<a href="" ng-attr-title="{{mainTopic.topicDescription}}" class="collapseTrigger"
									style="color: white;" ng-click="isCollapsed_mainTopic = !isCollapsed_mainTopic"
									ng-init="isCollapsed_mainTopic=true"><i
										class="glyphicon glyphicon-chevron-right"></i>{{::mainTopic.topicName}}
									({{mainTopic.indicatorCount}})</a>
							</div>

							<div class="list-group collapse" uib-collapse="isCollapsed_mainTopic">
								<div ng-repeat="subTopic in ::mainTopic.subTopics | orderBy: 'topicName'">

									<div class="list-group-item list-group-item-default kommonitor-theme-light">
										<a class="collapseTrigger" style="color: white;"
											ng-attr-title="{{::subTopic.topicDescription}}" href=""
											ng-click="isCollapsed_subTopic = !isCollapsed_subTopic"
											ng-init="isCollapsed_subTopic=true"><i
												class="glyphicon glyphicon-chevron-right"></i>{{::subTopic.topicName}}
											({{subTopic.indicatorCount}})</a>
									</div>
									<div class="list-group collapse" uib-collapse="isCollapsed_subTopic">
										<div ng-repeat="subsubTopic in ::subTopic.subTopics | orderBy: 'topicName'">

											<div class="list-group-item list-group-item-default"
												style="background: #bdd7e7; color: white;">
												<a class="collapseTrigger" style="color: black;"
													ng-attr-title="{{::subsubTopic.topicDescription}}" href=""
													ng-click="isCollapsed_subsubTopic = !isCollapsed_subsubTopic"
													ng-init="isCollapsed_subsubTopic=true"><i
														class="glyphicon glyphicon-chevron-right"></i>{{::subsubTopic.topicName}}
													({{subsubTopic.indicatorCount}})</a>
											</div>

											<div class="list-group collapse" uib-collapse="isCollapsed_subsubTopic">
												<div
													ng-repeat="subsubsubTopic in ::subsubTopic.subTopics | orderBy: 'topicName'">

													<div class="list-group-item list-group-item-default"
														style="background: #eff3ff; color: white;">
														<a class="collapseTrigger" style="color: black;"
															ng-attr-title="{{::subsubsubTopic.topicDescription}}"
															href=""
															ng-click="isCollapsed_subsubsubTopic = !isCollapsed_subsubsubTopic"
															ng-init="isCollapsed_subsubsubTopic=true"><i
																class="glyphicon glyphicon-chevron-right"></i>{{::subsubsubTopic.topicName}}
															({{subsubsubTopic.indicatorCount}})</a>
													</div>

													<div class="list-group collapse indicatorInputForm"
														uib-collapse="isCollapsed_subsubsubTopic"
														ng-sortable="sortableConfig">
														<div id="indicatorHierarchyElement-{{::indicatorMetadata.indicatorId}}"
															ng-class="{'style-headline-indicator': indicatorMetadata.isHeadlineIndicator , 'style-simple-indicator': ! indicatorMetadata.isHeadlineIndicator}"
															ng-repeat="indicatorMetadata in subsubsubTopic.indicatorData track by indicatorMetadata.indicatorId"
															class="list-group-item list-group-item-default">
															<div ng-if="::indicatorMetadata.isHeadlineIndicator">
																<p style="cursor:pointer; color: white;"
																	ng-attr-title="<b>{{::indicatorMetadata.indicatorName}}</b> [{{::indicatorMetadata.unit}}]"
																	style="color: white;"
																	>
																	<i class="fas fa-tachometer-alt"></i>
																	&nbsp;&nbsp;<b>{{::indicatorMetadata.indicatorName}}</b>
																	[{{::indicatorMetadata.unit}}]
																</p>
															</div>
															<div ng-if="::! indicatorMetadata.isHeadlineIndicator">
																<p style="cursor:pointer;"
																	ng-attr-title="<b>{{::indicatorMetadata.indicatorName}}</b> [{{::indicatorMetadata.unit}}]"
																	style="color: white;"
																	>
																	<i class="fas fa-sitemap"></i>
																	&nbsp;&nbsp;<b>{{::indicatorMetadata.indicatorName}}</b>
																	[{{::indicatorMetadata.unit}}]
																</p>
															</div>
														</div>
													</div>


												</div>
												<div class="list-group indicatorInputForm" ng-sortable="sortableConfig">
													<div id="indicatorHierarchyElement-{{::indicatorMetadata.indicatorId}}"
														ng-class="{'style-headline-indicator': indicatorMetadata.isHeadlineIndicator , 'style-simple-indicator': ! indicatorMetadata.isHeadlineIndicator}"
														ng-repeat="indicatorMetadata in subsubTopic.indicatorData track by indicatorMetadata.indicatorId"
														class="list-group-item list-group-item-default">
														<div ng-if="::indicatorMetadata.isHeadlineIndicator">
															<p style="cursor:pointer; color: white;"
																ng-attr-title="<b>{{::indicatorMetadata.indicatorName}}</b> [{{::indicatorMetadata.unit}}]"
																style="color: white;"
																>
																<i class="fas fa-tachometer-alt"></i>
																&nbsp;&nbsp;<b>{{::indicatorMetadata.indicatorName}}</b>
																[{{::indicatorMetadata.unit}}]</p>

														</div>
														<div ng-if="::! indicatorMetadata.isHeadlineIndicator">
															<p style="cursor:pointer;"
																ng-attr-title="<b>{{::indicatorMetadata.indicatorName}}</b> [{{::indicatorMetadata.unit}}]"
																style="color: white;"
																>
																<i class="fas fa-sitemap"></i>
																&nbsp;&nbsp;<b>{{::indicatorMetadata.indicatorName}}</b>
																[{{::indicatorMetadata.unit}}]</p>

														</div>
													</div>
												</div>
											</div>

											<!-- end sub sub sub topics -->






										</div>
										<div class="list-group indicatorInputForm" ng-sortable="sortableConfig">
											<div id="indicatorHierarchyElement-{{::indicatorMetadata.indicatorId}}"
												ng-class="{'style-headline-indicator': indicatorMetadata.isHeadlineIndicator , 'style-simple-indicator': ! indicatorMetadata.isHeadlineIndicator}"
												ng-repeat="indicatorMetadata in subTopic.indicatorData track by indicatorMetadata.indicatorId"
												class="list-group-item list-group-item-default">
												<div ng-if="::indicatorMetadata.isHeadlineIndicator">
													<p style="cursor:pointer; color: white;"
														ng-attr-title="<b>{{::indicatorMetadata.indicatorName}}</b> [{{::indicatorMetadata.unit}}]"
														><i
															class="fas fa-tachometer-alt"></i>
														&nbsp;&nbsp;<b>{{::indicatorMetadata.indicatorName}}</b>
														[{{::indicatorMetadata.unit}}]</p>

												</div>
												<div ng-if="::! indicatorMetadata.isHeadlineIndicator">
													<p style="cursor:pointer;" style="color: white;"
														ng-attr-title="<b>{{::indicatorMetadata.indicatorName}}</b> [{{::indicatorMetadata.unit}}]"
														><i
															class="fas fa-sitemap"></i>
														&nbsp;&nbsp;<b>{{::indicatorMetadata.indicatorName}}</b>
														[{{::indicatorMetadata.unit}}]</p>

												</div>
											</div>
										</div>
									</div>

									<!-- end sub sub opics -->









								</div>

								<div class="list-group indicatorInputForm" ng-sortable="sortableConfig">
									<div id="indicatorHierarchyElement-{{::indicatorMetadata.indicatorId}}"
										ng-class="{'style-headline-indicator': indicatorMetadata.isHeadlineIndicator, 'style-simple-indicator': !indicatorMetadata.isHeadlineIndicator }"
										ng-repeat="indicatorMetadata in mainTopic.indicatorData track by indicatorMetadata.indicatorId"
										class="list-group-item list-group-item-default">
										<div ng-if="::indicatorMetadata.isHeadlineIndicator">
											<p style="cursor:pointer; color: white;"
												ng-attr-title="<b>{{::indicatorMetadata.indicatorName}}</b> [{{::indicatorMetadata.unit}}]"
												><i
													class="fas fa-tachometer-alt"></i>
												&nbsp;&nbsp;<b>{{::indicatorMetadata.indicatorName}}</b>
												[{{::indicatorMetadata.unit}}]</p>

										</div>
										<div ng-if="::! indicatorMetadata.isHeadlineIndicator">
											<p style="cursor:pointer;" style="color: white;"
												ng-attr-title="<b>{{::indicatorMetadata.indicatorName}}</b> [{{::indicatorMetadata.unit}}]"
												><i
													class="fas fa-sitemap"></i>
												&nbsp;&nbsp;<b>{{::indicatorMetadata.indicatorName}}</b>
												[{{::indicatorMetadata.unit}}]</p>

										</div>
									</div>
								</div>
							</div>

							<!-- end sub topics -->




						</div>
						<!-- end main Topics -->


					</div>

				</div>

			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->

	</section>
	<!-- /.content -->

</div>