<div class="modal-header">
  <h4 class="modal-title">Neue Raumebene registrieren</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
</div>

<div class="modal-body">
  <div align="center">
    @if (loadingData) {
      <div class="loading-overlay-admin-panel">
        <i class="fas fa-spinner fa-spin fa-2x"></i>
      </div>
    }
  </div>

  <!-- MultiStep Form -->
  <form
    class="multiStepForm form-group"
    #spatialUnitAddForm="ngForm"
    (ngSubmit)="addSpatialUnit()"
    style="margin-bottom: 0px"
  >
    <!-- progressbar -->
    @if (!kommonitorDataExchangeService.enableKeycloakSecurity) {
      <ul id="progressbar">
        <li
          [class.active]="currentStep >= 1"
          [class.clickable]="true"
          (click)="goToStep(1)"
          style="width: 33.33%; cursor: pointer"
        >
          Metadaten der Raumebene
        </li>
        <li
          [class.active]="currentStep >= 2"
          [class.clickable]="true"
          (click)="goToStep(2)"
          style="width: 33.33%; cursor: pointer"
        >
          Allgemeine Metadaten
        </li>
        <li
          [class.active]="currentStep >= 3"
          [class.clickable]="true"
          (click)="goToStep(3)"
          style="width: 33.33%; cursor: pointer"
        >
          Räumlicher Datensatz
        </li>
      </ul>
    }
    @if (kommonitorDataExchangeService.enableKeycloakSecurity) {
      <ul id="progressbar">
        <li
          [class.active]="currentStep >= 1"
          [class.clickable]="true"
          (click)="goToStep(1)"
          style="width: 25%; cursor: pointer"
        >
          Metadaten der Raumebene
        </li>
        <li
          [class.active]="currentStep >= 2"
          [class.clickable]="true"
          (click)="goToStep(2)"
          style="width: 25%; cursor: pointer"
        >
          Allgemeine Metadaten
        </li>
        <li
          [class.active]="currentStep >= 3"
          [class.clickable]="true"
          (click)="goToStep(3)"
          style="width: 25%; cursor: pointer"
        >
          Zugriffsschutz und Eigentümerschaft
        </li>
        <li
          [class.active]="currentStep >= 4"
          [class.clickable]="true"
          (click)="goToStep(4)"
          style="width: 25%; cursor: pointer"
        >
          Räumlicher Datensatz
        </li>
      </ul>
    }

    <!-- Step 1: Metadaten der Raumebene -->
    @if (currentStep === 1) {
      <fieldset>
        <h2 class="fs-title">Metadaten der Raumebene</h2>
        <h3 class="fs-subtitle">Angaben über die neue Raumebene</h3>
        <p>
          <b><i>* = Pflichtfeld</i></b>
        </p>
        <div class="row vertical-align meta-row">
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="form-group">
              <label>Name der Raumebene*</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="spatialUnitLevel"
                name="spatialUnitLevel"
                (ngModelChange)="checkSpatialUnitName()"
                placeholder="eindeutiger Name"
                required
              />
              <div class="help-block with-errors"></div>
              @if (spatialUnitLevelInvalid) {
                <div style="color: red">
                  <p>Eingabe ungültig. Es existiert bereits eine Raumebene mit gleichem Namen.</p>
                </div>
              }
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="form-group">
              <label>Hierarchie: nächst niedrigere Ebene</label>
              <select
                [(ngModel)]="nextLowerHierarchySpatialUnit"
                name="nextLowerHierarchy"
                (ngModelChange)="checkSpatialUnitHierarchy()"
                class="form-control"
              >
                <option [ngValue]="null">-- Raumebene wählen --</option>
                <option [ngValue]="null">-- keine (neue unterste Ebene) --</option>
                @for (value of availableSpatialUnits; track value) {
                  <option [ngValue]="value">
                    {{ value.spatialUnitLevel }}
                  </option>
                }
              </select>
              <div class="help-block">
                <p>Eintrag kann im Nachhinein mittels Metadaten-Editier-Funktion gesetzt werden</p>
              </div>
              <div class="help-block with-errors"></div>
              @if (hierarchyInvalid) {
                <div style="color: red">
                  <p>Eingabe ungültig. Definierte Hierarchie ist nicht erlaubt.</p>
                </div>
              }
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="form-group">
              <label>Hierarchie: nächst höhere Ebene</label>
              <select
                [(ngModel)]="nextUpperHierarchySpatialUnit"
                name="nextUpperHierarchy"
                (ngModelChange)="checkSpatialUnitHierarchy()"
                class="form-control"
              >
                <option [ngValue]="null">-- Raumebene wählen --</option>
                <option [ngValue]="null">-- keine (neue oberste Ebene) --</option>
                @for (value of availableSpatialUnits; track value) {
                  <option [ngValue]="value">
                    {{ value.spatialUnitLevel }}
                  </option>
                }
              </select>
              <div class="help-block">
                <p>Eintrag kann im Nachhinein mittels Metadaten-Editier-Funktion gesetzt werden</p>
              </div>
              <div class="help-block with-errors"></div>
              @if (hierarchyInvalid) {
                <div style="color: red">
                  <p>Eingabe ungültig. Definierte Hierarchie ist nicht erlaubt.</p>
                </div>
              }
            </div>
          </div>
        </div>
        <div class="row vertical-align">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="form-group">
              <label>als Umringslayer markieren?</label> <br />
              <label class="switch">
                <input type="checkbox" [(ngModel)]="isOutlineLayer" name="isOutlineLayer" />
                <span class="switchslider round"></span>
              </label>
              <div class="help-block">
                <p>
                  wenn markiert, dann wird in der Kartenapplikation in der Layersteuerung ein
                  entsprechender Eintrag zur Darstellung der Raumebenenumringe angeboten
                </p>
              </div>
            </div>
          </div>
          @if (isOutlineLayer) {
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="form-group outline-color-group" align="center">
                <label>Linienfarbe (Umringslayer)</label>
                <km-color-picker
                  [(color)]="outlineColor"
                  label="Linienfarbe wählen"
                ></km-color-picker>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          }
          @if (isOutlineLayer) {
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="form-group" align="center">
                <label>Linienbreite (Umringslayer)</label>
                <br />
                <input
                  style="width: auto"
                  type="number"
                  [(ngModel)]="outlineWidth"
                  name="outlineWidth"
                  min="1"
                  max="5"
                  step="1"
                />
                <div class="help-block with-errors"></div>
              </div>
            </div>
          }
          @if (isOutlineLayer) {
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="form-group" align="center">
                <km-line-pattern-picker
                  [selectedPattern]="selectedOutlineDashArrayObject"
                  [options]="availableLinePatternOptions"
                  [label]="'Linienmuster (Umringslayer)'"
                  [placeholder]="'Linienmuster wählen'"
                  [width]="'200px'"
                  (patternChange)="onChangeOutlineDashArray($event)"
                >
                </km-line-pattern-picker>
              </div>
            </div>
          }
        </div>
        <input
          type="button"
          name="next"
          class="next next_addSpatialUnit action-button"
          value="Nächster Schritt"
          (click)="nextStep()"
        />
      </fieldset>
    }

    <!-- Step 2: Allgemeine Metadaten -->
    @if (currentStep === 2) {
      <fieldset>
        <h2 class="fs-title">Allgemeine Metadaten</h2>
        <h3 class="fs-subtitle">Angaben über allgemeine Metadaten in KomMonitor</h3>
        <p>
          <b><i>* = Pflichtfeld</i></b>
        </p>
        <div class="row vertical-align">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
              <label>Beschreibung*</label>
              <textarea
                rows="3"
                class="form-control"
                [(ngModel)]="metadata.description"
                name="description"
                placeholder="Datensatz Beschreibung"
                required
              ></textarea>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
              <label>Datenbasis</label>
              <textarea
                rows="3"
                class="form-control"
                [(ngModel)]="metadata.databasis"
                name="databasis"
                placeholder="optionale Beschreibung etwaiger grundlegender Daten, die zur Erzeugung des Datensatzes beitragen"
              ></textarea>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
              <label>Datenquelle*</label>
              <textarea
                rows="3"
                class="form-control"
                [(ngModel)]="metadata.datasource"
                name="datasource"
                placeholder="Beschreibung der Datenquelle"
                required
              ></textarea>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
              <label>Datenhalter und Kontakt*</label>
              <textarea
                rows="3"
                class="form-control"
                [(ngModel)]="metadata.contact"
                name="contact"
                placeholder="Beschreibung des Datenhalters und etwaiger Kontaktinformationen"
                required
              ></textarea>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <div class="row vertical-align">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
              <label>Aktualisierungszyklus*</label>
              <select
                [(ngModel)]="metadata.updateInterval"
                name="updateInterval"
                class="form-control"
                required
              >
                <option [ngValue]="null">-- Aktualisierungszyklus wählen --</option>
                @for (value of updateIntervalOptions; track value) {
                  <option [ngValue]="value">
                    {{ value.displayName }}
                  </option>
                }
              </select>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
              <label>Datum der letzten Aktualisierung*</label>
              <km-date-picker
                name="lastUpdate"
                placeholder="YYYY-MM-DD"
                [(ngModel)]="metadata.lastUpdate"
                [required]="true"
              ></km-date-picker>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
              <label>Literatur</label>
              <textarea
                rows="3"
                class="form-control"
                [(ngModel)]="metadata.literature"
                name="literature"
                placeholder="optionale Angaben zu Literatur"
              ></textarea>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
              <label>Bemerkung</label>
              <textarea
                rows="3"
                class="form-control"
                [(ngModel)]="metadata.note"
                name="note"
                placeholder="optionale Bemerkung"
              ></textarea>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>
        <input
          type="button"
          name="previous"
          class="previous previous_addSpatialUnit action-button-previous"
          value="Voriger Schritt"
          (click)="previousStep()"
        />
        <input
          type="button"
          name="next"
          class="next next_addSpatialUnit action-button"
          value="Nächster Schritt"
          (click)="nextStep()"
        />
      </fieldset>
    }

    <!-- Step 3: Zugriffsschutz und Eigentümerschaft (Security) -->
    @if (currentStep === 3 && kommonitorDataExchangeService.enableKeycloakSecurity) {
      <fieldset>
        <h2 class="fs-title">Zugriffsschutz und Eigentümerschaft</h2>
        <h3 class="fs-subtitle">
          Vergabe der Zugriffsrechte auf Datensatz-Metadaten und -Features pro Organisationseinheit
        </h3>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="alert alert-info">
              Bitte wählen Sie zunächst die Organisationseinheit aus, unter welcher Sie den
              Datensatz anlegen möchten
            </div>
            <label for="addSpatialUnitUserRoleSelect">Eigentümer-Organisationseinheit*</label>
            <div class="input-group owner-filter-group">
              <span class="input-group-addon"><i class="fas fa-filter"></i></span>
              <input
                type="text"
                class="form-control"
                placeholder="Stichwortfilter"
                [(ngModel)]="ownerOrgFilter"
                name="ownerOrgFilter"
              />
            </div>
            @if (kommonitorDataExchangeService.checkAdminPermission()) {
              <select
                id="addSpatialUnitUserRoleSelect"
                [(ngModel)]="ownerOrganization"
                name="ownerOrganization"
                class="form-control"
                (ngModelChange)="onChangeOwner(ownerOrganization)"
                required
              >
                <option [ngValue]="null">-- Eigentümer-Organisationseinheit wählen --</option>
                @for (org of filteredAccessControl; track org) {
                  <option [value]="org.organizationalUnitId">{{ org.name }}</option>
                }
              </select>
            }
            @if (!kommonitorDataExchangeService.checkAdminPermission()) {
              <select
                id="addSpatialUnitUserRoleSelect"
                [(ngModel)]="ownerOrganization"
                name="ownerOrganization"
                class="form-control"
                (ngModelChange)="onChangeOwner(ownerOrganization)"
                required
              >
                <option [ngValue]="null">-- Eigentümer-Organisationseinheit wählen --</option>
                @for (org of filteredResourcesCreatorRights; track org) {
                  <option [value]="org.organizationalUnitId">{{ org.name }}</option>
                }
              </select>
            }
            <p></p>
          </div>
          <div class="col-md-3"></div>
        </div>
        <br />
        <hr />
        <br />
        @if (showRoleForm) {
          <div id="spatialUnitRoleForm">
            <label>Datensatz-Freigaben</label>
            <div class="row vertical-align">
              <div class="col-md-3">
                <label>Öffentliche Lesefreigabe*</label>
                <label class="switch">
                  <input
                    type="checkbox"
                    [(ngModel)]="isPublic"
                    name="isPublic"
                    (ngModelChange)="onChangeIsPublic(isPublic)"
                  />
                  <span class="switchslider round"></span>
                </label>
                <div class="help-block">
                  <p>Öffentlich freigegebene Datensätze können ohne Login abgerufen werden.</p>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <ag-grid-angular
                  #roleManagementGrid
                  class="ag-theme-alpine"
                  style="height: 45vh; width: 100%"
                  [columnDefs]="roleManagementColumnDefs"
                  [rowData]="roleManagementRowData"
                  [defaultColDef]="roleManagementDefaultColDef"
                  [gridOptions]="roleManagementGridOptions"
                  [components]="roleManagementTableOptions?.components"
                  [suppressRowClickSelection]="true"
                  [rowSelection]="'multiple'"
                  [enableCellTextSelection]="true"
                  [ensureDomOrder]="true"
                  [pagination]="false"
                  [suppressColumnVirtualisation]="true"
                  (gridReady)="onRoleManagementGridReady($event)"
                  (firstDataRendered)="onRoleManagementFirstDataRendered($event)"
                  (columnResized)="onRoleManagementColumnResized($event)"
                  (modelUpdated)="onRoleManagementModelUpdated()"
                  (viewportChanged)="onRoleManagementViewportChanged()"
                >
                </ag-grid-angular>
              </div>
              <div class="col-md-3">
                <div class="alert alert-info">
                  Als Eigentümer-Organisation des Datensatzes können Sie Lese- und Editier-Rechte an
                  die eigene und weitere Organisationseinheiten vergeben.
                </div>
                <br />
                <div class="alert alert-warning">
                  Lese- und Editierrechte wurden für die von Ihnen selektierte
                  Eigentümer-Organisationseinheit markiert.
                </div>
              </div>
            </div>
          </div>
        }
        <input
          type="button"
          name="previous"
          class="previous previous_addSpatialUnit action-button-previous"
          value="Voriger Schritt"
          (click)="previousStep()"
        />
        <input
          type="button"
          name="next"
          class="next next_addSpatialUnit action-button"
          value="Nächster Schritt"
          (click)="nextStep()"
        />
      </fieldset>
    }

    <!-- Step 3/4: Räumlicher Datensatz -->
    <fieldset
      [hidden]="
        !(
          (currentStep === 3 && !kommonitorDataExchangeService.enableKeycloakSecurity) ||
          (currentStep === 4 && kommonitorDataExchangeService.enableKeycloakSecurity)
        )
      "
    >
      <div style="position: absolute">
        <button
          type="button"
          class="btn btn-info pull-left"
          (click)="onImportSpatialUnitAddMappingConfig()"
          title="Importieren der Mapping-Konfigurationen aus einer Datei"
        >
          <i class="fas fa-file-import"></i>&nbsp;&nbsp;Mapping-Import
        </button>
        <input
          style="display: none"
          class="pull-left"
          type="file"
          #mappingConfigImportFile
          (change)="onMappingConfigFileSelected($event)"
          accept=".json,"
        />
        <button
          type="button"
          style="margin-left: 6px"
          class="btn btn-info pull-left"
          (click)="onExportSpatialUnitAddMappingConfig()"
          title="Exportieren der Mapping-Konfigurationen in eine Datei"
        >
          <i class="fas fa-file-export"></i>&nbsp;&nbsp;Mapping-Export
        </button>
      </div>
      <h2 class="fs-title">Räumlicher Datensatz</h2>
      <h3 class="fs-subtitle">
        Angaben über den räumlichen Datensatz, aus dem die Raumeinheiten importiert werden
      </h3>
      <p>
        <b><i>* = Pflichtfeld</i></b>
      </p>

      <div class="row vertical-align">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Geodaten-Quellformat*</label>
            <select
              [(ngModel)]="converter"
              name="converter"
              (change)="onChangeConverter()"
              class="form-control"
              required
            >
              <option [ngValue]="null">-- Quellformat wählen --</option>
              @for (
                converter of kommonitorImporterHelperService.getAvailableConverters();
                track converter
              ) {
                <option [ngValue]="converter">
                  {{ converter.name }}
                </option>
              }
            </select>
            <div class="help-block with-errors"></div>
          </div>
          @if (converter?.schemas) {
            <div>
              <div class="form-group">
                <label>Schema*</label>
                <select [(ngModel)]="schema" name="schema" class="form-control" required>
                  <option [ngValue]="''">-- Schema wählen --</option>
                  @for (schema of converter.schemas; track schema) {
                    <option [ngValue]="schema">
                      {{ schema }}
                    </option>
                  }
                </select>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          }
          @if (converter?.mimeTypes) {
            <div>
              <div class="form-group">
                <label>Quellformat*</label>
                <select
                  [(ngModel)]="mimeType"
                  name="mimeType"
                  (change)="onChangeMimeType(mimeType)"
                  class="form-control"
                  required
                >
                  <option [ngValue]="''">-- Format wählen --</option>
                  @for (mimeType of converter.mimeTypes; track mimeType) {
                    <option [ngValue]="mimeType">
                      {{ mimeType }}
                    </option>
                  }
                </select>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          }
          @for (parameter of converter?.parameters; track parameter) {
            <div>
              <div class="form-group">
                <label
                  >{{ parameter.name }}
                  @if (parameter.mandatory) {
                    <i>*</i>
                  }
                </label>
                <input
                  type="text"
                  [id]="'converterParameter_spatialUnitAdd_' + parameter.name"
                  class="form-control"
                  [placeholder]="parameter.name"
                  [required]="parameter.mandatory"
                  [(ngModel)]="converterParameterValues[parameter.name]"
                  [name]="'converterParam_' + parameter.name"
                />
                <div class="help-block">
                  <p>{{ parameter.description }}</p>
                </div>
                @if (parameter.name === 'CRS') {
                  <div class="help-block with-errors" style="color: red">
                    <p>
                      CRS aufmerksam setzen. Falsche Angaben führen zur fehlerhaften Koordinaten der
                      Raumeinheiten
                    </p>
                  </div>
                }
                <div class="help-block with-errors"></div>
              </div>
            </div>
          }
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          @if (!converter) {
            <div class="form-group">
              <p>bitte zuerst das Quellformat wählen</p>
            </div>
          }
          @if (converter) {
            <div>
              <div class="form-group">
                <label>Datenquelltyp*</label>
                <select
                  [(ngModel)]="datasourceType"
                  name="datasourceType"
                  (change)="onChangeDatasourceType(datasourceType)"
                  class="form-control"
                  required
                >
                  <option [ngValue]="null">-- Quelltyp wählen --</option>
                  @for (datasourceType of availableDatasourceTypes; track datasourceType) {
                    <option [ngValue]="datasourceType">
                      {{ datasourceType.type }}
                    </option>
                  }
                </select>
                <div class="help-block"></div>
              </div>
              @if (datasourceType?.type === 'FILE') {
                <div>
                  <label>Datei*</label>
                  <input
                    id="spatialUnitDataSourceInput"
                    type="file"
                    class="form-control"
                    #spatialUnitDataSourceInput
                    (change)="onSpatialUnitFileSelected($event)"
                    required
                  />
                  @if (selectedDataSourceFile) {
                    <div class="help-block">
                      <p>Ausgewählt: {{ selectedDataSourceFile.name }}</p>
                    </div>
                  }
                </div>
              }
              @if (datasourceType?.type === 'OGCAPI_FEATURES') {
                <div>
                  <label>Räumlicher Filter*</label>
                  <select
                    id="datasourceTypeParameter_spatialUnitAdd_bboxType"
                    [(ngModel)]="bboxType"
                    name="bboxType"
                    class="form-control"
                    required
                  >
                    <option value="">-- Filter wählen --</option>
                    <option value="ref">Referenzraumebene</option>
                    <option value="literal">Manueller Begrenzungsrahmen</option>
                  </select>
                  @if (bboxType === 'ref') {
                    <div>
                      <!-- select available spatialUnits -->
                      <select
                        id="datasourceTypeParameter_spatialUnitAdd_bboxRef"
                        [(ngModel)]="bboxRefSpatialUnit"
                        name="bboxRefSpatialUnit"
                        class="form-control"
                        required
                      >
                        <option [ngValue]="null">-- Raumebene wählen --</option>
                        @for (spatialUnit of availableSpatialUnits; track spatialUnit) {
                          <option [ngValue]="spatialUnit.spatialUnitId">
                            {{ spatialUnit.spatialUnitLevel }}
                          </option>
                        }
                      </select>
                      <div class="help-block">
                        <p>Raumebene aus welchem ein umschließendes Rechteck extrahiert wird</p>
                      </div>
                    </div>
                  }
                  @if (bboxType === 'literal') {
                    <div>
                      <label>Begrenzungsrahmen*</label>
                      <input
                        id="datasourceTypeParameter_spatialUnitAdd_bbox_minx"
                        class="form-control"
                        type="number"
                        lang="us"
                        placeholder="-180"
                        required
                        [(ngModel)]="bbox_minx"
                        name="bbox_minx"
                      />
                      <div class="help-block">
                        <p>Minimale x-Koordinate</p>
                      </div>
                      <input
                        id="datasourceTypeParameter_spatialUnitAdd_bbox_miny"
                        class="form-control"
                        type="number"
                        lang="us"
                        placeholder="-90"
                        required
                        [(ngModel)]="bbox_miny"
                        name="bbox_miny"
                      />
                      <div class="help-block">
                        <p>Minimale y-Koordinate</p>
                      </div>
                      <input
                        id="datasourceTypeParameter_spatialUnitAdd_bbox_maxx"
                        class="form-control"
                        type="number"
                        lang="us"
                        placeholder="180"
                        required
                        [(ngModel)]="bbox_maxx"
                        name="bbox_maxx"
                      />
                      <div class="help-block">
                        <p>Maximale x-Koordinate</p>
                      </div>
                      <input
                        id="datasourceTypeParameter_spatialUnitAdd_bbox_maxy"
                        class="form-control"
                        type="number"
                        lang="us"
                        placeholder="90"
                        required
                        [(ngModel)]="bbox_maxy"
                        name="bbox_maxy"
                      />
                      <div class="help-block">
                        <p>Maximale y-Koordinate</p>
                      </div>
                    </div>
                  }
                </div>
              }
              @if (datasourceType && datasourceType.type !== 'FILE') {
                <div>
                  @for (parameter of datasourceType.parameters; track parameter) {
                    <div>
                      @if (parameter.name !== 'bbox') {
                        <div class="form-group">
                          @if (parameter.mandatory) {
                            <label>{{ parameter.name }}*</label>
                          }
                          @if (!parameter.mandatory) {
                            <label>{{ parameter.name }}</label>
                          }
                          <textarea
                            rows="1"
                            [id]="'datasourceTypeParameter_spatialUnitAdd_' + parameter.name"
                            class="form-control"
                            [placeholder]="parameter.name"
                            [required]="parameter.mandatory"
                            [(ngModel)]="datasourceTypeParameterValues[parameter.name]"
                            [name]="'datasourceParam_' + parameter.name"
                          ></textarea>
                          <div class="help-block">
                            <p>{{ parameter.description }}</p>
                          </div>
                          <div class="help-block with-errors"></div>
                        </div>
                      }
                    </div>
                  }
                </div>
              }
            </div>
          }
          <div class="help-block with-errors"></div>
          @if (spatialUnitDataSourceInputInvalid) {
            <div style="color: red">
              <p>Eingabe ungültig. Grund: {{ spatialUnitDataSourceInputInvalidReason }}</p>
            </div>
          }
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="form-group">
            <label>ID Attributname*</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="spatialUnitDataSourceIdProperty"
              name="spatialUnitDataSourceIdProperty"
              required
            />
            <div class="help-block">
              <p>
                Name des Attributs, welches den eindeutigen Identifier des Raumeinheiten enthält.
              </p>
            </div>
            <div class="help-block with-errors"></div>
            @if (idPropertyNotFound) {
              <div style="color: red">
                <p>
                  Eingabe ungültig. Angegebenes Attribut nicht gefunden oder enthält NULL-Werte.
                </p>
              </div>
            }
          </div>
          <div class="form-group">
            <label>NAME Attributname*</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="spatialUnitDataSourceNameProperty"
              name="spatialUnitDataSourceNameProperty"
              required
            />
            <div class="help-block">
              <p>Name des Attributs, welches den eindeutigen Namen des Raumeinheiten enthält.</p>
            </div>
            <div class="help-block with-errors"></div>
            @if (namePropertyNotFound) {
              <div style="color: red">
                <p>
                  Eingabe ungültig. Angegebenes Attribut nicht gefunden oder enthält NULL-Werte.
                </p>
              </div>
            }
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Lebenszeit-Beginn Attributname</label>
            <input
              type="text"
              [(ngModel)]="validityStartDate_perFeature"
              name="validityStartDate_perFeature"
              class="form-control pull-right"
            />
            <div class="help-block">
              <p>
                Eintrag nur, falls die räumlichen Raumeinheiten über ein Attribut für den
                Lebenszeitraum (Beginn) verfügen.
              </p>
            </div>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label>Lebenszeit-Ende Attributname</label>
            <input
              type="text"
              [(ngModel)]="validityEndDate_perFeature"
              name="validityEndDate_perFeature"
              class="form-control pull-right"
            />
            <div class="help-block">
              <p>
                Eintrag nur, falls die räumlichen Raumeinheiten über ein Attribut für den
                Lebenszeitraum (Ende) verfügen.
              </p>
            </div>
            <div class="help-block with-errors"></div>
          </div>
        </div>
      </div>

      <div class="row vertical-align">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Gültigkeitszeitraum: gültig seit*</label>
            <km-date-picker
              name="periodStartDate"
              placeholder="YYYY-MM-DD"
              [(ngModel)]="periodOfValidity.startDate"
              (ngModelChange)="checkPeriodOfValidity()"
              (valueChange)="checkPeriodOfValidity()"
              [invalid]="periodOfValidityInvalid"
              [required]="true"
            ></km-date-picker>
            <div class="help-block">
              <p>
                Eintrag ist immer erforderlich, selbst wenn die räumlichen Raumeinheiten über ein
                Lebenszeitraum-Attribut verfügen.
              </p>
            </div>
            <div class="help-block with-errors"></div>
            @if (periodOfValidityInvalid) {
              <div style="color: red">
                <p>Eingabe ungültig. Definiertes Zeitintervall ist nicht erlaubt.</p>
              </div>
            }
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Gültigkeitszeitraum: gültig bis</label>
            <km-date-picker
              name="periodEndDate"
              placeholder="YYYY-MM-DD"
              [(ngModel)]="periodOfValidity.endDate"
              (ngModelChange)="checkPeriodOfValidity()"
              (valueChange)="checkPeriodOfValidity()"
              [invalid]="periodOfValidityInvalid"
            ></km-date-picker>
            <div class="help-block">
              <p>
                Eintrag ist erforderlich, falls die räumlichen Raumeinheiten nicht selbst über ein
                Lebenszeitraum-Attribut verfügen. Enddatum darf leer sein, um anzuzeigen, dass es
                sich um aktuell gültige Raumeinheiten handelt.
              </p>
            </div>
            <div class="help-block with-errors"></div>
            @if (periodOfValidityInvalid) {
              <div style="color: red">
                <p>Eingabe ungültig. Definiertes Zeitintervall ist nicht erlaubt.</p>
              </div>
            }
          </div>
        </div>
      </div>

      <hr />
      <br />

      <div class="row vertical-align">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label>Import weiterer Attribute*</label>
            <br />
            <label class="switch">
              <input type="checkbox" [(ngModel)]="keepAttributes" name="keepAttributes" />
              <span class="switchslider round"></span>
            </label>
            <div class="help-block">
              <p>
                Angabe, ob alle sonstigen Attribute des importierten Datensatzes mit gleichem Namen
                übernommen werden sollen. Falls nicht, so lassen sich einzelne Attribut-Importe
                definieren.
              </p>
            </div>
          </div>
        </div>
        @if (!keepAttributes) {
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label>Fehlende/NULL Werte beibehalten*</label>
              <br />
              <label class="switch">
                <input type="checkbox" [(ngModel)]="keepMissingValues" name="keepMissingValues" />
                <span class="switchslider round"></span>
              </label>
              <div class="help-block">
                <p>
                  Angabe, ob fehlende Attribute oder leere Attributwerte (<code>NULL</code>-Werte)
                  übernommen werden. Bei deaktivierter Option wird bei einem solchen Fall ein Fehler
                  geworfen.
                </p>
              </div>
            </div>
          </div>
        }
      </div>

      @if (!keepAttributes) {
        <div class="row vertical-align">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label>Attributname im zu importierenden Datensatz*</label>
              <input
                type="text"
                class="form-control input-sm"
                placeholder="Quell-Attributname"
                [(ngModel)]="attributeMapping_sourceAttributeName"
                name="attributeMapping_sourceAttributeName"
              />
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <label>Ziel-Attributname in Datenbank nach Import*</label>
              <input
                type="text"
                class="form-control input-sm"
                placeholder="Ziel-Attributname"
                [(ngModel)]="attributeMapping_destinationAttributeName"
                name="attributeMapping_destinationAttributeName"
              />
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <label>Datentyp*</label>
              <select
                [(ngModel)]="attributeMapping_attributeType"
                name="attributeMapping_attributeType"
                class="form-control"
                required
              >
                <option [ngValue]="null">-- Datentyp wählen --</option>
                @for (
                  type of kommonitorImporterHelperService.getAttributeMappingTypes();
                  track type
                ) {
                  <option [ngValue]="type">
                    {{ type.displayName }}
                  </option>
                }
              </select>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <button
                class="btn btn-success btn-sm"
                [disabled]="
                  !attributeMapping_sourceAttributeName ||
                  !attributeMapping_destinationAttributeName ||
                  !attributeMapping_attributeType
                "
                (click)="onAddOrUpdateAttributeMapping()"
              >
                Hinzufügen/Editieren
              </button>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <label>Übersicht der definierten Attribut-Mappings</label>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Editierfunktionen</th>
                  <th>Quell-Attributname im Datensatz</th>
                  <th>Ziel-Attributname nach Import</th>
                  <th>Datentyp</th>
                </tr>
              </thead>
              <tbody>
                @for (
                  attributeMappingEntry of attributeMappings_adminView;
                  track attributeMappingEntry
                ) {
                  <tr>
                    <td>
                      <div class="btn-group btn-group-sm">
                        <button
                          class="btn btn-warning btn-sm"
                          type="button"
                          (click)="onClickEditAttributeMapping(attributeMappingEntry)"
                          title="Referenz editieren"
                        >
                          <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button
                          class="btn btn-danger btn-sm"
                          type="button"
                          (click)="onClickDeleteAttributeMapping(attributeMappingEntry)"
                          title="Referenz löschen"
                        >
                          <i class="fas fa-trash"></i>
                        </button>
                      </div>
                    </td>
                    <td>{{ attributeMappingEntry.sourceName }}</td>
                    <td>{{ attributeMappingEntry.destinationName }}</td>
                    <td>{{ attributeMappingEntry.dataType.displayName }}</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      }

      <input
        type="button"
        name="previous"
        class="previous previous_addSpatialUnit action-button-previous"
        value="Voriger Schritt"
        (click)="previousStep()"
      />
    </fieldset>
  </form>
  <!-- /.MultiStep Form -->
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default pull-left" (click)="cancel()">Schließen</button>
  <button
    type="button"
    class="btn btn-info pull-left"
    (click)="onImportSpatialUnitAddMetadata()"
    title="Importieren der Metadaten aus einer Datei"
  >
    <i class="fas fa-file-import"></i>&nbsp;&nbsp;Metadaten-Import
  </button>
  <input
    style="display: none"
    class="pull-left"
    type="file"
    #metadataImportFile
    (change)="onMetadataFileSelected($event)"
    accept=".json,"
  />
  <button
    type="button"
    style="margin-left: 6px"
    class="btn btn-info pull-left"
    (click)="onExportSpatialUnitAddMetadata()"
    title="Exportieren der Metadaten in eine Datei"
  >
    <i class="fas fa-file-export"></i>&nbsp;&nbsp;Metadaten-Export
  </button>
  <button
    type="button"
    class="btn btn-success"
    type="submit"
    (click)="addSpatialUnit()"
    [disabled]="
      !spatialUnitLevel ||
      !metadata.description ||
      !metadata.datasource ||
      !metadata.contact ||
      !metadata.updateInterval ||
      !metadata.lastUpdate ||
      !spatialUnitDataSourceIdProperty ||
      !spatialUnitDataSourceNameProperty ||
      !periodOfValidity.startDate ||
      spatialUnitLevelInvalid ||
      periodOfValidityInvalid ||
      hierarchyInvalid ||
      !converter ||
      !datasourceType ||
      !ownerOrganization
    "
  >
    Raumeinheit registrieren
  </button>
  <button type="button" class="btn btn-danger" (click)="resetForm()">Zurücksetzen</button>
</div>

<!-- Success Alert -->
@if (successMessagePart) {
  <div
    id="spatialUnitAddSucessAlert"
    style="position: absolute; bottom: 0px; width: 100%"
    class="alert alert-success alert-dismissable"
  >
    <button type="button" class="close" (click)="hideSuccessAlert()" aria-hidden="true">
      &times;
    </button>
    <h4><i class="icon fa fa-check"></i>Raumebene registriert</h4>
    <p>
      Eine neue Raumebene mit Namen {{ successMessagePart }} wurde in KomMonitor registriert und in
      die Übersichtstabelle eingetragen.
    </p>
    @if (importedFeatures && importedFeatures.length > 0) {
      <div>{{ importedFeatures.length }} Raumeinheiten wurden dabei importiert.</div>
    }
  </div>
}

<!-- Error Alert -->
@if (errorMessagePart) {
  <div
    id="spatialUnitAddErrorAlert"
    style="position: absolute; bottom: 0px; width: 100%"
    class="alert alert-danger alert-dismissable"
  >
    <button type="button" class="close" (click)="hideErrorAlert()" aria-hidden="true">
      &times;
    </button>
    <h4><i class="icon fa fa-ban"></i>Registrierung gescheitert</h4>
    Bei der Registrierung der Raumebene ist ein Fehler aufgetreten. Fehlermeldung:
    <br />
    <pre style="overflow: auto; max-height: 500px" [innerHTML]="errorMessagePart"></pre>
    <br />
    <br />
    @if (importerErrors) {
      <div>
        <p>
          Bei den {{ importerErrors.length }} Raumeinheiten mit folgenden IDs scheitert der Import:
        </p>
        <pre style="overflow: auto; max-height: 500px">
                  <ul>
                    @for (error of importerErrors; track error) {
                      <li>{{error}}</li>
                    }
                  </ul>
                </pre>
        <p>Bitte beheben Sie die angezeigten Fehler im Datensatz und wiederholen den Prozess.</p>
      </div>
    }
  </div>
}

<!-- Metadata Import Error Alert -->
@if (spatialUnitMetadataImportError) {
  <div
    id="spatialUnitMetadataImportErrorAlert"
    style="position: absolute; bottom: 0px; width: 100%"
    class="alert alert-danger alert-dismissable"
  >
    <button type="button" class="close" (click)="hideMetadataErrorAlert()" aria-hidden="true">
      &times;
    </button>
    <h4><i class="icon fa fa-ban"></i>Metadata Import gescheitert</h4>
    Beim Import der Metadaten aus einer Datei ist ein Fehler aufgetreten. Fehlermeldung:
    <br />
    <pre>{{ spatialUnitMetadataImportError }}</pre>
    <br />
    <br />
    <p>Bitte stellen Sie sicher, dass folgendes JSON-Format eingehalten wird:</p>
    <pre
      id="spatialUnitsAddMetadataPre"
      style="overflow: auto; max-height: 500px"
      [innerHTML]="spatialUnitMetadataStructure_pretty"
    ></pre>
  </div>
}

<!-- Mapping Config Import Error Alert -->
@if (spatialUnitMappingConfigImportError) {
  <div
    id="spatialUnitMappingConfigImportErrorAlert"
    style="position: absolute; bottom: 0px; width: 100%"
    class="alert alert-danger alert-dismissable"
  >
    <button type="button" class="close" (click)="hideMappingConfigErrorAlert()" aria-hidden="true">
      &times;
    </button>
    <h4><i class="icon fa fa-ban"></i>Mapping-Konfiguration Import gescheitert</h4>
    Beim Import der Mapping-Konfiguration aus einer Datei ist ein Fehler aufgetreten. Fehlermeldung:
    <br />
    <pre [innerHTML]="spatialUnitMappingConfigImportError"></pre>
    <br />
    <br />
    <p>Bitte stellen Sie sicher, dass folgendes JSON-Format eingehalten wird:</p>
    <pre
      id="spatialUnitsAddMappingConfigPre"
      style="overflow: auto; max-height: 500px"
      [innerHTML]="spatialUnitMappingConfigStructure_pretty"
    ></pre>
  </div>
}
