<!-- <div class="container-fluid"> -->

	<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebarIndicatorConfig" ng-class="sidebarIndicatorConfigClass">
        <wps-setup></wps-setup>
    </nav>

    <!-- Page Content -->
    <div id="content" style="height: 100%; width: 100%; position: relative;">
        <wps-map style="height: 100%; width: 100%; position: absolute; z-index: 1;"></wps-map>

				<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
					<!-- <div class="container-fluid"> -->

							<button type="button" style="position: absolute;  z-index: 1000; top: 100px; left: 10px;" id="sidebarIndicatorConfigCollapse"
							ng-click="onSidebarIndicatorButtonClick()" class="btn btn-custom btn-circle" data-toggle="tooltip" title="Indikatoren">
									<span class="glyphicon glyphicon-th" aria-hidden="true"></span>
							</button>

					<!-- </div> -->
				<!-- </nav> -->
    </div>

	</div>

	<!-- <div class="row wps-ui"> -->

		<!-- embed map component -->
		<!-- <wps-map class="col-sm-7" style="height: 100%;"></wps-map> -->

		<!-- <div class="col-sm-5 sidenav"> -->
			<!-- embed the control options  -->
			<!-- <wps-controls></wps-controls>
		</div>
	</div> -->

<!-- </div> -->
