<div id="adminJobContent">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Indikatoren-Berechnung
			<small>Anzeige und Ausführung von Prozessierungsjobs</small>
		</h1>

		<div class="adminTableButtonWrapper">
			<!-- hide add button for now, as it has no effect -->
			<!-- <button class="btn btn-success btn-sm" type="button" data-toggle="modal" data-target="#modal-add-job"><i
					class="fas fa-plus"></i>&nbsp;&nbsp;Berechnung erstellen</button> -->
			<!-- edit metadata -->

			<!-- edit features -->

			<button class="btn btn-warning btn-sm" type="button" ng-click="refreshJobOverviewTable()"><i
				class="fas fa-sync-alt"></i>&nbsp;&nbsp;Refresh</button>		


			<!-- delete selected completely -->
			<!-- <button class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#modal-delete-jobs"
				ng-click="onClickDeleteDatasets()"><i class="fas fa-trash"></i>&nbsp;&nbsp;L&ouml;schen</button> -->

			<!-- delete b timestamp -->
		</div>
	</section>

	<!-- Main content -->
	<section class="content container-fluid">

		<!--------------------------
			| Your Page Content Here |
			-------------------------->
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">&Uuml;bersicht Berechnungs-Jobs zur Indikatoren-Zeitreihen-fortf&uuml;hrung</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">

				<div class="row vertical-align">
					<div class="col-md-3 col-sm-6 col-xs-12">
				
						<!-- small box -->
						<div class="small-box bg-primary">
							<div class="inner">
								<p>Anzahl Jobs (maximal letzte 50):</p>
								<h3>{{jobDescriptions.length}}</h3>
				
								
							</div>
							<div class="icon">
								<i class="fas fa-file-code"></i>
							</div>
							<a class="small-box-footer"></a>
						</div>
				
					</div>
					<!-- ./col -->
					
					<div class="col-md-3 col-sm-6 col-xs-12">
				
						<!-- small box -->
						<div class="small-box bg-green" style="cursor: pointer" data-toggle="modal" data-target="#modal-job-table" ng-click="onJobStatusClicked('successful')">
							<div class="inner">
								<h3>{{getNumberForStatus('successful')}}</h3>
				
								<p>abgeschlossene Jobs</p>
							</div>
							<div class="icon">
								<i class="fas fa-file-code"></i>
							</div>
							<a class="small-box-footer"></a>
						</div>
				
					</div>
					<!-- ./col -->
					<div class="col-md-3 col-sm-6 col-xs-12">
				
						<!-- small box -->
						<div class="small-box bg-red" style="cursor: pointer" data-toggle="modal" data-target="#modal-job-table" ng-click="onJobStatusClicked('failed')">
							<div class="inner">
								<h3>{{getNumberForStatus('failed')}}</h3>
				
								<p>gescheiterte Jobs</p>
							</div>
							<div class="icon">
								<i class="fas fa-file-code"></i>
							</div>
							<a class="small-box-footer"></a>
						</div>
				
					</div>
					<!-- ./col -->

				</div>
				<!-- ./row -->

				<div class="row vertical-align">
					<div class="col-md-3 col-sm-6 col-xs-12">
				
						<!-- small box -->
						<div class="small-box bg-aqua" style="cursor: pointer" data-toggle="modal" data-target="#modal-job-table" ng-click="onJobStatusClicked('running')">
							<div class="inner">
								<h3>{{getNumberForStatus('running')}}</h3>
				
								<p>laufende Jobs</p>
							</div>
							<div class="icon">
								<i class="fas fa-file-code"></i>
							</div>
							<a class="small-box-footer"></a>
						</div>
				
					</div>
					<!-- ./col -->
					<div class="col-md-3 col-sm-6 col-xs-12">
				
						<!-- small box -->
						<div class="small-box bg-orange" style="cursor: pointer" data-toggle="modal" data-target="#modal-job-table" ng-click="onJobStatusClicked('accepted')">
							<div class="inner">
								<h3>{{getNumberForStatus('accepted')}}</h3>
				
								<p>wartende Jobs</p>
							</div>
							<div class="icon">
								<i class="fas fa-file-code"></i>
							</div>
							<a class="small-box-footer"></a>
						</div>
				
					</div>
					<!-- ./col -->


				</div>
				<!-- ./row -->

				<div class="modal fade" id="modal-job-table" role="dialog">
					<div class="modal-dialog modal-xl">
						<div class="modal-content">
							<div class="modal-header" ng-class="statusDescriptions[selectedStatus].backgroundClass">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">{{statusDescriptions[selectedStatus].title}}</h4>
							</div>
							<div class="modal-body">
								<table id="jobExecutionTable_processJobs" style="height: 75vh; width: 100%;" class="ag-theme-alpine"></table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->

	</section>
	<!-- /.content -->
</div>

<script>
  function handleChildCollapse(event) {
    event.stopPropagation(); // Verhindert das Standardverhalten, aber propagiert das Event nicht weiter
    const button = event.currentTarget;
    const box = button.closest('.box');
    $(box).boxWidget('toggle'); // Manuelles Triggern von AdminLTE's CardWidget
  }
</script>