<div id="adminJobContent">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Indikatoren-Berechnung
			<small>Anzeige und Ausführung von Prozessierungsjobs</small>
		</h1>

		<div class="adminTableButtonWrapper">
			<!-- hide add button for now, as it has no effect -->
			<!-- <button class="btn btn-success btn-sm" type="button" data-toggle="modal" data-target="#modal-add-job"><i
					class="fas fa-plus"></i>&nbsp;&nbsp;Berechnung erstellen</button> -->
			<!-- edit metadata -->

			<!-- edit features -->

			<button class="btn btn-warning btn-sm" type="button" ng-click="refreshJobOverviewTable()"><i
				class="fas fa-sync-alt"></i>&nbsp;&nbsp;Refresh</button>		


			<!-- delete selected completely -->
			<!-- <button class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#modal-delete-jobs"
				ng-click="onClickDeleteDatasets()"><i class="fas fa-trash"></i>&nbsp;&nbsp;L&ouml;schen</button> -->

			<!-- delete b timestamp -->
		</div>
	</section>

	<!-- Main content -->
	<section class="content container-fluid">

		<!--------------------------
			| Your Page Content Here |
			-------------------------->
		<div class="box box-primary collapsed-box">
			<div class="box-header">
				<h3 class="box-title">&Uuml;bersicht Berechnungs-Jobs zur Indikatoren-Zeitreihen-fortf&uuml;hrung</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">

				<div class="row vertical-align">
					<div class="col-md-3 col-sm-6 col-xs-12">
				
						<!-- small box -->
						<div class="small-box bg-primary">
							<div class="inner">
								<h3>{{defaultComputationJobHealth.queueStatus}}</h3>
				
								<p>Status der Job-Ausf&uuml;hrung</p>
							</div>
							<div class="icon">
								<i class="fas fa-file-code"></i>
							</div>
							<a class="small-box-footer"></a>
						</div>
				
					</div>
					<!-- ./col -->

					<div class="col-md-3 col-sm-6 col-xs-12">
				
						<!-- small box -->
						<div class="small-box bg-primary">
							<div class="inner">
								<h3>{{defaultComputationJobHealth.newestJobId}}</h3>
				
								<p>neueste Job-Id</p>
							</div>
							<div class="icon">
								<i class="fas fa-file-code"></i>
							</div>
							<a class="small-box-footer"></a>
						</div>
				
					</div>
					<!-- ./col -->
					
					<div class="col-md-3 col-sm-6 col-xs-12">
				
						<!-- small box -->
						<div class="small-box bg-green">
							<div class="inner">
								<h3>{{defaultComputationJobHealth.succeededJobs}}</h3>
				
								<p>abgeschlossene Jobs</p>
							</div>
							<div class="icon">
								<i class="fas fa-file-code"></i>
							</div>
							<a class="small-box-footer"></a>
						</div>
				
					</div>
					<!-- ./col -->
					<div class="col-md-3 col-sm-6 col-xs-12">
				
						<!-- small box -->
						<div class="small-box bg-red">
							<div class="inner">
								<h3>{{defaultComputationJobHealth.failedJobs}}</h3>
				
								<p>gescheiterte Jobs</p>
							</div>
							<div class="icon">
								<i class="fas fa-file-code"></i>
							</div>
							<a class="small-box-footer"></a>
						</div>
				
					</div>
					<!-- ./col -->

				</div>
				<!-- ./row -->

				<div class="row vertical-align">
					<div class="col-md-3 col-sm-6 col-xs-12">
				
						<!-- small box -->
						<div class="small-box bg-aqua">
							<div class="inner">
								<h3>{{defaultComputationJobHealth.activeJobs}}</h3>
				
								<p>laufende Jobs</p>
							</div>
							<div class="icon">
								<i class="fas fa-file-code"></i>
							</div>
							<a class="small-box-footer"></a>
						</div>
				
					</div>
					<!-- ./col -->
					<div class="col-md-3 col-sm-6 col-xs-12">
				
						<!-- small box -->
						<div class="small-box bg-orange">
							<div class="inner">
								<h3>{{defaultComputationJobHealth.waitingJobs}}</h3>
				
								<p>wartende Jobs</p>
							</div>
							<div class="icon">
								<i class="fas fa-file-code"></i>
							</div>
							<a class="small-box-footer"></a>
						</div>
				
					</div>
					<!-- ./col -->

					<div class="col-md-3 col-sm-6 col-xs-12">
				
						<!-- small box -->
						<div class="small-box bg-gray">
							<div class="inner">
								<h3>{{defaultComputationJobHealth.delayedJobs}}</h3>
				
								<p>wartende Jobs</p>
							</div>
							<div class="icon">
								<i class="fas fa-file-code"></i>
							</div>
							<a class="small-box-footer"></a>
						</div>
				
					</div>
					<!-- ./col -->

				</div>
				<!-- ./row -->

				<br/>

				<div class="admin-table-wrapper">

					<table id="jobExecutionTable_defaultComputation" style="height: 75vh; width: 100%;" class="ag-theme-alpine"></table>

				</div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->

		<div class="box box-primary collapsed-box">
			<div class="box-header">
				<h3 class="box-title">&Uuml;bersicht Berechnungs-Jobs zur individuell-parametrisierten Indikatoren-Berechnung</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">

				<div class="row vertical-align">
					<div class="col-md-3 col-sm-6 col-xs-12">
				
						<!-- small box -->
						<div class="small-box bg-primary">
							<div class="inner">
								<h3>{{customizedComputationJobHealth.queueStatus}}</h3>
				
								<p>Status der Job-Ausf&uuml;hrung</p>
							</div>
							<div class="icon">
								<i class="fas fa-file-code"></i>
							</div>
							<a class="small-box-footer"></a>
						</div>
				
					</div>
					<!-- ./col -->

					<div class="col-md-3 col-sm-6 col-xs-12">
				
						<!-- small box -->
						<div class="small-box bg-primary">
							<div class="inner">
								<h3>{{customizedComputationJobHealth.newestJobId}}</h3>
				
								<p>neueste Job-Id</p>
							</div>
							<div class="icon">
								<i class="fas fa-file-code"></i>
							</div>
							<a class="small-box-footer"></a>
						</div>
				
					</div>
					<!-- ./col -->
					
					<div class="col-md-3 col-sm-6 col-xs-12">
				
						<!-- small box -->
						<div class="small-box bg-green">
							<div class="inner">
								<h3>{{customizedComputationJobHealth.succeededJobs}}</h3>
				
								<p>abgeschlossene Jobs</p>
							</div>
							<div class="icon">
								<i class="fas fa-file-code"></i>
							</div>
							<a class="small-box-footer"></a>
						</div>
				
					</div>
					<!-- ./col -->
					<div class="col-md-3 col-sm-6 col-xs-12">
				
						<!-- small box -->
						<div class="small-box bg-red">
							<div class="inner">
								<h3>{{customizedComputationJobHealth.failedJobs}}</h3>
				
								<p>gescheiterte Jobs</p>
							</div>
							<div class="icon">
								<i class="fas fa-file-code"></i>
							</div>
							<a class="small-box-footer"></a>
						</div>
				
					</div>
					<!-- ./col -->

				</div>
				<!-- ./row -->

				<div class="row vertical-align">
					<div class="col-md-3 col-sm-6 col-xs-12">
				
						<!-- small box -->
						<div class="small-box bg-aqua">
							<div class="inner">
								<h3>{{customizedComputationJobHealth.activeJobs}}</h3>
				
								<p>laufende Jobs</p>
							</div>
							<div class="icon">
								<i class="fas fa-file-code"></i>
							</div>
							<a class="small-box-footer"></a>
						</div>
				
					</div>
					<!-- ./col -->
					<div class="col-md-3 col-sm-6 col-xs-12">
				
						<!-- small box -->
						<div class="small-box bg-orange">
							<div class="inner">
								<h3>{{customizedComputationJobHealth.waitingJobs}}</h3>
				
								<p>wartende Jobs</p>
							</div>
							<div class="icon">
								<i class="fas fa-file-code"></i>
							</div>
							<a class="small-box-footer"></a>
						</div>
				
					</div>
					<!-- ./col -->

					<div class="col-md-3 col-sm-6 col-xs-12">
				
						<!-- small box -->
						<div class="small-box bg-gray">
							<div class="inner">
								<h3>{{customizedComputationJobHealth.delayedJobs}}</h3>
				
								<p>wartende Jobs</p>
							</div>
							<div class="icon">
								<i class="fas fa-file-code"></i>
							</div>
							<a class="small-box-footer"></a>
						</div>
				
					</div>
					<!-- ./col -->

				</div>
				<!-- ./row -->


				<div class="admin-table-wrapper">
					
					<table id="jobExecutionTable_customizedComputation" style="height: 75vh; width: 100%;" class="ag-theme-alpine"></table>

				</div>

				<div class="admin-table-wrapper">
					
					<table id="jobExecutionTable_customizedComputation_new" style="height: 75vh; width: 100%;" class="ag-theme-alpine"></table>

				</div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->

	</section>
	<!-- /.content -->
</div>

<script>
  function handleChildCollapse(event) {
    event.stopPropagation(); // Verhindert das Standardverhalten, aber propagiert das Event nicht weiter
    const button = event.currentTarget;
    const box = button.closest('.box');
    $(box).boxWidget('toggle'); // Manuelles Triggern von AdminLTE's CardWidget
  }
</script>