<div>
  <div>Downloadformate</div>
  <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
    @for (fmt of availableFormats; track fmt) {
      <input
        type="checkbox"
        class="btn-check"
        [id]="idPrefix + '-' + fmt"
        autocomplete="off"
        [checked]="selectedFormats.includes(fmt)"
        (change)="formatToggle.emit(fmt)"
      />
      <label class="btn btn-outline-secondary" [for]="idPrefix + '-' + fmt">{{ fmt }}</label>
    }
  </div>
</div>
