<div class="modal-header">
  <h4 class="modal-title">{{ 'ADMIN_ROLES.DELETE_MODAL.TITLE' | translate }}</h4>
  <button
    type="button"
    class="btn-close"
    [attr.aria-label]="'ADMIN_SHARED.CLOSE' | translate"
    (click)="close()"
  ></button>
</div>

<div class="modal-body">
  <app-loading-overlay
    [loading]="deletingInProgress()"
    [message]="'ADMIN_ROLES.DELETE_MODAL.DELETING' | translate"
  >
    @if (failedDatasetsAndErrors().length) {
      <div class="alert alert-danger" role="alert">
        @for (entry of failedDatasetsAndErrors(); track entry) {
          <div>
            <b>{{ entry[0].name }}</b
            >: {{ entry[1] }}
          </div>
        }
      </div>
    }

    @if (hasChildrenConflict()) {
      <div class="alert alert-danger">
        {{ 'ADMIN_ROLES.DELETE_MODAL.CHILDREN_CONFLICT' | translate }}
      </div>
    }

    <h5>
      <b>{{ 'ADMIN_ROLES.DELETE_MODAL.CONFIRM_QUESTION' | translate }}</b>
    </h5>

    @if (datasetsToDelete.length > 0) {
      <div>
        <table class="table table-bordered table-sm" style="overflow: auto; font-size: 11px">
          <thead>
            <tr>
              <th>{{ 'ADMIN_SHARED.NAME' | translate }}</th>
              <th>{{ 'ADMIN_ROLES.DELETE_MODAL.ORGANIZATION_ID' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            @for (dataset of datasetsToDelete; track dataset) {
              <tr>
                <td>
                  <b>{{ dataset.name }}</b>
                </td>
                <td>{{ dataset.organizationalUnitId }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  </app-loading-overlay>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="close()">
    {{ 'ADMIN_SHARED.CLOSE' | translate }}
  </button>
  <div style="flex: 1"></div>
  <button
    type="button"
    class="btn btn-danger"
    [disabled]="deletingInProgress() || datasetsToDelete.length === 0"
    (click)="deleteOrganizationalUnits()"
  >
    {{ 'ADMIN_ROLES.DELETE_MODAL.DELETE_FOREVER' | translate }}
  </button>
</div>
