<div style="position: relative">
  <div style="text-align: center">
    @if (loadingData) {
      <div class="loading-overlay">
        <span class="glyphicon glyphicon-refresh icon-spin"></span>
      </div>
    }
  </div>

  <div style="max-width: 50%; z-index: 1; position: absolute">
    <p
      id="indicatorProcessDescription"
      mathjax-bind="$ctrl.kommonitorDataExchangeServiceInstance.selectedIndicator.processDescription"
    ></p>
  </div>

  <div id="ngMap" style="z-index: 2" [ngClass]="{'manualMapSelection': reachabilityStateService.manualMapSelectionMode}" 
    (mousemove)="onMouseMove($event)"
    (mouseenter)="showMouseTooltip = true"
    (mouseleave)="showMouseTooltip = false">
    @if (reachabilityStateService.manualMapSelectionMode && showMouseTooltip) {
      <div
        id="mouseTooltip"
        [style.left.px]="mouseX + 12"
        [style.top.px]="mouseY + 12">
        Standort setzen
      </div>
    }
  </div>
</div>
