<!-- <div class="wrapper hold-transition skin-blue sidebar-mini"> -->
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a target="_blank" rel="noopener noreferrer" href="http://kommonitor.de" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><img src="logos/KM_Logo1.svg"></img></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img src="logos/KM_Logo1.svg"></img><b>KomMonitor</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">User Name</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <p>
                  User Name
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <!-- <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="">Friends</a>
                  </div>
                </div> -->
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="" class="btn btn-default btn-flat">Profil</a>
                </div>
                <div class="pull-right">
                  <a href="" class="btn btn-default btn-flat">Abmelden</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Administration</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a data-toggle="tab" data-target="#dashboardWrapper" href=""><i class="fas fa-tachometer-alt"></i> <span>&Uuml;bersicht</span></a></li>
        <li><a data-toggle="tab" data-target="#userWrapper" href=""><i class="fas fa-users"></i> <span>Nutzer- und Rollenverwaltung</span></a></li>
        <li><a data-toggle="tab" data-target="#topicsWrapper" href=""><i class="fas fa-book"></i> <span>Themenverwaltung</span></a></li>
        <li class="treeview">
          <a data-toggle="tab" href=""><i class="fas fa-globe-americas"></i> <span>Geodatenverwaltung</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a data-toggle="tab" data-target="#spatialUnitsWrapper" href=""><i class="fas fa-layer-group"></i> <span>Raumeinheiten</span></a></li>
            <li><a data-toggle="tab" data-target="#indicatorsWrapper" href=""><i class="fas fa-sitemap"></i> <span>Indikatoren</span></a></li>
            <li><a data-toggle="tab" data-target="#georesourcesWrapper" href=""><i class="fas fa-map-marked-alt"></i> <span>sonstige Geodaten</span></a></li>
          </ul>
        </li>
        <li><a data-toggle="tab" data-target="#scriptWrapper" href=""><i class="far fa-file-code"></i> <span>Skriptverwaltung</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <div class="tab-content">

      <div id="dashboardWrapper" class="tab-pane fade in active">

        <admin-dashboard-management></admin-dashboard-management>

      </div>

      <div id="userWrapper" class="tab-pane fade in">

        <admin-user-management></admin-user-management>

      </div>

      <div id="topicsWrapper" class="tab-pane fade in">

        <admin-topics-management></admin-topics-management>

      </div>

      <div id="spatialUnitsWrapper" class="tab-pane fade in">

        <admin-spatial-units-management></admin-spatial-units-management>

      </div>

      <div id="indicatorsWrapper" class="tab-pane fade in">

        <admin-indicators-management></admin-indicators-management>

      </div>

      <div id="georesourcesWrapper" class="tab-pane fade in">

        <admin-georesources-management></admin-georesources-management>

      </div>

      <div id="scriptWrapper" class="tab-pane fade in">

        <admin-script-management></admin-script-management>

      </div>

      <!-- Modal -->
      <spatial-unit-add-modal></spatial-unit-add-modal>

      <!-- Modal -->
      <spatial-unit-edit-metadata-modal></spatial-unit-edit-metadata-modal>

      <!-- Modal -->
      <!-- <spatial-unit-edit-features-modal></spatial-unit-edit-features-modal> -->

      <!-- Modal -->
      <!-- <spatial-unit-delete-modal></spatial-unit-delete-modal> -->


    </div>
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      Vielen Dank f&uuml;r die Nutzung von KomMonitor
    </div>
    <strong>Copyright &copy; 2019 <a href="http://kommonitor.de">KomMonitor-Team</a>.</strong>
  </footer>

</div>
<!-- ./wrapper -->
