<!-- <div class="wrapper hold-transition skin-blue sidebar-mini"> -->
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a target="_blank" rel="noopener noreferrer" href="http://kommonitor.de" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><img src="logos/KM_Logo1.svg"></img></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img src="logos/KM_Logo1.svg"></img><b>KomMonitor</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top kommonitor-theme" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <!-- witch back to KomMonitor Main Application -->
      <a href="#!/" class="btn btn-danger" style="margin-top:8px;" ng-click="switchToMapApplication()"><i class="fas fa-user-cog"></i>&nbsp;&nbsp;Administration verlassen</a>

      <!-- TODO: handle redirection with global filter parameter -->
      <!-- <a ng-href="/#!/?application={{$ctrl.kommonitorGlobalFilterHelperServiceInstance.applicationFilterId}}" class="btn btn-danger" style="margin-top:8px;" ng-click="switchToMapApplication()"><i class="fas fa-user-cog"></i>&nbsp;&nbsp;Administration verlassen</a> -->

      <!-- user profile information -->
        <a id="userLogin" ng-mouseover="showUserInfo = true" ng-init="showUserInfo = false" title="User and Session Info" style="font-size:1.2em; float: right; margin-right: 2%; margin-left: 2%; margin-top: 1%;"><i class="fas fa-user-cog" style="color:white;"></i></a>
        <div id="userLoginForm" ng-show="showUserInfo && $ctrl.kommonitorDataExchangeServiceInstance.enableKeycloakSecurity" ng-mouseleave="showUserInfo = false" class="userFormWrapper">
          <div id="userForm">
            <h4>User Und Session Informationen</h4>
            <div style="margin-bottom: 10px;">
              <span><b>Nutzername:</b></span> <i>{{$ctrl.kommonitorDataExchangeServiceInstance.currentKeycloakUser.username}}</i>
              <div ng-if="$ctrl.kommonitorDataExchangeServiceInstance.currentKeycloakUser.firstName && $ctrl.kommonitorDataExchangeServiceInstance.currentKeycloakUser.lastName">
                <span style="word-break: break-all;"><b>Vor- und Nachname:</b><i> {{$ctrl.kommonitorDataExchangeServiceInstance.currentKeycloakUser.firstName}} {{$ctrl.kommonitorDataExchangeServiceInstance.currentKeycloakUser.lastName}}</i></span>
              </div>
              <div ng-if="! $ctrl.kommonitorDataExchangeServiceInstance.currentKeycloakUser.firstName && $ctrl.kommonitorDataExchangeServiceInstance.currentKeycloakUser.lastName">
                <span style="word-break: break-all;"><b>Nachname:</b><i>({{$ctrl.kommonitorDataExchangeServiceInstance.currentKeycloakUser.lastName}}</i></span>
              </div>
              <div ng-if="$ctrl.kommonitorDataExchangeServiceInstance.currentKeycloakUser.email">
                <span style="word-break: break-all;"><b>E-Mail:</b><i>{{$ctrl.kommonitorDataExchangeServiceInstance.currentKeycloakUser.email}}</i></span>
              </div>
              <br/>

              <div class="box box-simplified collapsed-box">
                <div class="box-header with-border">
                  <h3 class="box-title">Rollen</h3>
          
                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table>
                    <tr ng-repeat="(key, value) in userRoleInformation">
                      <td>
                        <table>
                          <tr>
                            <th>{{key}}</th>
                          </tr>
                          </tr>
                            <td style="padding-left: 1em;"><p ng-repeat="role in value">{{role}}</p></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->

              <div class="box box-simplified collapsed-box">
                <div class="box-header with-border">
                  <h3 class="box-title">Gruppen (Hierarchie)</h3>
          
                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table>
                    <tr ng-repeat="entry in userGroupInformation">
                      <td>
                        <p ng-style="{margin: 0,'padding-left': '{{$index + 'em'}}'}" ng-repeat="group in entry track by $index">{{group}}</p>
                      </td>
                    </tr>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box --> 
              <span><b>Session G&uuml;ltigkeit:</b> {{$ctrl.kommonitorDataExchangeServiceInstance.keycloakTokenExpirationInfo}} Minuten</span>

            </div>
            <!-- <input type="submit" value="Refresh" ng-click="$ctrl.kommonitorDataExchangeServiceInstance.extendKeycloakSession()" class='input_field input_extend_session' >
            <input type="submit" value="Logout" ng-click="$ctrl.kommonitorDataExchangeServiceInstance.tryLogoutUser()" class='input_field input_authenticated' > -->

            <input type="submit" value="Logout" id='input_submit' ng-click="$ctrl.kommonitorDataExchangeServiceInstance.tryLogoutUser()" class='input_field input_authenticated' >
					  <input type="submit" value="Relogin" ng-click="$ctrl.kommonitorDataExchangeServiceInstance.extendKeycloakSession()" class='input_field input_extend_session' >
          </div>
        </div>

        <span style="float: right; margin-top: 1%; color: white;"><b>Session G&uuml;ltigkeit:</b> {{$ctrl.kommonitorDataExchangeServiceInstance.keycloakTokenExpirationInfo}} Minuten</span>

      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">


        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Administration</li>
        <!-- Optionally, you can add icons to the links -->
        <li id="adminDashboardNavItem" class="active" ng-click="onClickOtherAdminPanel('adminDashboardNavItem')"><a data-toggle="tab" data-target="#dashboardWrapper" href=""><i class="fas fa-tachometer-alt"></i> <span>&Uuml;bersicht</span></a></li>
        <li id="adminUsersNavItem" ng-if="$ctrl.kommonitorDataExchangeServiceInstance.checkGroupsEditPermission()" ng-click="onClickOtherAdminPanel('adminUsersNavItem')"><a data-toggle="tab" data-target="#userWrapper" href=""><i class="fas fa-users"></i> <span>Gruppenverwaltung</span></a></li>
        <li id="adminRoleExplanationNavItem" ng-click="onClickOtherAdminPanel('adminRoleExplanationNavItem')"><a data-toggle="tab" data-target="#roleExplanationWrapper" href=""><i class="fa-solid fa-user-lock"></i> <span>Gruppen-/Rechtekonzept</span></a></li>        
        <li id="adminTopicsNavItem" ng-if="$ctrl.kommonitorDataExchangeServiceInstance.checkThemesEditPermission()" ng-click="onClickOtherAdminPanel('adminTopicsNavItem')"><a data-toggle="tab" data-target="#topicsWrapper" href=""><i class="fas fa-book"></i> <span>Themenverwaltung</span></a></li>
        <li id="adminGeodataWrapperNavItem" ng-if="$ctrl.kommonitorDataExchangeServiceInstance.checkResourcesEditPermission()" class="treeview">
          <a data-toggle="tab" href="" ng-click="onClickGeodataWrapperItem()"><i class="fas fa-globe-americas"></i> <span>Geodatenverwaltung</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li id="adminSpatialUnitsNavItem"><a data-toggle="tab" data-target="#spatialUnitsWrapper" ng-click="onClickGeodataAdminPanel('adminSpatialUnitsNavItem')" href=""><i class="fas fa-layer-group"></i> <span>Raumebenen</span></a></li>
            <li id="adminIndicatorsNavItem"><a data-toggle="tab" data-target="#indicatorsWrapper" ng-click="onClickGeodataAdminPanel('adminIndicatorsNavItem')" href=""><i class="fas fa-sitemap"></i> <span>Indikatoren</span></a></li>
            <li id="adminGeoresourcesNavItem"><a data-toggle="tab" data-target="#georesourcesWrapper" ng-click="onClickGeodataAdminPanel('adminGeoresourcesNavItem')" href=""><i class="fas fa-map-marked-alt"></i> <span>Georessourcen</span></a></li>
          </ul>
        </li>
        <li id="adminScriptsNavItem" ng-if="$ctrl.kommonitorDataExchangeServiceInstance.checkResourcesEditPermission()" ng-click="onClickOtherAdminPanel('adminScriptsNavItem')"><a data-toggle="tab" data-target="#scriptWrapper" href=""><i class="far fa-file-code"></i> <span>Skriptverwaltung</span></a></li>
        <li id="adminScriptExecutionNavItem" ng-if="$ctrl.kommonitorDataExchangeServiceInstance.checkResourcesEditPermission()" ng-click="onClickOtherAdminPanel('adminScriptExecutionNavItem')"><a data-toggle="tab" data-target="#scriptExecutionWrapper" href=""><i class="far fa-file-code"></i> <span>Indikatorenberechnung</span></a></li>
        <li id="adminConfigWrapperNavItem" ng-if="$ctrl.kommonitorDataExchangeServiceInstance.checkAdminPermission()" class="treeview">
          <a data-toggle="tab" href="" ng-click="onClickConfigWrapperItem()"><i class="fas fa-tools"></i> <span>Einstellungen</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li id="adminAppConfigNavItem"><a data-toggle="tab" data-target="#appConfigWrapper" ng-click="onClickConfigAdminPanel('adminAppConfigNavItem')" href=""><i class="fas fa-cogs"></i> <span>Allgemeine Einstellungen</span></a></li>
            <!-- hide keycloak settings screen as those config must not be changed by any user directly -->
            <!-- <li id="adminKeycloakConfigNavItem"><a data-toggle="tab" data-target="#keycloakConfigWrapper" ng-click="onClickConfigAdminPanel('adminKeycloakConfigNavItem')" href=""><i class="fas fa-users-cog"></i> <span>Keycloak-Konfiguration</span></a></li> -->
            <li id="adminControlsConfigNavItem"><a data-toggle="tab" data-target="#controlsConfigWrapper" ng-click="onClickConfigAdminPanel('adminControlsConfigNavItem')" href=""><i class="far fa-eye-slash"></i> <span>Widget-Konfiguration</span></a></li>            
            <li id="adminFilterConfigNavItem"><a data-toggle="tab" data-target="#filterConfigWrapper" ng-click="onClickConfigAdminPanel('adminFilterConfigNavItem')" href=""><i class="fa fa-filter"></i> <span>Filter-Konfiguration</span></a></li>
          </ul>
        </li>

      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <div class="tab-content">

      <div id="dashboardWrapper" class="tab-pane fade in active">

        <admin-dashboard-management-new></admin-dashboard-management-new>

      </div>

      <div id="roleExplanationWrapper" class="tab-pane fade in">

        <admin-role-explanation-new></admin-role-explanation-new>

      </div>

      <div id="userWrapper" ng-if="$ctrl.kommonitorDataExchangeServiceInstance.checkGroupsEditPermission()" class="tab-pane fade in">

        <admin-role-management></admin-role-management>

      </div>

      <div id="topicsWrapper" ng-if="$ctrl.kommonitorDataExchangeServiceInstance.checkThemesEditPermission()" class="tab-pane fade in">

        <admin-topics-management-new></admin-topics-management-new>

      </div>

      <div id="spatialUnitsWrapper" ng-if="$ctrl.kommonitorDataExchangeServiceInstance.checkResourcesEditPermission()" class="tab-pane fade in">

        <admin-spatial-units-management-new></admin-spatial-units-management-new>

      </div>

      <div id="indicatorsWrapper" ng-if="$ctrl.kommonitorDataExchangeServiceInstance.checkResourcesEditPermission()" class="tab-pane fade in">

        <admin-indicators-management-new></admin-indicators-management-new>

      </div>

      <div id="georesourcesWrapper" ng-if="$ctrl.kommonitorDataExchangeServiceInstance.checkResourcesEditPermission()" class="tab-pane fade in">

        <admin-georesources-management></admin-georesources-management>

      </div>

      <div id="scriptWrapper" ng-if="$ctrl.kommonitorDataExchangeServiceInstance.checkResourcesEditPermission()" class="tab-pane fade in">

        <admin-script-management></admin-script-management>

      </div>

      <div id="scriptExecutionWrapper" ng-if="$ctrl.kommonitorDataExchangeServiceInstance.checkResourcesEditPermission()" class="tab-pane fade in">

        <admin-script-execution></admin-script-execution>

      </div>

      <div id="appConfigWrapper" ng-if="$ctrl.kommonitorDataExchangeServiceInstance.checkAdminPermission()" class="tab-pane fade in">

        <admin-app-config-new></admin-app-config-new>

      </div>

      <!-- hide keycloak settings screen as those config must not be changed by any user directly -->
      <!-- <div id="keycloakConfigWrapper" ng-if="$ctrl.kommonitorDataExchangeServiceInstance.checkAdminPermission()" class="tab-pane fade in">

        <admin-keycloak-config></admin-keycloak-config>

      </div> -->

      <div id="controlsConfigWrapper" ng-if="$ctrl.kommonitorDataExchangeServiceInstance.checkAdminPermission()" class="tab-pane fade in">

        <admin-controls-config-new></admin-controls-config-new>

      </div>

      <div id="filterConfigWrapper" ng-if="$ctrl.kommonitorDataExchangeServiceInstance.checkAdminPermission()" class="tab-pane fade in">

        <admin-filter-config></admin-filter-config>

      </div>

      <!-- Modal -->
      <spatial-unit-add-modal></spatial-unit-add-modal>

      <!-- Modal -->
      <spatial-unit-edit-metadata-modal></spatial-unit-edit-metadata-modal>

      <!-- Modal -->
      <spatial-unit-edit-features-modal></spatial-unit-edit-features-modal>

      <!-- Modal -->
      <spatial-unit-edit-user-roles-modal></spatial-unit-edit-user-roles-modal>

      <!-- Modal -->
      <spatial-unit-delete-modal></spatial-unit-delete-modal>
      
      <!-- Modal -->
      <georesource-add-modal></georesource-add-modal>

      <!-- Modal -->
      <georesource-batch-update-modal></georesource-batch-update-modal>

      <!-- Modal -->
      <georesource-edit-features-modal></georesource-edit-features-modal>

      <!-- Modal -->
      <georesource-edit-metadata-modal></georesource-edit-metadata-modal>

      <!-- Modal -->
      <georesource-edit-user-roles-modal></georesource-edit-user-roles-modal>

      <!-- Modal -->
      <georesource-delete-modal></georesource-delete-modal>


      <!-- Modal -->
      <indicator-add-modal></indicator-add-modal>

      <!-- Modal -->
      <indicator-batch-update-modal></indicator-batch-update-modal>

      <!-- Modal -->
      <indicator-edit-features-modal></indicator-edit-features-modal>

      <!-- Modal -->
      <indicator-edit-metadata-modal></indicator-edit-metadata-modal>

      <!-- Modal -->
      <app-indicator-edit-features-modal></app-indicator-edit-features-modal>

      <!-- Modal -->
      <indicator-edit-indicator-spatial-unit-roles-modal></indicator-edit-indicator-spatial-unit-roles-modal>

      <!-- Modal -->
      <indicator-delete-modal></indicator-delete-modal>


      <!-- Modal -->
      <topic-edit-modal-new></topic-edit-modal-new>

      <!-- Modal -->
      <topic-delete-modal-new></topic-delete-modal-new>

      <!-- Modal -->
      <script-add-modal></script-add-modal>

      <!-- Modal -->
      <script-delete-modal></script-delete-modal>

      <!-- Modal -->
      <role-add-modal></role-add-modal>

      <!-- Modal -->
      <role-edit-metadata-modal></role-edit-metadata-modal>

      <!-- Modal -->
      <role-edit-group-rights-modal></role-edit-group-rights-modal>

      <!-- Modal -->
      <role-delete-modal></role-delete-modal>

      <!-- Modal -->
      <admin-filter-add-modal></admin-filter-add-modal>

      <!-- Modal -->
      <admin-filter-edit-modal></admin-filter-edit-modal>

      <!-- Modal -->
      <batch-update-result-modal></batch-update-result-modal>
    
      <div style="position: absolute; left: 12%; top: 200px; width: 75%;" hidden
				class="alert alert-danger alert-dismissable mapApplicationErrorAlert">
				<button type="button" class="close" ng-click="$ctrl.kommonitorDataExchangeServiceInstance.hideErrorAlert()"
					aria-hidden="true">&times;</button>
				<h4><i class="icon fa fa-ban"></i>Achtung</h4>
				Es ist ein Fehler bei der Datenverarbeitung aufgetreten. Die Fehlermeldung lautet:
				<br />
				<pre ng-bind-html="$ctrl.kommonitorDataExchangeServiceInstance.errorMessage"></pre>
	    </div>
      
    </div>
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      Vielen Dank f&uuml;r die Nutzung von KomMonitor
    </div>
    <strong>Copyright &copy; <a href="http://kommonitor.de">KomMonitor-Team</a>.</strong>
  </footer>

</div>
<!-- ./wrapper -->