<app-admin-content-view
  [title]="'ADMIN_SPATIAL_UNITS.OVERVIEW.TITLE' | translate"
  [description]="'ADMIN_SHARED.INFO' | translate"
  [controlsTemplate]="controls"
  [contentTemplate]="content"
>
</app-admin-content-view>
<ng-template #controls>
  <span>{{ 'ADMIN_SHARED.SHOW_ONLY_EDITABLE' | translate }}</span>
  <div>
    <label class="switch">
      <input
        type="checkbox"
        [(ngModel)]="tableViewSwitcher"
        (ngModelChange)="onTableViewSwitch()"
      />
      <span class="switchslider round"></span>
    </label>
  </div>
  <button
    [disabled]="!accessControlService.checkCreatePermission()"
    class="btn btn-success btn-sm"
    type="button"
    (click)="openAddSpatialUnitModal()"
  >
    <i class="fas fa-plus"></i>&nbsp;&nbsp;{{ 'ADMIN_SHARED.CREATE' | translate }}
  </button>
</ng-template>

<ng-template #content>
  <expandable-box
    [title]="'ADMIN_SPATIAL_UNITS.OVERVIEW.BOX_TITLE' | translate"
    [isCollapsible]="false"
  >
    <ag-grid-angular
      #spatialUnitOverviewTable
      id="spatialUnitOverviewTable"
      style="height: 70vh"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [rowData]="rowData()"
      [defaultColDef]="defaultColDef"
      [gridOptions]="gridOptions"
      [pagination]="true"
      [paginationPageSize]="paginationPageSize"
      [paginationPageSizeSelector]="paginationPageSizeSelector"
      [rowSelection]="'multiple'"
      [suppressRowClickSelection]="true"
      [enableCellTextSelection]="true"
      [ensureDomOrder]="true"
      [suppressColumnVirtualisation]="true"
    >
    </ag-grid-angular>
  </expandable-box>
</ng-template>
