@let element = sidebarState.activeElement();
<div
  id="sidebarContentWrapper"
  [ngClass]="{
    disabled: element === '',
    expWidth: isExpandedWidth,
  }"
>
  <button
    type="button"
    class="btn-close"
    aria-label="Seitenleiste schließen"
    (click)="closeSidebar()"
  ></button>
  <app-kommonitor-data-setup
    [hidden]="element !== 'sidebarIndicatorConfigCollapse'"
  ></app-kommonitor-data-setup>
  @if (element === 'sidebarPoiCollapse') {
    <app-poi></app-poi>
  }
  <app-kommonitor-data-import
    [hidden]="element !== 'sidebarDataImportCollapse'"
  ></app-kommonitor-data-import>
  <app-kommonitor-filter [hidden]="element !== 'sidebarFilterCollapse'"></app-kommonitor-filter>
  <app-kommonitor-balance [hidden]="element !== 'sidebarBalanceCollapse'"></app-kommonitor-balance>
  @if (element === 'sidebarDiagramsCollapse') {
    <app-kommonitor-diagrams></app-kommonitor-diagrams>
  }
  @if (element === 'sidebarRadarDiagramCollapse') {
    <app-indicator-radar></app-indicator-radar>
  }
  @if (element === 'sidebarRegressionDiagramCollapse') {
    <app-regression-diagram></app-regression-diagram>
  }
  <app-kommonitor-reachability
    [hidden]="element !== 'sidebarReachabilityCollapse'"
  ></app-kommonitor-reachability>
  <!--  [hidden]="element!='sidebarReachabilityCollapse'" -->
</div>
