:host {

  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(236,240,245);
  transition: opacity 0.3s;

  #sidebarContentWrapper {
    
    width: 35vw;

    &.disabled {
      display: none;
    }
  }

  #buttonWrapper {
    position: absolute;
    right: -150px;
    top:0;
    z-index: 9999;

    ul {
      list-style-type: none;

      li button {
        background-color: lightblue;
        padding: .5em;
        font-weight: bold;
        border-radius: .4em;
      }
    }
  }
  
}