:host {
  display: block;
  max-width: 35%;
  width: 100%;
  height: 100%;
  background: rgb(236,240,245);
  transition: opacity 0.3s;
  overflow: auto;
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 1001;
}