<div class="km-date-picker">
  <div class="input-group date-input-group">
    <div class="input-group-btn">
      <button 
        class="btn btn-default date-toggle-btn" 
        type="button" 
        [disabled]="disabled" 
        (click)="dp.toggle()" 
        title="Kalender öffnen">
        <i class="far fa-calendar-alt"></i>
      </button>
    </div>
    <div>
      <input
        [id]="id || null"
        [attr.name]="name || null"
        type="text"
        [attr.placeholder]="placeholder"
        [attr.aria-label]="ariaLabel"
        inputmode="numeric"
        pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
        [required]="required"
        [class]="inputClasses"
        ngbDatepicker
        #dp="ngbDatepicker"
        [formControl]="control"
        (focus)="onFocus()"
        (blur)="onBlur()"
        #inputEl
      />
    </div>
  </div>

  <div *ngIf="shouldShowInvalid" class="invalid-feedback d-block mt-1">
    <span *ngIf="hasError('required')">Dieses Feld ist erforderlich.</span>
    <span *ngIf="hasError('dateFormat')">Ungültiges Datum. Format: JJJJ-MM-TT.</span>
    <span *ngIf="hasError('minDate')">Datum ist vor dem Minimum ({{ min }}).</span>
    <span *ngIf="hasError('maxDate')">Datum ist nach dem Maximum ({{ max }}).</span>
  </div>
</div>


