<div class="just-padding">
  @if (isGeoresourceInfrastructureEnabled('poi')) {
    <expandable-box [title]="'Points of Interest'" [collapsed]="true">
      <div class="georesourceInputForm">
        @for (
          poi of georesourceStore.displayableGeoresources_keywordFiltered_forAlphabeticalDisplay
            .poiData;
          track poi
        ) {
          <app-georesource-vector-element
            kind="poi"
            [dataset]="poi"
            [showFavSelection]="showFavSelection"
            [showPerDatasetDateColumn]="layerService.isPerDatasetDate"
            [isFavorite]="favoritesService.poiFavSelected(poi.georesourceId)"
            (toggleGeoresourceOnMap)="toggleGeoresourceOnMap.emit($event)"
            (selectedDateChange)="layerService.onChangeSelectedDate($event)"
            (zoomToLayer)="zoomToLayer.emit($event)"
            (exportGeoresource)="layerService.openGeoresourceExportModal($event)"
            (favToggled)="favoritesService.onPoiFavClick($event)"
          ></app-georesource-vector-element>
        }
      </div>
    </expandable-box>
  }

  @if (isGeoresourceInfrastructureEnabled('loi')) {
    <expandable-box [title]="'Lines of Interest'" [collapsed]="true">
      <div class="georesourceInputForm">
        @for (
          loi of georesourceStore.displayableGeoresources_keywordFiltered_forAlphabeticalDisplay
            .loiData;
          track loi
        ) {
          <app-georesource-vector-element
            kind="loi"
            [dataset]="loi"
            [showFavSelection]="showFavSelection"
            [showPerDatasetDateColumn]="layerService.isPerDatasetDate"
            [isFavorite]="favoritesService.poiFavSelected(loi.georesourceId)"
            (toggleGeoresourceOnMap)="toggleGeoresourceOnMap.emit($event)"
            (selectedDateChange)="layerService.onChangeSelectedDate($event)"
            (zoomToLayer)="zoomToLayer.emit($event)"
            (exportGeoresource)="layerService.openGeoresourceExportModal($event)"
            (favToggled)="favoritesService.onPoiFavClick($event)"
          ></app-georesource-vector-element>
        }
      </div>
    </expandable-box>
  }

  @if (isGeoresourceInfrastructureEnabled('aoi')) {
    <expandable-box [title]="'Areas of Interest'" [collapsed]="true">
      <div class="georesourceInputForm">
        @for (
          aoi of georesourceStore.displayableGeoresources_keywordFiltered_forAlphabeticalDisplay
            .aoiData;
          track aoi
        ) {
          <app-georesource-vector-element
            kind="aoi"
            [dataset]="aoi"
            [showFavSelection]="showFavSelection"
            [showPerDatasetDateColumn]="layerService.isPerDatasetDate"
            [isFavorite]="favoritesService.poiFavSelected(aoi.georesourceId)"
            (toggleGeoresourceOnMap)="toggleGeoresourceOnMap.emit($event)"
            (selectedDateChange)="layerService.onChangeSelectedDate($event)"
            (zoomToLayer)="zoomToLayer.emit($event)"
            (exportGeoresource)="layerService.openGeoresourceExportModal($event)"
            (favToggled)="favoritesService.onPoiFavClick($event)"
          ></app-georesource-vector-element>
        }
      </div>
    </expandable-box>
  }

  @if (isGeoresourceGeoserviceEnabled('wms')) {
    <expandable-box [title]="'Web Map Service (WMS)'" [collapsed]="true">
      <div class="georesourceInputForm">
        @for (
          dataset of georesourceStore.displayableGeoresources_keywordFiltered_forAlphabeticalDisplay
            .wmsData;
          track dataset
        ) {
          <app-georesource-wms-element
            [dataset]="dataset"
            [showFavSelection]="showFavSelection"
            [isFavorite]="favoritesService.wmsFavSelected(dataset.id)"
            (toggleWmsOnMap)="layerService.handleWmsOnMap($event)"
            (favToggled)="favoritesService.onWmsFavClick($event)"
          ></app-georesource-wms-element>
        }
      </div>
    </expandable-box>
  }

  @if (isGeoresourceGeoserviceEnabled('wfs')) {
    <expandable-box [title]="'Web Map Service (WFS)'" [collapsed]="true">
      <p>
        Hinzuladen eines WFS kann je nach Objektanzahl und -komplexität einige Moment dauern. Die
        Features werden zudem nach dem aktuellen Raumausschnitt der Kartendarstellung gefiltert
        abgefragt.
      </p>
      <div class="georesourceInputForm">
        @for (
          dataset of georesourceStore.displayableGeoresources_keywordFiltered_forAlphabeticalDisplay
            .wfsData;
          track dataset
        ) {
          <app-georesource-wfs-element
            [dataset]="dataset"
            (toggleWfsOnMap)="layerService.handleWfsOnMap($event)"
            (wfsColorChange)="layerService.adjustWfsLayerColor($event)"
          ></app-georesource-wfs-element>
        }
      </div>
    </expandable-box>
  }
</div>
