<app-admin-content-view
  [title]="i18n + '.TITLE' | translate"
  [description]="i18n + '.DESCRIPTION' | translate"
  [contentTemplate]="content"
>
</app-admin-content-view>

<ng-template #content>
  <expandable-box [title]="i18n + '.BOX_TITLE' | translate" [isCollapsible]="false">
    <p>
      {{ i18n + '.INTRO_PREFIX' | translate }}
      <b>Config Storage Service</b>
      {{ 'ADMIN_CONFIG.COMMON.INTRO_SUFFIX' | translate }}
    </p>

    <hr />
    <br />

    <div class="row vertical-align">
      <div class="col-md-6 col-sm-6 col-12">
        <div class="form-group">
          <label>{{ 'ADMIN_CONFIG.COMMON.TEMPLATE_LABEL' | translate }}</label>
          <br />
          <br />
          <div #templateCodeMirror style="height: 450px"></div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-12">
        <div class="form-group">
          <label>{{ 'ADMIN_CONFIG.COMMON.CURRENT_LABEL' | translate }}</label>
          <br />
          <br />
          <div #currentCodeMirror style="height: 450px"></div>
        </div>
      </div>
    </div>

    <hr />
    <br />

    <div class="row vertical-align">
      <div class="col-md-6 col-sm-6 col-12">
        <div class="form-group">
          <label>{{ i18n + '.EDITOR_LABEL' | translate }}</label>
          <br />
          <br />
          <textarea #configEditor></textarea>
        </div>
        @if (configSettingInvalid()) {
          <div class="help-block with-errors">
            {{ 'ADMIN_CONFIG.COMMON.INVALID_HINT' | translate: { format: descriptor.formatLabel } }}
          </div>
        }
        @if (missingRequiredParameters().length > 0) {
          <div class="help-block with-errors">
            {{ 'ADMIN_CONFIG.COMMON.MISSING_PARAMETERS' | translate }}
            {{ missingRequiredParameters_string() }}
          </div>
        }
      </div>
      <div class="col-md-6 col-sm-6 col-12">
        <div class="form-group">
          <label>{{ 'ADMIN_CONFIG.COMMON.PREVIEW_LABEL' | translate }}</label>
          <br />
          <br />
          <div #newCodeMirror style="height: 450px"></div>
        </div>
      </div>
    </div>

    <div class="row vertical-align">
      <div class="col-md-12 text-center">
        <div class="form-group">
          <button
            type="button"
            class="btn btn-success"
            [disabled]="configSettingInvalid()"
            (click)="saveConfig()"
          >
            {{ i18n + '.SAVE' | translate }}
          </button>
        </div>
      </div>
    </div>
  </expandable-box>
</ng-template>
