<div>
  @for (notification of notificationService.notifications; track notification) {
    <ngb-toast
      [class]="notification.options.classname"
      [autohide]="notification.options.autohide ?? true"
      [delay]="notification.options.delay || 5000"
      (hidden)="notificationService.remove(notification)"
    >
      @if (isTemplate(notification.content)) {
        <ng-template [ngTemplateOutlet]="$any(notification.content)"></ng-template>
      } @else {
        {{ notification.content }}
      }
      @if (!(notification.options.autohide ?? true)) {
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="notificationService.remove(notification)"
        ></button>
      }
    </ngb-toast>
  }
</div>
