<header id="header" class="main-header">

    <div class="logoWrapper">
      <a target="_blank" rel="noopener noreferrer" href="http://kommonitor.de"><img style="float: left; width: 35px; height: 35px; margin-right: 0.5%;" src="logos/KM_Logo1.svg"></a>
      <div *ngIf="envConfigService.customLogoURL && envConfigService.customLogoWidth">
        <a target="_blank" rel="noopener noreferrer" href="{{envConfigService.customLogo_onClickURL}}">
          <img src="{{envConfigService.customLogoURL}}" [ngStyle]="{'float': 'left', 'width': envConfigService.customLogoWidth, 'height':' 35px', 'margin-right': '0.5%'}">
        </a>
      </div> 			  
    </div>

    <!-- <app-language-switcher></app-language-switcher> -->

    <div class="titleWrapper">
      <h4>{{envConfigService.appTitle}}</h4>
    </div>

    <div class="buttonWrapper">
      <div id="switchAdvancedMode" class="switch" *ngIf="envConfigService.showAdvancedModeSwitch" style="width:250px">
        <strong>Erweiterte Ansicht</strong>
        <label class="switch">
          <input type="checkbox" title="Ein- / Ausblenden von UI Elementen" [(ngModel)]="visibilityHelperService.isAdvancedMode" 
					  [value]="visibilityHelperService.isAdvancedMode"
					  (change)="visibilityHelperService.onChangeIsAdvancedMode()" >
          <span class="switchslider round"></span>
        </label>
        <!-- <label class="switch" title="Ein- / Ausblenden von UI Elementen">
          <input type="checkbox" ng-model="$ctrl.kommonitorElementVisibilityHelperServiceInstance.isAdvancedMode" 
            ng-checked="$ctrl.kommonitorElementVisibilityHelperServiceInstance.isAdvancedMode"
            ng-change="$ctrl.kommonitorElementVisibilityHelperServiceInstance.onChangeIsAdvancedMode()" ><span class="switchslider round"></span></label> -->
      </div>
      <p title="Guided Tour&nbsp;&nbsp;"><span class="glyphicon glyphicon-play"></span></p>
      <p *ngIf="showAdminLogin" (click)="openAdminUI()" title="Admin UI&nbsp;&nbsp;"><span class="fas fa-cogs"></span></p>
      <p (click)="openInfoModal()" title="Information&nbsp;&nbsp;"><span class="glyphicon glyphicon-info-sign"></span></p>
      <app-user-login></app-user-login>
    </div>
    
    <!-- <a data-toggle="modal" data-target="#feedbackModal" style="font-size:1.2em; float: right; margin-right: 1%; margin-top: 0.5%;  cursor:pointer;" title="Feedback&nbsp;&nbsp;"><span class="glyphicon glyphicon-envelope"></span></a> -->

</header>
<div id="userInterface-content">
  <app-sidebar [element]="sidebarElement" (sidebarClosed)="onSidebarClose($event)"></app-sidebar>
  <div id="mapWrapper">
    <div id="sideBarButtons">
      <button type="button" style="display: block; position: relative; margin-top: 5px;" id="sidebarIndicatorConfigCollapse" *ngIf="visibilityHelperService.elementVisibility.indicatorConfig"
        (click)="onSidebarButtonClick($event)" (mouseover)="closeDiagramSubmenu()" class="btn btn-custom btn-circle" [ngClass]="{'btn-docked btn-custom-docked':(sidebarElement=='sidebarIndicatorConfigCollapse')}" data-toggle="tooltip" title="Indikatorenauswahl">
          <i class="fas fa-sitemap"></i>
      </button>

      <button type="button" style="display: block; position: relative; margin-top: 5px;" id="sidebarPoiCollapse" *ngIf="visibilityHelperService.elementVisibility.poi"
        (click)="onSidebarButtonClick($event)" (mouseover)="closeDiagramSubmenu()" class="btn btn-custom btn-circle" [ngClass]="{'btn-docked btn-custom-docked':(sidebarElement=='sidebarPoiCollapse')}" data-toggle="tooltip" title="Infrastrukturdaten">
          <i class="fas fa-map-marker-alt"></i>
      </button>

      <button type="button" style="display: block; position: relative; margin-top: 5px;" id="sidebarDataImportCollapse" *ngIf="visibilityHelperService.elementVisibility.dataImport"
        (click)="onSidebarButtonClick($event)" (mouseover)="closeDiagramSubmenu()" class="btn btn-custom btn-circle" [ngClass]="{'btn-docked btn-custom-docked':(sidebarElement=='sidebarDataImportCollapse')}"  data-toggle="tooltip" title="Datenimport">
          <i class="fas fa-file-import"></i>
      </button> 

      <button type="button" style="display: block; position: relative; margin-top: 5px;" id="sidebarFilterCollapse" *ngIf="visibilityHelperService.elementVisibility.filter"
        (click)="onSidebarButtonClick($event)" (mouseover)="closeDiagramSubmenu()" class="btn btn-custom btn-circle" [ngClass]="{'btn-docked btn-custom-docked':(sidebarElement=='sidebarFilterCollapse'), 'filterActive':filterModusActive()}" data-toggle="tooltip" title="Darstellungsfilter">
          <i class="fas fa-filter"></i>
      </button>

      <div>
        <button type="button" style="display: block; position: relative; margin-top: 5px;" 
          (mouseover)="onDiagramSubMenuOver()" class="btn btn-custom btn-circle" [ngClass]="{'btn-docked btn-custom-docked':isDiagramSidebarOpened(), 'balanceActive': chartDisplayState.isBalanceChecked}" data-toggle="tooltip" title="statistische Diagramme">
            <i class="fas fa-chart-simple"></i>
        </button>
        
        <div id="diagramSubMenu" [ngClass]="{'hidden':!diagramSubMenuOpen}">

          <div class="subMenuButtonWrapper" *ngIf="visibilityHelperService.elementVisibility.balance">
            <button type="button" style="display: block; position: relative;" id="sidebarBalanceCollapse"
              (click)="onDiagramSubMenuButtonClick($event)" class="btn btn-custom btn-circle" [ngClass]="{'balanceActive': chartDisplayState.isBalanceChecked}" data-toggle="tooltip" title="zeitliche Bilanzierung">
                <i class="fas fa-chart-line"></i>
            </button>
            <div>
              <b>Bilanzierung</b>
              <p>Erfasst und bewertet den Datenbestand &uuml;ber einen definierbaren Zeitraum hinweg. Ermöglicht es, zeitliche Veränderungen transparent zu machen und Entwicklungen gezielt zu analysieren.</p>
            </div>
          </div>

          <div class="subMenuButtonWrapper" *ngIf="visibilityHelperService.elementVisibility.diagrams">
            <button type="button" style="display: block; position: relative;" id="sidebarDiagramsCollapse" 
              (click)="onDiagramSubMenuButtonClick($event)" class="btn btn-custom btn-circle" data-toggle="tooltip" title="statistische Diagramme">
                <i class="fas fa-chart-bar"></i>
            </button>
            <div>
              <b>Kennzahlen</b>
              <p>&Uuml;bersicht der statistischen Kennzahlen der verschiedenen Teilindikatoren.</p>
            </div>
          </div>

          <div class="subMenuButtonWrapper" *ngIf="visibilityHelperService.elementVisibility.radarDiagram">
            <button type="button" style="display: block; position: relative" id="sidebarRadarDiagramCollapse"
              (click)="onDiagramSubMenuButtonClick($event)" class="btn btn-custom btn-circle" data-toggle="tooltip" title="Indikatorenradar">
                <img src="icons/radarMap.svg">
            </button>
            <div>
              <b>Indikatoren-Radar</b>
              <p>Visualisiert mehrere Variablen gleichzeitig und zeigt Stärken sowie Schwächen auf einen Blick. Es eignet sich ideal zum Vergleichen komplexer Profile oder Leistungsindikatoren.</p>
            </div>
          </div>

          <div class="subMenuButtonWrapper" *ngIf="visibilityHelperService.elementVisibility.regressionDiagram">
            <button type="button" style="display: block; position: relative" id="sidebarRegressionDiagramCollapse"
              (click)="onDiagramSubMenuButtonClick($event)" class="btn btn-custom btn-circle" data-toggle="tooltip" title="Regressionsdiagramm">
                <img src="icons/scatterPlot.svg">
            </button>
            <div>
              <b>Lineare Regression</b>
              <p>Zeigt den Zusammenhang zwischen zwei Variablen und veranschaulicht Trends oder Abhängigkeiten in Daten. Es dient dazu, Prognosen zu treffen und Muster in Datensätzen zu erkennen.</p>
            </div>
          </div>
        </div>
      </div>

      <button type="button" style="display: block; position: relative; margin-top: 5px;" id="sidebarReachabilityCollapse" *ngIf="visibilityHelperService.elementVisibility.reachability"
        (click)="onSidebarButtonClick($event)" (mouseover)="closeDiagramSubmenu()" class="btn btn-custom btn-circle" [ngClass]="{'btn-docked btn-custom-docked':(sidebarElement=='sidebarReachabilityCollapse')}" data-toggle="tooltip" title="Erreichbarkeitsanalyse">
        <i class="fas fa-route"></i>
      </button>

      <button *ngIf="visibilityHelperService.elementVisibility.reportingButton" type="button" style="display: block; position: relative; margin-top: 5px;"
        (click)="openReportingModal()" (mouseover)="closeDiagramSubmenu()" class="btn btn-custom btn-circle" data-toggle="modal" title="Report erstellen">
        <i class="fas fa-file-alt"></i>
      </button>

      <app-export-menu-button></app-export-menu-button>
    </div>

    <div id="mapUtilButtons">
      <button type="button" id="recenterMapButton"
        (click)="onRecenterMapButtonClick()" class="btn btn-leaflet-custom" data-toggle="tooltip" title="Karte zentrieren">
          <i class="fas fa-earth-europe"></i>
      </button>

      <button type="button" id="unselectFeaturesButton"
        (click)="onUnselectFeaturesButtonClick()" class="btn btn-leaflet-custom" data-toggle="tooltip" title="Raumeinheits-Selektion aufheben">
          <i class="fas fa-ban"></i>
      </button>

      <button type="button" id="exportMapButton"
        (click)="onExportMapButtonClick()" class="btn btn-leaflet-custom" data-toggle="tooltip" title="aktuellen Kartenausschnitt exportieren">
          <i class="fas fa-download"></i>
      </button>

      <button type="button" id="expertButton" data-toggle="button" 
        (click)="onExpertButtonClick()" class="btn btn-leaflet-custom" data-toggle="tooltip" title="Experten-Werkzeuge anzeigen" >
        <i class="fa fa-screwdriver-wrench"></i>
      </button>

      <button type="button" id="openLayerControlButton" data-toggle="button" [ngClass]="{'visible':expertToolbarVisible}"
        (click)="onOpenLayerControlButtonClick()" class="btn btn-leaflet-custom expertButton" data-toggle="tooltip" title="Layer Control anzeigen">
          <i class="fas fa-layer-group"></i>
      </button>
    </div>		


    <div id="statusButtonContainer">
      <div id="filterStatusButtonContainer"
        *ngIf="globalFilterHelperService.globalFilterApplied() || chartDisplayState.isMeasureOfValueChecked || dataExchangeService.rangeFilterIsApplied">
        <div *ngIf="globalFilterHelperService.globalFilterApplied()" 
              id="filterNoticeButton" class="btn btn-warning btn-xs" title="Filter aktiviert">
          <i class="fas fa-filter"></i>
          <span (click)="openFilterSidebar()" style="margin: 3px;">Räuml. Filter aktiviert </span>
          <i class="fas fa-close" (click)="onSpatialFilterCloseButtonClick()" title="Filter entfernen"></i>
        </div>
        <div *ngIf="chartDisplayState.isMeasureOfValueChecked" 
              id="filterNoticeButton" class="btn btn-warning btn-xs" title="Schwellenwertklassifizierung aktiviert">
          <i class="fas fa-filter"></i>
          <span (click)="openFilterSidebar()" style="margin: 3px;">Schwellenwert aktiviert </span>
          <i class="fas fa-close" (click)="onMOVCloseButtonClick()" title="Filter entfernen"></i>
        </div>
        <div *ngIf="dataExchangeService.rangeFilterIsApplied" 
              id="filterNoticeButton" class="btn btn-warning btn-xs" title="Wertebereichfilter aktiviert">
          <i class="fas fa-filter"></i>
          <span (click)="openFilterSidebar()" style="margin: 3px;">Wertebereichfilter aktiviert </span>
          <i class="fas fa-close" (click)="onRangeFilterCloseButtonClick()" title="Filter entfernen"></i>
        </div>
      </div>
      <div id="balanceStatusButton">
        <span *ngIf="chartDisplayState.isBalanceChecked" 
              id="balanceNoticeButton" class="btn btn-warning btn-xs" title="Bilanzierung aktiviert">
          <i class ="fas fa-chart-line"></i>
          <span (click)="openBalanceSidebar()" style="margin: 3px;">Bilanzierung aktiviert </span>
          <i class="fas fa-close" (click)="onBalanceCloseButtonClick()" title="Bilanzierung entfernen"></i>
        </span>
      </div>
    </div>

    
    <div id="dateSliderWrapper">
      <custom-slider *ngIf="sliderData" [data]="sliderData" [markerPositions]="markerPosition" [displayMode]="sliderDisplayMode.YEAR" [disabled]="sliderDisabled" (valueChange)="onDateSliderChange($event)"></custom-slider>
      <div id="dateSlider"></div>
    </div>

    <app-kommonitor-map (click)="closeDiagramSubmenu()"></app-kommonitor-map>
    
  </div>
</div>

<app-kommonitor-legend></app-kommonitor-legend>