<header id="header" class="main-header">
  <div class="logoWrapper">
    <a target="_blank" rel="noopener noreferrer" href="http://kommonitor.de"
      ><img
        style="float: left; width: 35px; height: 35px; margin-right: 0.5%"
        src="logos/KM_Logo1.svg"
    /></a>
    @if (envConfigService.customLogoURL && envConfigService.customLogoWidth) {
      <div>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="{{ envConfigService.customLogo_onClickURL }}"
        >
          <img
            src="{{ envConfigService.customLogoURL }}"
            [ngStyle]="{
              float: 'left',
              width: envConfigService.customLogoWidth,
              height: ' 35px',
              'margin-right': '0.5%',
            }"
          />
        </a>
      </div>
    }
  </div>

  <!-- <app-language-switcher></app-language-switcher> -->

  <div class="titleWrapper">
    <h4>{{ envConfigService.appTitle }}</h4>
  </div>

  <div class="buttonWrapper">
    @if (envConfigService.showAdvancedModeSwitch) {
      <div id="switchAdvancedMode" class="switch" style="width: 250px">
        <strong>Erweiterte Ansicht</strong>
        <label class="switch">
          <input
            type="checkbox"
            title="Ein- / Ausblenden von UI Elementen"
            [(ngModel)]="visibilityHelperService.isAdvancedMode"
            [value]="visibilityHelperService.isAdvancedMode"
            (change)="visibilityHelperService.onChangeIsAdvancedMode()"
          />
          <span class="switchslider round"></span>
        </label>
        <!-- <label class="switch" title="Ein- / Ausblenden von UI Elementen">
        <input type="checkbox" ng-model="$ctrl.kommonitorElementVisibilityHelperServiceInstance.isAdvancedMode"
          ng-checked="$ctrl.kommonitorElementVisibilityHelperServiceInstance.isAdvancedMode"
          ng-change="$ctrl.kommonitorElementVisibilityHelperServiceInstance.onChangeIsAdvancedMode()" ><span class="switchslider round"></span></label> -->
      </div>
    }
    <p title="Guided Tour&nbsp;&nbsp;"><span class="glyphicon glyphicon-play"></span></p>
    @if (showAdminLogin) {
      <p (click)="openAdminUI()" title="Admin UI&nbsp;&nbsp;"><span class="fas fa-cogs"></span></p>
    }
    <p (click)="openInfoModal()" title="Information&nbsp;&nbsp;">
      <span class="glyphicon glyphicon-info-sign"></span>
    </p>
    <app-user-login></app-user-login>
  </div>
</header>
<div id="userInterface-content">
  <app-sidebar></app-sidebar>
  <div id="mapWrapper">
    <app-sidebar-buttons></app-sidebar-buttons>

    <div id="mapUtilButtons">
      <button
        type="button"
        id="recenterMapButton"
        (click)="onRecenterMapButtonClick()"
        class="btn btn-leaflet-custom"
        data-toggle="tooltip"
        title="Karte zentrieren"
      >
        <i class="fas fa-earth-europe"></i>
      </button>

      <button
        type="button"
        id="unselectFeaturesButton"
        (click)="onUnselectFeaturesButtonClick()"
        class="btn btn-leaflet-custom"
        data-toggle="tooltip"
        title="Raumeinheits-Selektion aufheben"
      >
        <i class="fas fa-ban"></i>
      </button>

      <button
        type="button"
        id="exportMapButton"
        (click)="onExportMapButtonClick()"
        class="btn btn-leaflet-custom"
        data-toggle="tooltip"
        title="aktuellen Kartenausschnitt exportieren"
      >
        <i class="fas fa-download"></i>
      </button>

      <button
        type="button"
        id="expertButton"
        data-toggle="button"
        (click)="onExpertButtonClick()"
        class="btn btn-leaflet-custom"
        data-toggle="tooltip"
        title="Experten-Werkzeuge anzeigen"
      >
        <i class="fa fa-screwdriver-wrench"></i>
      </button>

      <button
        type="button"
        id="openLayerControlButton"
        data-toggle="button"
        [ngClass]="{ visible: expertToolbarVisible }"
        (click)="onOpenLayerControlButtonClick()"
        class="btn btn-leaflet-custom expertButton"
        data-toggle="tooltip"
        title="Layer Control anzeigen"
      >
        <i class="fas fa-layer-group"></i>
      </button>
    </div>

    <div id="statusButtonContainer">
      @if (
        globalFilterHelperService.globalFilterApplied() ||
        chartDisplayState.isMeasureOfValueChecked ||
        rangeFilterState.rangeFilterIsApplied
      ) {
        <div id="filterStatusButtonContainer">
          @if (globalFilterHelperService.globalFilterApplied()) {
            <div id="filterNoticeButton" class="btn btn-warning btn-xs" title="Filter aktiviert">
              <i class="fas fa-filter"></i>
              <span (click)="openFilterSidebar()" style="margin: 3px"
                >Räuml. Filter aktiviert
              </span>
              <i
                class="fas fa-close"
                (click)="onSpatialFilterCloseButtonClick()"
                title="Filter entfernen"
              ></i>
            </div>
          }
          @if (chartDisplayState.isMeasureOfValueChecked) {
            <div
              id="filterNoticeButton"
              class="btn btn-warning btn-xs"
              title="Schwellenwertklassifizierung aktiviert"
            >
              <i class="fas fa-filter"></i>
              <span (click)="openFilterSidebar()" style="margin: 3px"
                >Schwellenwert aktiviert
              </span>
              <i
                class="fas fa-close"
                (click)="onMOVCloseButtonClick()"
                title="Filter entfernen"
              ></i>
            </div>
          }
          @if (rangeFilterState.rangeFilterIsApplied) {
            <div
              id="filterNoticeButton"
              class="btn btn-warning btn-xs"
              title="Wertebereichfilter aktiviert"
            >
              <i class="fas fa-filter"></i>
              <span (click)="openFilterSidebar()" style="margin: 3px"
                >Wertebereichfilter aktiviert
              </span>
              <i
                class="fas fa-close"
                (click)="onRangeFilterCloseButtonClick()"
                title="Filter entfernen"
              ></i>
            </div>
          }
        </div>
      }
      <div id="balanceStatusButton">
        @if (chartDisplayState.isBalanceChecked) {
          <span
            id="balanceNoticeButton"
            class="btn btn-warning btn-xs"
            title="Bilanzierung aktiviert"
          >
            <i class="fas fa-chart-line"></i>
            <span (click)="openBalanceSidebar()" style="margin: 3px">Bilanzierung aktiviert </span>
            <i
              class="fas fa-close"
              (click)="onBalanceCloseButtonClick()"
              title="Bilanzierung entfernen"
            ></i>
          </span>
        }
      </div>
    </div>

    <div id="dateSliderWrapper">
      @if (sliderData) {
        <custom-slider
          [data]="sliderData"
          [markerPositions]="markerPosition"
          [displayMode]="sliderDisplayMode.YEAR"
          [disabled]="sliderDisabled"
          (valueChange)="onDateSliderChange($event)"
        ></custom-slider>
      }
      <div id="dateSlider"></div>
    </div>

    <app-kommonitor-map></app-kommonitor-map>
  </div>
</div>

<app-kommonitor-legend></app-kommonitor-legend>

<app-reporting-background-processor></app-reporting-background-processor>

<app-reporting-progress-banner></app-reporting-progress-banner>

<app-notification></app-notification>
