:host {

  header {
    height: 4em !important;
  }

  #userInterface-content {
    width: 100%;
    display: grid;
    grid-template-columns: min-content auto;
    height: 90vh;

    #mapWrapper {
      position: relative;
    }
  }

  #dateSliderWrapper {
    position: absolute;
    bottom: 25px;
    margin-right: auto;
    margin-left: auto;
    left: 100px;
    right: 100px;
    z-index: 1004;
    font: 16px/18px Arial, Helvetica, sans-serif;
    /* border: 2px solid black;
    border-radius: 8px; */
  }

  #sideBarButtons{
    margin-top: 200px;
    width: 90px;
    /* height: 80vh; */
    position: absolute;
    display: flex;
    flex-direction: column;

    #diagramSubMenu {
      position: absolute;
      top: 100px;
      left: 8vh;
      width: 30em;
      background: #fff;
      z-index: 1000;
      padding: .5em;
      border: 2px solid rgba(0,0,0,0.2) !important;


      .hidden {
        display: none;
      }

      .subMenuButtonWrapper {
        display: grid;
        grid-template-columns: 8vh auto;
        font-size: .8em;
        padding: 0.5em;
        padding-left: 0 !important;

        * {
          margin-top: auto;
          margin-bottom: auto;
        }

        b {
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }
  }
}

::ng-deep .leaflet-control-geosearch a.leaflet-bar-part::after {
  height: 15px !important;
  width: 15px !important;
  border: 2px solid #000;
  top: 8px !important;
  left: 8px !important;
}

::ng-deep .leaflet-control-geosearch a.leaflet-bar-part::before {
  top: 22px !important;
  left: 19px !important;
  width: 10px !important;
  border-top: 2px solid #000;
}

::ng-deep .leaflet-control-search {
  display: grid;
  grid-template-columns: 1fr 1fr;

  input {
    order: 1;
  }

  ul {
    left: 4em !important;
  }
}