<div class="card mb-3">
  <div class="card-header">
    <h5>{{ label }}</h5>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label>Auswahl des Referenzindikators</label>
      <select
        class="form-control form-control-sm"
        size="4"
        [ngModel]="selection"
        (ngModelChange)="selectionChange.emit($event)"
      >
        <option disabled [ngValue]="null">-- Indikator wählen --</option>
        @for (ind of availableIndicators; track ind) {
          <option [ngValue]="ind">
            {{ ind.indicatorName }}
          </option>
        }
      </select>
    </div>
    @if (selection) {
      <div class="mt-2">
        <span class="badge bg-info">{{ selection.indicatorName }}</span>
      </div>
    }
  </div>
</div>
