:host {
  font-size: 12px;

  .chart {
    margin-top: 3em;
  }

  .hidden {
    visibility: hidden;
  }

  .breakupWrapper {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 1em;

    select:first-child {
      width: min-content !important;
    }
  }
}