<app-admin-content-view
  [title]="'ADMIN_SCRIPTS.EXECUTION.TITLE' | translate"
  [description]="'ADMIN_SCRIPTS.EXECUTION.DESCRIPTION' | translate"
  [controlsTemplate]="controls"
  [contentTemplate]="content"
>
</app-admin-content-view>

<ng-template #controls>
  <button class="btn btn-warning btn-sm" type="button" (click)="refreshJobOverviewTable()">
    <i class="fas fa-sync-alt"></i> {{ 'ADMIN_SCRIPTS.EXECUTION.REFRESH' | translate }}
  </button>
</ng-template>
<ng-template #content>
  @if (errorOccurred()) {
    <div class="alert alert-danger" role="alert">
      <i class="fas fa-exclamation-triangle"></i>
      {{ 'ADMIN_SCRIPTS.EXECUTION.LOAD_ERROR' | translate }}
    </div>
  }
  @if (!errorOccurred()) {
    <app-loading-overlay
      [loading]="loadingData()"
      [message]="'ADMIN_SHARED.LOADING_DATA' | translate"
    >
      <expandable-box
        [title]="'ADMIN_SCRIPTS.EXECUTION.DEFAULT_JOBS_TITLE' | translate"
        [collapsed]="false"
      >
        <div class="box-content">
          @if (defaultIndicatorJobHealth(); as defaultIndicatorJobHealth) {
            <div class="row vertical-align">
              <div class="col-md-3 col-sm-6 col-12">
                <app-small-box
                  [titleText]="defaultIndicatorJobHealth.queueStatus"
                  [descriptionText]="'ADMIN_SCRIPTS.EXECUTION.QUEUE_STATUS' | translate"
                  boxColor="#337ab7"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
              <div class="col-md-3 col-sm-6 col-12">
                <app-small-box
                  [titleText]="defaultIndicatorJobHealth.newestJobId.toString()"
                  [descriptionText]="'ADMIN_SCRIPTS.EXECUTION.NEWEST_JOB_ID' | translate"
                  boxColor="#337ab7"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
              <div class="col-md-3 col-sm-6 col-12">
                <app-small-box
                  [titleText]="defaultIndicatorJobHealth.succeededJobs.toString()"
                  [descriptionText]="'ADMIN_SCRIPTS.EXECUTION.SUCCEEDED_JOBS' | translate"
                  boxColor="#00a65a"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
              <div class="col-md-3 col-sm-6 col-12">
                <app-small-box
                  [titleText]="defaultIndicatorJobHealth.failedJobs.toString()"
                  [descriptionText]="'ADMIN_SCRIPTS.EXECUTION.FAILED_JOBS' | translate"
                  boxColor="#dd4b39"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
            </div>
          }
          @if (defaultIndicatorJobHealth(); as defaultIndicatorJobHealth) {
            <div class="row vertical-align">
              <div class="col-md-3 col-sm-6 col-12">
                <app-small-box
                  [titleText]="defaultIndicatorJobHealth.activeJobs.toString()"
                  [descriptionText]="'ADMIN_SCRIPTS.EXECUTION.ACTIVE_JOBS' | translate"
                  boxColor="#00c0ef"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
              <div class="col-md-3 col-sm-6 col-12">
                <app-small-box
                  [titleText]="defaultIndicatorJobHealth.waitingJobs.toString()"
                  [descriptionText]="'ADMIN_SCRIPTS.EXECUTION.WAITING_JOBS' | translate"
                  boxColor="#FF851B"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
              <div class="col-md-3 col-sm-6 col-12">
                <app-small-box
                  [titleText]="defaultIndicatorJobHealth.delayedJobs.toString()"
                  [descriptionText]="'ADMIN_SCRIPTS.EXECUTION.DELAYED_JOBS' | translate"
                  boxColor="#d2d6de"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
            </div>
          }
          <ag-grid-angular
            #spatialUnitOverviewTable
            id="spatialUnitOverviewTable"
            style="height: 70vh"
            class="ag-theme-alpine"
            [columnDefs]="columnDefs"
            [rowData]="defaultIndicatorJobs()"
            [defaultColDef]="defaultColDef"
            [gridOptions]="gridOptions"
            [pagination]="true"
            [paginationPageSize]="paginationPageSize"
            [paginationPageSizeSelector]="paginationPageSizeSelector"
            [rowSelection]="'multiple'"
            [suppressRowClickSelection]="true"
            [enableCellTextSelection]="true"
            [ensureDomOrder]="true"
            [suppressColumnVirtualisation]="true"
          ></ag-grid-angular>
        </div>
      </expandable-box>
      <expandable-box
        [title]="'ADMIN_SCRIPTS.EXECUTION.CUSTOMIZED_JOBS_TITLE' | translate"
        [collapsed]="false"
      >
        <div class="box-content customized-computation-content">
          @if (customizedIndicatorJobHealth(); as customizedIndicatorJobHealth) {
            <div class="row vertical-align">
              <div class="col-md-3 col-sm-6 col-12">
                <app-small-box
                  [titleText]="customizedIndicatorJobHealth.queueStatus"
                  [descriptionText]="'ADMIN_SCRIPTS.EXECUTION.QUEUE_STATUS' | translate"
                  boxColor="#337ab7"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
              <div class="col-md-3 col-sm-6 col-12">
                <app-small-box
                  [titleText]="customizedIndicatorJobHealth.newestJobId.toString()"
                  [descriptionText]="'ADMIN_SCRIPTS.EXECUTION.NEWEST_JOB_ID' | translate"
                  boxColor="#337ab7"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
              <div class="col-md-3 col-sm-6 col-12">
                <app-small-box
                  [titleText]="customizedIndicatorJobHealth.succeededJobs.toString()"
                  [descriptionText]="'ADMIN_SCRIPTS.EXECUTION.SUCCEEDED_JOBS' | translate"
                  boxColor="#00a65a"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
              <div class="col-md-3 col-sm-6 col-12">
                <app-small-box
                  [titleText]="customizedIndicatorJobHealth.failedJobs.toString()"
                  [descriptionText]="'ADMIN_SCRIPTS.EXECUTION.FAILED_JOBS' | translate"
                  boxColor="#dd4b39"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
            </div>
          }
          @if (customizedIndicatorJobHealth(); as customizedIndicatorJobHealth) {
            <div class="row vertical-align">
              <div class="col-md-3 col-sm-6 col-12">
                <app-small-box
                  [titleText]="customizedIndicatorJobHealth.activeJobs.toString()"
                  [descriptionText]="'ADMIN_SCRIPTS.EXECUTION.ACTIVE_JOBS' | translate"
                  boxColor="#00c0ef"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
              <div class="col-md-3 col-sm-6 col-12">
                <app-small-box
                  [titleText]="customizedIndicatorJobHealth.waitingJobs.toString()"
                  [descriptionText]="'ADMIN_SCRIPTS.EXECUTION.WAITING_JOBS' | translate"
                  boxColor="#FF851B"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
              <div class="col-md-3 col-sm-6 col-12">
                <app-small-box
                  [titleText]="customizedIndicatorJobHealth.delayedJobs.toString()"
                  [descriptionText]="'ADMIN_SCRIPTS.EXECUTION.DELAYED_JOBS' | translate"
                  boxColor="#d2d6de"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
            </div>
          }
          <ag-grid-angular
            #spatialUnitOverviewTable
            id="spatialUnitOverviewTable"
            style="height: 70vh"
            class="ag-theme-alpine"
            [columnDefs]="columnDefs"
            [rowData]="customizedIndicatorJobs()"
            [defaultColDef]="defaultColDef"
            [gridOptions]="gridOptions"
            [pagination]="true"
            [paginationPageSize]="paginationPageSize"
            [paginationPageSizeSelector]="paginationPageSizeSelector"
            [rowSelection]="'multiple'"
            [suppressRowClickSelection]="true"
            [enableCellTextSelection]="true"
            [ensureDomOrder]="true"
            [suppressColumnVirtualisation]="true"
          ></ag-grid-angular>
        </div>
      </expandable-box>
    </app-loading-overlay>
  }
</ng-template>
