<app-admin-content-view
  title="Indikatoren-Berechnung"
  description="Anzeige und Ausführung von Prozessierungsjobs"
  [controlsTemplate]="controls"
  [contentTemplate]="content"
>
</app-admin-content-view>

<ng-template #controls>
  <button class="btn btn-warning btn-sm" type="button" (click)="refreshJobOverviewTable()">
    <i class="fas fa-sync-alt"></i> Refresh
  </button>
</ng-template>
<ng-template #content>
  @if (errorOccurred) {
    <div class="alert alert-danger" role="alert">
      <i class="fas fa-exclamation-triangle"></i>
      Fehler beim Laden der Job-Daten. Bitte versuche es erneut.
    </div>
  }
  @if (!errorOccurred) {
    <app-loading-overlay [loading]="loadingData" message="Lade Daten...">
      <expandable-box
        title="Übersicht Berechnungs-Jobs zur Indikatoren-Zeitreihen-fortführung"
        [collapsed]="false"
      >
        <div class="box-content">
          @if (defaultIndicatorJobHealth) {
            <div class="row vertical-align">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <app-small-box
                  [titleText]="defaultIndicatorJobHealth.queueStatus"
                  descriptionText="Status der Job-Ausführung"
                  boxColor="#337ab7"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <app-small-box
                  [titleText]="defaultIndicatorJobHealth.newestJobId.toString()"
                  descriptionText="neueste Job-Id"
                  boxColor="#337ab7"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <app-small-box
                  [titleText]="defaultIndicatorJobHealth.succeededJobs.toString()"
                  descriptionText="abgeschlossene Jobs"
                  boxColor="#00a65a"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <app-small-box
                  [titleText]="defaultIndicatorJobHealth.failedJobs.toString()"
                  descriptionText="gescheiterte Jobs"
                  boxColor="#dd4b39"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
            </div>
          }
          @if (defaultIndicatorJobHealth) {
            <div class="row vertical-align">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <app-small-box
                  [titleText]="defaultIndicatorJobHealth.activeJobs.toString()"
                  descriptionText="laufende Jobs"
                  boxColor="#00c0ef"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <app-small-box
                  [titleText]="defaultIndicatorJobHealth.waitingJobs.toString()"
                  descriptionText="wartende Jobs"
                  boxColor="#FF851B"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <app-small-box
                  [titleText]="defaultIndicatorJobHealth.delayedJobs.toString()"
                  descriptionText="wartende Jobs"
                  boxColor="#d2d6de"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
            </div>
          }
          <ag-grid-angular
            #spatialUnitOverviewTable
            id="spatialUnitOverviewTable"
            style="height: 70vh"
            class="ag-theme-alpine"
            [columnDefs]="columnDefs"
            [rowData]="defaultIndicatorJobs"
            [defaultColDef]="defaultColDef"
            [gridOptions]="gridOptions"
            [pagination]="true"
            [paginationPageSize]="paginationPageSize"
            [paginationPageSizeSelector]="paginationPageSizeSelector"
            [rowSelection]="'multiple'"
            [suppressRowClickSelection]="true"
            [enableCellTextSelection]="true"
            [ensureDomOrder]="true"
            [suppressColumnVirtualisation]="true"
          ></ag-grid-angular>
        </div>
      </expandable-box>
      <expandable-box
        title="Übersicht Berechnungs-Jobs zur individuell-parametrisierten Indikatoren-Berechnung"
        [collapsed]="false"
      >
        <div class="box-content customized-computation-content">
          @if (customizedIndicatorJobHealth) {
            <div class="row vertical-align">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <app-small-box
                  [titleText]="customizedIndicatorJobHealth.queueStatus"
                  descriptionText="Status der Job-Ausführung"
                  boxColor="#337ab7"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <app-small-box
                  [titleText]="customizedIndicatorJobHealth.newestJobId.toString()"
                  descriptionText="neueste Job-Id"
                  boxColor="#337ab7"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <app-small-box
                  [titleText]="customizedIndicatorJobHealth.succeededJobs.toString()"
                  descriptionText="abgeschlossene Jobs"
                  boxColor="#00a65a"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <app-small-box
                  [titleText]="customizedIndicatorJobHealth.failedJobs.toString()"
                  descriptionText="gescheiterte Jobs"
                  boxColor="#dd4b39"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
            </div>
          }
          @if (customizedIndicatorJobHealth) {
            <div class="row vertical-align">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <app-small-box
                  [titleText]="customizedIndicatorJobHealth!.activeJobs.toString()"
                  descriptionText="laufende Jobs"
                  boxColor="#00c0ef"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <app-small-box
                  [titleText]="customizedIndicatorJobHealth!.waitingJobs.toString()"
                  descriptionText="wartende Jobs"
                  boxColor="#FF851B"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <app-small-box
                  [titleText]="customizedIndicatorJobHealth!.delayedJobs.toString()"
                  descriptionText="wartende Jobs"
                  boxColor="#d2d6de"
                  iconClass="fas fa-file-code"
                ></app-small-box>
              </div>
            </div>
          }
          <ag-grid-angular
            #spatialUnitOverviewTable
            id="spatialUnitOverviewTable"
            style="height: 70vh"
            class="ag-theme-alpine"
            [columnDefs]="columnDefs"
            [rowData]="customizedIndicatorJobs"
            [defaultColDef]="defaultColDef"
            [gridOptions]="gridOptions"
            [pagination]="true"
            [paginationPageSize]="paginationPageSize"
            [paginationPageSizeSelector]="paginationPageSizeSelector"
            [rowSelection]="'multiple'"
            [suppressRowClickSelection]="true"
            [enableCellTextSelection]="true"
            [ensureDomOrder]="true"
            [suppressColumnVirtualisation]="true"
          ></ag-grid-angular>
        </div>
      </expandable-box>
    </app-loading-overlay>
  }
</ng-template>
