<div class="modal-header">
  <h4 class="modal-title">
    {{ 'ADMIN_ROLES.EDIT_METADATA_MODAL.TITLE' | translate }}
    <i
      ><b>{{ oldName }}</b></i
    >
    {{ 'ADMIN_ROLES.EDIT_TITLE_SUFFIX' | translate }}
  </h4>
  <button
    type="button"
    class="btn-close"
    [attr.aria-label]="'ADMIN_SHARED.CLOSE' | translate"
    (click)="close()"
  ></button>
</div>

<div class="modal-body">
  <app-loading-overlay
    [loading]="loadingData()"
    [message]="'ADMIN_ROLES.EDIT_METADATA_MODAL.SAVING' | translate"
  >
    @if (showErrorAlert()) {
      <div class="alert alert-danger" role="alert">
        {{ 'ADMIN_ROLES.EDIT_METADATA_MODAL.SAVE_ERROR' | translate }}
        <span [innerHTML]="errorMessagePart()"></span>
      </div>
    }
    @if (showKeycloakErrorAlert()) {
      <div class="alert alert-danger" role="alert">
        {{ 'ADMIN_ROLES.EDIT_METADATA_MODAL.KEYCLOAK_RENAME_ERROR' | translate }}
        <span [innerHTML]="keycloakErrorMessagePart()"></span>
      </div>
    }

    <form (ngSubmit)="editMetadata()">
      <h2 class="fs-title text-center">
        {{ 'ADMIN_ROLES.EDIT_METADATA_MODAL.TITLE' | translate }}
      </h2>
      <p class="text-center">
        <b
          ><i>{{ 'ADMIN_ROLES.REQUIRED_FIELD' | translate }}</i></b
        >
      </p>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>{{ 'ADMIN_SHARED.NAME' | translate }}*</label>
            <input
              class="form-control"
              type="text"
              [placeholder]="'ADMIN_ROLES.EDIT_METADATA_MODAL.NAME_PLACEHOLDER' | translate"
              [(ngModel)]="currentDataset.name"
              name="name"
              (ngModelChange)="checkName()"
              required
            />
            <div class="help-block">
              {{ 'ADMIN_ROLES.EDIT_METADATA_MODAL.NAME_HELP' | translate }}
            </div>
            @if (nameInvalid) {
              <div class="text-danger">
                {{ 'ADMIN_ROLES.EDIT_METADATA_MODAL.NAME_INVALID' | translate }}
              </div>
            }
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>{{ 'ADMIN_SHARED.DESCRIPTION' | translate }}*</label>
            <textarea
              class="form-control"
              rows="4"
              [placeholder]="'ADMIN_ROLES.EDIT_METADATA_MODAL.DESCRIPTION_PLACEHOLDER' | translate"
              [(ngModel)]="currentDataset.description"
              name="description"
              required
            ></textarea>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>{{ 'ADMIN_ROLES.CONTACT' | translate }}*</label>
            <textarea
              class="form-control"
              rows="4"
              [placeholder]="'ADMIN_ROLES.EDIT_METADATA_MODAL.CONTACT_PLACEHOLDER' | translate"
              [(ngModel)]="currentDataset.contact"
              name="contact"
              required
            ></textarea>
          </div>
        </div>
      </div>
    </form>
  </app-loading-overlay>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="close()">
    {{ 'ADMIN_SHARED.CLOSE' | translate }}
  </button>
  <div style="flex: 1"></div>
  <button
    type="button"
    class="btn btn-success"
    [disabled]="loadingData() || nameInvalid"
    (click)="editMetadata()"
  >
    {{ 'ADMIN_ROLES.EDIT_METADATA_MODAL.UPDATE_METADATA' | translate }}
  </button>
</div>
