::ng-deep .modal-holder .modal-dialog { 
  max-width: max-content;
  width: max-content;
  transform: none !important;
}

::ng-deep {

    .btn {
      font-size: 14px !important;
    }

    .btn-warning {
      color: #fff !important;
    }
}

:host {
  .modal-content {
    width: 80vw;
    font-size: 14px;

    h3 {
      font-size: 24px !important;
    }

    &.content-small {
      width: 40vw;
    }
    
    .modal-header {

      button {
        border: none;
        background-color: #fff;
      }
      
      h4 {
        margin: 0 0 5px;
        font: 16px/18px Arial, Helvetica, sans-serif !important;
        color: #777 !important;
      }
    }
  }
}

::ng-deep .modal-custom-footer {
  margin-top: 1em;
  display: grid; 
  grid-template-columns: auto auto;

  .btn {
    width: min-content;
    white-space: nowrap;
    margin-right: 1em;
  }

  div:last-child {
    text-align: right;
    margin: 0;
  }
}
