<div
  class="modal-content"
  [ngClass]="{ 'content-small': isWorkflowState(workflowState.workflowSelect) }"
>
  <div class="modal-header">
    <h4 class="modal-title"><b>Reporting</b></h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      (click)="activeModal.close('Close click')"
    >
      <i class="fas fa-xmark"></i>
    </button>
  </div>
  <div class="modal-body" style="text-align: justify">
    @if (isWorkflowState(workflowState.workflowSelect)) {
      <app-workflow-select></app-workflow-select>
    }
    @if (isWorkflowState(workflowState.templateSelect)) {
      <app-template-select></app-template-select>
    }
    @if (
      isWorkflowState([
        workflowState.reportingOverview,
        workflowState.formatSelect,
        workflowState.reportGeneration,
      ])
    ) {
      <app-reporting-overview></app-reporting-overview>
    }
    @if (isWorkflowState(workflowState.indicatorConfig)) {
      <app-indicator-add></app-indicator-add>
    }
  </div>
</div>
