<div>
  <h2 class="fs-title">{{ 'ADMIN_INDICATORS.STEP_BASIC.TITLE' | translate }}</h2>
  <h3 class="fs-subtitle">{{ 'ADMIN_INDICATORS.STEP_BASIC.SUBTITLE' | translate }}</h3>
  <p>
    <b
      ><i>{{ 'ADMIN_SHARED_UI.STEP.REQUIRED_FIELD_MARKER' | translate }}</i></b
    >
  </p>
  <div class="row vertical-align">
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>{{ 'ADMIN_INDICATORS.INDICATOR_NAME' | translate }}*</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="state.datasetName"
          name="datasetName"
          [placeholder]="'ADMIN_SHARED.NAME' | translate"
          (ngModelChange)="state.checkDatasetName()"
          required
        />
        <div class="help-block with-errors"></div>
        <div class="help-block">
          <p>{{ 'ADMIN_INDICATORS.STEP_BASIC.NAME_UNIQUE_HINT' | translate }}</p>
        </div>
        @if (state.datasetNameInvalid) {
          <div style="color: red">
            <p>{{ 'ADMIN_INDICATORS.STEP_BASIC.NAME_INVALID' | translate }}</p>
          </div>
        }
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>{{ 'ADMIN_INDICATORS.ABBREVIATION' | translate }}</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="state.indicatorAbbreviation"
          name="indicatorAbbreviation"
          [placeholder]="'ADMIN_INDICATORS.STEP_BASIC.ABBREVIATION_PLACEHOLDER' | translate"
        />
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>{{ 'ADMIN_INDICATORS.STEP_BASIC.TYPE' | translate }}*</label>
        <select
          [(ngModel)]="state.indicatorType"
          name="indicatorType"
          (ngModelChange)="state.checkDatasetName()"
          class="form-control"
          required
        >
          <option [ngValue]="null" disabled selected>
            {{ 'ADMIN_INDICATORS.STEP_BASIC.SELECT_TYPE_OPTION' | translate }}
          </option>
          @for (type of state.indicatorTypeOptions; track type) {
            <option [ngValue]="type">
              {{ type.displayName }}
            </option>
          }
        </select>
        <div class="help-block with-errors"></div>
        <div class="help-block">
          <p>{{ 'ADMIN_INDICATORS.STEP_BASIC.TYPE_HINT_STATUS' | translate }}</p>
          <p>{{ 'ADMIN_INDICATORS.STEP_BASIC.TYPE_HINT_DYNAMIC' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>{{ 'ADMIN_INDICATORS.STEP_BASIC.DECIMALS' | translate }}</label>
        <div class="form-group vertical-align">
          <label class="margin-right" style="font-weight: normal">{{
            'ADMIN_INDICATORS.STEP_BASIC.DECIMALS_CUSTOM_TOGGLE' | translate
          }}</label>
          <label class="switch">
            <input
              type="checkbox"
              [(ngModel)]="state.showCustomCommaValue"
              name="showCustomCommaValue"
            />
            <span class="switchslider round"></span>
          </label>
        </div>
        @if (!state.showCustomCommaValue) {
          <div>
            {{ 'ADMIN_INDICATORS.STEP_BASIC.DECIMALS_FALLBACK' | translate }}<br />
            {{ 'ADMIN_INDICATORS.STEP_BASIC.DECIMALS_FALLBACK_LOCATION' | translate }}
            <i>{{ 'ADMIN_INDICATORS.STEP_BASIC.SETTINGS' | translate }}</i> -
            <i>{{ 'ADMIN_INDICATORS.STEP_BASIC.GENERAL_SETTINGS' | translate }}</i> -
            <i>"numberOfDecimals"</i>
          </div>
        }
        @if (state.showCustomCommaValue) {
          <div>
            <input
              class="form-control"
              type="number"
              min="0"
              max="4"
              [(ngModel)]="state.indicatorPrecision"
              name="indicatorPrecision"
            />
            <div class="help-block">
              <p>{{ 'ADMIN_INDICATORS.STEP_BASIC.DECIMALS_HINT' | translate }}</p>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
  <div class="row vertical-align">
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>{{ 'ADMIN_INDICATORS.UNIT' | translate }}*</label>
        <select
          [(ngModel)]="state.indicatorUnit"
          name="indicatorUnit"
          (ngModelChange)="state.onChangeIndicatorUnit()"
          class="form-control"
          required
        >
          <option [ngValue]="null" disabled selected>
            {{ 'ADMIN_INDICATORS.STEP_BASIC.SELECT_UNIT_OPTION' | translate }}
          </option>
          <option value="-- Freitext --">
            {{ 'ADMIN_INDICATORS.STEP_BASIC.FREE_TEXT_OPTION' | translate }}
          </option>
          @for (unit of envConfigService.indicatorUnitOptions; track unit) {
            <option [value]="unit">{{ unit }}</option>
          }
        </select>
        @if (state.enableFreeTextUnit) {
          <div>
            <label>{{ 'ADMIN_INDICATORS.STEP_BASIC.FREE_TEXT_INPUT' | translate }}*</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="state.indicatorUnit"
              name="indicatorUnit"
              [placeholder]="'ADMIN_INDICATORS.UNIT' | translate"
              required
            />
          </div>
        }
        <div class="help-block">
          <p>{{ 'ADMIN_INDICATORS.STEP_BASIC.UNIT_HINT' | translate }}</p>
        </div>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>{{ 'ADMIN_INDICATORS.STEP_BASIC.METHOD' | translate }}</label>
        <textarea
          rows="3"
          class="form-control"
          [(ngModel)]="state.indicatorProcessDescription"
          name="indicatorProcessDescription"
          [placeholder]="'ADMIN_INDICATORS.STEP_BASIC.METHOD_PLACEHOLDER' | translate"
        ></textarea>
        <div class="help-block">
          <p>{{ 'ADMIN_INDICATORS.STEP_BASIC.METHOD_HINT' | translate }}</p>
        </div>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>{{ 'ADMIN_INDICATORS.INTERPRETATION' | translate }}*</label>
        <textarea
          rows="3"
          class="form-control"
          [(ngModel)]="state.indicatorInterpretation"
          name="indicatorInterpretation"
          [placeholder]="'ADMIN_INDICATORS.STEP_BASIC.INTERPRETATION_PLACEHOLDER' | translate"
          required
        ></textarea>
        <div class="help-block">
          <p>{{ 'ADMIN_INDICATORS.STEP_BASIC.INTERPRETATION_HINT' | translate }}</p>
        </div>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>{{ 'ADMIN_INDICATORS.STEP_BASIC.TAGS' | translate }}</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="state.indicatorTagsString_withCommas"
          name="indicatorTagsString_withCommas"
          [placeholder]="'ADMIN_INDICATORS.STEP_BASIC.TAGS_PLACEHOLDER' | translate"
        />
        <div class="help-block">
          <p>{{ 'ADMIN_INDICATORS.STEP_BASIC.TAGS_HINT' | translate }}</p>
        </div>
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>
  <div class="row vertical-align">
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>{{ 'ADMIN_INDICATORS.HEADLINE_INDICATOR' | translate }}*</label>
        <label class="switch">
          <input
            type="checkbox"
            [(ngModel)]="state.isHeadlineIndicator"
            name="isHeadlineIndicator"
          />
          <span class="switchslider round"></span>
        </label>
        <div class="help-block">
          <p>{{ 'ADMIN_INDICATORS.STEP_BASIC.HEADLINE_HINT' | translate }}</p>
        </div>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>{{ 'ADMIN_INDICATORS.STEP_BASIC.REFERENCE_DATE_NOTE' | translate }}</label>
        <textarea
          rows="3"
          class="form-control"
          [(ngModel)]="state.indicatorReferenceDateNote"
          name="indicatorReferenceDateNote"
          [placeholder]="'ADMIN_INDICATORS.STEP_BASIC.REFERENCE_DATE_NOTE_PLACEHOLDER' | translate"
        ></textarea>
        <div class="help-block">
          <p>{{ 'ADMIN_INDICATORS.STEP_BASIC.REFERENCE_DATE_NOTE_HINT' | translate }}</p>
        </div>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>{{ 'ADMIN_INDICATORS.STEP_BASIC.CREATION_TYPE' | translate }}*</label>
        <select
          [(ngModel)]="state.indicatorCreationType"
          name="indicatorCreationType"
          (ngModelChange)="state.onChangeCreationType()"
          class="form-control"
          required
        >
          <option [ngValue]="null" disabled selected>
            {{ 'ADMIN_INDICATORS.STEP_BASIC.SELECT_CREATION_TYPE_OPTION' | translate }}
          </option>
          @for (type of envConfigService.indicatorCreationTypeOptions; track type) {
            <option [ngValue]="type">
              {{ type.displayName }}
            </option>
          }
        </select>
        <div class="help-block">
          <p>{{ 'ADMIN_INDICATORS.STEP_BASIC.CREATION_TYPE_HINT_MANUAL' | translate }}</p>
          <p>{{ 'ADMIN_INDICATORS.STEP_BASIC.CREATION_TYPE_HINT_AUTO' | translate }}</p>
        </div>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      @if (state.enableLowestSpatialUnitSelect) {
        <div class="form-group">
          <label>{{ 'ADMIN_INDICATORS.STEP_BASIC.LOWEST_SPATIAL_UNIT' | translate }}</label>
          <select
            [(ngModel)]="state.indicatorLowestSpatialUnitMetadataObjectForComputation"
            name="indicatorLowestSpatialUnitMetadataObjectForComputation"
            class="form-control"
          >
            <option [ngValue]="null" disabled selected>
              {{ 'ADMIN_INDICATORS.SELECT_SPATIAL_UNIT_OPTION' | translate }}
            </option>
            @for (spatialUnit of state.availableSpatialUnits; track spatialUnit) {
              <option [ngValue]="spatialUnit">
                {{ spatialUnit.spatialUnitLevel }}
              </option>
            }
          </select>
          <div class="help-block">
            <p>{{ 'ADMIN_INDICATORS.STEP_BASIC.LOWEST_SPATIAL_UNIT_HINT' | translate }}</p>
          </div>
          <div class="help-block with-errors"></div>
        </div>
      }
    </div>
  </div>
  <input
    type="button"
    name="next"
    class="next next_addIndicator action-button"
    [value]="'ADMIN_SHARED_UI.STEP.NEXT' | translate"
    (click)="state.nextStep()"
  />
</div>
