<div>
  <h2 class="fs-title">{{ 'ADMIN_SHARED.GENERAL_METADATA' | translate }}</h2>
  <h3 class="fs-subtitle">{{ 'ADMIN_INDICATORS.STEP_GENERAL.SUBTITLE' | translate }}</h3>
  <p>
    <b
      ><i>{{ 'ADMIN_INDICATORS.REQUIRED_FIELD' | translate }}</i></b
    >
  </p>
  <app-resource-metadata-form
    [form]="state.metadataForm"
    [updateIntervalOptions]="state.updateIntervalOptions"
  ></app-resource-metadata-form>
  <div class="row vertical-align">
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>SRID EPSG</label>
        <input
          type="number"
          class="form-control"
          [formControl]="state.metadataForm.controls.sridEPSG"
          name="metadata.sridEPSG"
          placeholder="4326"
        />
        <div class="help-block">
          <p>{{ 'ADMIN_INDICATORS.STEP_GENERAL.SRID_HINT' | translate }}</p>
        </div>
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>
  <input
    type="button"
    name="previous"
    class="previous previous_addIndicator action-button-previous"
    [value]="'ADMIN_INDICATORS.PREVIOUS_STEP' | translate"
    (click)="state.previousStep()"
  />
  <input
    type="button"
    name="next"
    class="next next_addIndicator action-button"
    [value]="'ADMIN_INDICATORS.NEXT_STEP' | translate"
    (click)="state.nextStep()"
  />
</div>
