<div>
  <h2 class="fs-title">Referenzen zu Indikatoren/Georessourcen</h2>
  <h3 class="fs-subtitle">Angaben über Referenzen zu anderen Indikatoren und Georessourcen</h3>
  <p>
    <b><i>* = Pflichtfeld</i></b>
  </p>
  <p>
    Hier werden Angaben &uuml;ber assoziierte Indikatoren und Georessourcen get&auml;tigt. Sie
    eignen sich dazu, im System Querverbindungen zwischen Indikatoren und Georessourcen darzustellen
    und dem Nutzer so die M&ouml;glichkeit zu geben, einen Themenkomplex, der durch mehrere
    Datens&auml;tze abgebildet wird, besser zu verstehen.
  </p>
  <!-- Indicator References Section -->
  <div class="row vertical-align">
    <div class="col-md-10 col-sm-12 col-12">
      <!-- box indicators -->
      <expandable-box title="Referenzen zu anderen Indikatoren">
        <div class="row vertical-align">
          <div class="col-md-4 col-sm-6 col-12">
            <div class="form-group">
              <label>Indikator auswählen</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="state.indicatorNameFilter"
                name="indicatorNameFilter"
                placeholder="Indikatorname filtern"
                (ngModelChange)="state.filterIndicators()"
              />
              <select
                [(ngModel)]="state.tmpIndicatorReference_selectedIndicatorMetadata"
                name="tmpIndicatorReference_selectedIndicatorMetadata"
                class="form-control"
                size="8"
              >
                <option [ngValue]="null" disabled>-- Indikator wählen --</option>
                @for (indicator of state.filteredIndicators; track indicator) {
                  <option [ngValue]="indicator">
                    {{ indicator.datasetName }} ({{ indicator.indicatorType.displayName }})
                  </option>
                }
              </select>
              <div class="help-block">
                <p>
                  Wählen Sie einen Indikator aus der Liste aus, zu dem eine Referenz erstellt werden
                  soll
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12">
            <div class="form-group">
              <label>Referenzbeschreibung*</label>
              <textarea
                rows="3"
                class="form-control"
                [(ngModel)]="state.tmpIndicatorReference_referenceDescription"
                name="tmpIndicatorReference_referenceDescription"
                placeholder="Beschreibung der Beziehung zum ausgewählten Indikator"
                required
              ></textarea>
              <div class="help-block">
                <p>
                  Beschreiben Sie die Art der Beziehung zwischen diesem Indikator und dem
                  ausgewählten Indikator
                </p>
              </div>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12">
            <div class="form-group">
              <label>&nbsp;</label>
              <button
                type="button"
                class="btn btn-primary form-control"
                [disabled]="
                  !state.tmpIndicatorReference_selectedIndicatorMetadata ||
                  !state.tmpIndicatorReference_referenceDescription
                "
                (click)="state.onAddOrUpdateIndicatorReference()"
              >
                <i class="fas fa-plus"></i> Indikator-Referenz hinzufügen
              </button>
            </div>
          </div>
        </div>
        @if (state.indicatorReferences_adminView.length > 0) {
          <div class="row vertical-align">
            <div class="col-md-12">
              <div class="form-group">
                <label>Hinzugefügte Indikator-Referenzen</label>
                <div class="table-responsive">
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>Indikator</th>
                        <th>Typ</th>
                        <th>Referenzbeschreibung</th>
                        <th>Aktion</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (
                        reference of state.indicatorReferences_adminView;
                        track reference;
                        let i = $index
                      ) {
                        <tr>
                          <td>{{ reference.indicatorMetadata.datasetName }}</td>
                          <td>
                            {{ reference.indicatorMetadata.indicatorType.displayName }}
                          </td>
                          <td>{{ reference.referenceDescription }}</td>
                          <td>
                            <button
                              type="button"
                              class="btn btn-warning btn-sm"
                              (click)="state.onClickEditIndicatorReference(reference)"
                            >
                              <i class="fas fa-edit"></i> Bearbeiten
                            </button>
                            <button
                              type="button"
                              class="btn btn-danger btn-sm"
                              (click)="state.onClickDeleteIndicatorReference(reference)"
                            >
                              <i class="fas fa-trash"></i> Löschen
                            </button>
                          </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        }
      </expandable-box>
      <!-- box georesources -->
      <expandable-box title="Referenzen zu Georessourcen">
        <div class="row vertical-align">
          <div class="col-md-4 col-sm-6 col-12">
            <div class="form-group">
              <label>Georessource auswählen</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="state.georesourceNameFilter"
                name="georesourceNameFilter"
                placeholder="Georessourcenname filtern"
                (ngModelChange)="state.filterGeoresources()"
              />
              <select
                [(ngModel)]="state.tmpGeoresourceReference_selectedGeoresourceMetadata"
                name="tmpGeoresourceReference_selectedGeoresourceMetadata"
                class="form-control"
                size="8"
              >
                <option [ngValue]="null" disabled>-- Georessource wählen --</option>
                @for (georesource of state.filteredGeoresources; track georesource) {
                  <option [ngValue]="georesource">
                    {{ georesource.datasetName }} ({{ georesource.georesourceType.displayName }})
                  </option>
                }
              </select>
              <div class="help-block">
                <p>
                  Wählen Sie eine Georessource aus der Liste aus, zu der eine Referenz erstellt
                  werden soll
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12">
            <div class="form-group">
              <label>Referenzbeschreibung*</label>
              <textarea
                rows="3"
                class="form-control"
                [(ngModel)]="state.tmpGeoresourceReference_referenceDescription"
                name="tmpGeoresourceReference_referenceDescription"
                placeholder="Beschreibung der Beziehung zur ausgewählten Georessource"
                required
              ></textarea>
              <div class="help-block">
                <p>
                  Beschreiben Sie die Art der Beziehung zwischen diesem Indikator und der
                  ausgewählten Georessource
                </p>
              </div>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12">
            <div class="form-group">
              <label>&nbsp;</label>
              <button
                type="button"
                class="btn btn-primary form-control"
                [disabled]="
                  !state.tmpGeoresourceReference_selectedGeoresourceMetadata ||
                  !state.tmpGeoresourceReference_referenceDescription
                "
                (click)="state.onAddOrUpdateGeoresourceReference()"
              >
                <i class="fas fa-plus"></i> Georessourcen-Referenz hinzufügen
              </button>
            </div>
          </div>
        </div>
        @if (state.georesourceReferences_adminView.length > 0) {
          <div class="row vertical-align">
            <div class="col-md-12">
              <div class="form-group">
                <label>Hinzugefügte Georessourcen-Referenzen</label>
                <div class="table-responsive">
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>Georessource</th>
                        <th>Typ</th>
                        <th>Referenzbeschreibung</th>
                        <th>Aktion</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (
                        reference of state.georesourceReferences_adminView;
                        track reference;
                        let i = $index
                      ) {
                        <tr>
                          <td>{{ reference.georesourceMetadata.datasetName }}</td>
                          <td>
                            {{ reference.georesourceMetadata.georesourceType.displayName }}
                          </td>
                          <td>{{ reference.referenceDescription }}</td>
                          <td>
                            <button
                              type="button"
                              class="btn btn-warning btn-sm"
                              (click)="state.onClickEditGeoresourceReference(reference)"
                            >
                              <i class="fas fa-edit"></i> Bearbeiten
                            </button>
                            <button
                              type="button"
                              class="btn btn-danger btn-sm"
                              (click)="state.onClickDeleteGeoresourceReference(reference)"
                            >
                              <i class="fas fa-trash"></i> Löschen
                            </button>
                          </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        }
      </expandable-box>
    </div>
  </div>
  <input
    type="button"
    name="previous"
    class="previous previous_addIndicator action-button-previous"
    value="Voriger Schritt"
    (click)="state.previousStep()"
  />
  <input
    type="button"
    name="next"
    class="next next_addIndicator action-button"
    value="Nächster Schritt"
    (click)="state.nextStep()"
  />
</div>
