<div>
  <h2 class="fs-title text-center">{{ 'ADMIN_SHARED.GENERAL_METADATA' | translate }}</h2>
  <h3 class="fs-subtitle text-center">
    {{ 'ADMIN_INDICATORS.STEP_GENERAL.SUBTITLE' | translate }}
  </h3>
  <p class="text-center">
    <b
      ><i>{{ 'ADMIN_SHARED_UI.STEP.REQUIRED_FIELD_MARKER' | translate }}</i></b
    >
  </p>
  <app-resource-metadata-form
    [form]="state.metadataForm"
    [updateIntervalOptions]="state.updateIntervalOptions"
  ></app-resource-metadata-form>
  <div class="row vertical-align">
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>SRID EPSG</label>
        <input
          type="number"
          class="form-control"
          [formControl]="state.metadataForm.controls.sridEPSG"
          name="metadata.sridEPSG"
          placeholder="4326"
        />
        <div class="help-block">
          <p>{{ 'ADMIN_INDICATORS.STEP_GENERAL.SRID_HINT' | translate }}</p>
        </div>
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>
  <div class="stepper-buttons">
    <button type="button" class="btn btn-outline-secondary" (click)="state.previousStep()">
      {{ 'ADMIN_SHARED_UI.STEP.PREVIOUS' | translate }}
    </button>
    <button type="button" class="btn btn-primary" (click)="state.nextStep()">
      {{ 'ADMIN_SHARED_UI.STEP.NEXT' | translate }}
    </button>
  </div>
</div>
