<div>
  <h2 class="fs-title">{{ 'ADMIN_INDICATORS.STEP_REFERENCES.TITLE' | translate }}</h2>
  <h3 class="fs-subtitle">{{ 'ADMIN_INDICATORS.STEP_REFERENCES.SUBTITLE' | translate }}</h3>
  <p>
    <b
      ><i>{{ 'ADMIN_SHARED_UI.STEP.REQUIRED_FIELD_MARKER' | translate }}</i></b
    >
  </p>
  <p>{{ 'ADMIN_INDICATORS.STEP_REFERENCES.INTRO' | translate }}</p>
  <!-- Indicator References Section -->
  <div class="row vertical-align">
    <div class="col-md-10 col-sm-12 col-12">
      <!-- box indicators -->
      <expandable-box [title]="'ADMIN_INDICATORS.INDICATOR_REFERENCES' | translate">
        <div class="row vertical-align">
          <div class="col-md-4 col-sm-6 col-12">
            <div class="form-group">
              <label>{{ 'ADMIN_INDICATORS.SELECT_INDICATOR' | translate }}</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="state.indicatorNameFilter"
                name="indicatorNameFilter"
                [placeholder]="
                  'ADMIN_INDICATORS.STEP_REFERENCES.FILTER_INDICATOR_PLACEHOLDER' | translate
                "
                (ngModelChange)="state.filterIndicators()"
              />
              <select
                [(ngModel)]="state.tmpIndicatorReference_selectedIndicatorMetadata"
                name="tmpIndicatorReference_selectedIndicatorMetadata"
                class="form-control"
                size="8"
              >
                <option [ngValue]="null" disabled>
                  {{ 'ADMIN_INDICATORS.SELECT_INDICATOR_OPTION' | translate }}
                </option>
                @for (indicator of state.filteredIndicators; track indicator) {
                  <option [ngValue]="indicator">
                    {{ indicator.datasetName }} ({{ indicator.indicatorType?.displayName }})
                  </option>
                }
              </select>
              <div class="help-block">
                <p>{{ 'ADMIN_INDICATORS.STEP_REFERENCES.INDICATOR_SELECT_HINT' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12">
            <div class="form-group">
              <label>{{ 'ADMIN_INDICATORS.REFERENCE_DESCRIPTION' | translate }}*</label>
              <textarea
                rows="3"
                class="form-control"
                [(ngModel)]="state.tmpIndicatorReference_referenceDescription"
                name="tmpIndicatorReference_referenceDescription"
                [placeholder]="
                  'ADMIN_INDICATORS.STEP_REFERENCES.INDICATOR_REF_DESC_PLACEHOLDER' | translate
                "
                required
              ></textarea>
              <div class="help-block">
                <p>{{ 'ADMIN_INDICATORS.STEP_REFERENCES.INDICATOR_REF_DESC_HINT' | translate }}</p>
              </div>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12">
            <div class="form-group">
              <label>&nbsp;</label>
              <button
                type="button"
                class="btn btn-primary form-control"
                [disabled]="
                  !state.tmpIndicatorReference_selectedIndicatorMetadata ||
                  !state.tmpIndicatorReference_referenceDescription
                "
                (click)="state.onAddOrUpdateIndicatorReference()"
              >
                <i class="fas fa-plus"></i>
                {{ 'ADMIN_INDICATORS.STEP_REFERENCES.ADD_INDICATOR_REF' | translate }}
              </button>
            </div>
          </div>
        </div>
        @if (state.indicatorReferences_adminView.length > 0) {
          <div class="row vertical-align">
            <div class="col-md-12">
              <div class="form-group">
                <label>{{
                  'ADMIN_INDICATORS.STEP_REFERENCES.ADDED_INDICATOR_REFS' | translate
                }}</label>
                <div class="table-responsive">
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>{{ 'ADMIN_INDICATORS.INDICATOR' | translate }}</th>
                        <th>{{ 'ADMIN_INDICATORS.TYPE' | translate }}</th>
                        <th>{{ 'ADMIN_INDICATORS.REFERENCE_DESCRIPTION' | translate }}</th>
                        <th>{{ 'ADMIN_INDICATORS.ACTION' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (
                        reference of state.indicatorReferences_adminView;
                        track reference;
                        let i = $index
                      ) {
                        <tr>
                          <td>{{ reference.indicatorMetadata.datasetName }}</td>
                          <td>
                            {{ reference.indicatorMetadata.indicatorType?.displayName }}
                          </td>
                          <td>{{ reference.referenceDescription }}</td>
                          <td>
                            <button
                              type="button"
                              class="btn btn-warning btn-sm"
                              (click)="state.onClickEditIndicatorReference(reference)"
                            >
                              <i class="fas fa-edit"></i> {{ 'ADMIN_INDICATORS.EDIT' | translate }}
                            </button>
                            <button
                              type="button"
                              class="btn btn-danger btn-sm"
                              (click)="state.onClickDeleteIndicatorReference(reference)"
                            >
                              <i class="fas fa-trash"></i> {{ 'ADMIN_SHARED.DELETE' | translate }}
                            </button>
                          </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        }
      </expandable-box>
      <!-- box georesources -->
      <expandable-box [title]="'ADMIN_INDICATORS.GEORESOURCE_REFERENCES' | translate">
        <div class="row vertical-align">
          <div class="col-md-4 col-sm-6 col-12">
            <div class="form-group">
              <label>{{ 'ADMIN_INDICATORS.SELECT_GEORESOURCE' | translate }}</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="state.georesourceNameFilter"
                name="georesourceNameFilter"
                [placeholder]="
                  'ADMIN_INDICATORS.STEP_REFERENCES.FILTER_GEORESOURCE_PLACEHOLDER' | translate
                "
                (ngModelChange)="state.filterGeoresources()"
              />
              <select
                [(ngModel)]="state.tmpGeoresourceReference_selectedGeoresourceMetadata"
                name="tmpGeoresourceReference_selectedGeoresourceMetadata"
                class="form-control"
                size="8"
              >
                <option [ngValue]="null" disabled>
                  {{ 'ADMIN_INDICATORS.STEP_REFERENCES.SELECT_GEORESOURCE_OPTION' | translate }}
                </option>
                @for (georesource of state.filteredGeoresources; track georesource) {
                  <option [ngValue]="georesource">
                    {{ georesource.datasetName }} ({{ georesource.georesourceType?.displayName }})
                  </option>
                }
              </select>
              <div class="help-block">
                <p>{{ 'ADMIN_INDICATORS.STEP_REFERENCES.GEORESOURCE_SELECT_HINT' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12">
            <div class="form-group">
              <label>{{ 'ADMIN_INDICATORS.REFERENCE_DESCRIPTION' | translate }}*</label>
              <textarea
                rows="3"
                class="form-control"
                [(ngModel)]="state.tmpGeoresourceReference_referenceDescription"
                name="tmpGeoresourceReference_referenceDescription"
                [placeholder]="
                  'ADMIN_INDICATORS.STEP_REFERENCES.GEORESOURCE_REF_DESC_PLACEHOLDER' | translate
                "
                required
              ></textarea>
              <div class="help-block">
                <p>
                  {{ 'ADMIN_INDICATORS.STEP_REFERENCES.GEORESOURCE_REF_DESC_HINT' | translate }}
                </p>
              </div>
              <div class="help-block with-errors"></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12">
            <div class="form-group">
              <label>&nbsp;</label>
              <button
                type="button"
                class="btn btn-primary form-control"
                [disabled]="
                  !state.tmpGeoresourceReference_selectedGeoresourceMetadata ||
                  !state.tmpGeoresourceReference_referenceDescription
                "
                (click)="state.onAddOrUpdateGeoresourceReference()"
              >
                <i class="fas fa-plus"></i>
                {{ 'ADMIN_INDICATORS.STEP_REFERENCES.ADD_GEORESOURCE_REF' | translate }}
              </button>
            </div>
          </div>
        </div>
        @if (state.georesourceReferences_adminView.length > 0) {
          <div class="row vertical-align">
            <div class="col-md-12">
              <div class="form-group">
                <label>{{
                  'ADMIN_INDICATORS.STEP_REFERENCES.ADDED_GEORESOURCE_REFS' | translate
                }}</label>
                <div class="table-responsive">
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>{{ 'ADMIN_INDICATORS.GEORESOURCE' | translate }}</th>
                        <th>{{ 'ADMIN_INDICATORS.TYPE' | translate }}</th>
                        <th>{{ 'ADMIN_INDICATORS.REFERENCE_DESCRIPTION' | translate }}</th>
                        <th>{{ 'ADMIN_INDICATORS.ACTION' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (
                        reference of state.georesourceReferences_adminView;
                        track reference;
                        let i = $index
                      ) {
                        <tr>
                          <td>{{ reference.georesourceMetadata.datasetName }}</td>
                          <td>
                            {{ reference.georesourceMetadata.georesourceType?.displayName }}
                          </td>
                          <td>{{ reference.referenceDescription }}</td>
                          <td>
                            <button
                              type="button"
                              class="btn btn-warning btn-sm"
                              (click)="state.onClickEditGeoresourceReference(reference)"
                            >
                              <i class="fas fa-edit"></i> {{ 'ADMIN_INDICATORS.EDIT' | translate }}
                            </button>
                            <button
                              type="button"
                              class="btn btn-danger btn-sm"
                              (click)="state.onClickDeleteGeoresourceReference(reference)"
                            >
                              <i class="fas fa-trash"></i> {{ 'ADMIN_SHARED.DELETE' | translate }}
                            </button>
                          </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        }
      </expandable-box>
    </div>
  </div>
  <input
    type="button"
    name="previous"
    class="previous previous_addIndicator action-button-previous"
    [value]="'ADMIN_SHARED_UI.STEP.PREVIOUS' | translate"
    (click)="state.previousStep()"
  />
  <input
    type="button"
    name="next"
    class="next next_addIndicator action-button"
    [value]="'ADMIN_SHARED_UI.STEP.NEXT' | translate"
    (click)="state.nextStep()"
  />
</div>
