<div id="adminScriptContent">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Skriptverwaltung
			<small>Steuerung der semi-automatisierten Indikatorenberechnung</small>
		</h1>

		<div class="adminTableButtonWrapper">
			<button class="btn btn-success btn-sm" [disabled]="!checkCreatePermission()" type="button" (click)="onClickCreateScript()"><i
					class="fas fa-plus"></i>&nbsp;&nbsp;Erstellen</button>
			<!-- delete selected completely -->
			<button class="btn btn-danger btn-sm" type="button" [disabled]="!checkDeletePermission()"
				(click)="onClickDeleteDatasets()"><i class="fas fa-trash"></i>&nbsp;&nbsp;L&ouml;schen</button>
		</div>
	</section>

	<!-- Main content -->
	<section class="content container-fluid">

		<!--------------------------
			| Your Page Content Here |
			-------------------------->
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">Indikatoren-Skripte</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">

				<div class="admin-table-wrapper">
					<ag-grid-angular class="ag-theme-alpine" style="height: 70vh; width: 100%;"
						[gridOptions]="scriptsGridOptions"
						[columnDefs]="scriptsColumnDefs"
						[rowData]="availableScriptDatasets"
						[defaultColDef]="scriptsDefaultColDef"
						(gridReady)="onGridReady($event)">
					</ag-grid-angular>

					<!-- Using built-in Ag-Grid pagination panel -->
				</div>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->

	</section>
	<!-- /.content -->
</div>






