<!-- classification  -->
<div id="kommonitorClassification"
  ng-mouseup="onClassificationMouseUp()">
  <div class="classification-container">


    <div *ngIf="exchangeData.selectedIndicator.indicatorType.includes('STATUS') && !exchangeData.isMeasureOfValueChecked && !exchangeData.isBalanceChecked" class="row vertical-align">      
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Farbpalettenwahl
            <span class="caret"></span></button>
            <ul class="dropdown-menu " style="columns: 2; 	-webkit-columns: 2;	-moz-columns: 2;">
            <li style="margin-right: 15px;" *ngFor="let colorPaletteEntry of colorbrewerPalettes">
              <a href="" (click)="onClickColorBrewerEntry(colorPaletteEntry)">
                <div style="display: inline-block;">
                  
                  <svg width="100" height="20">

                      <rect *ngFor="let color of colorPaletteEntry.paletteArrayObject['5']; let i = index" [ngStyle]="{fill: color, x: (i * 20)+'px'}" width="20" height="20"></rect>
                                            
                  </svg>
                </div>
              </a>
            </li>
            </ul>
          </div>
          <div class="help-block with-errors"></div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">

            <div style="display: inline-block;">
              <svg width="100" height="20">
                
                  <rect *ngFor="let color of selectedColorBrewerPaletteEntry.paletteArrayObject['5']; let i = index" [ngStyle]="{fill: color, x: (i * 20)+'px'}" width="20" height="20"></rect>
                                        
              </svg>
            </div>
      </div>	
    </div>

    <div title="Hier können Sie die Klassifizierungsmethode ändern.">
      <div style="font-weight: bold;">Methode</div>
      <!-- todo  -->
      <!-- <classification-method-select 
        on-method-selected="onMethodSelected(method)"
        default-method-id="{{visualStyleData.classifyMethod}}"
        hidden-method-ids="{{hiddenMethodIds}}">
      </classification-method-select> -->
    </div>

    <!-- number of classes -->
    <form class="nrClassSelection" *ngIf="visualStyleData.classifyMethod !== 'manual' && visualStyleData.classifyMethod !== 'regional_default'">
      <label>
        Anzahl Klassen 
        <input 
          type="number"
          min="3"
          max="7"
          (change)="onChangeNumberOfClasses()"
          value="{{visualStyleData.numClasses}}"
          class="form-control">
      </label>
    </form>

    <!-- manual breaks -->
    <div *ngIf="visualStyleData.classifyMethod=='manual'">
      <div *ngIf="(exchangeData.selectedIndicator.indicatorType.includes('STATUS') && ! containsNegativeValues) && ! exchangeData.isMeasureOfValueChecked && ! exchangeData.isBalanceChecked" 
            class="histogramTabWrapper editableHistogram"
            (mouseover)="toggleAddBtn($event, 0)">
        <div class="breaksArea"
              (mousemove)="onBreaksMouseMove($event, 0)">
          <!-- add btn -->
          <div class="addBtnWrapper breakWrapper"
                [ngStyle]="{top: addBtnHeight[0]+'px'}"
                *ngIf="showAddBtn[0]"
                (mouseover)="toggleAddBtn($event, 0)">
            <div class="addBtn" (click)="addNewBreaks(0)">+</div>
            <div class="line"></div>
          </div>
          <!-- measure of Value -->
          <!--<div class="breakWrapper measureOfValue"
                style="top: {{getPercentage(kommonitorDataExchangeServiceInstance.measureOfValue)}}%"
                (mousedown)="onBreakMouseMove($event)">
            <div class ="break">
              <input type="number" 
                      [(ngModel)]="kommonitorDataExchangeServiceInstance.measureOfValue">
              <i class="fa-regular fa-trash-can"></i>
            </div>
            <div class="line"></div>
          </div>-->
          <!-- other breaks -->
          <div class="breakWrapper"
                *ngFor="let b of visualStyleData.manualBrew.breaks; let i = index"
                [ngStyle]="{top: getPercentage(b, 0)+'%'}"
                (mousedown)="onBreakMouseDown($event, i, 0)"
                (dblclick)="onBreakDblClick($event, i, 0)"
                [ngClass]="{'fixed': i === 0 || i === visualStyleData.manualBrew.breaks.length-1}">
            <div class="break"
                  [ngClass]="{'fixed': i === 0 || i === visualStyleData.manualBrew.breaks.length-1}">
              <!--<div class="colorBox"></div>-->
              <input type="number"
                      (blur)="onBreaksChanged($event, i, 0)"
                      [ngModelOptions]="{ updateOn: 'blur' }"
                      disabled
                      [ngClass]="{'fixed': i === 0 || i === visualStyleData.manualBrew.breaks.length-1}"
                      min="{{visualStyleData.manualBrew.breaks[0]}}"
                      max="{{visualStyleData.manualBrew.breaks[visualStyleData.manualBrew.breaks.length - 1]}}"
                      [(ngModel)]="visualStyleData.manualBrew.breaks[i]">
              <i class="fa-regular fa-trash-can" 
                  (click)="deleteBreak(i, 0)"
                  *ngIf="i != 0 && i != visualStyleData.manualBrew.breaks.length-1"></i>
            </div>
            <div class="line"></div>
          </div>
        </div>
        <!-- bars -->
        <div class="histogram">
          <div class="histogramBar"
                *ngFor="let b of visualStyleData.manualBrew.breaks; let i = index"
                [ngStyle]="{height: getHeightForBar(i)+'%', width: getWidthForHistogramBar(i)+'%', 'background-color': visualStyleData.manualBrew.colors[i]}">
          </div>
        </div>
      </div>

      <div *ngIf="exchangeData.isMeasureOfValueChecked" 
            class="histogramTabWrapper editableHistogram"
            (mousemove)="toggleAddBtn($event, 0)">
        <div class="breaksArea"
              (mousemove)="onBreaksMouseMove($event, 0)">
          <!-- add btn -->
          <div class="addBtnWrapper breakWrapper"
                [ngStyle]="{top: addBtnHeight[0]+'px'}"
                *ngIf="showAddBtn[0]"
                (mouseover)="toggleAddBtn($event, 0)">
            <div class="addBtn" (click)="addNewBreaks(0)">+</div>
            <div class="line"></div>
          </div>
          <!-- measure of Value -->
          <div class="breakWrapper measureOfValue"
                [ngStyle]="{top: getPercentage(exchangeData.measureOfValue, 0)+'%'}"
                (mousedown)="onBreaksMouseMove($event, 0)">
            <div class ="break fixed">
              <!--<div class="colorBox"></div>-->
              <span>{{exchangeData.measureOfValue}}</span>
            </div>
            <div class="line"></div>
          </div>
          <!-- other breaks -->
          <div class="breakWrapper" *ngFor="let b of visualStyleData.manualBrew.breaks; let i = index"
                [ngStyle]="{top: getPercentage(b, 0)+'%'}"
                (mousedown)="onBreakMouseDown($event, i, 0)"
                (cblclick)="onBreakDblClick($event, i, 0)"
                [ngClass]="{'fixed': i === 0 || i === visualStyleData.manualBrew.breaks.length-1 || breakIsUnalterable(visualStyleData.manualBrew.breaks[i])}">
            <div class="break"
                  [ngClass]="{'fixed': i === 0 || i === visualStyleData.manualBrew.breaks.length-1 || breakIsUnalterable(visualStyleData.manualBrew.breaks[i])}">
              <!--<div class="colorBox"></div>-->
              <input type="number" 
                      (blur)="onBreaksChanged($event, i, 0)"
                      [ngModelOptions]="{ updateOn: 'blur' }"
                      disabled
                      [ngClass]="{'fixed': i === 0 || i === visualStyleData.manualBrew.breaks.length-1 || breakIsUnalterable(visualStyleData.manualBrew.breaks[i])}"
                      min="{{visualStyleData.manualBrew.breaks[0]}}"
                      max="{{visualStyleData.manualBrew.breaks[visualStyleData.manualBrew.breaks.length - 1]}}"
                      [(ngModel)]="visualStyleData.manualBrew.breaks[i]">
              <i class="fa-regular fa-trash-can"
                  (click)="deleteBreak(i, 0)"
                  ng-if="i != 0 && i != visualStyleData.manualBrew.breaks.length-1 && !breakIsUnalterable(visualStyleData.manualBrew.breaks[i])"></i>
            </div>
            <div class="line"></div>
          </div>
        </div>
        <!-- bars -->
        <div class="histogram">
          <div>
            <div class="histogramBar" *ngFor="let b of visualStyleData.measureOfValueBrew[1].breaks; let i = index">
                <div *ngIf="i != visualStyleData.measureOfValueBrew[1].breaks.length - 1" [ngStyle]="{height: getHeightForBarMOV(1, i)+'%', width: getWidthForHistogramBarMOV(1, i)+'%', 'background-color': visualStyleData.measureOfValueBrew[1].colors[i]}"></div>
            </div>
          </div>
          <div class="histogramBar" *ngFor="let b of visualStyleData.measureOfValueBrew[0].breaks; let i = index">
              <div *ngIf="i != visualStyleData.measureOfValueBrew[0].breaks.length - 1" [ngStyle]="{height: getHeightForBarMOV(0, i)+'%', width: getWidthForHistogramBarMOV(0, i)+'%', 'background-color': visualStyleData.measureOfValueBrew[0].colors[i]}"></div>
        </div>
      </div>
    </div>

    <!-- balance checked -- lower than values -->
    <div ng-if="((exchangeData.isBalanceChecked 
        || exchangeData.selectedIndicator.indicatorType.includes('DYNAMIC') 
        || containsNegativeValues) 
        && ! exchangeData.isMeasureOfValueChecked)
        && visualStyleData.dynamicBrew[1].breaks.length > 0"
          class="histogramTabWrapper editableHistogram editableHistogramDynamic"
          (mousemove)="toggleAddBtn($event, 1)">
      <div class="breaksArea"
            (mousemove)="onBreaksMouseMove($event, 1)">

        <div class="addBtnWrapper breakWrapper"
              [ngStyle]="{top: addBtnHeight[1]+'px'}"
              ng-if="showAddBtn[1]"
              (mouseover)="toggleAddBtn($event, 1)">
          <div class="addBtn" (click)="addNewBreaks(1)">+</div>
          <div class="line"></div>
        </div>

        <div class="breakWrapper" *ngFor="let b of visualStyleData.dynamicBrew[1].breaks; let i = index"
              [ngStyle]="{top: getPercentage(b, 1)+'%'}"
              (mousedown)="onBreakMouseDown($event, i, 1)"
              (click)="onBreakDblClick($event, i, 1)"
              [ngClass]="{'fixed': i === 0 || i === visualStyleData.dynamicBrew[1].breaks.length-1}">
          <div class="break"
                [ngClass]="{'fixed': i === 0 || i === visualStyleData.dynamicBrew[1].breaks.length-1}">
            <input type="number" 
                    (blur)="onBreaksChangedDynamic($event, i, 1)"
                    [ngModelOptions]="{ updateOn: 'blur' }"
                    disabled
                    [ngClass]="{'fixed': i === 0 || i === visualStyleData.dynamicBrew[1].breaks.length-1}"
                    [(ngModel)]="visualStyleData.dynamicBrew[1].breaks[i]">
            <i class="fa-regular fa-trash-can"
                (click)="deleteBreak(i, 1)"
                ng-if="i != 0 && i != visualStyleData.dynamicBrew[1].breaks.length-1"></i>
          </div>
          <div class="line"></div>
        </div>
      </div>

      <div class="histogram">
        <div class="histogramBar"
              *ngFor="let b of visualStyleData.dynamicBrew[1].breaks; let i = index"
              ng-if="i != visualStyleData.dynamicBrew[1].breaks.length - 1"
              [ngStyle]="{height: getHeightForBarDynamic(1, i)+'%', width: getWidthForHistogramBarDynamic(1, i)+'%', 'background-color': visualStyleData.dynamicBrew[1].colors[i]}">
        </div>
      </div>
    </div>


    <!-- balance checked -- higher than values -->
    <div ng-if="((exchangeData.isBalanceChecked 
        || exchangeData.selectedIndicator.indicatorType.includes('DYNAMIC') 
        || containsNegativeValues) 
        && ! exchangeData.isMeasureOfValueChecked)
        && visualStyleData.dynamicBrew[0].breaks.length > 0" 
          class="histogramTabWrapper editableHistogram editableHistogramDynamic"
          (mousemove)="toggleAddBtn($event, 0)">
      <div class="breaksArea"
            (mousemove)="onBreaksMouseMove($event, 0)">

        <div class="addBtnWrapper breakWrapper"
              [ngStyle]="{top: addBtnHeight[0]+'px'}"
              ng-if="showAddBtn[0]"
              (mouseover)="toggleAddBtn($event, 0)">
          <div class="addBtn" (click)="addNewBreaks(0)">+</div>
          <div class="line"></div>
        </div>

        <div class="breakWrapper"
              *ngFor="let b of visualStyleData.dynamicBrew[0].breaks; let i = index"
              [ngStyle]="{top: getPercentage(b, 0)+'%'}"
              (mousedown)="onBreakMouseDown($event, i, 0)"
              (cblclick)="onBreakDblClick($event, i, 0)"
              [ngClass]="{'fixed': i === 0 || i === visualStyleData.dynamicBrew[0].breaks.length-1}">
          <div class="break"
                [ngClass]="{'fixed': i === 0 || i === visualStyleData.dynamicBrew[0].breaks.length-1}">
            <input type="number" 
                    (blur)="onBreaksChangedDynamic($event, i, 0)"
                    [ngModelOptions]="{ updateOn: 'blur' }"
                    disabled
                    [ngClass]="{'fixed': i === 0 || i === visualStyleData.dynamicBrew[0].breaks.length-1}"
                    [(ngModel)]="visualStyleData.dynamicBrew[0].breaks[i]">
            <i class="fa-regular fa-trash-can"
                (click)="deleteBreak(i, 0)"
                ng-if="i != 0 && i != visualStyleData.dynamicBrew[0].breaks.length-1"></i>
          </div>
          <div class="line"></div>
        </div>
      </div>

      <div class="histogram">
        <div class="histogramBar"
              *ngFor="let b of visualStyleData.dynamicBrew[0].breaks; let i = index"
              ng-if="i != visualStyleData.dynamicBrew[0].breaks.length - 1"
              [ngStyle]="{height: getHeightForBarDynamic(0, i)+'%', width: getWidthForHistogramBarDynamic(0, i)+'%', 'background-color': visualStyleData.dynamicBrew[0].colors[i]}">
        </div>
      </div>
    </div>


    <!--
    <div class="classificationBoxToogleSlidersWrapper">
      <span class="classificationBoxToogleSlidersLbl">
        <strong>Wertebereiche abrunden</strong>
      </span>
      <label class="switch" title="Wertebereiche abrunden">
        <input 
          id="controlIndicatorClassifyOption_roundValues" 
          type="checkbox"
          value="roundValues">
        <span class="switchslider round"></span>
      </label>
    </div>-->

  </div>
  <div class="classificationBoxToogleSlidersWrapper"
       ng-if="!exchangeData.isBalanceChecked">
    <span class="classificationBoxToogleSlidersLbl">
      <strong>Klassifizierung &uuml;ber die gesamte Zeitreihe</strong> &nbsp;
    </span>
    <label class="switch" title="Klassifizierung &uuml;ber die gesamte Zeitreihe">
      <input 
        id="controlIndicatorClassifyOption_wholeTimeseries" 
        type="checkbox" 
        value="useWholeTimeseriesClassification"
        ng-change="restyleCurrentLayer()"
        [(ngModel)]="exchangeData.classifyUsingWholeTimeseries" 
        ng-checked="exchangeData.classifyUsingWholeTimeseries">
        <span class="switchslider round"></span>
    </label>
  </div>

  <div class="classificationBoxToogleSlidersWrapper" ng-if="containsZeroValues && visualStyleData.classifyMethod !== 'manual' && visualStyleData.classifyMethod !== 'regional_default'">
    <span class="classificationBoxToogleSlidersLbl"><strong>Wert "0" als separate Klasse darstellen</strong> &nbsp;</span>
    <label class="switch" title="0 als separate Klasse darstellen"><input id="controlIndicatorZeroClassifyOption" type="checkbox" value="useSeparateZeroClass" [(ngModel)]="exchangeData.classifyZeroSeparately" ng-checked="exchangeData.classifyZeroSeparately" ng-change="restyleCurrentLayer()"><span class="switchslider round"></span></label>
  </div>

  <div class="classificationBoxToogleSlidersWrapper" ng-if="(containsOutliers_high || containsOutliers_low) && visualStyleData.classifyMethod !== 'manual' && visualStyleData.classifyMethod !== 'regional_default'">
    <span class="classificationBoxToogleSlidersLbl"><strong>Ausrei&szlig;er gesondert markieren</strong> &nbsp;</span>
    <label class="switch" title="Ausrei&szlig;er gesondert markieren"><input id="controlIndicatorOutlierDetection" type="checkbox" value="useOutlierDetection" [(ngModel)]="exchangeData.useOutlierDetectionOnIndicator" ng-checked="exchangeData.useOutlierDetectionOnIndicator" ng-change="restyleCurrentLayer()"><span class="switchslider round"></span></label>
  </div>
  <div class="classificationBoxToogleSlidersWrapper" ng-if="containsNoData">
    <span class="classificationBoxToogleSlidersLbl">
      <strong>NoData-Werte tempor&auml;r aus Datensatz entfernen</strong> &nbsp;</span>
    <label class="switch" title="NoData-Werte tempor&auml;r aus Datensatz entfernen">
      <input id="controlNoDataDisplay" type="checkbox" value="useNoDataToggle" [(ngModel)]="exchangeData.useNoDataToggle" ng-checked="exchangeData.useNoDataToggle" ng-change="restyleCurrentLayer()">
      <span class="switchslider round"></span>
    </label>
  </div>
</div>