<!-- classification  -->
<div id="kommonitorClassification" (mouseup)="onClassificationMouseUp()">
  <div class="classification-container">
    @if (
      selectionState.selectedIndicator.indicatorType.includes('STATUS') &&
      !chartDisplayState.isMeasureOfValueChecked &&
      !chartDisplayState.isBalanceChecked
    ) {
      <div class="row vertical-align">
        <div class="col-md-6 col-sm-6 col-12">
          <app-color-palette-select
            [selectedColorScheme]="
              selectionState.selectedIndicator?.defaultClassificationMapping?.colorBrewerSchemeName
            "
            (colorSchemeSelected)="onColorSchemeSelected($event)"
          ></app-color-palette-select>
        </div>
        <div class="col-md-6 col-sm-6 col-12">
          <div style="display: inline-block">
            <app-color-palette-swatch [colors]="selectedPaletteColors"></app-color-palette-swatch>
          </div>
        </div>
      </div>
    }

    <div title="Hier können Sie die Klassifizierungsmethode ändern.">
      <div style="font-weight: bold">Methode</div>
      <app-classification-method-select
        [defaultMethodId]="classificationState.classifyMethod"
        [hiddenMethodIds]="hiddenMethodIds"
        (onMethodSelect)="onMethodSelected($event)"
      ></app-classification-method-select>
    </div>

    <!-- number of classes -->
    @if (
      classificationState.classifyMethod !== 'manual' &&
      classificationState.classifyMethod !== 'regional_default'
    ) {
      <form class="nrClassSelection">
        <label>
          Anzahl Klassen
          <input
            type="number"
            min="3"
            max="7"
            (change)="onChangeNumberOfClasses()"
            value="{{ classificationState.numClasses }}"
            class="form-control"
            name="numClasses"
            [(ngModel)]="classificationState.numClasses"
          />
        </label>
      </form>
    }

    <!-- manual breaks -->
    @if (classificationState.classifyMethod === 'manual') {
      <div>
        @if (
          selectionState.selectedIndicator.indicatorType.includes('STATUS') &&
          !containsNegativeValues &&
          !chartDisplayState.isMeasureOfValueChecked &&
          !chartDisplayState.isBalanceChecked
        ) {
          <div class="histogramTabWrapper editableHistogram" (mouseover)="toggleAddBtn($event, 0)">
            <div class="breaksArea" (mousemove)="onBreaksMouseMove($event, 0)">
              <!-- add btn -->
              @if (showAddBtn[0]) {
                <div
                  class="addBtnWrapper breakWrapper"
                  [ngStyle]="{ top: addBtnHeight[0] + 'px' }"
                  (mouseover)="toggleAddBtn($event, 0)"
                >
                  <div class="addBtn" (click)="addNewBreaks(0)">+</div>
                  <div class="line"></div>
                </div>
              }
              <!-- other breaks -->
              @for (b of classificationState.manualBrew.breaks; track b; let i = $index) {
                <div
                  class="breakWrapper"
                  [ngStyle]="{ top: getPercentage(b, 0) + '%' }"
                  (mousedown)="onBreakMouseDown($event, i, 0)"
                  (dblclick)="onBreakDblClick($event, i, 0)"
                  [ngClass]="{
                    fixed: i === 0 || i === classificationState.manualBrew.breaks.length - 1,
                  }"
                >
                  <div
                    class="break"
                    [ngClass]="{
                      fixed: i === 0 || i === classificationState.manualBrew.breaks.length - 1,
                    }"
                  >
                    <!--<div class="colorBox"></div>-->
                    <input
                      type="number"
                      (blur)="onBreaksChanged($event, i, 0)"
                      [ngModelOptions]="{ updateOn: 'blur' }"
                      disabled
                      [ngClass]="{
                        fixed: i === 0 || i === classificationState.manualBrew.breaks.length - 1,
                      }"
                      min="{{ classificationState.manualBrew.breaks[0] }}"
                      max="{{
                        classificationState.manualBrew.breaks[
                          classificationState.manualBrew.breaks.length - 1
                        ]
                      }}"
                      [ngModel]="classificationState.manualBrew.breaks[i]"
                    />
                    @if (i != 0 && i != classificationState.manualBrew.breaks.length - 1) {
                      <i class="fa-regular fa-trash-can" (click)="deleteBreak(i, 0)"></i>
                    }
                  </div>
                  <div class="line"></div>
                </div>
              }
            </div>
            <!-- bars -->
            <div class="histogram">
              @for (b of classificationState.manualBrew.breaks; track b; let i = $index) {
                <div
                  class="histogramBar"
                  [ngStyle]="{
                    height: getHeightForBar(i) + '%',
                    width: getWidthForHistogramBar(i) + '%',
                    'background-color': classificationState.manualBrew.colors[i],
                  }"
                ></div>
              }
            </div>
          </div>
        }
        @if (chartDisplayState.isMeasureOfValueChecked) {
          <div class="histogramTabWrapper editableHistogram" (mousemove)="toggleAddBtn($event, 0)">
            <div class="breaksArea" (mousemove)="onBreaksMouseMove($event, 0)">
              <!-- add btn -->
              @if (showAddBtn[0]) {
                <div
                  class="addBtnWrapper breakWrapper"
                  [ngStyle]="{ top: addBtnHeight[0] + 'px' }"
                  (mouseover)="toggleAddBtn($event, 0)"
                >
                  <div class="addBtn" (click)="addNewBreaks(0)">+</div>
                  <div class="line"></div>
                </div>
              }
              <!-- measure of Value -->
              <div
                class="breakWrapper measureOfValue"
                [ngStyle]="{ top: getPercentage(chartDisplayState.measureOfValue, 0) + '%' }"
                (mousedown)="onBreaksMouseMove($event, 0)"
              >
                <div class="break fixed">
                  <!--<div class="colorBox"></div>-->
                  <span>{{ chartDisplayState.measureOfValue }}</span>
                </div>
                <div class="line"></div>
              </div>
              <!-- other breaks -->
              @for (b of classificationState.manualBrew.breaks; track b; let i = $index) {
                <div
                  class="breakWrapper"
                  [ngStyle]="{ top: getPercentage(b, 0) + '%' }"
                  (mousedown)="onBreakMouseDown($event, i, 0)"
                  (cblclick)="onBreakDblClick($event, i, 0)"
                  [ngClass]="{
                    fixed:
                      i === 0 ||
                      i === classificationState.manualBrew.breaks.length - 1 ||
                      breakIsUnalterable(classificationState.manualBrew.breaks[i]),
                  }"
                >
                  <div
                    class="break"
                    [ngClass]="{
                      fixed:
                        i === 0 ||
                        i === classificationState.manualBrew.breaks.length - 1 ||
                        breakIsUnalterable(classificationState.manualBrew.breaks[i]),
                    }"
                  >
                    <!--<div class="colorBox"></div>-->
                    <input
                      type="number"
                      (blur)="onBreaksChanged($event, i, 0)"
                      [ngModelOptions]="{ updateOn: 'blur' }"
                      disabled
                      [ngClass]="{
                        fixed:
                          i === 0 ||
                          i === classificationState.manualBrew.breaks.length - 1 ||
                          breakIsUnalterable(classificationState.manualBrew.breaks[i]),
                      }"
                      min="{{ classificationState.manualBrew.breaks[0] }}"
                      max="{{
                        classificationState.manualBrew.breaks[
                          classificationState.manualBrew.breaks.length - 1
                        ]
                      }}"
                      [ngModel]="classificationState.manualBrew.breaks[i]"
                    />
                    @if (
                      i != 0 &&
                      i != classificationState.manualBrew.breaks.length - 1 &&
                      !breakIsUnalterable(classificationState.manualBrew.breaks[i])
                    ) {
                      <i class="fa-regular fa-trash-can" (click)="deleteBreak(i, 0)"></i>
                    }
                  </div>
                  <div class="line"></div>
                </div>
              }
            </div>
            <!-- bars -->
            <div class="histogram">
              <div>
                @for (
                  b of classificationState.measureOfValueBrew[1].breaks;
                  track b;
                  let i = $index
                ) {
                  <div class="histogramBar">
                    @if (i != classificationState.measureOfValueBrew[1].breaks.length - 1) {
                      <div
                        [ngStyle]="{
                          height: getHeightForBarMOV(1, i) + '%',
                          width: getWidthForHistogramBarMOV(1, i) + '%',
                          'background-color': classificationState.measureOfValueBrew[1].colors[i],
                        }"
                      ></div>
                    }
                  </div>
                }
              </div>
              @for (
                b of classificationState.measureOfValueBrew[0].breaks;
                track b;
                let i = $index
              ) {
                <div class="histogramBar">
                  @if (i != classificationState.measureOfValueBrew[0].breaks.length - 1) {
                    <div
                      [ngStyle]="{
                        height: getHeightForBarMOV(0, i) + '%',
                        width: getWidthForHistogramBarMOV(0, i) + '%',
                        'background-color': classificationState.measureOfValueBrew[0].colors[i],
                      }"
                    ></div>
                  }
                </div>
              }
            </div>
          </div>
        }
        <!-- balance checked -- lower than values -->
        @if (
          (chartDisplayState.isBalanceChecked ||
            selectionState.selectedIndicator.indicatorType.includes('DYNAMIC') ||
            containsNegativeValues) &&
          !chartDisplayState.isMeasureOfValueChecked &&
          classificationState.dynamicBrew[1].breaks.length > 0
        ) {
          <div
            class="histogramTabWrapper editableHistogram editableHistogramDynamic"
            (mousemove)="toggleAddBtn($event, 1)"
          >
            <div class="breaksArea" (mousemove)="onBreaksMouseMove($event, 1)">
              @if (showAddBtn[1]) {
                <div
                  class="addBtnWrapper breakWrapper"
                  [ngStyle]="{ top: addBtnHeight[1] + 'px' }"
                  (mouseover)="toggleAddBtn($event, 1)"
                >
                  <div class="addBtn" (click)="addNewBreaks(1)">+</div>
                  <div class="line"></div>
                </div>
              }
              @for (b of classificationState.dynamicBrew[1].breaks; track b; let i = $index) {
                <div
                  class="breakWrapper"
                  [ngStyle]="{ top: getPercentage(b, 1) + '%' }"
                  (mousedown)="onBreakMouseDown($event, i, 1)"
                  (click)="onBreakDblClick($event, i, 1)"
                  [ngClass]="{
                    fixed: i === 0 || i === classificationState.dynamicBrew[1].breaks.length - 1,
                  }"
                >
                  <div
                    class="break"
                    [ngClass]="{
                      fixed: i === 0 || i === classificationState.dynamicBrew[1].breaks.length - 1,
                    }"
                  >
                    <input
                      type="number"
                      (blur)="onBreaksChangedDynamic($event, i, 1)"
                      [ngModelOptions]="{ updateOn: 'blur' }"
                      disabled
                      [ngClass]="{
                        fixed:
                          i === 0 || i === classificationState.dynamicBrew[1].breaks.length - 1,
                      }"
                      [ngModel]="classificationState.dynamicBrew[1].breaks[i]"
                    />
                    @if (i != 0 && i != classificationState.dynamicBrew[1].breaks.length - 1) {
                      <i class="fa-regular fa-trash-can" (click)="deleteBreak(i, 1)"></i>
                    }
                  </div>
                  <div class="line"></div>
                </div>
              }
            </div>
            <div class="histogram">
              @for (b of classificationState.dynamicBrew[1].breaks; track b; let i = $index) {
                <div class="histogramBar">
                  @if (i != classificationState.dynamicBrew[1].breaks.length - 1) {
                    <div
                      [ngStyle]="{
                        height: getHeightForBarDynamic(1, i) + '%',
                        width: getWidthForHistogramBarDynamic(1, i) + '%',
                        'background-color': classificationState.dynamicBrew[1].colors[i],
                      }"
                    ></div>
                  }
                </div>
              }
            </div>
          </div>
        }
        <!-- balance checked -- higher than values -->
        @if (
          (chartDisplayState.isBalanceChecked ||
            selectionState.selectedIndicator.indicatorType.includes('DYNAMIC') ||
            containsNegativeValues) &&
          !chartDisplayState.isMeasureOfValueChecked &&
          classificationState.dynamicBrew[0].breaks.length > 0
        ) {
          <div
            class="histogramTabWrapper editableHistogram editableHistogramDynamic"
            (mousemove)="toggleAddBtn($event, 0)"
          >
            <div class="breaksArea" (mousemove)="onBreaksMouseMove($event, 0)">
              @if (showAddBtn[0]) {
                <div
                  class="addBtnWrapper breakWrapper"
                  [ngStyle]="{ top: addBtnHeight[0] + 'px' }"
                  (mouseover)="toggleAddBtn($event, 0)"
                >
                  <div class="addBtn" (click)="addNewBreaks(0)">+</div>
                  <div class="line"></div>
                </div>
              }
              @for (b of classificationState.dynamicBrew[0].breaks; track b; let i = $index) {
                <div
                  class="breakWrapper"
                  [ngStyle]="{ top: getPercentage(b, 0) + '%' }"
                  (mousedown)="onBreakMouseDown($event, i, 0)"
                  (cblclick)="onBreakDblClick($event, i, 0)"
                  [ngClass]="{
                    fixed: i === 0 || i === classificationState.dynamicBrew[0].breaks.length - 1,
                  }"
                >
                  <div
                    class="break"
                    [ngClass]="{
                      fixed: i === 0 || i === classificationState.dynamicBrew[0].breaks.length - 1,
                    }"
                  >
                    <input
                      type="number"
                      (blur)="onBreaksChangedDynamic($event, i, 0)"
                      [ngModelOptions]="{ updateOn: 'blur' }"
                      disabled
                      [ngClass]="{
                        fixed:
                          i === 0 || i === classificationState.dynamicBrew[0].breaks.length - 1,
                      }"
                      [ngModel]="classificationState.dynamicBrew[0].breaks[i]"
                    />
                    @if (i != 0 && i != classificationState.dynamicBrew[0].breaks.length - 1) {
                      <i class="fa-regular fa-trash-can" (click)="deleteBreak(i, 0)"></i>
                    }
                  </div>
                  <div class="line"></div>
                </div>
              }
            </div>
            <div class="histogram">
              @for (b of classificationState.dynamicBrew[0].breaks; track b; let i = $index) {
                <div class="histogramBar">
                  @if (i != classificationState.dynamicBrew[0].breaks.length - 1) {
                    <div
                      [ngStyle]="{
                        height: getHeightForBarDynamic(0, i) + '%',
                        width: getWidthForHistogramBarDynamic(0, i) + '%',
                        'background-color': classificationState.dynamicBrew[0].colors[i],
                      }"
                    ></div>
                  }
                </div>
              }
            </div>
          </div>
        }
        <!--
      <div class="classificationBoxToogleSlidersWrapper">
        <span class="classificationBoxToogleSlidersLbl">
          <strong>Wertebereiche abrunden</strong>
        </span>
        <label class="switch" title="Wertebereiche abrunden">
          <input
            id="controlIndicatorClassifyOption_roundValues"
            type="checkbox"
            value="roundValues">
          <span class="switchslider round"></span>
        </label>
      </div>-->
      </div>
    }
    @if (!chartDisplayState.isBalanceChecked) {
      <div class="classificationBoxToogleSlidersWrapper">
        <span class="classificationBoxToogleSlidersLbl">
          <strong>Klassifizierung &uuml;ber die gesamte Zeitreihe</strong> &nbsp;
        </span>
        <label class="switch" title="Klassifizierung &uuml;ber die gesamte Zeitreihe">
          <input
            id="controlIndicatorClassifyOption_wholeTimeseries"
            type="checkbox"
            value="useWholeTimeseriesClassification"
            (change)="restyleCurrentLayer()"
            [(ngModel)]="envConfigService.classifyUsingWholeTimeseries"
            [checked]="envConfigService.classifyUsingWholeTimeseries"
          />
          <span class="switchslider round"></span>
        </label>
      </div>
    }

    @if (
      containsZeroValues &&
      classificationState.classifyMethod !== 'manual' &&
      classificationState.classifyMethod !== 'regional_default'
    ) {
      <div class="classificationBoxToogleSlidersWrapper">
        <span class="classificationBoxToogleSlidersLbl"
          ><strong>Wert "0" als separate Klasse darstellen</strong> &nbsp;</span
        >
        <label class="switch" title="0 als separate Klasse darstellen"
          ><input
            id="controlIndicatorZeroClassifyOption"
            type="checkbox"
            value="useSeparateZeroClass"
            [(ngModel)]="envConfigService.classifyZeroSeparately"
            [checked]="envConfigService.classifyZeroSeparately"
            (change)="restyleCurrentLayer()" /><span class="switchslider round"></span
        ></label>
      </div>
    }

    @if (
      (containsOutliers_high || containsOutliers_low) &&
      classificationState.classifyMethod !== 'manual' &&
      classificationState.classifyMethod !== 'regional_default'
    ) {
      <div class="classificationBoxToogleSlidersWrapper">
        <span class="classificationBoxToogleSlidersLbl"
          ><strong>Ausrei&szlig;er gesondert markieren</strong> &nbsp;</span
        >
        <label class="switch" title="Ausrei&szlig;er gesondert markieren"
          ><input
            id="controlIndicatorOutlierDetection"
            type="checkbox"
            value="useOutlierDetection"
            [(ngModel)]="envConfigService.useOutlierDetectionOnIndicator"
            [checked]="envConfigService.useOutlierDetectionOnIndicator"
            (change)="restyleCurrentLayer()" /><span class="switchslider round"></span
        ></label>
      </div>
    }
    @if (containsNoData) {
      <div class="classificationBoxToogleSlidersWrapper">
        <span class="classificationBoxToogleSlidersLbl">
          <strong>NoData-Werte tempor&auml;r aus Datensatz entfernen</strong> &nbsp;</span
        >
        <label class="switch" title="NoData-Werte tempor&auml;r aus Datensatz entfernen">
          <input
            id="controlNoDataDisplay"
            type="checkbox"
            value="useNoDataToggle"
            [ngModel]="envConfigService.useNoDataToggle"
            [checked]="envConfigService.useNoDataToggle"
            (change)="restyleCurrentLayer()"
          />
          <span class="switchslider round"></span>
        </label>
      </div>
    }
  </div>
</div>
