<div class="label">
  <b><i>* = Pflichtfeld</i></b>
</div>

<div class="row">
  <div class="col-md-4 col-sm-6">
    <div class="form-group">
      <label>Skriptname*</label>
      <input
        type="text"
        class="form-control"
        [ngModel]="metadata.name"
        (ngModelChange)="updateName($event)"
        placeholder="Name"
        required
      />
      <div class="help-block"><p>Name des anzulegenden Skripts.</p></div>
    </div>
  </div>
  <div class="col-md-8 col-sm-6">
    <div class="form-group">
      <label>Skript-Beschreibung*</label>
      <textarea
        rows="3"
        class="form-control"
        [ngModel]="metadata.description"
        (ngModelChange)="updateDescription($event)"
        placeholder="Beschreibung"
        required
      ></textarea>
      <div class="help-block">
        <p>Hinweise über die Berechnung des Ziel-Indikators.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-6">
    <div class="form-group">
      <label
        >Ziel-Indikator, der mittels des anzulegenden Skripts berechnet werden
        soll*</label
      >
      <div class="input-group mb-2">
        <span class="input-group-text"><i class="fas fa-filter"></i></span>
        <input
          type="text"
          class="form-control form-control-sm"
          placeholder="Stichwortfilter"
          [(ngModel)]="indicatorNameFilter"
        />
      </div>
      <select
        size="5"
        class="form-control"
        [ngModel]="metadata.associatedIndicatorId"
        (ngModelChange)="updateTargetIndicator($event)"
      >
        <option disabled [ngValue]="null">-- Ziel-Indikator wählen --</option>
        <option
          *ngFor="let indicator of filteredComputationIndicators"
          [ngValue]="indicator"
        >
          {{ indicator.indicatorName }} [{{ indicator.unit }}]
        </option>
      </select>
      <div class="help-block">
        <p>
          Nur Indikatoren mit Fortführungstyp "Berechnung durch KomMonitor".
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-6">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>ID des selektierten Ziel-Indikators</label>
          <input
            type="text"
            class="form-control form-control-sm"
            disabled
            [value]="targetIndicator?.indicatorId"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Name des selektierten Ziel-Indikators</label>
          <input
            type="text"
            class="form-control form-control-sm"
            disabled
            [value]="targetIndicator?.indicatorName"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Beschreibung des selektierten Ziel-Indikators</label>
          <textarea
            rows="4"
            class="form-control form-control-sm"
            disabled
            [value]="targetIndicator?.metadata?.description"
          ></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Einheit des selektierten Ziel-Indikators</label>
          <input
            type="text"
            class="form-control form-control-sm"
            disabled
            [value]="targetIndicator?.unit"
          />
        </div>
      </div>
    </div>
  </div>
</div>
