<app-admin-content-view
  title="Konfiguration von globalen Inhaltsfiltern"
  description="Globale themenspezifische Filter von Indikatoren und Georessourcen"
  [contentTemplate]="content"
>
</app-admin-content-view>

<ng-template #content>
  <expandable-box title="Globale Filter - Tabellenansicht" [collapsed]="false">
    <p>
      Gruppieren Sie Indikatoren, Georessourcen und Themen zu globalen Filtern. Beim Aufruf eines
      solchen Filters, wird KomMonitor den im Filter definierten Inhalten geladen.
    </p>

    <div class="adminTableButtonWrapper">
      <button class="btn btn-success btn-sm" type="button" (click)="onAddFilter()">
        <i class="fas fa-plus"></i>&nbsp;&nbsp;Erstellen
      </button>
    </div>
    <hr />
    <br />

    <ag-grid-angular
      #agGrid
      style="height: 70vh"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs()"
      [rowData]="rowData()"
      [gridOptions]="gridOptions"
      [defaultColDef]="gridOptions.defaultColDef"
      [pagination]="true"
      [paginationPageSize]="10"
      [rowSelection]="'multiple'"
      [suppressRowClickSelection]="true"
      [enableCellTextSelection]="true"
      [ensureDomOrder]="true"
      [suppressColumnVirtualisation]="true"
    >
    </ag-grid-angular>
  </expandable-box>

  <expandable-box title="Globale Filter - Konfigurationsdatei" [collapsed]="false">
    <p>
      Gruppieren Sie Indikatoren, Georessourcen und Themen zu globalen Filtern. Beim Aufruf eines
      solchen Filters, wird KomMonitor den im Filter definierten Inhalten geladen.
    </p>

    <hr />
    <br />
    <div class="row">
      <div class="col-md-6 col-sm-6 col-12">
        <div class="form-group">
          <label>Vorlage (Struktur und Standard-Einstellung)</label>
          <br />
          <br />
          <pre
            class="prettyprint linenums"
            style="max-height: 300px; overflow: auto; text-align: left"
            id="filterConfig_backupTemplate"
          ><code class="language-javascript" [innerHTML]="filterConfigTemplate"></code></pre>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-12">
        <div class="form-group">
          <label>derzeitige Konfiguration (aktuelle Wertbelegung)</label>
          <br />
          <br />
          <pre
            class="prettyprint linenums"
            style="max-height: 300px; overflow: auto; text-align: left"
            id="filterConfig_current"
          ><code class="language-javascript" [innerHTML]="filterConfigCurrent"></code></pre>
        </div>
      </div>
    </div>

    <hr />
    <br />

    <div class="row">
      <div class="col-md-6 col-sm-6 col-12">
        <div class="form-group">
          <label>Editierfenster der Filter-Konfiguration</label>
          <br />
          <br />
          <textarea id="filterConfigEditor"></textarea>
        </div>
        @if (configSettingInvalid()) {
          <div class="help-block with-errors">
            Bitte beachten Sie, dass alle notwendigen Parameter gem&auml;&szlig; der obigen Vorlage
            definiert werden m&uuml;ssen. Beachten Sie daher die vorgegebene JSON-Struktur. Der Text
            wird auf Schl&uuml;sselw&ouml;rter gepr&uuml;ft und es wird sichergestellt, dass valides
            JSON geparsed werden kann.
          </div>
        }
        @if (missingRequiredParameters().length > 0) {
          <div class="help-block with-errors">
            Fehlende Parameter: {{ missingRequiredParameters_string() }}
          </div>
        }
      </div>
      <div class="col-md-6 col-sm-6 col-12">
        <div class="form-group">
          <label>Vorschaufenster (neue Wertbelegung)</label>
          <br />
          <br />
          <pre
            class="prettyprint linenums"
            style="max-height: 300px; overflow: auto; text-align: left"
            id="filterConfig_new"
          ><code class="language-javascript" [innerHTML]="filterConfigNew"></code></pre>
        </div>
      </div>
    </div>

    <div class="row vertical-align">
      <!-- hide button to reset content as this will actually break the settings due to localhost standard config  -->
      <!-- <div class="col-md-6 col-sm-6 col-12">
            <div class="form-group">
              <button type="button" class="btn btn-warning vertical-align horizontal-align"
              (click)="resetDefaultConfig()">Standard-Einstellungen wiederherstellen</button>
            </div>
          </div>					 -->
      <div class="col-md-12 text-center">
        <div class="form-group">
          <button
            type="button"
            class="btn btn-success vertical-align horizontal-align"
            ng-disabled="configSettingInvalid()"
            (click)="editFilterConfig()"
          >
            Filter-Konfiguration speichern
          </button>
        </div>
      </div>
    </div>
  </expandable-box>
</ng-template>
