
<div class="row vertical-align">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group">
      <label>Auswahl des f&uuml;r die Berechnung erforderlichen Basis-Indikators</label>
      <div class="input-group">
        <span class="input-group-addon"><i class="fas fa-filter"></i></span>
        <input type="text" class="form-control input-sm" placeholder="Stichwortfilter" ng-model-options="{debounce: 500, blur: 0}"
          ng-model="$parent.indicatorNameFilter_compIndicator">
      </div>
      <br />
      <select ng-model="$parent.compIndicatorSelection" size="5" ng-change="$parent.onChangeComputationIndicator(compIndicatorSelection, box)"
        ng-options="indicatorMetadata as indicatorMetadata.indicatorName for indicatorMetadata in $ctrl.kommonitorDataExchangeServiceInstance.availableIndicators | filter:indicatorNameFilter_compIndicator"
        class="form-control">
        <option disabled selected value> -- Indikator als Berechnungsgrundlage w&auml;hlen --
        </option>
      </select>
      <div class="help-block with-errors"></div>
    </div>
  </div>
</div>

<div class="row vertical-align">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="form-group">
      <label>ID des selektierten Indikators</label>
      <input type="text" class="form-control input-sm" disabled placeholder="IndikatorenId"
        ng-model="$parent.compIndicatorSelection.indicatorId">
      <div class="help-block with-errors"></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="form-group">
      <label>Name des selektierten Indikators</label>
      <input type="text" class="form-control input-sm" disabled placeholder="IndikatorenName"
        ng-model="$parent.compIndicatorSelection.indicatorName">
      <div class="help-block with-errors"></div>
    </div>
  </div>
</div>

<div class="row vertical-align">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="form-group">
      <label>Beschreibung des selektierten Indikators</label>
      <textarea rows="4" class="form-control input-sm" disabled placeholder="IndikatorenBeschreibung"
        ng-model="$parent.compIndicatorSelection.metadata.description"></textarea>
      <div class="help-block with-errors"></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="form-group">
      <label>Einheit des selektierten Indikators</label>
      <input type="text" class="form-control input-sm" disabled placeholder="IndikatorenEinheit"
        ng-model="$parent.compIndicatorSelection.unit">
      <div class="help-block with-errors"></div>
    </div>
  </div>
</div>

<script>
	$('.box').boxWidget();
</script>