<app-admin-content-view
  [title]="'ADMIN_GEORESOURCES.TITLE' | translate"
  [description]="'ADMIN_SHARED.INFO' | translate"
  [controlsTemplate]="controls"
  [contentTemplate]="content"
>
</app-admin-content-view>

<ng-template #controls>
  <span>{{ 'ADMIN_SHARED.SHOW_ONLY_EDITABLE' | translate }}</span>
  <div>
    <label class="switch">
      <input
        type="checkbox"
        [ngModel]="tableViewSwitcher()"
        (ngModelChange)="tableViewSwitcher.set($event)"
      />
      <span class="switchslider round"></span>
    </label>
  </div>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-success btn-sm" ngbDropdownToggle>
      + {{ 'ADMIN_SHARED.CREATE' | translate }}
    </button>

    <div ngbDropdownMenu class="addButton_dropdownWrapper">
      <button ngbDropdownItem type="button" (click)="onClickAddGeoresource()">
        {{ 'ADMIN_GEORESOURCES.CREATE_POI_LOI_AOI' | translate }}
      </button>
      <button
        ngbDropdownItem
        type="button"
        (click)="wmsSharedComponentsService.openAddModal(WmsResourceType.GEORESOURCE)"
      >
        {{ 'ADMIN_GEORESOURCES.CREATE_WMS' | translate }}
      </button>
    </div>
  </div>
  <!-- edit features -->

  <!-- delete datasets -->
</ng-template>

<ng-template #content>
  <expandable-box title="Points of Interest">
    <ag-grid-angular
      class="ag-theme-alpine"
      style="height: 70vh; width: 100%"
      [rowData]="poiRowData()"
      [columnDefs]="poiColumnDefs"
      [defaultColDef]="defaultColDef"
      [suppressRowClickSelection]="true"
      [rowSelection]="'multiple'"
      [pagination]="true"
      [paginationPageSize]="10"
      [paginationPageSizeSelector]="paginationPageSizeSelector"
      [enableCellTextSelection]="true"
      [ensureDomOrder]="true"
      [suppressColumnVirtualisation]="true"
    >
    </ag-grid-angular>
  </expandable-box>

  <expandable-box title="Lines of Interest">
    <ag-grid-angular
      class="ag-theme-alpine"
      style="height: 70vh; width: 100%"
      [rowData]="loiRowData()"
      [columnDefs]="loiColumnDefs"
      [defaultColDef]="defaultColDef"
      [suppressRowClickSelection]="true"
      [rowSelection]="'multiple'"
      [pagination]="true"
      [paginationPageSize]="10"
      [paginationPageSizeSelector]="paginationPageSizeSelector"
      [enableCellTextSelection]="true"
      [ensureDomOrder]="true"
      [suppressColumnVirtualisation]="true"
    >
    </ag-grid-angular>
  </expandable-box>

  <expandable-box title="Areas of Interest">
    <ag-grid-angular
      class="ag-theme-alpine"
      style="height: 70vh; width: 100%"
      [rowData]="aoiRowData()"
      [columnDefs]="aoiColumnDefs"
      [defaultColDef]="defaultColDef"
      [suppressRowClickSelection]="true"
      [rowSelection]="'multiple'"
      [pagination]="true"
      [paginationPageSize]="10"
      [paginationPageSizeSelector]="paginationPageSizeSelector"
      [enableCellTextSelection]="true"
      [ensureDomOrder]="true"
      [suppressColumnVirtualisation]="true"
    >
    </ag-grid-angular>
  </expandable-box>

  <app-wms-admin-table [resourceType]="resourceType"></app-wms-admin-table>
</ng-template>
