<app-admin-content-view
  title="Verwalten der Geodaten"
  description="Info"
  [controlsTemplate]="controls"
  [contentTemplate]="content"
>
</app-admin-content-view>

<ng-template #controls>
  <span>Nur editierbare Datensätze anzeigen</span>
  <div>
    <label class="switch">
      <input
        type="checkbox"
        [(ngModel)]="tableViewSwitcher"
        (ngModelChange)="onTableViewSwitch()"
      />
      <span class="switchslider round"></span>
    </label>
  </div>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-success btn-sm" ngbDropdownToggle>+ Erstellen</button>

    <div ngbDropdownMenu class="addButton_dropdownWrapper">
      <button ngbDropdownItem type="button" (click)="onClickAddGeoresource()">
        POI / LOI / AOI erstellen
      </button>
      <button
        ngbDropdownItem
        type="button"
        (click)="wmsSharedComponentsService.openAddModal(WmsResourceType.GEORESOURCE)"
      >
        WMS erstellen
      </button>
    </div>
  </div>
  <!-- edit features -->

  <!-- delete datasets -->
</ng-template>

<ng-template #content>
  <expandable-box title="Points of Interest">
    <ag-grid-angular
      #poiGrid
      class="ag-theme-alpine"
      style="height: 70vh; width: 100%"
      [rowData]="[]"
      [columnDefs]="[]"
      [gridOptions]="poiGridOptions"
      [defaultColDef]="{
        editable: false,
        sortable: true,
        filter: true,
        floatingFilter: true,
        resizable: true,
        wrapText: true,
        autoHeight: true,
      }"
      [suppressRowClickSelection]="true"
      [rowSelection]="'multiple'"
      [pagination]="true"
      [paginationPageSize]="10"
      [enableCellTextSelection]="true"
      [ensureDomOrder]="true"
      [suppressColumnVirtualisation]="true"
    >
    </ag-grid-angular>
  </expandable-box>

  <expandable-box title="Lines of Interest">
    <ag-grid-angular
      #loiGrid
      class="ag-theme-alpine"
      style="height: 70vh; width: 100%"
      [rowData]="[]"
      [columnDefs]="[]"
      [gridOptions]="loiGridOptions"
      [defaultColDef]="{
        editable: false,
        sortable: true,
        filter: true,
        floatingFilter: true,
        resizable: true,
        wrapText: true,
        autoHeight: true,
      }"
      [suppressRowClickSelection]="true"
      [rowSelection]="'multiple'"
      [pagination]="true"
      [paginationPageSize]="10"
      [enableCellTextSelection]="true"
      [ensureDomOrder]="true"
      [suppressColumnVirtualisation]="true"
    >
    </ag-grid-angular>
  </expandable-box>

  <expandable-box title="Areas of Interest">
    <ag-grid-angular
      #aoiGrid
      class="ag-theme-alpine"
      style="height: 70vh; width: 100%"
      [rowData]="[]"
      [columnDefs]="[]"
      [gridOptions]="aoiGridOptions"
      [defaultColDef]="{
        editable: false,
        sortable: true,
        filter: true,
        floatingFilter: true,
        resizable: true,
        wrapText: true,
        autoHeight: true,
      }"
      [suppressRowClickSelection]="true"
      [rowSelection]="'multiple'"
      [pagination]="true"
      [paginationPageSize]="10"
      [enableCellTextSelection]="true"
      [ensureDomOrder]="true"
      [suppressColumnVirtualisation]="true"
    >
    </ag-grid-angular>
  </expandable-box>

  <app-wms-admin-table [resourceType]="resourceType"></app-wms-admin-table>
</ng-template>
