<div class="container-fluid">
  <div class="row row-no-gutters">
      <div class="col-sm-12 text-center">
          <!-- <h2 class="fs-title"></h2> -->
          <p>
              Möchten Sie einen neuen Report erstellen oder einen bestehenden Report anpassen?
          </p>
      </div>
  </div>
    <div class="select-wrapper">
        <button id="reporting-createNewReportBtn" class="btn btn-primary" (click)='reportingService.changeWorkflowState(workflowState.templateSelect)'>
            <i class="fa fa-plus"></i>
            Neuen Report erstellen
        </button>
        <button for="reporting-load-settings-button" class="btn btn-primary">
            <input type="file" id="reporting-load-settings-button">
            <i class="fa fa-file-download"></i>
            &nbsp;&nbsp;Konfigurationsdatei importieren
        </button>
    </div>
</div>

