:host {
  .hierarchy-topic-level-0 {
    background-color: var(--kommonitor-hierarchy-level-0);
  }
}

.style-hierarchy-selected-indicator-0 {
  background: linear-gradient(
    to right,
    var(--kommonitor-primary) 12px,
    var(--kommonitor-hierarchy-level-0) 12px
  ) !important;
}

.style-headline-indicator {
  background-color: #f7931e !important;
  color: #fff !important;
}

.list-group-item p {
  margin: 0.5em 0;
}

/* Collapse animation */
.collapse {
  transition: height 0.35s ease;
}

.collapse.in {
  display: block;
}

.list-group-item.active {
  background-color: var(--kommonitor-primary) !important;
  z-index: 10000 !important;
}
