<div class="language-switcher">
  <div class="dropdown">
    <button
      class="btn btn-link dropdown-toggle"
      type="button"
      id="languageDropdown"
      data-bs-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="flag">{{ getCurrentLanguageFlag() }}</span>
      <span class="language-name">{{ getCurrentLanguageName() }}</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="languageDropdown">
      @for (lang of supportedLanguages; track lang) {
        <a
          class="dropdown-item"
          href="#"
          (click)="changeLanguage(lang.code); $event.preventDefault()"
          [class.active]="lang.code === currentLanguage"
        >
          <span class="flag">{{ lang.flag }}</span>
          <span class="language-name">{{ lang.name }}</span>
        </a>
      }
    </div>
  </div>
</div>
