:host {

  .list-group-item div:first-child p {
    margin: .5em 0 !important;
  }

  .list-group-grid-item {
    display: grid;
    grid-template-columns: auto auto;
    cursor: pointer;
  }

  .poiList-downloadLink {
    color: var(--kommonitor-primary);
  }

  .export-column {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 1em;
  }

  .style-fav-normal-item-0 {
    background: var(--kommonitor-primary);
  }

  .style-fav-normal-item-2 {
    background: var(--kommonitor-primary-60);
  }

  .style-fav-normal-item-3 {
    background: var(--kommonitor-primary-40);
  }

  .style-fav-normal-item-1 {
    background: var(--kommonitor-primary-80);
  }

  .hierarchy-topic-level-0 {
    background-color: var(--kommonitor-hierarchy-level-0);
    color: #000 !important;
  }

  .hierarchy-topic-level-1 {
    background-color: var(--kommonitor-hierarchy-level-1);
    color: #000 !important;
  }

  .hierarchy-topic-level-2 {
    background-color: var(--kommonitor-hierarchy-level-2);
    color: #000 !important;
  }

  .hierarchy-topic-level-3 {
    background-color: var(--kommonitor-hierarchy-level-3);
    color: #000 !important;
  }
}