:host {

  .style-fav-normal-item-0 {
    background-color: var(--kommonitor-hierarchy-level-0);
    color: #000 !important;
  }

  .style-fav-normal-item-1 {
    background-color: var(--kommonitor-hierarchy-level-1);
    color: #000 !important;
  }

  .style-fav-normal-item-2 {
    background-color: var(--kommonitor-hierarchy-level-2);
    color: #000 !important;
  }

  .style-fav-normal-item-3 {
    background-color: var(--kommonitor-hierarchy-level-3);
    color: #000 !important;
  }

  .style-hierarchy-selected-poi-0, .style-fav-selected-poi-0 {
    background: linear-gradient(to right, var(--kommonitor-primary) 12px, var(--kommonitor-hierarchy-level-0) 12px) !important;
    color: #000 !important;
  }

  .style-hierarchy-selected-poi-1, .style-fav-selected-poi-1 {
    background: linear-gradient(to right, var(--kommonitor-primary) 12px, var(--kommonitor-hierarchy-level-1) 12px) !important;
    color: #000 !important;
  }

  .style-hierarchy-selected-poi-2, .style-fav-selected-poi-2 {
    background: linear-gradient(to right, var(--kommonitor-primary) 12px, var(--kommonitor-hierarchy-level-2) 12px) !important;
    color: #000 !important;
  }

  .style-hierarchy-selected-poi-3, .style-fav-selected-poi-3 {
    background: linear-gradient(to right, var(--kommonitor-primary) 12px, var(--kommonitor-hierarchy-level-3) 12px) !important;
    color: #000 !important;
  }

  .list-group-item div:first-child p, .georesources-grid-item.list-group-item p {
    margin: .5em 0 !important;
  }

  .list-group-grid-item {
    display: grid;
    grid-template-columns: auto auto;
    cursor: pointer;
  }

  .poiList-downloadLink {
    color: var(--kommonitor-primary);
  }

  .export-column {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 1em;
  }

  .hierarchy-topic-level-0 {
    background-color: var(--kommonitor-hierarchy-level-0);
    color: #000 !important;
  }

  .hierarchy-topic-level-1 {
    background-color: var(--kommonitor-hierarchy-level-1);
    color: #000 !important;
  }

  .hierarchy-topic-level-2 {
    background-color: var(--kommonitor-hierarchy-level-2);
    color: #000 !important;
  }

  .hierarchy-topic-level-3 {
    background-color: var(--kommonitor-hierarchy-level-3);
    color: #000 !important;
  }
}

/* Collapse animation */
.collapse {
  transition: height 0.35s ease;
}

.collapse.in {
  display: block;
}

.list-group-item.active {
  background-color: var(--kommonitor-primary) !important;
  z-index: 10000 !important;
}

.poiColorLegend {
  width: 15px;
  height: 15px;
}
