/* app css stylesheet */
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.wps-ui {
	height: 98vh;
	margin-top: 10px;
	margin-right: 2px;
}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #f1f1f1;
	height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

#header{
	background: #E6EEFB;
	z-index: 2000;
}

#content{
	background: #E6EEFB;
}

#map {
	height: 94.1vh;
	position: relative;
	z-index: 1;
}

#legend{
	position: absolute;
	bottom: 0;
	max-width: 200px;
}

#dateSlider{
	position: absolute;
  bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  left: 90px;
  right: 90px;
	z-index: 9999;
}

#dateSliderForComputation{
  margin-right: 20px;
  margin-left: auto;
  left: 20px;
  /* right: 40px; */
}

#dateSlider span{
	background-color: white;
	opacity: 0.8;
}

.hiddenTable {
  display: table;
  width: 100%;
  height: 100%;
}

.hiddenTableCell {
  display: table-cell;
  vertical-align: middle;
  text-align: center; /* the key */
  /* background-color: #EEEEEE; */
}

.hiddenTableContent {
  display: inline-block; /* important !! */
  /* background-color: #00FF00; */
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}


#dataManagementAccordion {
	margin-top:25px;
	height: auto !important;
	max-height: 700px;
  overflow-y: scroll;
}

#parameterManagement {
	margin-top:25px;
	height: auto !important;
	max-height: 600px;
  overflow-y: scroll;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
		max-width: 350px;
}
.legend i {
    width: 18px;
    height: 18px;
		max-width: 30px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#radarInputForm {
	height: auto !important;
	max-height: 130px;
  overflow-y: scroll;
}


.wrapper {
    display: flex;
		align-items: stretch;
    width: 100%;
		/* height: 94.1vh; */
		perspective: 1500px;
}

#sidebarIndicatorConfig {
    min-width: 780px;
    max-width: 780px;
		height: 94.1vh;
		/* min-height: 100vh; */
		background: #E6EEFB;
		transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#sidebarIndicatorConfig.hidden {
    /* margin-left: -780px; */
		transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}

#sidebarMeasureOfValueClassification {
    min-width: 780px;
    max-width: 780px;
		/* min-height: 100vh; */
		height: 94.1vh;
		background: #E6EEFB;
		transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#sidebarMeasureOfValueClassification.hidden {
    /* margin-left: -780px; */
		transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}

#sidebarDiagrams {
    min-width: 780px;
    max-width: 780px;
		/* min-height: 100vh; */
		height: 94.1vh;
		background: #E6EEFB;
		transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#sidebarDiagrams.hidden {
    /* margin-left: -780px; */
		transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}

#sidebarRadarDiagram {
    min-width: 780px;
    max-width: 780px;
		/* min-height: 100vh; */
		height: 94.1vh;
		background: #E6EEFB;
		transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#sidebarRadarDiagram.hidden {
    /* margin-left: -780px; */
		transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}

#sidebarRegressionDiagram {
    min-width: 780px;
    max-width: 780px;
		/* min-height: 100vh; */
		height: 94.1vh;
		background: #E6EEFB;
		transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#sidebarRegressionDiagram.hidden {
    /* margin-left: -780px; */
		transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}

#sidebarProcessing {
    min-width: 780px;
    max-width: 780px;
		/* min-height: 100vh; */
		height: 94.1vh;
		background: #E6EEFB;
		transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#sidebarProcessing.hidden {
    /* margin-left: -780px; */
		transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}

@media (max-width: 768px) {
    #sidebarIndicatorConfig {
        /* margin-left: -780px; */
				transform: rotateY(100deg);
    }
    #sidebarIndicatorConfig.hidden {
        margin-left: 0;
				transform: none;
    }

		#sidebarMeasureOfValueClassification {
        /* margin-left: -780px; */
				transform: rotateY(100deg);
    }
    #sidebarMeasureOfValueClassification.hidden {
        margin-left: 0;
				transform: none;
    }

		#sidebarDiagrams {
        /* margin-left: -780px; */
				transform: rotateY(100deg);
    }
    #sidebarDiagrams.hidden {
        margin-left: 0;
    }

		#sidebarRadarDiagram {
        /* margin-left: -780px; */
				transform: rotateY(100deg);
    }
    #sidebarRadarDiagram.hidden {
        margin-left: 0;
    }

		#sidebarRegressionDiagram {
        /* margin-left: -780px; */
				transform: rotateY(100deg);
    }
    #sidebarRegressionDiagram.hidden {
        margin-left: 0;
    }

		#sidebarProcessing {
        /* margin-left: -780px; */
				transform: rotateY(100deg);
    }
    #sidebarProcessing.hidden {
        margin-left: 0;
    }
}

#indicatorSetup{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 0px;
	z-index: 2000;
}

#indicatorMeasureOfValueClassification{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
	z-index: 2000;
}

#indicatorProcessing{
	margin-left: 35px;
	margin-right: 35px;
	margin-top: 10px;
	z-index: 2000;
}

#indicatorRadar{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	z-index: 2000;
}

#indicatorRegression{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	z-index: 2000;
}

#indicatorDiagrams{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	z-index: 2000;
}

.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 25px;
	left: 10px;
}

.btn-circle img {
	filter: invert(1);
	width:25px;
	height:25px;
}

.btn-docked {
	position: absolute;
  left: 0px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

.btn-docked img {
	filter: invert(1);
	width:40px;
	height:40px;
}

.btn-custom {
	background-color: #337ab7;
  color: white;
	position: absolute;
	z-index: 1000;
}

.btn-custom:hover {
	background-color: white;
  color: black;
  border: 2px solid #337ab7;
	position: absolute;
	z-index: 1000;
}

.btn-custom:hover img{
	filter: invert(0);
}

.btn-leaflet-custom{
	background-color: #f0f0f0;
  color: black;
	position: absolute;
	z-index: 1000;
}

.btn-leaflet-custom:hover {
	background-color: white;
  color: black;
  border: 2px solid #f0f0f0;
	position: absolute;
	z-index: 1000;
}

/* CUSTOM RANGE SLIDER  */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #337ab7;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #337ab7;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #337ab7;
}
input[type=range]::-ms-fill-upper {
  background: #337ab7;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
















/* openlayers */
.ol-scale-line {
    background: black;
    opacity: 0.65;
    padding: 5px;
  }

/* setup tab*/
#wpsSetupContainer{
	margin-top:25px;
}

#ChangeLanguageContainer {
	margin-top: 25px
}

/* capabilities tab */
#wpsCapabilitiesAccordion {
	margin-top:25px;
	height: auto !important;
	max-height: 650px;
    overflow-y: scroll;
}

/* processes tab */
#wpsProcessesContainer {
	margin-top: 25px;
}

#wpsProcessDescriptionAccordion {
	margin-top:25px;
	height: auto !important;
	max-height: 550px;
    overflow-y: scroll;
}

/* execute tab */
#wpsExecuteContainer {
	margin-top:25px;
}

#wpsExecuteAccordion {
	height: auto !important;
	max-height: 650px;
    overflow-y: scroll;
}

#executeInputChoose {
	margin-bottom:25px;
}

#executeOutputChoose {
	margin-bottom:25px;
}

#wps-execute-result-document {
	max-height: 650px;
    overflow-y: scroll;
}

#wps-execute-status-info-document {
	max-height: 650px;
    overflow-y: scroll;
}

#wps-execute-response-document {
	max-height: 650px;
    overflow-y: scroll;
}

#wps-execute-raw-output{
	max-height: 650px;
    overflow-y: scroll;
}

hr {
    height: 2px;
    background-color:#ababab;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.loading-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(128,128,128);
  top: 0;
  left: 0;
  border-radius: 5px;
  opacity: 0.8;
  z-index: 2001;
}

.loading-overlay .icon-spin {
  font-size: 25px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12.5px 0 0 -12.5px;

  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  -webkit-transform-origin: 50% 50%;
  transform-origin:50% 50%;
  -ms-transform-origin:50% 50%; /* IE 9 */
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
