/* app css stylesheet */

/* required to increase drowdown menu z-index in oder to let layer export options overlap menu buttons and map */
.dropdown-menu {
	z-index: 7000;
	/* overflow: hidden; */
}

#mailSuccessInfo{
    position: fixed;
    bottom: 20px;
    left:2%;
    width: 96%;
}

#mailErrorInfo{
    position: fixed;
    bottom: 20px;
    left:2%;
    width: 96%;
}

#outlierInfo{
    position: absolute;
    bottom: 50%;
    left:10%;
    width: 80%;
		z-index: 9999;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.wps-ui {
	height: 98vh;
	margin-top: 10px;
	margin-right: 2px;
}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #f1f1f1;
	height: 100%;
}

.radio-custom label{
	font-weight: unset;
}

.tour-backdrop {
	opacity: 0.6;
}

#feedbackForm {
	padding: 5px;
	overflow: auto;
	/* border: 2px solid rgb(91,192,222);
  border-radius: 8px; */
	max-height: 700px;
	height: auto;
}

#infoModal {
	z-index: 9999;
	overflow: auto;
}

.popover {
	min-width: 250px;
	width: auto;
	max-width: 500px;
}

.popover-title {
	background-color: #917d72;
	font-weight: bold;
}

.popover-content {
	background-color: #ad988c;
	font-weight: italic;
}

.popover-navigation {
	background-color: #917d72;
}

.popover.right>.arrow:after{
	border-right-color: #917d72;
}

.popover.left>.arrow:after{
	border-left-color: #917d72;
}

.popover.top>.arrow:after{
	border-top-color: #917d72;
}

.popover.bottom>.arrow:after{
	border-bottom-color: #917d72;
}

#processInputForm input:invalid+span:after {
  content: '✖';
  padding-left: 5px;
}

#processInputForm input:valid+span:after {
  content: '✓';
  padding-left: 5px;
}

/* Colors */
.awesome-marker-legend-icon-red {
  /* background: url('dependencies/leaflet-awesome-markers/images/markers-soft.png') no-repeat -10px -50px; */
	background-color: rgb(205,59,40);
}

.awesome-marker-legend-icon-orange {
  /* background: url('dependencies/leaflet-awesome-markers/images/markers-soft.png') no-repeat -43px -50px; */
	background-color: rgb(235,144,46);
}

.awesome-marker-legend-icon-beige {
	/* background: url('dependencies/leaflet-awesome-markers/images/markers-soft.png') no-repeat -403px -50px; */
		background-color: rgb(255,198,138);
}

.awesome-marker-legend-icon-green {
	/* background: url('dependencies/leaflet-awesome-markers/images/markers-soft.png') no-repeat -79px -50px; */
	background-color: rgb(108,166,36);
}

.awesome-marker-legend-icon-blue {
	/* background: url('dependencies/leaflet-awesome-markers/images/markers-soft.png') no-repeat -115px -50px; */
	background-color: rgb(53,161,209);
}

.awesome-marker-legend-icon-purple {
	/* background: url('dependencies/leaflet-awesome-markers/images/markers-soft.png') no-repeat -151px -50px; */
	background-color: rgb(198,77,175);
}

.awesome-marker-legend-icon-pink {
	/* background: url('dependencies/leaflet-awesome-markers/images/markers-soft.png') no-repeat -511px -50px; */
	background-color: rgb(255,138,232);
}

.awesome-marker-legend-icon-gray {
	/* background: url('dependencies/leaflet-awesome-markers/images/markers-soft.png') no-repeat -655px -50px; */
	background-color: rgb(163,163,163);
}

.awesome-marker-legend-icon-black {
	/* background: url('dependencies/leaflet-awesome-markers/images/markers-soft.png') no-repeat -689px -50px; */
	background-color: rgb(47,47,47);
}

.awesome-marker-legend-TransparentIcon-red {
  /* background: url('dependencies/leaflet-awesome-markers/images/markers-soft.png') no-repeat -10px -50px; */
	background-color: rgba(205,59,40, 0.6);
}

.awesome-marker-legend-TransparentIcon-orange {
  /* background: url('dependencies/leaflet-awesome-markers/images/markers-soft.png') no-repeat -43px -50px; */
	background-color: rgba(235,144,46,0.6);
}

.awesome-marker-legend-TransparentIcon-beige {
	/* background: url('dependencies/leaflet-awesome-markers/images/markers-soft.png') no-repeat -403px -50px; */
		background-color: rgba(255,198,138,0.6);
}

.awesome-marker-legend-TransparentIcon-green {
	/* background: url('dependencies/leaflet-awesome-markers/images/markers-soft.png') no-repeat -79px -50px; */
	background-color: rgba(108,166,36,0.6);
}

.awesome-marker-legend-TransparentIcon-blue {
	/* background: url('dependencies/leaflet-awesome-markers/images/markers-soft.png') no-repeat -115px -50px; */
	background-color: rgba(53,161,209,0.6);
}

.awesome-marker-legend-TransparentIcon-purple {
	/* background: url('dependencies/leaflet-awesome-markers/images/markers-soft.png') no-repeat -151px -50px; */
	background-color: rgba(198,77,175,0.6);
}

.awesome-marker-legend-TransparentIcon-pink {
	/* background: url('dependencies/leaflet-awesome-markers/images/markers-soft.png') no-repeat -511px -50px; */
	background-color: rgba(255,138,232,0.6);
}

.awesome-marker-legend-TransparentIcon-gray {
	/* background: url('dependencies/leaflet-awesome-markers/images/markers-soft.png') no-repeat -655px -50px; */
	background-color: rgba(163,163,163,0.6);
}

.awesome-marker-legend-TransparentIcon-black {
	/* background: url('dependencies/leaflet-awesome-markers/images/markers-soft.png') no-repeat -689px -50px; */
	background-color: rgba(47,47,47,0.6);
}

/* .marker-cluster div{
	width: 30px;
	height: 30px;
	border-radius: 15px;
} */

.cluster-small div{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin-left: 10px;
	margin-top: 10px;
	}

.cluster-medium div{
	width: 24px;
	height: 24px;
	border-radius: 12px;
	margin-left: 8px;
	margin-top: 8px;
	}

.cluster-large div{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	margin-left: 5px;
	margin-top: 5px;
	}

.cluster-small span{
	line-height: 20px;
}

.cluster-medium span{
	line-height: 24px;
}

.cluster-large span{
	line-height: 30px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

#header{
	background: rgb(236,240,245);
	z-index: 2000;
	border-bottom: 2px solid gray;
}

#content{
	background: rgb(236,240,245);
	/* overflow: auto; */
}

#map {
	height: 94vh;
	position: relative;
	z-index: 6500;
}

#legend{
	position: absolute;
	bottom: 0;
	/* width: 20%;
	max-width: 20%; */
}

#mapUtilButtons{
	width: 280px;
  height: 220px;
  position: absolute;
}

#sideBarButtons{
	margin-top: 90px;
  width: 90px;
  height: 80vh;
  position: absolute;
}

/* MAP UTIL BUTTONS */
#recenterMapButton {
	left: 80px;
	top: 10px;
}

#unselectFeaturesButton {
	left: 130px;
	top: 10px;
}

#exportMapButton {
	left: 180px;
	top: 10px;
}

.leaflet-left .leaflet-control-layers {
  /* display: inline-block; */
  /* float: none; */
	left: 220px;
	position: absolute;

	width: auto;
	/* max-width	: 600px;
	max-height : 350px; */
	overflow : auto;
}

.leaflet-left .leaflet-control-layers-expanded {

	width:500px;
	height: auto;
	overflow : auto;
}

.leaflet-left .leaflet-control-measure-interaction {
	width:275px;
	height: auto;
	overflow : auto;
}

.leaflet-left .leaflet-control-geosearch {
  /* display: inline-block; */
  /* float: none; */
	position: absolute;
	left: 70px;
	top: 100px;
}

.leaflet-left .leaflet-control-search {
  /* float: none; */
	position: absolute;
	left: 70px;
	top: 50px;
}

.leaflet-left .leaflet-control-measure{

	/* display: inline-block; */
	/* float: none; */
	position: absolute;
	left: 70px;
	top: 150px;
}

.leaflet-left .leaflet-control-easyPrint{

	/* display: inline-block; */
	/* float: none; */
	position: absolute;
	left: 170px;
}

.leaflet-control-layers-group-name{
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}

.leaflet-control-layers-group {
    margin-top: 20px;
}

.leaflet-touch .leaflet-control-layers-toggle {
    width: 35px;
		height: 35px;
}

.leaflet-touch .leaflet-bar a {
    width: 35px;
    height: 35px;
}

.leaflet-control-search .search-button {
    width: 35px;
    height: 35px;
		top: 5px;
		left: 20px;
    /* background: url(iconsFromPngTree/filter-icon.png) no-repeat 4px 4px #fff; */
		background-image: url(iconsFromPngTree/filter-icon.png);
		background-repeat: no-repeat;
		background-size: 60% 60%;
  	background-position: center;
}

.leaflet-touch .leaflet-control-measure .leaflet-control-measure-toggle {
	background-size: 20px 20px;
}

.leaflet-control-search .search-button:hover {
    /* background: url(iconsFromPngTree/filter-icon.png) no-repeat 4px 4px #fff; */
		background-image: url(iconsFromPngTree/filter-icon.png);
		background-repeat: no-repeat;
		background-size: 60% 60%;
  	background-position: center;
}


.chart {
	overflow:auto;
}

#dateSliderWrapper{
	position: absolute;
  bottom: 25px;
  margin-right: auto;
  margin-left: auto;
  left: 100px;
  right: 20px;
	z-index: 8000;
	font: 16px/18px Arial, Helvetica, sans-serif;
	/* border: 2px solid black;
  border-radius: 8px; */
}

#dateSliderWrapper .irs-grid-text{
	color: black;
	font-size: 16px;
	margin-top: 3px;
	padding: 0px 5px;
	/* font-weight: bold; */
	background-color: white;
  border-radius: 3px;
	line-height: 20px;
	/* opacity: 0.8; */
}

#dateSliderWrapper .irs-min{
	font-size: 16px;
	/* opacity: 0.8; */
}

#dateSliderWrapper .irs-single{
	font-size: 16px;
	/* opacity: 0.8; */
}

.irs-handle:hover {
	cursor: pointer;
}

.irs-bar:hover {
	cursor: pointer;
	filter: brightness(85%);
}

#dateSliderWrapper .irs--big .irs-line {
	background-color: #92bce0;
  border: 1px solid #428bca;
  background: linear-gradient(to bottom, #ffffff 0%, #428bca 30%, #b9d4ec 100%);
}

#dateSliderForComputationWrapper .irs--big .irs-line {
	background-color: #92bce0;
  border: 1px solid #428bca;
  background: linear-gradient(to bottom, #ffffff 0%, #428bca 30%, #b9d4ec 100%);
}

.irs-line:hover {
	cursor: pointer;
	filter: brightness(85%);
}

#dateSliderForComputation{
  margin-right: 20px;
  margin-left: auto;
  left: 20px;
  /* right: 40px; */
}

#rangeSliderForBalanceWrapper{
  margin-right: 10px;
  margin-left: auto;
  left: 10px;
  /* right: 40px; */
}

#rangeSliderForFilteringWrapper{
	margin-right: 10px;
  margin-left: auto;
  left: 10px;
  /* right: 40px; */
}

/*
					table, th, td {
						border: inherit !important;
						border-collapse:inherit !important;
						font-family: arial;
						font-size: 100% !important;
						color: #555 !important;
					}
					th, td {
						valign: top !important;
						text-align: left !important;
					}
					th {
						background-color: white !important;
					} */

.vertical-align {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

#drop_zone {
  border: 5px solid #d6d6d6;
	border-radius: 10px;
	border-style: dashed;
	text-align: center;
	valign: center;
	color: "#d6d6d6"
  width:  60%;
  height: 40%;
}

.hiddenTable {
  display: table;
  width: 100%;
  height: 100%;
}

.hiddenTableCell {
  display: table-cell;
  vertical-align: middle;
  text-align: center; /* the key */
  /* background-color: #EEEEEE; */
}

.hiddenTableContent {
  display: inline-block; /* important !! */
  /* background-color: #00FF00; */
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}


#dataManagementAccordion {
	margin-top:25px;
	height: auto !important;
	max-height: 700px;
  overflow: auto;
}

#parameterManagement {
	margin-top:25px;
	height: auto !important;
	max-height: 525px;
	overflow: auto;
	font: 12px/14px Arial, Helvetica, sans-serif;
}

.info {
    padding: 6px 8px;
    font: 12px/14px Arial, Helvetica, sans-serif;
    background: white;
    /* background: rgba(255,255,255,1); */
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;

		min-width: 250px;
		width: auto;
		max-width: 350px;
		height: auto !important;
		max-height: 350px;
		overflow: auto;
}
.info h4 {
    margin: 0 0 5px;
		font: 16px/18px Arial, Helvetica, sans-serif;
    color: #777;
}

.legend {
		padding: 6px 8px;
		font: 12px/14px Arial, Helvetica, sans-serif;
		background: white;
		/* background: rgba(255,255,255,1); */
		box-shadow: 0 0 15px rgba(0,0,0,0.2);
		border-radius: 5px;
    line-height: 18px;
    color: #555;
		width: 50%;
		max-width: 300px;
		height: auto !important;
		max-height: 400px;
	  overflow: auto;
}
.legend i {
    width: 18px;
    height: 18px;
		max-width: 30px;
    float: left;
    margin-right: 8px;
}
.legend h4 {
    margin: 0 0 5px;
		font: 16px/18px Arial, Helvetica, sans-serif;
    color: #777;
}

.wfsInputForm td i {
	margin-left: 12px;
	width: 18px;
	float: left;
	height: 18px;
}

.leaflet-right .legendMap{
    margin-bottom: 90px;
}

.legendMap {
		padding: 6px 8px;
		font: 12px/14px Arial, Helvetica, sans-serif;
		background: white;
		/* background: rgba(255,255,255,1); */
		box-shadow: 0 0 15px rgba(0,0,0,0.2);
		border-radius: 5px;
    line-height: 18px;
    color: #555;
		min-width: 315px;
		width: auto;
		max-width: 350px;
		height: auto !important;
		max-height: 400px;
	  overflow: auto;
		display: inline-block
}
.legendMap i {
    width: 18px;
    height: 18px;
		max-width: 30px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.legendMap h4 {
    margin: 0 0 5px;
		font: 16px/18px Arial, Helvetica, sans-serif;
    color: #777;
}



#radarInputForm {
	padding: 5px;
	padding-left: 15px;
	height: auto;
	max-height: 170px;
	font-size: 12px;
	border: 2px solid gray;
  border-radius: 8px;
  overflow: auto;
}

#poiInputForm {
	padding: 5px;
	height: auto !important;
	max-height: 500px;
	max-width: 100%;
	font-size: 12px;
	border: 2px solid gray;
  border-radius: 8px;
  overflow: auto;
}

#wmsInputForm {
	padding: 5px;
	height: auto !important;
	max-height: 500px;
	max-width: 100%;
	font-size: 11px;
	border: 2px solid gray;
  border-radius: 8px;
  overflow: auto;
}

#wfsInputForm {
	padding: 5px;
	height: auto !important;
	max-height: 500px;
	max-width: 100%;
	font-size: 11px;
	border: 2px solid gray;
  border-radius: 8px;
  overflow: auto;
}

#referencedIndicatorOverview {
	height: auto !important;
	max-height: 200px;
  overflow: auto;
	font: 12px/14px Arial, Helvetica, sans-serif;
}

#referencedGeoresourcesOverview {
	height: auto !important;
	max-height: 200px;
  overflow: auto;
	font: 12px/14px Arial, Helvetica, sans-serif;
}


.kmWrapper {
    display: flex;
		align-items: stretch;
    width: 100%;
		/* height: 94vh; */
		perspective: 1500px;
}

#sidebarIndicatorConfig {
 		/* min-width: 35%; */
    max-width: 35%;
		width:100%;
		height: 94vh;
		max-height: 94vh;
		/* min-height: 100vh; */
		background: rgb(236,240,245);
		transition: opacity 0.3s;
		overflow: auto;
}

#sidebarIndicatorConfig.disappear {
	width: 0;
	opacity: 0;
}

#sidebarFilter {
    /* min-width: 35%; */
    max-width: 35%;
		width:100%;
		height: 94vh;
		max-height: 98%;
		/* min-height: 100vh; */
		background: rgb(236,240,245);
		transition: opacity 0.3s;
		overflow-y: auto;
		overflow-x: hidden;
}

#sidebarFilter.disappear {
	width: 0;
	opacity: 0;
}

#sidebarBalance {
	/* min-width: 35%; */
	max-width: 35%;
	width:100%;
		height: 94vh;
		/* min-height: 100vh; */
		background: rgb(236,240,245);
		transition: opacity 0.3s;
		overflow: auto;
}

#sidebarBalance.disappear {
	width: 0;
	opacity: 0;
}

#sidebarReachability {
	/* min-width: 35%; */
	max-width: 35%;
	width:100%;
		height: 94vh;
		/* min-height: 100vh; */
		background: rgb(236,240,245);
		transition: opacity 0.3s;
		overflow: auto;
}

#sidebarReachability.disappear {
	width: 0;
	opacity: 0;
}

#sidebarDiagrams {
	/* min-width: 42%; */
	max-width: 42%;
	width:100%;
		/* min-height: 100vh; */
		height: 94vh;
		background: rgb(236,240,245);
		transition: opacity 0.3s;
		overflow: auto;
}

#sidebarDiagrams.disappear {
	width: 0;
	opacity: 0;
}

#sidebarRadarDiagram {
	/* min-width: 42%; */
	max-width: 42%;
	width:100%;
		/* min-height: 100vh; */
		height: 94vh;
		background: rgb(236,240,245);
	transition: opacity 0.3s;
		overflow: auto;
}

#sidebarRadarDiagram.disappear {
	width: 0;
	opacity: 0;
}

#sidebarPoi {
	/* min-width: 35%; */
	max-width: 35%;
	width:100%;
		/* min-height: 100vh; */
		height: 94vh;
		background: rgb(236,240,245);
transition: opacity 0.3s;
		overflow: auto;
}

#sidebarPoi.disappear {
	width: 0;
	opacity: 0;
}

#sidebarDataImport {
	/* min-width: 35%; */
	max-width: 35%;
	width:100%;
		/* min-height: 100vh; */
		height: 94vh;
		background: rgb(236,240,245);
transition: opacity 0.3s;
		overflow: auto;
}

#sidebarDataImport.disappear {
	width: 0;
	opacity: 0;
}

#sidebarRegressionDiagram {
	/* min-width: 42%; */
	max-width: 42%;
	width:100%;
		/* min-height: 100vh; */
		height: 94vh;
		background: rgb(236,240,245);
transition: opacity 0.3s;
		overflow: auto;
}

#sidebarRegressionDiagram.disappear {
	width: 0;
	opacity: 0;
}

#sidebarProcessing {
	/* min-width: 35%; */
	max-width: 35%;
	width:100%;
	font-size: 11px;
		/* min-height: 100vh; */
		height: 94vh;
		background: rgb(236,240,245);
		transition: opacity 0.3s;
		overflow: auto;
}

#sidebarProcessing.disappear {
	width: 0;
	opacity: 0;
}

#indicatorSetup{
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 1%;
	font-size: 12px;
	z-index: 7000;
	height: 99%;
	max-height: 99%;
	overflow: auto;
}

#kommonitorFilter{
	margin-left: 1%;
	margin-right: 1%;
	font-size: 12px;
	/* margin-top: 1%x; */
	z-index: 7000;
	height: 99%;
	max-height: 99%;
	overflow: auto;
}

#kommonitorBalance{
	margin-left: 1%;
	margin-right: 1%;
	font-size: 12px;
	/* margin-top: 1%; */
	z-index: 7000;
	height: 99%;
	max-height: 99%;
	overflow: auto;
}

#kommonitorReachability{
	margin-left: 1%;
	margin-right: 1%;
	font-size: 12px;
	/* margin-top: 1%; */
	z-index: 7000;
	height: 99%;
	max-height: 99%;
	overflow: auto;
}

#indicatorProcessing{
	margin-left: 1%;
	margin-right: 1%;
	font-size: 12px;
	/* margin-top: 1%; */
	z-index: 7000;
	/* do not specify height, as this will put a lot of empty space on page*/
	/* height: 98%; */
	height: 99%;
	max-height: 99%;
	overflow: auto;
}

#indicatorRadar{
	margin-left: 1%;
	margin-right: 1%;
	font-size: 12px;
	/* margin-top: 1%; */
	z-index: 7000;
	height: 99%;
	max-height: 99%;
	overflow: auto;
}

#poi{
	margin-left: 1%;
	margin-right: 1%;
	font-size: 12px;
	/* margin-top: 1%; */
	z-index: 7000;
	height: 99%;
	max-height: 99%;
	overflow: auto;
}

#dataImport{
	margin-left: 1%;
	margin-right: 1%;
	font-size: 12px;
	/* margin-top: 1%; */
	z-index: 7000;
	height: 99%;
	max-height: 99%;
	overflow: auto;
}

#indicatorRegression{
	margin-left: 1%;
	margin-right: 1%;
	font-size: 12px;
	/* margin-top: 1%; */
	z-index: 7000;
	/* do not specify height, as this will put a lot of empty space on page*/
	/* height: 98%; */
	height: 99%;
	max-height: 99%;
	overflow: auto;
}

#indicatorDiagrams{
	margin-left: 1%;
	margin-right: 1%;
	font-size: 12px;
	/* margin-top: 1%; */
	z-index: 7000;
	height: 99%;
	max-height: 99%;
	overflow: auto;
}

.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 25px;
	left: 10px;
}

.btn-circle img {
	filter: invert(1);
	width:25px;
	height:25px;
}

.btn-docked {
	position: absolute;
  left: 0px;
  transition: 0.3s;
  padding: 6px 0;
  width: 75px;
	height: 55px;
  text-decoration: none;
  font-size: 14px;
  color: white;
  border-radius: 0 5px 5px 0;
	background-color: rgb(236,240,245);
}

.btn-docked img {
	/* filter: invert(1); */
	width:30px;
	height:30px;
}

.btn-custom {
	background-color: #337ab7;
  color: white;
	position: absolute;
	z-index: 1000;
}

.btn-custom:hover {
	background-color: white;
  color: black;
  border: 2px solid #337ab7;
	position: absolute;
	z-index: 1000;
}

.btn-custom:hover img{
	filter: invert(0);
}

.btn-custom-docked {
	background-color: rgb(236,240,245);
  color: black;
	position: absolute;
	z-index: 1000;
}

.btn-leaflet-custom{
	background-color: #fff;
	width: 39px;
	height: 39px;
  color: black;
	position: absolute;
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	z-index: 1000;
}

.btn-leaflet-custom:hover {
	background-color: rgba(244,244,244,1);
  color: black;
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
	position: absolute;
	z-index: 1000;
}

/* CUSTOM RANGE SLIDER  */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 30px;
  width: 13px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -11px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 13px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 13px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #337ab7;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #337ab7;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #337ab7;
}
input[type=range]::-ms-fill-upper {
  background: #337ab7;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

hr {
    height: 2px;
    background-color:#ababab;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.loading-overlay-sidebar {
  width: 42%;
  height: 100%;
  position: absolute;
  background-color: rgb(128,128,128);
  top: 0;
  left: 0;
  border-radius: 5px;
  opacity: 0.8;
  z-index: 7000;
}

.loading-overlay-sidebar .icon-spin {
  font-size: 25px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12.5px 0 0 -12.5px;

  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  -webkit-transform-origin: 50% 50%;
  transform-origin:50% 50%;
  -ms-transform-origin:50% 50%; /* IE 9 */
}

.loading-overlay-sidebar-small {
  width: 35%;
  height: 100%;
  position: absolute;
  background-color: rgb(128,128,128);
  top: 0;
  left: 0;
  border-radius: 5px;
  opacity: 0.8;
  z-index: 7000;
}

.loading-overlay-sidebar-small .icon-spin {
  font-size: 25px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12.5px 0 0 -12.5px;

  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  -webkit-transform-origin: 50% 50%;
  transform-origin:50% 50%;
  -ms-transform-origin:50% 50%; /* IE 9 */
}

.loading-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(128,128,128);
  top: 0;
  left: 0;
  border-radius: 5px;
  opacity: 0.8;
  z-index: 7000;
}

.loading-overlay .icon-spin {
  font-size: 25px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -12.5px 0 0 -12.5px;

  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  -webkit-transform-origin: 50% 50%;
  transform-origin:50% 50%;
  -ms-transform-origin:50% 50%; /* IE 9 */
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switchslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switchslider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switchslider {
  background-color: rgb(51,122,183);
}

input:focus + .switchslider {
  box-shadow: 0 0 1px rgb(51,122,183);
}

input:checked + .switchslider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switchslider.round {
  border-radius: 20px;
}

.switchslider.round:before {
  border-radius: 50%;
}
