<div class="modal-header">
  <h4 class="modal-title">
    Metadaten der Raumebene
    <i
      ><b>{{ currentSpatialUnitDataset?.spatialUnitLevel }}</b></i
    >
    editieren
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
</div>

<div class="modal-body">
  <div align="center">
    <div
      class="loading-overlay-admin-panel"
      [class.ng-hide]="!loadingData"
      [style.display]="loadingData ? 'block' : 'none'"
    >
      <span class="glyphicon glyphicon-refresh icon-spin"></span>
    </div>
  </div>

  <!-- MultiStep Form -->
  <div class="row">
    <div class="col-md-12">
      <form
        role="form"
        class="multiStepForm form-group"
        id="spatialUnitEditMetadataForm"
        #spatialUnitEditMetadataForm="ngForm"
        data-toggle="validator"
        style="margin-bottom: 0px"
        (ngSubmit)="onSubmit()"
      >
        <!-- progressbar -->
        <div>
          <ul id="progressbar">
            <li
              [class.active]="currentStep >= 1"
              [class.clickable]="true"
              (click)="goToStep(1)"
              style="width: 50%; cursor: pointer"
            >
              Metadaten der Raumebene
            </li>
            <li
              [class.active]="currentStep >= 2"
              [class.clickable]="true"
              (click)="goToStep(2)"
              style="width: 50%; cursor: pointer"
            >
              Allgemeine Metadaten
            </li>
          </ul>
        </div>

        @if (currentStep === 1) {
          <fieldset>
            <h2 class="fs-title">Metadaten der Raumebene</h2>
            <h3 class="fs-subtitle">Angaben über die Raumebene</h3>
            <p>
              <b><i>* = Pflichtfeld</i></b>
            </p>
            <div class="row vertical-align">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Name der Raumebene*</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="spatialUnitLevel"
                    name="spatialUnitLevel"
                    (ngModelChange)="checkSpatialUnitName()"
                    placeholder="eindeutiger Name"
                    required
                  />
                  <div class="help-block with-errors"></div>
                  @if (spatialUnitLevelInvalid) {
                    <div style="color: red">
                      <p>
                        Eingabe ungültig. Es existiert bereits eine Raumebene mit gleichem Namen.
                      </p>
                    </div>
                  }
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Hierarchie: nächst niedrigere Ebene</label>
                  <select
                    [(ngModel)]="nextLowerHierarchySpatialUnit"
                    name="nextLowerHierarchy"
                    (ngModelChange)="checkSpatialUnitHierarchy()"
                    class="form-control"
                  >
                    <option [ngValue]="null" disabled [selected]="!nextLowerHierarchySpatialUnit">
                      -- Raumebene wählen --
                    </option>
                    <option [ngValue]="null">-- keine (neue unterste Ebene) --</option>
                    @for (value of availableSpatialUnits; track value) {
                      <option [ngValue]="value">
                        {{ value.spatialUnitLevel }}
                      </option>
                    }
                  </select>
                  <div class="help-block">
                    <p>
                      Eintrag kann im Nachhinein mittels Metadaten-Editier-Funktion gesetzt werden
                    </p>
                  </div>
                  <div class="help-block with-errors"></div>
                  @if (hierarchyInvalid) {
                    <div style="color: red">
                      <p>Eingabe ungültig. Definierte Hierarchie ist nicht erlaubt.</p>
                    </div>
                  }
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Hierarchie: nächst höhere Ebene</label>
                  <select
                    [(ngModel)]="nextUpperHierarchySpatialUnit"
                    name="nextUpperHierarchy"
                    (ngModelChange)="checkSpatialUnitHierarchy()"
                    class="form-control"
                  >
                    <option [ngValue]="null" disabled [selected]="!nextUpperHierarchySpatialUnit">
                      -- Raumebene wählen --
                    </option>
                    <option [ngValue]="null">-- keine (neue oberste Ebene) --</option>
                    @for (value of availableSpatialUnits; track value) {
                      <option [ngValue]="value">
                        {{ value.spatialUnitLevel }}
                      </option>
                    }
                  </select>
                  <div class="help-block">
                    <p>
                      Eintrag kann im Nachhinein mittels Metadaten-Editier-Funktion gesetzt werden
                    </p>
                  </div>
                  <div class="help-block with-errors"></div>
                  @if (hierarchyInvalid) {
                    <div style="color: red">
                      <p>Eingabe ungültig. Definierte Hierarchie ist nicht erlaubt.</p>
                    </div>
                  }
                </div>
              </div>
            </div>
            <div class="row vertical-align">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>als Umringslayer markieren?</label> <br />
                  <label class="switch">
                    <input type="checkbox" [(ngModel)]="isOutlineLayer" name="isOutlineLayer" />
                    <span class="switchslider round"></span>
                  </label>
                  <div class="help-block">
                    <p>
                      wenn markiert, dann wird in der Kartenapplikation in der Layersteuerung ein
                      entsprechender Eintrag zur Darstellung der Raumebenenumringe angeboten
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                @if (isOutlineLayer) {
                  <div class="form-group" align="center">
                    <label>Linienfarbe (Umringslayer)</label> <br />
                    <km-color-picker
                      [(color)]="outlineColor"
                      label="Linienfarbe wählen"
                    ></km-color-picker>
                    <div class="help-block with-errors"></div>
                  </div>
                }
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                @if (isOutlineLayer) {
                  <div class="form-group" align="center">
                    <label>Linienbreite (Umringslayer)</label>
                    <br />
                    <input
                      style="width: auto"
                      type="number"
                      [(ngModel)]="outlineWidth"
                      name="outlineWidth"
                      min="1"
                      max="5"
                      step="1"
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                }
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                @if (isOutlineLayer) {
                  <div class="form-group" align="center">
                    <km-line-pattern-picker
                      [selectedPattern]="selectedOutlineDashArrayObject"
                      [options]="availableLinePatternOptions"
                      [label]="'Linienmuster (Umringslayer)'"
                      [placeholder]="'Linienmuster wählen'"
                      [width]="'200px'"
                      (patternChange)="onChangeOutlineDashArray($event)"
                    >
                    </km-line-pattern-picker>
                  </div>
                }
              </div>
            </div>
            <div class="button-container">
              <input
                type="button"
                name="next"
                class="next next_editSpatialUnit action-button"
                value="Nächster Schritt"
                (click)="nextStep()"
              />
            </div>
          </fieldset>
        }

        @if (currentStep === 2) {
          <fieldset>
            <h2 class="fs-title">Allgemeine Metadaten</h2>
            <h3 class="fs-subtitle">Angaben über allgemeine Metadaten in KomMonitor</h3>
            <p>
              <b><i>* = Pflichtfeld</i></b>
            </p>
            <div class="row vertical-align">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Beschreibung*</label>
                  <textarea
                    rows="3"
                    class="form-control"
                    [(ngModel)]="metadata.description"
                    name="description"
                    placeholder="Datensatz Beschreibung"
                    required
                  ></textarea>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Datenbasis</label>
                  <textarea
                    rows="3"
                    class="form-control"
                    [(ngModel)]="metadata.databasis"
                    name="databasis"
                    placeholder="optionale Beschreibung etwaiger grundlegender Daten, die zur Erzeugung des Datensatzes beitragen"
                  ></textarea>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Datenquelle*</label>
                  <textarea
                    rows="3"
                    class="form-control"
                    [(ngModel)]="metadata.datasource"
                    name="datasource"
                    placeholder="Beschreibung der Datenquelle"
                    required
                  ></textarea>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Datenhalter und Kontakt*</label>
                  <textarea
                    rows="3"
                    class="form-control"
                    [(ngModel)]="metadata.contact"
                    name="contact"
                    placeholder="Beschreibung des Datenhalters und etwaiger Kontaktinformationen"
                    required
                  ></textarea>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
            <div class="row vertical-align">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Aktualisierungszyklus*</label>
                  <select
                    [(ngModel)]="metadata.updateInterval"
                    name="updateInterval"
                    class="form-control"
                    required
                  >
                    <option [ngValue]="null" disabled [selected]="!metadata.updateInterval">
                      -- Aktualisierungszyklus wählen --
                    </option>
                    @for (value of updateIntervalOptions; track value) {
                      <option [ngValue]="value">
                        {{ value.displayName }}
                      </option>
                    }
                  </select>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Datum der letzten Aktualisierung*</label>
                  <km-date-picker
                    name="lastUpdate"
                    placeholder="YYYY-MM-DD"
                    [(ngModel)]="metadata.lastUpdate"
                    [required]="true"
                  ></km-date-picker>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Literatur</label>
                  <textarea
                    rows="3"
                    class="form-control"
                    [(ngModel)]="metadata.literature"
                    name="literature"
                    placeholder="optionale Angaben zu Literatur"
                  ></textarea>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                  <label>Bemerkung</label>
                  <textarea
                    rows="3"
                    class="form-control"
                    [(ngModel)]="metadata.note"
                    name="note"
                    placeholder="optionale Bemerkung"
                  ></textarea>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
            <div class="button-container">
              <input
                type="button"
                name="previous"
                class="previous previous_editSpatialUnit action-button-previous"
                value="Voriger Schritt"
                (click)="previousStep()"
              />
            </div>
          </fieldset>
        }
      </form>
    </div>
  </div>
  <!-- /.MultiStep Form -->
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default pull-left" (click)="cancel()">Schließen</button>

  <button
    type="button"
    class="btn btn-info pull-left"
    (click)="onImportSpatialUnitEditMetadata()"
    title="Importieren der Metadaten aus einer Datei"
  >
    <i class="fas fa-file-import"></i>&nbsp;&nbsp;Metadaten-Import
  </button>

  <input
    #metadataImportFile
    style="display: none"
    type="file"
    class="form-control"
    accept=".json"
    (change)="onMetadataFileSelected($event)"
  />

  <button
    type="button"
    style="margin-left: 6px"
    class="btn btn-info pull-left"
    (click)="onExportSpatialUnitEditMetadata()"
    title="Exportieren der Metadaten in eine Datei"
  >
    <i class="fas fa-file-export"></i>&nbsp;&nbsp;Metadaten-Export
  </button>

  <button
    type="button"
    class="btn btn-success"
    [disabled]="
      !spatialUnitLevel ||
      spatialUnitLevelInvalid ||
      !metadata.description ||
      !metadata.datasource ||
      !metadata.contact ||
      !metadata.updateInterval ||
      !metadata.lastUpdate ||
      hierarchyInvalid ||
      loadingData
    "
    (click)="onSubmit()"
  >
    @if (!loadingData) {
      <span>Metadaten aktualisieren</span>
    }
    @if (loadingData) {
      <span>Aktualisiere...</span>
    }
  </button>

  <button type="button" class="btn btn-danger" (click)="resetForm()">Zurücksetzen</button>
</div>

<!-- Success Alert - positioned absolutely at bottom like AngularJS version -->
<div
  id="spatialUnitEditMetadataSuccessAlert"
  style="position: absolute; bottom: 0px; width: 100%"
  [hidden]="!successMessage"
  class="alert alert-success alert-dismissable"
>
  <button type="button" class="close" (click)="hideSuccessAlert()" aria-hidden="true">
    &times;
  </button>
  <h4><i class="icon fa fa-check"></i>Raumebene aktualisiert</h4>
  Die Metadaten der Raumebene mit Namen {{ successMessagePart }} wurden in KomMonitor aktualisiert
  und in die Übersichtstabelle eingetragen.
  <br />
  <button
    type="button"
    class="btn btn-success btn-sm"
    (click)="closeOnSuccess()"
    style="margin-top: 10px"
  >
    <i class="fas fa-check"></i> Schließen
  </button>
</div>

<!-- Error Alert - positioned absolutely at bottom like AngularJS version -->
<div
  id="spatialUnitEditMetadataErrorAlert"
  style="position: absolute; bottom: 0px; width: 100%"
  [hidden]="!errorMessage"
  class="alert alert-danger alert-dismissable"
>
  <button type="button" class="close" (click)="hideErrorAlert()" aria-hidden="true">&times;</button>
  <h4><i class="icon fa fa-ban"></i>Aktualisierung gescheitert</h4>
  Bei der Aktualisierung der Metadaten der Raumebene ist ein Fehler aufgetreten. Fehlermeldung:
  <br />
  <pre style="overflow: auto; max-height: 500px" [innerHTML]="errorMessagePart"></pre>
</div>

<!-- Metadata Import Error Alert - positioned absolutely at bottom like AngularJS version -->
<div
  id="spatialUnitEditMetadataImportErrorAlert"
  style="position: absolute; bottom: 0px; width: 100%"
  [hidden]="!spatialUnitMetadataImportError"
  class="alert alert-danger alert-dismissable"
>
  <button type="button" class="close" (click)="hideMetadataErrorAlert()" aria-hidden="true">
    &times;
  </button>
  <h4><i class="icon fa fa-ban"></i>Metadata Import gescheitert</h4>
  Beim Import der Metadaten aus einer Datei ist ein Fehler aufgetreten. Fehlermeldung:
  <br />
  <pre>{{ spatialUnitMetadataImportError }}</pre>
  <br />
  <br />
  <p>Bitte stellen Sie sicher, dass folgendes JSON-Format eingehalten wird:</p>
  <pre id="spatialUnitsEditMetadataPre" style="overflow: auto; max-height: 500px">{{
    spatialUnitMetadataStructure | json
  }}</pre>
</div>
