<div id="kommonitorReachability">
  <app-loading-overlay [loading]="(loading$ | async) ?? false">
    <expandable-box [title]="'Schnellberechnung'" [collapsed]="false">
      <b>Einstiegs-Modus</b>
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs nav-fill">
        <li [ngbNavItem]="1">
          <button ngbNavLink (click)="onSinglePointSelection()">Adresse</button>
          <ng-template ngbNavContent>
            <div class="search-wrapper">
              <input
                type="text"
                [value]="query"
                (input)="onSearch($any($event.target).value)"
                placeholder="Adresse suchen"
                class="form-control"
              />
              @if (results.length) {
                <div class="autocomplete">
                  @for (result of results; track result) {
                    <div class="autocomplete-item" (click)="selectResult(result)">
                      {{ result.label }}
                    </div>
                  }
                </div>
              }
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <button ngbNavLink (click)="onMapSelection()">Einzelpunkt</button>
          <ng-template ngbNavContent>
            @if (reachabilityStateService.locations.length==0 && !reachabilityStateService.manualMapSelectionMode) {
              <p>Aktivieren Sie die Auswahl eines oder mehrerer Standorte direkt in der Hauptkarte durch klicken auf "Standorte auswählen".</p>
            }
            @if (reachabilityStateService.locations.length==0 && reachabilityStateService.manualMapSelectionMode) {
              <div class="mapSelection_info">Standort in Hauptkarte selektieren</div>
            }
            @if (!reachabilityStateService.manualMapSelectionMode) { 
              <button class="btn btn-primary btn-sm w-100" (click)="onClickActivateMapSelection()">Standorte auswählen</button>
            } @else {
              <button class="btn btn-primary btn-sm w-100" (click)="onClickDeactivateMapSelection()">Auswahl beenden</button>
            }
            @for (item of reachabilityStateService.locations; track item) {
              <div class="mapItem">
                <i
                  class="fa-solid fa-trash"
                  (click)="reachabilityStateService.deleteLocation(item)"
                ></i>
                <p>{{ item.label }}</p>
              </div>
            }
          </ng-template>
        </li>
        <li [ngbNavItem]="3" (click)="onLayerSelection()">
          <button ngbNavLink>Layer</button>
          <ng-template ngbNavContent>
            <div class="layerSelectWrapper">
              <div>
                <b>Layer</b>
                <select
                  style="font-size: 12px"
                  [(ngModel)]="reachabilityStateService.selectedStartPointLayer"
                  (change)="reachabilityStateService.onChangePoiResource()"
                  class="form-control"
                  required
                >
                  <option disabled selected value>-- Punkt-Layer w&auml;hlen --</option>
                  @for (
                    poi of reachabilityStateService.filteredDisplayableGeoresources;
                    track poi
                  ) {
                    <option [ngValue]="poi">{{ poi.datasetName }}</option>
                  }
                </select>
              </div>
              @if (
                reachabilityStateService.selectedStartPointLayer &&
                !reachabilityStateService.selectedStartPointLayer?.isNewReachabilityDataSource &&
                !reachabilityStateService.selectedStartPointLayer?.isTmpDataLayer
              ) {
                <div>
                  <b>Datum</b>
                  <select
                    [(ngModel)]="reachabilityStateService.selectedStartDate"
                    (change)="reachabilityStateService.fetchPoiResourceGeoJSON()"
                    class="form-control"
                    required
                  >
                    @for (
                      date of reachabilityStateService.filteredAvailablePeriodsOfValidity;
                      track date
                    ) {
                      <option [value]="date.startDate">{{ date.startDate }}</option>
                    }
                  </select>
                </div>
              }
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      <br />
      <br />
      <button class="btn btn-primary btn-sm w-100 margin-bottom" (click)="startCalculation()" [disabled]="!reachabilityStateService.featureSelected">
        Berechnung starten
      </button>
      <div class="button-wrapper">
        <button
          class="btn btn-primary btn-sm w-100"
          (click)="createScenario()"
          [disabled]="!reachabilityStateService.isValidCalculation"
        >
          Als Szenario übernehmen
        </button>
        <button
          class="btn btn-danger btn-sm w-100"
          (click)="reachabilityStateService.resetLocations()"
        >
          Zurücksetzen
        </button>
      </div>
    </expandable-box>

    <expandable-box [title]="'Experten-Optionen'" [collapsed]="false">
      <b>Verkehrsmittel</b>
      <div class="modeWrapper">
        <div
          class="modeItem"
          [ngClass]="{
            active: reachabilityStateService.quickCalcSettings.transitMode === 'foot-walking',
          }"
          (click)="reachabilityStateService.setTransitMode('foot-walking')"
        >
          <i class="fa-solid fa-person-walking"></i>
          Fussgänger
        </div>
        <div
          class="modeItem"
          [ngClass]="{
            active: reachabilityStateService.quickCalcSettings.transitMode === 'cycling-regular',
          }"
          (click)="reachabilityStateService.setTransitMode('cycling-regular')"
        >
          <i class="fa-solid fa-bicycle"></i>
          Fahrrad
        </div>
        <div
          class="modeItem"
          [ngClass]="{
            active: reachabilityStateService.quickCalcSettings.transitMode === 'driving-car',
          }"
          (click)="reachabilityStateService.setTransitMode('driving-car')"
        >
          <i class="fa-solid fa-car-side"></i>
          PKW
        </div>
      </div>
      <b>Basis der Erreichbarkeit</b>
      <div class="focusWrapper">
        <div
          class="modeItem"
          [ngClass]="{ active: reachabilityStateService.quickCalcSettings.focus === 'time' }"
          (click)="reachabilityStateService.setFocusMode('time'); onFocusModeChange()"
        >
          <i class="fa-solid fa-stopwatch"></i>
          Zeit (Min)
        </div>
        <div
          class="modeItem"
          [ngClass]="{ active: reachabilityStateService.quickCalcSettings.focus === 'distance' }"
          (click)="reachabilityStateService.setFocusMode('distance'); onFocusModeChange()"
        >
          <i class="fa-solid fa-ruler-horizontal"></i>
          Distanz (m)
        </div>
      </div>
      <b>Mehrfach-Reichweiten</b>
      <multi-select-slider
        [range]="sliderRange"
        [selectedValues]="reachabilityStateService.quickCalcSettings.ranges"
        [unit]="reachabilityStateService.quickCalcSettings.focusUnit"
        (changer)="reachabilityStateService.startQuickCalculation()"
      ></multi-select-slider>
    </expandable-box>

    <expandable-box [title]="'Szenario-Verwaltung'" [collapsed]="false">
      <div class="scenarioWrapper">
        <div class="modeItem green" (click)="openReachabilityScenarioModal()">
          <i class="fa-solid fa-plus"></i>
          Szenario anlegen
        </div>
        <div class="modeItem" (click)="onClickImport()">
          <i class="fa-solid fa-file-import"></i>
          Szenarien-Import
        </div>
        <input
          type="file"
          #scenarioImportInput
          hidden
          accept=".json"
          (change)="onScenarioFileSelected($event)"
        />
        <div class="modeItem" (click)="reachabilityScenarioHelperService.exportScenarios()">
          <i class="fa-solid fa-file-export"></i>
          Szenarien-Export
        </div>
        <div class="modeItem red" (click)="removeReachabilityScenarioFromMainMap()">
          <i class="fa-solid fa-trash-can"></i>
          Karte leeren
        </div>
      </div>
      <hr />
      <div style="max-height: 50vh; overflow: auto">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Szenarioname</th>
              <th>Punktdatenquelle</th>
            </tr>
          </thead>
          <tbody>
            @for (
              reachabilityScenario of reachabilityScenarioHelperService.reachabilityScenarios;
              track reachabilityScenario
            ) {
              <tr>
                <td>
                  <b>{{ reachabilityScenario.scenarioName }}</b>
                  <br />
                  <!-- <div>
                      <button class="btn btn-warning btn-sm" title="Editieren" (click)="openReachabilityScenarioModal(reachabilityScenario)" data-toggle="modal" data-target="#modal-manage-reachability-scenario"><i class="fa-solid fa-pen" ></i></button>
                      <button class="btn btn-danger btn-sm" title="L&ouml;schen" (click)="$ctrl.kommonitorReachabilityScenarioHelperServiceInstance.removeReachabilityScenario(reachabilityScenario)"><i class="fa-solid fa-trash-can"></i></button>
                      <button class="btn btn-info btn-sm" title="Duplizieren" (click)="$ctrl.kommonitorReachabilityScenarioHelperServiceInstance.cloneReachabilityScenario(reachabilityScenario)"><i class="fa-solid fa-copy" ></i></button>
                    </div> -->
                  <div>
                    <i
                      title="Editieren"
                      style="cursor: pointer"
                      class="fa-solid fa-pen"
                      (click)="openReachabilityScenarioModal(reachabilityScenario)"
                      data-toggle="modal"
                      data-target="#modal-manage-reachability-scenario"
                    ></i>
                    &nbsp; &nbsp;
                    <i
                      class="fa-solid fa-trash-can"
                      style="cursor: pointer"
                      title="L&ouml;schen"
                      (click)="
                        reachabilityScenarioHelperService.removeReachabilityScenario(
                          reachabilityScenario
                        )
                      "
                    ></i>
                    &nbsp; &nbsp;
                    <i
                      class="fa-solid fa-copy"
                      style="cursor: pointer"
                      title="Duplizieren"
                      (click)="
                        reachabilityScenarioHelperService.cloneReachabilityScenario(
                          reachabilityScenario
                        )
                      "
                    ></i>
                    &nbsp; &nbsp;
                    <i
                      class="fa-solid fa-map-location-dot"
                      style="cursor: pointer"
                      title="auf Hauptkarte anzeigen"
                      (click)="displayReachabilityScenarioOnMainMap(reachabilityScenario)"
                    ></i>
                  </div>
                </td>
                <td>
                  {{
                    reachabilityScenario.reachabilitySettings.selectedStartPointLayer.datasetName
                  }}
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <div class="row" [hidden]="!mapOverlayState.reachabilityScenarioOnMainMap">
        <div class="col-md-2"></div>

        <div class="col-md-8 col-sm-6 col-12">
          <!-- Legend -->
          <div class="just-padding">
            <div [hidden]="!mapOverlayState.isochroneLegend">
              <div style="text-align: center">
                <div class="legend" style="text-align: left">
                  <label>Punktdatenquelle: </label>&nbsp;
                  {{ mapOverlayState.isochroneLegend.datasetName }}
                  <br />
                  <label>Fortbewegungsart: </label>&nbsp;
                  {{ mapOverlayState.isochroneLegend.transitMode }}
                  <br />
                  <label>Abbruchkriterium: </label>&nbsp;
                  {{ mapOverlayState.isochroneLegend.reachMode }}
                  <br />
                  <label>Einheit: </label>&nbsp;
                  {{ mapOverlayState.isochroneLegend.cutOffUnit }}
                  <br />
                  @for (entry of mapOverlayState.isochroneLegend.colorValueEntries; track entry) {
                    <div>
                      <i [ngStyle]="{ background: entry.color, opacity: 0.3 }"></i>
                      {{ entry.value }}
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-2"></div>
      </div>
    </expandable-box>
  </app-loading-overlay>
</div>
