<div id="adminGeoresourcesContent">

	<div align="center">
		<div class="loading-overlay-admin-panel ng-hide" ng-show="loadingData">
					<span class="glyphicon glyphicon-refresh icon-spin"></span>
		</div>
	</div>

	<!-- Content Header (Page header) -->
	<section class="content-header">
			<h1>
				Verwalten der Geodaten
				<small>Info</small>
			</h1>

			<div class="adminTableButtonWrapper">
                <div class="verticalAlign">
                    <span>Nur zu bearbeitende Datens&auml;tze anzeigen</span>
                    <div>
                        <label class="switch">
                            <input type="checkbox" ng-model="tableViewSwitcher" ng-change="onTableViewSwitch()"></input>
                            <span class="switchslider round"></span>
                        </label>
                    </div>
                </div>
				<!-- batch update georesources -->
				<button id="button-batch-update-georesources" class="btn btn-success btn-sm" type="button" ng-disabled="!$ctrl.kommonitorDataExchangeServiceInstance.checkEditorPermission()"
					data-toggle="modal" data-target="#modal-batch-update-georesources"><i class="fas fa-refresh"></i>&nbsp;&nbsp;Batch-Update</button>
				<!-- add georesource -->					  		
				<button  ng-disabled="!$ctrl.kommonitorDataExchangeServiceInstance.checkCreatePermission()" class="btn btn-success btn-sm" type="button" data-toggle="modal" data-target="#modal-add-georesource"><i class="fas fa-plus"></i>&nbsp;&nbsp;Erstellen</button>
				<!-- edit metadata -->

				<!-- edit features -->

				<!-- delete b timestamp -->
			</div>
	</section>

	<!-- Main content -->
	<section class="content container-fluid">
		<!--------------------------
			| Your Page Content Here |
			-------------------------->

			<!-- POI -->

			<div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Points of Interest</h3>

							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
								</button>
							</div>
						</div>

            <!-- /.box-header -->
            <div class="box-body">

							<div class="admin-table-wrapper">

								<div id="poiOverviewTable" style="height: 70vh;" class="ag-theme-alpine"></div>	              

							</div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

					<!-- LOI -->

					<div class="box box-primary">
								<div class="box-header">
									<h3 class="box-title">Lines of Interest</h3>

									<div class="box-tools pull-right">
										<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
										</button>
									</div>
								</div>
								<!-- /.box-header -->
								<div class="box-body">

									<div class="admin-table-wrapper">

										<div id="loiOverviewTable" style="height: 70vh;" class="ag-theme-alpine"></div>	 										

									</div>
								</div>
								<!-- /.box-body -->
							</div>
							<!-- /.box -->


							<!-- AOI -->

							<div class="box box-primary">
										<div class="box-header">
											<h3 class="box-title">Areas of Interest</h3>

											<div class="box-tools pull-right">
												<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
												</button>
											</div>
										</div>
										<!-- /.box-header -->
										<div class="box-body">

											<div class="admin-table-wrapper">

												<div id="aoiOverviewTable" style="height: 70vh;" class="ag-theme-alpine"></div>	 

											</div>
										</div>
										<!-- /.box-body -->
									</div>
									<!-- /.box -->




	</section>
<!-- /.content -->

</div>
