<div id="adminGeoresourcesContent">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Verwaltung sonstiger Geodaten
			<small>Info</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="">
				<!-- <i class="fa fa-dashboard"></i>  -->
				<i class="fas fa-tachometer-alt"></i>
				Level</a></li>
			<li class="active">Here</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content container-fluid">

		GEORESOURCES STUFF

		<!--------------------------
			| Your Page Content Here |
			-------------------------->

	</section>
<!-- /.content -->
</div>
