.classification-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  column-gap: 10px;
}

.classificationInputsWrapper {
  display: flex;
  white-space: nowrap;
  column-gap: 5px;
  width: 100%;
}

.methodSelection{
  flex-grow: 2;
}

.nrClassSelection{
  flex-grow: 1;
}

.classificationBoxToogleSlidersWrapper {
  display: flex;
  justify-content: space-between;
}

select {
  font-weight: normal;
}