.classification-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  column-gap: 10px;
}

#method-form-wrapper {
  position: static;
  height: 100px;
}

.methodSelection{
  flex-grow: 2;
}

.nrClassSelection{
  flex-grow: 1;
}

.classificationBoxToogleSlidersWrapper {
  display: flex;
  justify-content: space-between;
}

select {
  font-weight: normal;
}


/* breaks and histogram */

.breaksWrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-auto-flow: column;
} 

.breaksWrapper input {
  grid-column: 1;
  grid-row-end: span 2;
}

.breaksWrapper .countBarContainer {
  grid-column: 2;
}

.countBar {
  background-color: rgb(51,122,183);
  margin-left: 5px;
  height: 100%; 
}

.countBarContainer {
  height: 70%;
  align-self: end;
  height: 70%;
  width: 95%;
  overflow: hidden;
}

.countBarContainer:nth-child(2n + 1) {
  display: flex;
}

.countBarContainer:nth-child(2n) {
  align-self: start;
}


.histogramNumber {
  position: absolute;
  margin-left: 4px;
  margin-top: 4px;
}

/* select codepen */

#method-select-selected {
  cursor: pointer;
  user-select: none;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;

  background-image: url(https://i.imgur.com/K5gtkay.png);
  background-repeat: no-repeat;
  background-position: right center;
}

#method-select-selection {
  cursor: pointer;
  user-select: none;
  position: absolute;
  background-color: white;
  z-index: 10;
}

#method-select-method {
  display: flex;
  gap: 10px;
  padding: 0px 2px 1px;
}

.method-select-method-name {
  font-weight: bold;
}

#method-select-method:hover {
  background-color: #1E90FF;
  color: #fff;
}