.classification-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  column-gap: 10px;
}

#method-form-wrapper {
  position: static;
  height: 100px;
}

.methodSelection{
  flex-grow: 2;
}

.nrClassSelection{
  flex-grow: 1;
}

.classificationBoxToogleSlidersWrapper {
  display: flex;
  justify-content: space-between;
}

select {
  font-weight: normal;
}


/* breaks and histogram */

.measureOfValueBreaks {
  display: flex;
}

.breaksWrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-auto-flow: column;
} 

.breaksWrapper input {
  grid-column: 1;
  grid-row-end: span 2;
}

.breaksWrapper .countBarContainer {
  grid-column: 2;
}

.countBar {
  background-color: rgb(51,122,183);
  margin-left: 5px;
  height: 100%; 
}

.countBarContainer {
  align-self: end;
  height: 70%;
  width: 95%;
  overflow: hidden;
}

.countBarContainer:nth-child(2n + 1) {
  display: flex;
}

.countBarContainer:nth-child(2n) {
  align-self: start;
}


.histogramNumber {
  position: absolute;
  margin-left: 4px;
  margin-top: 4px;
}



/* select option */

.select-border {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 transparent;
}
#method-select-selected {
  cursor: pointer;
  user-select: none;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2px;

  background-image: url(https://i.imgur.com/K5gtkay.png);
  background-repeat: no-repeat;
  background-position: right center;
}

#method-select-selection {
  cursor: pointer;
  user-select: none;
  position: absolute;
  background-color: white;
  z-index: 10;
  width: 94%;
  box-shadow: 2px 2px 9px 0px #66666661;
}

#method-select-method {
  display: grid;
  grid-template-columns: 55px auto;
  gap: 10px;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}

.method-select-method-symbol {
  color: #555;
  padding: 5px;
  width: 100%;
}

.method-select-method-symbol div {
  filter: invert(25%);
  width: 100%;
  height: 100%;
  background-size: 80%;
  background-position-x: center;
  background-repeat: no-repeat;
}

.method-select-method-name {
  font-weight: bold;
}

.method-select-method-description {
  font-size: 11px;
}

#method-select-method:hover {
  background-color: #1E90FF;
  color: #fff;
}

#method-select-method:hover .method-select-method-symbol div {
  filter: invert(100%);
}


/* histogram tab */

.histogramTabWrapper {
  height: 150px;
  display: grid;
  grid-template-columns: auto auto;
  user-select: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

.histogramTabWrapper .histogram {
  height: 150px;
  background-color: white;
}
.histogramTabWrapper .histogramBar {
  background-color: rgb(51,122,183);
}
.histogramTabWrapper .breaksArea {
  position: relative;
  height: 100%;
}
.histogramTabWrapper .breakWrapper {
  position: absolute;
  right: 0%;
  display: grid;
  grid-template-columns: auto auto;
  cursor: ns-resize;
}
.histogramTabWrapper .break {
  color: white;
    text-shadow: none;
    padding: 1px 5px;
    background-color: #428bca;
    background: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
    border-radius: 3px;
  margin-top: -10px;
  height: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  cursor: ns-resize;
}
.histogramTabWrapper .break:hover, .histogramTabWrapper .break:focus-within {
  z-index: 1001;
}
.histogramTabWrapper .colorBox {
  background-color: white;
  width: 12px;
  height: 12px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 4px;
}
.histogramTabWrapper input {
  width: 54px;
  background-color: transparent;
  color: white;
  border: 0;
  user-select: none;
  cursor: ns-resize !important;
}
.histogramTabWrapper input:disabled {
  user-select: none;
  pointer-events: none;
}
.histogramTabWrapper input::-webkit-outer-spin-button,
.histogramTabWrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.histogramTabWrapper input[type=number] {
  -moz-appearance: textfield;
}
.histogramTabWrapper textarea:focus, input:focus{
  outline: none;
  background-color: white;
  color:#3071a9;
  cursor: text !important;
}
.histogramTabWrapper i {
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.histogramTabWrapper .line {
  height: 2px;
  background-color: #666;
  width: 30px;
}

.histogramTabWrapper .breakWrapper:last-of-type .line {
  margin-top: -2px;
}
.histogramTabWrapper .breakWrapper:last-of-type .break {
  margin-top: -12px;
}

.histogramTabWrapper .measureOfValue .line {
  border-top: 2px dotted red;
  height: 0;
  background-color: transparent;
  width: 30px;
}
.histogramTabWrapper .measureOfValue .break {
  background-color: #cacaca;
    background: linear-gradient(to bottom, #9b9b9b 0%, #616161 100%);
}

.addBtnWrapper .line {
  width: 125px;
  background-color: #ccc;
  cursor: default;
}

.addBtnWrapper {
  cursor: default;
}

.addBtnWrapper .addBtn {
  color: white;
    text-shadow: none;
    padding: 1px 5px;
    background-color: #ccc;
    background: linear-gradient(to bottom, #ccc 0%, #888 100%);
    border-radius: 3px;
  margin-top: -10px;
  height: 20px;
  cursor: pointer;
}

.fa-trash-can {
  cursor: pointer;
}

.histogramTabWrapper .fixed {
  cursor: default !important;
}