<div class="row vertical-align">
	<!-- reachability config -->
	<div [ngClass]="{'col-md-4 col-sm-4 col-xs-12': !isUsedInReporting, 'col-md-6 col-sm-6 col-xs-12': isUsedInReporting}">

		<div id="reachabilityConfigForm" style="height: 57vh; overflow-y: auto;">

			<br />
			<div class="btn-group btn-group-justified" data-toggle="buttons">
				<button class="feature-btn" (click)="changeType('buffer')">
          <i class="far fa-dot-circle"></i>
        </button>
				<button class="feature-btn" (click)="changeType('foot-walking')">
          <i class="fas fa-walking"></i>
        </button>
				<button class="feature-btn" (click)="changeType('cycling-regular')">
          <i class="fas fa-biking"></i> 
        </button>
				<button class="feature-btn" (click)="changeType('driving-car')">
          <i class="fas fa-car"></i> 
        </button>
				<button class="feature-btn" (click)="changeType('wheelchair')">
          <i class="fab fa-accessible-icon"></i>
        </button>
			</div>

			<div class="ng-show" id="isochoneCalculation">

				<div>

					<!-- <label for="TODO">Analysefokus</label> -->

					<br />

					<div class="btn-group btn-group-justified" data-toggle="buttons">
            <button class="feature-btn" (click)="changeFocus('distance')">
              <i class="fas fa-ruler"></i> Distanz
						</button>
						<button class="feature-btn" (click)="changeFocus('time')" [disabled]="reachabilityHelperService.settings.transitMode=='buffer'">
							<i class="far fa-clock"></i> Zeit
            </button>
					</div>

					<!--
											<label>Fokus= {{reachabilityHelperService.settings.focus}}, Time= {{isTime}}</label>
										-->

					<br />
					<hr>
					<br />

					<div>

						<label>Isochronendefinition</label>
						<p>Geben Sie die gew&uuml;nschten Isochronengrenzen kommagetrennt ein
							(Beispiel: '100,200,300' in Metern oder '5,10,20' f&uuml;r Minuten).</p>
						<div>
							<input [(ngModel)]="reachabilityHelperService.settings.isochroneInput"
								id="isochroneCutInput" type="text" style="width:95%;"
								placeholder="Isochronengrenzen angeben">
						</div>

						<br />

						<div *ngIf="!isTime">
							<label>Voreinstellungsoptionen</label>

							<br />

							<label class="radio-inline"><input type="radio" name="distances" value="100,200,300,400,500"
									[(ngModel)]="reachabilityHelperService.settings.isochroneInput"
									(click)="reachabilityHelperService.settings.isochroneInput = '100,200,300,400,500'">
								100,200,300,400,500 Meter</label>

							<label class="radio-inline"><input type="radio" name="distances" value="500,1000,1500"
									[(ngModel)]="reachabilityHelperService.settings.isochroneInput"
									(click)="reachabilityHelperService.settings.isochroneInput = '500,1000,1500'">
								500,1000,1500 Meter</label>

						</div>

						<div *ngIf="isTime">
							<label>Voreinstellungsoptionen</label>

							<br />

							<label class="radio-inline"><input type="radio" name="times" value="5,10,15"
									[(ngModel)]="reachabilityHelperService.settings.isochroneInput"
									(click)="reachabilityHelperService.settings.isochroneInput = '5,10,15'">
								5,10,15
								Minuten</label>

							<label class="radio-inline"><input type="radio" name="times" value="5,10,15,20,25"
									[(ngModel)]="reachabilityHelperService.settings.isochroneInput"
									(click)="reachabilityHelperService.settings.isochroneInput = '5,10,15,20,25'">5,10,15,20,25
								Minuten</label>

						</div>

						<!-- </div>
								</div>								 -->
						<!-- <br />
											<br /> -->

					</div>

					<br />

					<hr>
					<br />

					<div *ngIf="dataExchangeService.pipedData.isochroneLegend.datasetName != reachabilityHelperService.settings.selectedStartPointLayer?.datasetName">
						<label style="color: red;">Punktdatenquelle des Szenarios ge&auml;ndert - Neuberechnung erforderlich f&uuml;r <i>{{reachabilityHelperService.settings.selectedStartPointLayer?.datasetName}}</i></label>
					</div>

					<div style="text-align:center">

						<!-- <div>
							<b>Isochronen vereinigen</b> (erh&ouml;ht die Laufzeit der Berechnung)
							&nbsp;
							<label class="switch">
								<input type="checkbox"
									value="reachabilityHelperService.settings.dissolveIsochrones"
									[(ngModel)]="reachabilityHelperService.settings.dissolveIsochrones"
									checked>
								<span class="switchslider round"></span>
							</label>
						</div> -->

						<div class="row vertical-align">
							<!-- reachability config -->
							<div class="col-md-4 col-sm-4 col-xs-12">
								<div class="btn-group btn-group-justified reachabilityIsochroneButtonSection"
									data-toggle="buttons">

									<label>
										<button class="btn btn-s btn-info"
											
											[disabled]="reachabilityHelperService.settings.loadingData || !(reachabilityHelperService.settings.selectedStartPointLayer && reachabilityHelperService.settings.selectedStartPointLayer.geoJSON_reachability && reachabilityHelperService.settings.isochroneInput)"
											(click)="startAnalysis()">
											<i class="fa-solid fa-hourglass-start"></i>&nbsp;
												Start
											<span class="glyphicon glyphicon-refresh icon-spin" *ngIf="reachabilityHelperService.settings.loadingData"></span>
											</button>
									</label>

									<br/>

									<label>
										<button class="btn btn-s btn-success"
											[hidden]="!reachabilityHelperService.currentIsochronesGeoJSON"
											(click)="downloadIsochrones()">
											<i class="fa-solid fa-file-arrow-down"></i> &nbsp; Isochronen</button>
									</label>

								</div>
							</div>

							<div class="col-md-8 col-sm-8 col-xs-12">								

								<!-- Legend -->
								<div class="just-padding">									

									<div [hidden]="!dataExchangeService.pipedData.isochroneLegend">
										<div style="text-align:center">
											<div class="legend" style="text-align:left">
												<label>Punktdatenquelle:
												</label>&nbsp;
												{{dataExchangeService.pipedData.isochroneLegend.datasetName}}
												<br />
												<label>Fortbewegungsart:
												</label>&nbsp;
												{{dataExchangeService.pipedData.isochroneLegend.transitMode}}
												<br />
												<label>Abbruchkriterium: </label>&nbsp;
												{{dataExchangeService.pipedData.isochroneLegend.reachMode}}
												<br />
												<label>Einheit: </label>&nbsp;
												{{dataExchangeService.pipedData.isochroneLegend.cutOffUnit}}
												<br />
												<div
													*ngFor="let entry of dataExchangeService.pipedData.isochroneLegend.colorValueEntries">
													<i [ngStyle]="{background: entry.color, opacity: 0.3}"></i>
													{{entry.value}}
												</div>
											</div>
										</div>
									</div>
								</div>								
							</div>
						</div>
					</div>
				</div>

				

			</div>

			<div [hidden]="!error">
				<br />
				<div class="alert alert-danger">
					<strong>Fehler</strong>
					Bei der Verarbeitung ist ein Fehler aufgetreten.
					<p></p>
					<strong>Fehlernachricht: </strong>
					<pre>{{error}}</pre>
				</div>
			</div>

			<br />

		</div>

	</div>

	<!-- interactive Map to display rechability isochrones -->
	<div class="col-md-8 col-sm-8 col-xs-12" [hidden]="isUsedInReporting">
		<!-- geometry with interactive map and geocoder functionality -->
		<!-- together with special helperService that is used to manage map and data -->

		<!-- map -->

		<br />
		<div id="reachabilityScenarioIsochroneGeoMap" style="height: 57vh;"></div>
	</div>
</div>