<div class="modal-header">
  <h4 class="modal-title">
    <b>{{ 'ADMIN_CONFIG.FILTER_EDIT.TITLE' | translate }} {{ filterName }}</b>
  </h4>
  <button
    type="button"
    class="btn-close"
    [attr.aria-label]="'ADMIN_SHARED.CLOSE' | translate"
    (click)="activeModal.close('Close click')"
  ></button>
</div>
<div class="modal-body">
  <label for="filter-name">{{ 'ADMIN_CONFIG.FILTER_EDIT.NAME_LABEL' | translate }}</label>
  <input
    type="text"
    name="filter-name"
    id="filter-name"
    [(ngModel)]="filterName"
    class="form-control"
  />

  <!-- MultiStep Form -->
  <div class="row">
    <div class="col-md-12">
      <form
        class="multiStepForm form-group"
        id="adminFilterEditForm"
        role="form"
        style="margin-bottom: 0px"
      >
        <!-- progressbar -->
        <app-stepper [steps]="stepper.steps" [(currentStep)]="stepper.currentStep"></app-stepper>

        <!-- fieldsets -->
        @if (stepper.isActive('indicators')) {
          <fieldset>
            <h2 class="fs-title">{{ 'ADMIN_CONFIG.FILTER_EDIT.INDICATORS_TITLE' | translate }}</h2>
            <h3 class="fs-subtitle">
              {{ 'ADMIN_CONFIG.FILTER_EDIT.INDICATORS_SUBTITLE' | translate }}
            </h3>

            <input
              type="button"
              name="next"
              class="next next_editAdminFilter action-button"
              [value]="'ADMIN_SHARED_UI.STEP.NEXT' | translate"
              (click)="stepper.next()"
            />
          </fieldset>
        }

        @if (stepper.isActive('indicatorTopics')) {
          <fieldset>
            <h2 class="fs-title">
              {{ 'ADMIN_CONFIG.FILTER_EDIT.INDICATOR_TOPICS_TITLE' | translate }}
            </h2>
            <h3 class="fs-subtitle">
              {{ 'ADMIN_CONFIG.FILTER_EDIT.INDICATOR_TOPICS_SUBTITLE' | translate }}
            </h3>

            <input
              type="button"
              name="previous"
              class="previous previous_editAdminFilter action-button-previous"
              [value]="'ADMIN_SHARED_UI.STEP.PREVIOUS' | translate"
              (click)="stepper.previous()"
            />
            <input
              type="button"
              name="next"
              class="next next_editAdminFilter action-button"
              [value]="'ADMIN_SHARED_UI.STEP.NEXT' | translate"
              (click)="stepper.next()"
            />
          </fieldset>
        }

        @if (stepper.isActive('georesources')) {
          <fieldset>
            <h2 class="fs-title">
              {{ 'ADMIN_CONFIG.FILTER_EDIT.GEORESOURCES_TITLE' | translate }}
            </h2>
            <h3 class="fs-subtitle">
              {{ 'ADMIN_CONFIG.FILTER_EDIT.GEORESOURCES_SUBTITLE' | translate }}
            </h3>

            <input
              type="button"
              name="previous"
              class="previous previous_editAdminFilter action-button-previous"
              [value]="'ADMIN_SHARED_UI.STEP.PREVIOUS' | translate"
              (click)="stepper.previous()"
            />
            <input
              type="button"
              name="next"
              class="next next_editAdminFilter action-button"
              [value]="'ADMIN_SHARED_UI.STEP.NEXT' | translate"
              (click)="stepper.next()"
            />
          </fieldset>
        }

        @if (stepper.isActive('georesourceTopics')) {
          <fieldset>
            <h2 class="fs-title">
              {{ 'ADMIN_CONFIG.FILTER_EDIT.GEORESOURCE_TOPICS_TITLE' | translate }}
            </h2>
            <h3 class="fs-subtitle">
              {{ 'ADMIN_CONFIG.FILTER_EDIT.GEORESOURCE_TOPICS_SUBTITLE' | translate }}
            </h3>

            <input
              type="button"
              name="previous"
              class="previous previous_editAdminFilter action-button-previous"
              [value]="'ADMIN_SHARED_UI.STEP.PREVIOUS' | translate"
              (click)="stepper.previous()"
            />
          </fieldset>
        }
      </form>
    </div>
  </div>
  <!-- /.MultiStep Form -->
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="activeModal.close('Close click')"
      >
        {{ 'ADMIN_SHARED.CLOSE' | translate }}
      </button>
    </div>
  </div>
</div>
