<button type="button" id="sidebarLegendCollapse" (click)="legendVisible = !legendVisible" class="buttonLegendClass" title="Legenden- und Informationsfenster">
		<i class="fas fa-info"></i>
</button>
<div id="legendWrapper" *ngIf="dataExchangeService.selectedIndicator" [hidden]="!legendVisible">

    <expandable-box [title]="'Raumebene und Export'" [collapsed]="true">
      <div class="boxedLegend">						
        <div class="row" style="margin-right: 0px;">
          <div class="col-sm-7"> <!-- *ngIf="env.enableSpatialUnitNotificationButton" -->
            <div class="text-left"><label>Raumebene</label><a *ngIf="spatialUnitNotificationModalEnabled()" (click)="showSpatialUnitNotificationModalIfEnabled()" style="font-size:1.2em; float: right; margin-right: 1%; margin-top: 0.5%; cursor:pointer;" title="Information zu Raumebenen&nbsp;&nbsp;"><span class="glyphicon glyphicon-info-sign"></span></a></div>
              <select (change)="onChangeSelectedSpatialUnit()" [(ngModel)]="dataExchangeService.selectedSpatialUnit" class="form-control">
                <option disabled selected value> -- Raumebene w&auml;hlen --</option>
                <option *ngFor="let item of filteredSpatialUnits()" [ngValue]="item">{{item.spatialUnitLevel }}</option>
              </select>
          </div>
          <div class="col-sm-4">
            <div class="text-left"><label>Datum</label></div>
              <div class="col-12">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="dp"
                    [(ngModel)]="datePickerDate"
                    [markDisabled]="isDisabledDate"
                    ngbDatepicker
                    #d="ngbDatepicker"
                    (click)="d.toggle()"
                    (ngModelChange)="onChangeIndicatorDatepickerDate()"
                    [disabled]="(dataExchangeService.disableIndicatorDatePicker===true ? true : false)"
                  />
              </div>
          </div>
        </div><br>

  <!--  *ngIf="elementVisibilityService.elementVisibility?.indicatorLegendExportButtons" -->
        <label><i class="fa fa-file-download"></i>&nbsp;&nbsp;&nbsp;Export</label>
        <br />
        <div class="btn-group"  id="indicatorLegendExportButtons">
          <button id="downloadMetadata" (click)="onClickDownloadMetadata()" class="btn btn-secondary btn-sm">Metadatenblatt</button>
          <button id="downloadGeoJSON" (click)="downloadIndicatorAsGeoJSON()" class="btn btn-primary btn-sm">GeoJSON</button>
          <button id="downloadShape" (click)="downloadIndicatorAsShape()" class="btn btn-primary btn-sm">ESRI
            Shape</button>
          <button id="downloadCSV" (click)="downloadIndicatorAsCSV()" class="btn btn-primary btn-sm">CSV</button>		
        </div>
        <br>
        <br>
        <button title="Teilen Sie die aktuelle Indikatorenansicht mittels eines Links" id="shareLinkButton" (click)="onClickShareLinkButton()" class="btn btn-info btn-sm"><i class="fas fa-share-alt"></i>aktuelle Ansicht teilen</button>
        <div id="snackbar">Link zur aktuellen Indikatoren-Ansicht in Zwischenablage kopiert</div>	
      </div>
    </expandable-box>
  
    <expandable-box [title]="'Legenden'" *ngIf="dataExchangeService.selectedIndicator" [collapsed]="false">
      <div class="boxedLegend">

        <ul class="nav nav-tabs" id="legendTabs" role="tablist">
          <li class="nav-item" [ngClass]="{'active': !hasActiveWMSLayers()}">
            <a class="nav-link active" id="legendTab1" data-bs-toggle="tab" data-bs-target="#legendTab1Content"
              role="tab" aria-controls="legendTab1Content" aria-selected="true">Indikator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="legendTab2" data-bs-toggle="tab" data-bs-target="#legendTab2Content" role="tab"
              aria-controls="legendTab2Content" aria-selected="false">Indikator-Metadaten</a>
          </li>
          <li class="nav-item" [ngClass]="{'active': hasActiveWMSLayers()}" *ngIf="hasActiveWMSLayers()">
            <a class="nav-link" id="legendTab3" data-bs-toggle="tab" data-bs-target="#legendTab3Content" role="tab"
              aria-controls="legendTab3Content" aria-selected="false">WMS-Dienste</a>
          </li>
        </ul>
        <div class="tab-content" id="legendTabContent">
          <div class="tab-pane" [ngClass]="{'active': !hasActiveWMSLayers()}" id="legendTab1Content" role="tabpanel"
            aria-labelledby="legendTab1">
              
            <div class="just-padding">
              
              <h4>{{dataExchangeService.selectedIndicator.indicatorName}}</h4>
              <h5 *ngIf="visualStyleService.isCustomComputation">&nbsp;-&nbsp; <i>individuelles Berechnungsergebnis</i></h5>
              <p [innerHTML]="dataExchangeService.selectedIndicator.metadata.description"></p>							
              
              <div *ngIf="dataExchangeService.selectedIndicator.indicatorType.includes('STATUS') && !dataExchangeService.isMeasureOfValueChecked && !dataExchangeService.isBalanceChecked">
                <em>Darstellung der Indikatorenwerte {{dataExchangeService.tsToDate_withOptionalUpdateInterval(dateAsDate, dataExchangeService.selectedIndicator.metadata.updateInterval)}}</em>
                <div *ngIf="dataExchangeService.selectedIndicator.referenceDateNote">
                  <em><b>Hinweis Referenzdatum:</b> {{dataExchangeService.selectedIndicator.referenceDateNote}}</em>
                </div>
              </div>
              <div *ngIf="dataExchangeService.selectedIndicator.indicatorType.includes('DYNAMIC') && ! dataExchangeService.isMeasureOfValueChecked && !dataExchangeService.isBalanceChecked">
                <em>Darstellung der zeitlichen Entwicklung zum gew&auml;hlten Zeitpunkt {{dataExchangeService.tsToDate_withOptionalUpdateInterval(dateAsDate, dataExchangeService.selectedIndicator.metadata.updateInterval)}}</em>
              </div>
              <div *ngIf="dataExchangeService.isMeasureOfValueChecked">
                <em>Schwellwert-Klassifizierung</em>
                <em>Gew&auml;hlter Zeitpunkt: </em> {{dataExchangeService.tsToDate_withOptionalUpdateInterval(dateAsDate, dataExchangeService.selectedIndicator.metadata.updateInterval)}}
                <em>aktueller Schwellwert: </em> {{dataExchangeService.measureOfValue}}
              </div>
              <div *ngIf="dataExchangeService.isBalanceChecked">
                <em>Bilanzierung - {{dataExchangeService.indicatorAndMetadataAsBalance['fromDate']}} - {{dataExchangeService.indicatorAndMetadataAsBalance['toDate']}}</em>
              </div>
              
              <br />
      
              <div *ngIf="dataExchangeService.selectedIndicator.interpretation && dataExchangeService.selectedIndicator.interpretation != ''">
                <label>Interpretationshilfe:</label>
                <p [innerHTML]="dataExchangeService.selectedIndicator.interpretation"></p>	
              </div>						
              <br />				
              

              <div class="row" style="margin-right: 0px;">
                <div class="col-md-3"><b>Symbolik</b></div>
                <div class="col-md-6"><b>Wertebereich</b> [{{dataExchangeService.selectedIndicator.unit}}]</div>
                <div class="col-md-3"><b>Anzahl Raumeinheiten</b></div><br>
              </div>
              <div *ngIf="containsNoData">
                <div class="row" style="margin-right: 0px;">
                  <div class="col-md-3"><i [ngStyle]="{background: env.efaultColorForNoDataValues, border: '2px solid '+env.defaultBorderColorForNoDataValues, opacity: visualStyleService.currentIndicatorOpacity}"></i></div>
                  <div class="col-md-6">Leerwert</div>
                  <div class="col-md-3">{{visualStyleService.featuresPerNoData}}</div><br>
                </div>				
              </div>
              <div *ngIf="containsOutliers_low && dataExchangeService.useOutlierDetectionOnIndicator">
                <div class="row" style="margin-right: 0px;">
                  <div class="col-md-3"><i ng-bind-html="svgString_outlierLow"></i></div>
                  <div class="col-md-6">untere Ausrei&szlig;er {{makeOutliersLowLegendString(outliers_low)}}</div>
                  <div class="col-md-3">{{visualStyleService.featuresPerOutlierLow}}</div><br>
                </div>				
              </div>
              <div *ngIf="containsOutliers_high && dataExchangeService.useOutlierDetectionOnIndicator">
                <div class="row" style="margin-right: 0px;">
                  <div class="col-md-3"><i ng-bind-html="svgString_outlierHigh"></i></div>
                  <div class="col-md-6">obere Ausrei&szlig;er {{makeOutliersHighLegendString(outliers_high)}}</div>
                  <div class="col-md-3">{{visualStyleService.featuresPerOutlierHigh}}</div><br>
                </div>				
              </div>
              <div *ngIf="(filterHelperService.filteredIndicatorFeatureIds.size > 0) && (!filterHelperService.completelyRemoveFilteredFeaturesFromDisplay)">
                <div class="row" style="margin-right: 0px;">
                  <div class="col-md-3"><i [ngStyle]="{background: env.defaultColorForFilteredValues, border: '2px solid '+env.defaultBorderColorForFilteredValues, opacity: visualStyleService.currentIndicatorOpacity}"></i></div>
                  <div class="col-md-6">gefilterte Raumeinheiten</div>
                  <div class="col-md-3">{{filterHelperService.filteredIndicatorFeatureIds.size}}</div><br>
                </div>				
              </div>
              <br/>
              <!-- Measure of Value legend items -->
              <div *ngIf="dataExchangeService.isMeasureOfValueChecked">
                <!-- zero -->
                <div class="row" style="margin-right: 0px;" *ngIf="dataExchangeService.classifyZeroSeparately && containsZeroValues">
                  <div class="col-md-3"><i [ngStyle]="{background: env.defaultColorForZeroValues, opacity: visualStyleService.currentIndicatorOpacity}"></i></div>
                  <div class="col-md-6">0</div>
                  <div class="col-md-3">{{visualStyleService.featuresPerZero}}</div><br>
                </div>	

                <br/>

                <!-- lesser than values -->
                <div class="row" style="margin-right: 0px;" *ngFor="let color of visualStyleService.measureOfValueBrew[1].colors; let i = index">
                  <div class="col-md-3 "><i [ngStyle]="{background: color, opacity: visualStyleService.currentIndicatorOpacity}"></i> </div>
                  <div class="col-md-6 " *ngIf="visualStyleService.measureOfValueBrew[1].breaks[i + 1]" >{{dataExchangeService.getIndicatorValue_asFormattedText(visualStyleService.measureOfValueBrew[1].breaks[i])}} &dash; &lt; {{dataExchangeService.getIndicatorValue_asFormattedText(visualStyleService.measureOfValueBrew[1].breaks[i + 1])}}</div>
                  <div class="col-md-6 " *ngIf="! visualStyleService.measureOfValueBrew[1].breaks[i + 1]" >{{dataExchangeService.getIndicatorValue_asFormattedText(visualStyleService.measureOfValueBrew[1].breaks[i])}}</div>
                  <div class="col-md-3 ">{{visualStyleService.featuresPerColorMap.get(color) || 0}}</div>
                </div>

                <br/>

                <!-- higher than values -->
                <div class="row" style="margin-right: 0px;" *ngFor="let color of visualStyleService.measureOfValueBrew[0].colors; let i = index">
                  <div class="col-md-3 "><i [ngStyle]="{background: color, opacity: visualStyleService.currentIndicatorOpacity}"></i> </div>
                  <div class="col-md-6 " *ngIf="visualStyleService.measureOfValueBrew[0].breaks[i + 1]" >{{dataExchangeService.getIndicatorValue_asFormattedText(visualStyleService.measureOfValueBrew[0].breaks[i])}} &dash; &lt; {{dataExchangeService.getIndicatorValue_asFormattedText(visualStyleService.measureOfValueBrew[0].breaks[i + 1])}}</div>
                  <div class="col-md-6 " *ngIf="! visualStyleService.measureOfValueBrew[0].breaks[i + 1]" >{{dataExchangeService.getIndicatorValue_asFormattedText(visualStyleService.measureOfValueBrew[0].breaks[i])}}</div>
                  <div class="col-md-3 ">{{visualStyleService.featuresPerColorMap.get(color) || 0}}</div>
                </div>

              </div>
              <!-- Dynamic legend items -->
              <div *ngIf="(dataExchangeService.isBalanceChecked || dataExchangeService.selectedIndicator.indicatorType.includes('DYNAMIC') || containsNegativeValues) && ! dataExchangeService.isMeasureOfValueChecked">					
                <!-- < 0 values -->
                  <div *ngIf="visualStyleService.dynamicBrew && visualStyleService.dynamicBrew[1]">
                  <div class="row" style="margin-right: 0px;" *ngFor="let color of visualStyleService.dynamicBrew[1].colors; let i = index">
                    <div class="col-md-3 "><i [ngStyle]="{background: color, opacity: visualStyleService.currentIndicatorOpacity}"></i> </div>
                    <div class="col-md-6 " *ngIf="visualStyleService.dynamicBrew[1].breaks[i + 1]" >{{dataExchangeService.getIndicatorValue_asFormattedText(visualStyleService.dynamicBrew[1].breaks[i])}} &dash; &lt; {{dataExchangeService.getIndicatorValue_asFormattedText(visualStyleService.dynamicBrew[1].breaks[i + 1])}}</div>
                    <div class="col-md-6 " *ngIf="! visualStyleService.dynamicBrew[1].breaks[i + 1]" >{{dataExchangeService.getIndicatorValue_asFormattedText(visualStyleService.dynamicBrew[1].breaks[i])}}</div>
                    <div class="col-md-3 ">{{visualStyleService.featuresPerColorMap.get(color) || 0}}</div>
                  </div>
                </div>

                <br/>

                <!-- zero -->
                <div class="row" style="margin-right: 0px;" *ngIf="dataExchangeService.classifyZeroSeparately && containsZeroValues">
                  <div class="col-md-3"><i [ngStyle]="{background: env.defaultColorForZeroValues, opacity: visualStyleService.currentIndicatorOpacity}"></i></div>
                  <div class="col-md-6">0</div>
                  <div class="col-md-3">{{visualStyleService.featuresPerZero}}</div><br>
                </div>	

                <br />

                <!-- > 0 values -->
                  <div *ngIf="visualStyleService.dynamicBrew && visualStyleService.dynamicBrew[0]">
                  <div class="row" style="margin-right: 0px;" *ngFor="let color of visualStyleService.dynamicBrew[0].colors; let i = index">
                    <div class="col-md-3 "><i [ngStyle]="{background: color, opacity: visualStyleService.currentIndicatorOpacity}"></i> </div>
                    <div class="col-md-6 " *ngIf="visualStyleService.dynamicBrew[0].breaks[i + 1]" >{{dataExchangeService.getIndicatorValue_asFormattedText(visualStyleService.dynamicBrew[0].breaks[i])}} &dash; &lt; {{dataExchangeService.getIndicatorValue_asFormattedText(visualStyleService.dynamicBrew[0].breaks[i + 1])}}</div>
                    <div class="col-md-6 " *ngIf="! visualStyleService.dynamicBrew[0].breaks[i + 1]" >{{dataExchangeService.getIndicatorValue_asFormattedText(visualStyleService.dynamicBrew[0].breaks[i])}}</div>
                    <div class="col-md-3 ">{{visualStyleService.featuresPerColorMap.get(color) || 0}}</div>
                  </div>
                  </div>
              </div>

              <!-- Static/Status legend items -->
              <div *ngIf="(dataExchangeService.selectedIndicator.indicatorType.includes('STATUS') && ! containsNegativeValues) && ! dataExchangeService.isMeasureOfValueChecked && ! dataExchangeService.isBalanceChecked">
        
                <!-- zero -->
                <div class="row" style="margin-right: 0px;" *ngIf="dataExchangeService.classifyZeroSeparately && containsZeroValues">
                  <div class="col-md-3"><i [ngStyle]="{background: env.defaultColorForZeroValues, opacity: visualStyleService.currentIndicatorOpacity}"></i></div>
                  <div class="col-md-6">0</div>
                  <div class="col-md-3">{{visualStyleService.featuresPerZero}}</div><br>
                </div>	

                <br />

                <div [ngSwitch]="visualStyleService.classifyMethod">
                  <div *ngSwitchCase="'manual'">
                    <!-- manual classification -->
                    <div class="row" style="margin-right: 0px;" *ngFor="let color of visualStyleService.manualBrew?.colors; let i = index">
                      <div class="col-md-3 ">
                        <i [ngStyle]="{background: color, opacity: visualStyleService.currentIndicatorOpacity}">
                        </i> 
                      </div>
                      <div class="col-md-6 " *ngIf="visualStyleService.manualBrew.breaks[i + 1]" >
                        {{dataExchangeService.getIndicatorValue_asFormattedText(visualStyleService.manualBrew.breaks[i])}} &dash; &lt; 
                        {{dataExchangeService.getIndicatorValue_asFormattedText(visualStyleService.manualBrew.breaks[i + 1])}}
                      </div>
                      <div class="col-md-6 " *ngIf="! visualStyleService.manualBrew.breaks[i + 1]" >
                        {{dataExchangeService.getIndicatorValue_asFormattedText(visualStyleService.manualBrew.breaks[i])}}
                      </div>
                      <div class="col-md-3 ">{{visualStyleService.featuresPerColorMap.get(color) || 0}}</div>
                    </div>
                  </div>
                  <div *ngSwitchDefault>
                    <!-- default values -->
                    <div class="row" style="margin-right: 0px;" *ngFor="let color of visualStyleService.defaultBrew?.colors; let i = index">
                      <div class="col-md-3 "><i [ngStyle]="{background: color, opacity: visualStyleService.currentIndicatorOpacity}"></i> </div>
                      <div class="col-md-6 " *ngIf="visualStyleService.defaultBrew.breaks[i + 1]" >{{dataExchangeService.getIndicatorValue_asFormattedText(visualStyleService.defaultBrew.breaks[i])}} &dash; &lt; {{dataExchangeService.getIndicatorValue_asFormattedText(visualStyleService.defaultBrew.breaks[i + 1])}}</div>
                      <div class="col-md-6 " *ngIf="! visualStyleService.defaultBrew.breaks[i + 1]" >{{dataExchangeService.getIndicatorValue_asFormattedText(visualStyleService.defaultBrew.breaks[i])}}</div>
                      <div class="col-md-3 ">{{visualStyleService.featuresPerColorMap.get(color) || 0}}</div> <!-- hier -->
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <br/>
                <div *ngIf="dataExchangeService.allFeaturesRegionalMean && dataExchangeService.enableMeanDataDisplayInLegend">
                  <b>{{dataExchangeService.labelMean_regional}}</b>
                  {{dataExchangeService.getIndicatorValue_asFormattedText(dataExchangeService.allFeaturesRegionalMean)}}
                </div>
                <div *ngIf="dataExchangeService.allFeaturesMean && dataExchangeService.enableMeanDataDisplayInLegend && (dataExchangeService.configMeanDataDisplay == 'both' || (! dataExchangeService.allFeaturesRegionalMean && dataExchangeService.configMeanDataDisplay == 'preferRegionalMeanIfAvailable'))">
                  <b>{{dataExchangeService.labelMean}}</b>
                  {{dataExchangeService.getIndicatorValue_asFormattedText(dataExchangeService.allFeaturesMean)}}
                </div>
              </div>
              <div id="kommonitorIndicatorClassification">
                <div 
                  id="indicatorClassificationCollapse"
                  (click)="classificationCollapsed=!classificationCollapsed"
                  style="font-size:1.0em; cursor:pointer; margin-top: 16px;"
                  title="Klassifikation anpassen">
                <span style="font-size:1.5em;" class="fas fa-cogs"></span> &nbsp; &nbsp;Klassifikation anpassen
              </div>
              <div [hidden]="!classificationCollapsed" 
                class="box boxedLegend with-border"
                style="border-top: 1px solid #d2d6de; margin-top: 5px;">								
                <div class="box-header with-border">
                  <h3 class="box-title">Klassifikation anpassen</h3>
                  <div class="box-tools pull-right">
                    <button type="button" class="close" (click)="classificationCollapsed=!classificationCollapsed">×</button>
                  </div>
                </div>
                <div class="box-body">
                  <kommonitor-classification-component></kommonitor-classification-component>
                </div>
              </div>
              </div>
              
            </div>
          </div>
          <div class="tab-pane" id="legendTab2Content" role="tabpanel"
            aria-labelledby="legendTab2">

            <div class="just-padding">
              <h4>&Uuml;bersicht Metadaten</h4>
              <div id="indicatorMetadataOverview" text-align="center" align="center" class="">
    
                <table class="table table-condensed">
                  <!-- <thead>
                            <tr>
                              <th>Name des Metadatums</th>
                              <th>Beschreibung des Metadatums</th>
                            </tr>
                          </thead> -->
                  <tbody>
                    <tr>
                      <td><b>Name</b></td>
                      <td>{{dataExchangeService.selectedIndicator.indicatorName}}</td>
                    </tr>
                    <tr>
                      <td><b>Kategorie</b></td>
                      <td
                        *ngIf="dataExchangeService.selectedIndicator.isHeadlineIndicator">
                        Leitindikator</td>
                      <td
                        *ngIf="!dataExchangeService.selectedIndicator.isHeadlineIndicator">
                        Basisindikator</td>
                    </tr>
                    <tr>
                      <td><b>Typ</b></td>
                      <td>{{dataExchangeService.selectedIndicator.indicatorType}}</td>
                    </tr>
                    <!-- we hide characteristicValue parameter as it is and old relic not used any longer. 
                            -> deprecated -->
      
                    <!-- <tr ng-if="dataExchangeService.selectedIndicator.characteristicValue">
                              <td><b>Merkmalsauspr&auml;gung</b></td>
                              <td>{{dataExchangeService.selectedIndicator.characteristicValue}}</td>
                            </tr> -->
                    <tr>
                      <td><b>Kennzeichen/K&uuml;rzel</b></td>
                      <td>{{dataExchangeService.selectedIndicator.abbreviation}}</td>
                    </tr>
                    <tr>
                      <td><b>Beschreibung</b></td>
                      <td [innerHTML]="dataExchangeService.selectedIndicator.metadata.description">
                      </td>
                    </tr>
                    <tr>
                      <td><b>Maßeinheit</b></td>
                      <td>{{dataExchangeService.selectedIndicator.unit}}</td>
                    </tr>
                    <tr>
                      <td><b>Methodik</b></td>
                      <!-- <td [mathjax]="dataExchangeService.selectedIndicator.processDescription"> -->
                      <td>
                      </td>
                    </tr>
                    <tr>
                      <td><b>Interpretation</b></td>
                      <td [innerHTML]="dataExchangeService.selectedIndicator.interpretation">
                      </td>
                    </tr>
                    <tr>
                      <td><b>Datengrundlage</b></td>
                      <td [innerHTML]="dataExchangeService.selectedIndicator.metadata.databasis">
                      </td>
                    </tr>
                    <tr>
                      <td><b>Datenquelle</b></td>
                      <td [innerHTML]="dataExchangeService.selectedIndicator.metadata.datasource">
                      </td>
                    </tr>
                    <tr>
                      <td><b>Datenhalter und Kontakt</b></td>
                      <td [innerHTML]="dataExchangeService.selectedIndicator.metadata.contact">
                      </td>
                    </tr>
                    <tr>
                      <td><b>Bemerkung</b></td>
                      <td [innerHTML]="dataExchangeService.selectedIndicator.metadata.note">
                      </td>
                    </tr>
                    <tr>
                      <td><b>Fortführungsintervall</b></td>
                      <td [innerHTML]="dataExchangeService.selectedIndicator.metadata.updateInterval">
                      </td>
                    </tr>
                  </tbody>
                </table>
    
              </div>

              <hr>
              <br/>

              <div>
                <h4>Verkn&uuml;pfte Indikatoren</h4>
                <div *ngIf="!dataExchangeService.selectedIndicator.referencedIndicators || dataExchangeService.selectedIndicator.referencedIndicators.length==0">
                  -- keine --
                </div>
                <div *ngIf="dataExchangeService.selectedIndicator.referencedIndicators?.length > 0">
                  <div id="referencedIndicatorOverview" text-align="center" style="text-align:center" class="">
        
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th>Name des Indikators</th>
                        <th>K&uuml;rzel/Kennziffer</th>
                        <th>Beschreibung der Verkn&uuml;pfung</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let indicator of dataExchangeService.selectedIndicator.referencedIndicators">
                        <td>{{indicator.referencedIndicatorName}}</td>
                        <td>{{dataExchangeService.getIndicatorAbbreviationFromIndicatorId(indicator.referencedIndicatorId)}}</td>
                        <td>{{indicator.referencedIndicatorDescription}}</td>
                      </tr>
                    </tbody>
                  </table>
        
                  </div>
                </div>
              </div>
              
              <hr>
              <br/>

              <div>
                <h4>Verkn&uuml;pfte Georessourcen</h4>
                <div *ngIf="!dataExchangeService.selectedIndicator.referencedGeoresources || dataExchangeService.selectedIndicator.referencedGeoresources.length==0">
                  -- keine --
                </div>
                <div *ngIf="dataExchangeService.selectedIndicator.referencedGeoresources?.length > 0">
                  <div id="referencedGeoresourcesOverview" text-align="center" style="text-align:center" class="">
                  <h4>Verkn&uuml;pfte Georessourcen</h4>
        
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th>Name der Georessource</th>
                        <th>Beschreibung der Verkn&uuml;pfung</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let georesource of dataExchangeService.selectedIndicator.referencedGeoresources">
                        <td>{{georesource.referencedGeoresourceName}}</td>
                        <td>{{georesource.referencedGeoresourceDescription}}</td>
                      </tr>
                    </tbody>
                  </table>
        
                </div>
                </div>
              </div>
            </div>

          </div>
          <div class="tab-pane" [ngClass]="{'active': hasActiveWMSLayers()}" id="legendTab3Content" role="tabpanel" aria-labelledby="legendTab3" *ngIf="hasActiveWMSLayers()">

            
            <div class="just-padding">
              <table class="table table-condensed " style="margin-bottom:0px;">
                <thead>
                  <tr>
                    <th>Datensatz</th>
                    <th>Legende</th>
                  </tr>
                </thead>

                <tbody>

                  <!--  | filter:{isSelected:'true'} -->
                  <tr *ngFor="let dataset of dataExchangeService.availableWmsDatasets | activeWmsFilter">										
                    <td>
                      <label [innerHTML]="dataset.title">
                      </label>
                    </td>
                    <td class="text-center">
                      <img [src]="ogcService.buildLegendUrl(dataset.connectionDetails.baseUrl,dataset.connectionDetails.layerName)">
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>	
          </div>
        </div>

      </div>

    </expandable-box>
  
    <expandable-box [title]="'Indikatoren-Statistik'" [collapsed]="true">
      <em>Referenzzeitpunkt {{dataExchangeService.tsToDate_withOptionalUpdateInterval(dateAsDate, dataExchangeService.selectedIndicator.metadata.updateInterval)}}</em>
      <table id="statisticalValuesDisplayTable" class="table">
        <thead>
          <tr>
            <th></th>
            <th *ngIf="filterHelperService.filteredIndicatorFeatureIds.size == 0">{{dataExchangeService.labelAllFeatures}}</th>
            <th *ngIf="filterHelperService.filteredIndicatorFeatureIds.size > 0">{{dataExchangeService.labelFilteredFeatures}}</th>
            <th>{{dataExchangeService.labelSelectedFeatures}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{dataExchangeService.labelNumberOfFeatures}}</td>
            <td>{{dataExchangeService.allFeaturesNumberOfFeatures}}</td>
            <td>{{dataExchangeService.selectedFeaturesNumberOfFeatures}}</td>
          </tr>
          <tr *ngIf="! dataExchangeService.allFeaturesRegionalSum">
            <td>{{dataExchangeService.labelSum}}</td>
            <td>{{dataExchangeService.getIndicatorValue_asFormattedText(dataExchangeService.allFeaturesSum)}}</td>
            <td>{{dataExchangeService.selectedFeaturesSum}}</td>
          </tr>
          <tr *ngIf="dataExchangeService.allFeaturesRegionalSum">
            <td>{{dataExchangeService.labelSum_regional}}</td>
            <td>{{dataExchangeService.getIndicatorValue_asFormattedText(dataExchangeService.allFeaturesRegionalSum)}}</td>
            <td>{{dataExchangeService.getIndicatorValue_asFormattedText(dataExchangeService.selectedFeaturesSum)}}</td>
          </tr>
          <tr *ngIf="dataExchangeService.allFeaturesRegionalMean">
            <td>{{dataExchangeService.labelMean_regional}}</td>
            <td>{{dataExchangeService.getIndicatorValue_asFormattedText(dataExchangeService.allFeaturesRegionalMean)}}</td>
            <td>{{dataExchangeService.getIndicatorValue_asFormattedText(dataExchangeService.selectedFeaturesMean)}}</td>
          </tr>
          <tr *ngIf="dataExchangeService.allFeaturesMean && (dataExchangeService.configMeanDataDisplay == 'both' || (! dataExchangeService.allFeaturesRegionalMean && dataExchangeService.configMeanDataDisplay == 'preferRegionalMeanIfAvailable'))">
            <td>{{dataExchangeService.labelMean}}</td>
            <td>{{dataExchangeService.getIndicatorValue_asFormattedText(dataExchangeService.allFeaturesMean)}}</td>
            <td>{{dataExchangeService.selectedFeaturesMean}}</td>
          </tr>
          <tr>
            <td>{{dataExchangeService.labelMin}}</td>
            <td>{{dataExchangeService.getIndicatorValue_asFormattedText(dataExchangeService.allFeaturesMin)}}</td>
            <td>{{dataExchangeService.getIndicatorValue_asFormattedText(dataExchangeService.selectedFeaturesMin)}}</td>
          </tr>
          <tr>
            <td>{{dataExchangeService.labelMax}}</td>
                <td>{{dataExchangeService.getIndicatorValue_asFormattedText(dataExchangeService.allFeaturesMax)}}</td>
            <td>{{dataExchangeService.getIndicatorValue_asFormattedText(dataExchangeService.selectedFeaturesMax)}}</td>
          </tr>
          <tr>
            <td>{{dataExchangeService.labelSpatiallyUnassignable_regional}}</td>
                <td>{{dataExchangeService.allFeaturesRegionalSpatiallyUnassignable || "-"}}</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </expandable-box>

</div>