<button
  type="button"
  id="sidebarLegendCollapse"
  (click)="legendVisible = !legendVisible"
  class="buttonLegendClass"
  title="Legenden- und Informationsfenster"
>
  <i class="fas fa-info"></i>
</button>
@if (selectionState.selectedIndicator) {
  <div id="legendWrapper" [hidden]="!legendVisible">
    <expandable-box [title]="'Raumebene und Export'" [collapsed]="true">
      <div class="boxedLegend">
        <div class="row" style="margin-right: 0px">
          <div class="col-sm-7">
            <!-- *ngIf="env.enableSpatialUnitNotificationButton" -->
            <div class="text-left">
              <label>Raumebene</label>
              @if (spatialUnitNotificationModalEnabled()) {
                <a
                  (click)="showSpatialUnitNotificationModalIfEnabled()"
                  style="
                    font-size: 1.2em;
                    float: right;
                    margin-right: 1%;
                    margin-top: 0.5%;
                    cursor: pointer;
                  "
                  title="Information zu Raumebenen&nbsp;&nbsp;"
                  ><span class="fas fa-circle-info"></span
                ></a>
              }
            </div>
            <select
              (change)="onChangeSelectedSpatialUnit()"
              [(ngModel)]="selectionState.selectedSpatialUnit"
              class="form-control"
            >
              <option disabled selected value>-- Raumebene w&auml;hlen --</option>
              @for (item of filteredSpatialUnits(); track item) {
                <option [ngValue]="item">{{ item.spatialUnitLevel }}</option>
              }
            </select>
          </div>
          <div class="col-sm-4">
            <div class="text-left"><label>Datum</label></div>
            <div class="col-12">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                [(ngModel)]="datePickerDate"
                [markDisabled]="isDisabledDate"
                ngbDatepicker
                #d="ngbDatepicker"
                (click)="d.toggle()"
                (ngModelChange)="onChangeIndicatorDatepickerDate()"
                [disabled]="selectionState.disableIndicatorDatePicker === true ? true : false"
              />
            </div>
          </div>
        </div>
        <br />
        <!--  *ngIf="elementVisibilityService.elementVisibility?.indicatorLegendExportButtons" -->
        <label><i class="fa fa-file-download"></i>&nbsp;&nbsp;&nbsp;Export</label>
        <br />
        <div class="btn-group" id="indicatorLegendExportButtons">
          <button
            id="downloadMetadata"
            (click)="onClickDownloadMetadata()"
            class="btn btn-secondary btn-sm"
          >
            Metadatenblatt
          </button>
          <button id="openExportModal" (click)="openExportModal()" class="btn btn-primary btn-sm">
            Export
          </button>
        </div>
        <br />
        <br />
        <button
          title="Teilen Sie die aktuelle Indikatorenansicht mittels eines Links"
          id="shareLinkButton"
          (click)="onClickShareLinkButton()"
          class="btn btn-info btn-sm"
        >
          <i class="fas fa-share-alt"></i>aktuelle Ansicht teilen
        </button>
        <div id="snackbar">Link zur aktuellen Indikatoren-Ansicht in Zwischenablage kopiert</div>
      </div>
    </expandable-box>
    @if (selectionState.selectedIndicator) {
      <expandable-box [title]="'Legenden'" [collapsed]="false">
        <div class="boxedLegend">
          <ul class="nav nav-tabs" id="legendTabs" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link"
                [ngClass]="{ active: !hasActiveWMSLayers() }"
                id="legendTab1"
                data-bs-toggle="tab"
                data-bs-target="#legendTab1Content"
                role="tab"
                aria-controls="legendTab1Content"
                aria-selected="true"
                >Indikator</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="legendTab2"
                data-bs-toggle="tab"
                data-bs-target="#legendTab2Content"
                role="tab"
                aria-controls="legendTab2Content"
                aria-selected="false"
                >Indikator-Metadaten</a
              >
            </li>
            <li class="nav-item">
              @if (hasActiveWMSLayers()) {
                <a
                  class="nav-link"
                  [ngClass]="{ active: hasActiveWMSLayers() }"
                  id="legendTab3"
                  data-bs-toggle="tab"
                  data-bs-target="#legendTab3Content"
                  role="tab"
                  aria-controls="legendTab3Content"
                  aria-selected="false"
                  >WMS-Dienste</a
                >
              }
            </li>
          </ul>
          <div class="tab-content" id="legendTabContent">
            <div
              class="tab-pane"
              [ngClass]="{ active: !hasActiveWMSLayers() }"
              id="legendTab1Content"
              role="tabpanel"
              aria-labelledby="legendTab1"
            >
              <div class="just-padding">
                <h4>{{ selectionState.selectedIndicator.indicatorName }}</h4>
                @if (classificationState.isCustomComputation) {
                  <h5>&nbsp;-&nbsp; <i>individuelles Berechnungsergebnis</i></h5>
                }
                <p [innerHTML]="selectionState.selectedIndicator.metadata.description"></p>
                @if (
                  selectionState.selectedIndicator.indicatorType.includes('STATUS') &&
                  !chartDisplayState.isMeasureOfValueChecked &&
                  !chartDisplayState.isBalanceChecked
                ) {
                  <div>
                    <em
                      >Darstellung der Indikatorenwerte
                      {{
                        metadataExportService.tsToDate_withOptionalUpdateInterval(
                          dateAsDate,
                          selectionState.selectedIndicator.metadata.updateInterval
                        )
                      }}</em
                    >
                    @if (selectionState.selectedIndicator.referenceDateNote) {
                      <div>
                        <em
                          ><b>Hinweis Referenzdatum:</b>
                          {{ selectionState.selectedIndicator.referenceDateNote }}</em
                        >
                      </div>
                    }
                  </div>
                }
                @if (
                  selectionState.selectedIndicator.indicatorType.includes('DYNAMIC') &&
                  !chartDisplayState.isMeasureOfValueChecked &&
                  !chartDisplayState.isBalanceChecked
                ) {
                  <div>
                    <em
                      >Darstellung der zeitlichen Entwicklung zum gew&auml;hlten Zeitpunkt
                      {{
                        metadataExportService.tsToDate_withOptionalUpdateInterval(
                          dateAsDate,
                          selectionState.selectedIndicator.metadata.updateInterval
                        )
                      }}</em
                    >
                  </div>
                }
                @if (chartDisplayState.isMeasureOfValueChecked) {
                  <div>
                    <em>Schwellwert-Klassifizierung</em>
                    <em>Gew&auml;hlter Zeitpunkt: </em>
                    {{
                      metadataExportService.tsToDate_withOptionalUpdateInterval(
                        dateAsDate,
                        selectionState.selectedIndicator.metadata.updateInterval
                      )
                    }}
                    <em>aktueller Schwellwert: </em> {{ chartDisplayState.measureOfValue }}
                  </div>
                }
                @if (chartDisplayState.isBalanceChecked) {
                  <div>
                    <em
                      >Bilanzierung -
                      {{ chartDisplayState.indicatorAndMetadataAsBalance['fromDate'] }} -
                      {{ chartDisplayState.indicatorAndMetadataAsBalance['toDate'] }}</em
                    >
                  </div>
                }
                <br />
                @if (
                  selectionState.selectedIndicator.interpretation &&
                  selectionState.selectedIndicator.interpretation !== ''
                ) {
                  <div>
                    <label>Interpretationshilfe:</label>
                    <p [innerHTML]="selectionState.selectedIndicator.interpretation"></p>
                  </div>
                }
                <br />
                <div class="row" style="margin-right: 0px">
                  <div class="col-md-3"><b>Symbolik</b></div>
                  <div [class]="showLabelsColumn ? 'col-md-3' : 'col-md-6'">
                    @if (isQualitativeClassification) {
                      <b>Wert</b>
                    } @else {
                      <b>Wertebereich</b> [{{ selectionState.selectedIndicator.unit }}]
                    }
                  </div>
                  @if (showLabelsColumn) {
                    <div class="col-md-3"><b>Labels</b></div>
                  }
                  <div class="col-md-3"><b>Anzahl Raumeinheiten</b></div>
                  <br />
                </div>
                @if (containsNoData) {
                  <div>
                    <div class="row" style="margin-right: 0px">
                      <div class="col-md-3">
                        <i
                          [ngStyle]="{
                            background: defaultColorForNoDataValues,
                            border: '2px solid ' + defaultBorderColorForNoDataValues,
                            opacity: classificationState.currentIndicatorOpacity,
                          }"
                        ></i>
                      </div>
                      <div [class]="showLabelsColumn ? 'col-md-3' : 'col-md-6'">Leerwert</div>
                      @if (showLabelsColumn) {
                        <div class="col-md-3"></div>
                      }
                      <div class="col-md-3">{{ classificationState.featuresPerNoData }}</div>
                      <br />
                    </div>
                  </div>
                }
                @if (containsOutliers_low && envConfigService.useOutlierDetectionOnIndicator) {
                  <div>
                    <div class="row" style="margin-right: 0px">
                      <div class="col-md-3"><i ng-bind-html="svgString_outlierLow"></i></div>
                      <div [class]="showLabelsColumn ? 'col-md-3' : 'col-md-6'">
                        untere Ausrei&szlig;er {{ makeOutliersLowLegendString(outliers_low) }}
                      </div>
                      @if (showLabelsColumn) {
                        <div class="col-md-3"></div>
                      }
                      <div class="col-md-3">{{ classificationState.featuresPerOutlierLow }}</div>
                      <br />
                    </div>
                  </div>
                }
                @if (containsOutliers_high && envConfigService.useOutlierDetectionOnIndicator) {
                  <div>
                    <div class="row" style="margin-right: 0px">
                      <div class="col-md-3"><i ng-bind-html="svgString_outlierHigh"></i></div>
                      <div [class]="showLabelsColumn ? 'col-md-3' : 'col-md-6'">
                        obere Ausrei&szlig;er {{ makeOutliersHighLegendString(outliers_high) }}
                      </div>
                      @if (showLabelsColumn) {
                        <div class="col-md-3"></div>
                      }
                      <div class="col-md-3">{{ classificationState.featuresPerOutlierHigh }}</div>
                      <br />
                    </div>
                  </div>
                }
                @if (
                  filterHelperService.filteredIndicatorFeatureIds.size > 0 &&
                  !filterHelperService.completelyRemoveFilteredFeaturesFromDisplay
                ) {
                  <div>
                    <div class="row" style="margin-right: 0px">
                      <div class="col-md-3">
                        <i
                          [ngStyle]="{
                            background: defaultColorForFilteredValues,
                            border: '2px solid ' + defaultBorderColorForFilteredValues,
                            opacity: classificationState.currentIndicatorOpacity,
                          }"
                        ></i>
                      </div>
                      <div [class]="showLabelsColumn ? 'col-md-3' : 'col-md-6'">
                        gefilterte Raumeinheiten
                      </div>
                      @if (showLabelsColumn) {
                        <div class="col-md-3"></div>
                      }
                      <div class="col-md-3">
                        {{ filterHelperService.filteredIndicatorFeatureIds.size }}
                      </div>
                      <br />
                    </div>
                  </div>
                }
                <br />
                <!-- Measure of Value legend items -->
                @if (chartDisplayState.isMeasureOfValueChecked) {
                  <div>
                    <!-- zero -->
                    @if (envConfigService.classifyZeroSeparately && containsZeroValues) {
                      <div class="row" style="margin-right: 0px">
                        <div class="col-md-3">
                          <i
                            [ngStyle]="{
                              background: defaultColorForZeroValues,
                              opacity: classificationState.currentIndicatorOpacity,
                            }"
                          ></i>
                        </div>
                        <div [class]="showLabelsColumn ? 'col-md-3' : 'col-md-6'">0</div>
                        @if (showLabelsColumn) {
                          <div class="col-md-3"></div>
                        }
                        <div class="col-md-3">{{ classificationState.featuresPerZero }}</div>
                        <br />
                      </div>
                    }
                    <br />
                    <!-- lesser than values -->
                    @for (
                      color of classificationState.measureOfValueBrew[1].colors;
                      track color;
                      let i = $index
                    ) {
                      <div class="row" style="margin-right: 0px">
                        <div class="col-md-3">
                          <i
                            [ngStyle]="{
                              background: color,
                              opacity: classificationState.currentIndicatorOpacity,
                            }"
                          ></i>
                        </div>
                        @if (classificationState.measureOfValueBrew[1].breaks[i + 1]) {
                          <div [class]="showLabelsColumn ? 'col-md-3' : 'col-md-6'">
                            {{
                              getIndicatorValue_asFormattedText(
                                classificationState.measureOfValueBrew[1].breaks[i]
                              )
                            }}
                            &dash; &lt;
                            {{
                              getIndicatorValue_asFormattedText(
                                classificationState.measureOfValueBrew[1].breaks[i + 1]
                              )
                            }}
                          </div>
                        }
                        @if (!classificationState.measureOfValueBrew[1].breaks[i + 1]) {
                          <div [class]="showLabelsColumn ? 'col-md-3' : 'col-md-6'">
                            {{
                              getIndicatorValue_asFormattedText(
                                classificationState.measureOfValueBrew[1].breaks[i]
                              )
                            }}
                          </div>
                        }
                        @if (showLabelsColumn) {
                          <div class="col-md-3"></div>
                        }
                        <div class="col-md-3">
                          {{ classificationState.featuresPerColorMap.get(color) || 0 }}
                        </div>
                      </div>
                    }
                    <br />
                    <!-- higher than values -->
                    @for (
                      color of classificationState.measureOfValueBrew[0].colors;
                      track color;
                      let i = $index
                    ) {
                      <div class="row" style="margin-right: 0px">
                        <div class="col-md-3">
                          <i
                            [ngStyle]="{
                              background: color,
                              opacity: classificationState.currentIndicatorOpacity,
                            }"
                          ></i>
                        </div>
                        @if (classificationState.measureOfValueBrew[0].breaks[i + 1]) {
                          <div [class]="showLabelsColumn ? 'col-md-3' : 'col-md-6'">
                            {{
                              getIndicatorValue_asFormattedText(
                                classificationState.measureOfValueBrew[0].breaks[i]
                              )
                            }}
                            &dash; &lt;
                            {{
                              getIndicatorValue_asFormattedText(
                                classificationState.measureOfValueBrew[0].breaks[i + 1]
                              )
                            }}
                          </div>
                        }
                        @if (!classificationState.measureOfValueBrew[0].breaks[i + 1]) {
                          <div [class]="showLabelsColumn ? 'col-md-3' : 'col-md-6'">
                            {{
                              getIndicatorValue_asFormattedText(
                                classificationState.measureOfValueBrew[0].breaks[i]
                              )
                            }}
                          </div>
                        }
                        @if (showLabelsColumn) {
                          <div class="col-md-3"></div>
                        }
                        <div class="col-md-3">
                          {{ classificationState.featuresPerColorMap.get(color) || 0 }}
                        </div>
                      </div>
                    }
                  </div>
                }
                <!-- Dynamic legend items -->
                @if (
                  (chartDisplayState.isBalanceChecked ||
                    selectionState.selectedIndicator.indicatorType.includes('DYNAMIC') ||
                    containsNegativeValues) &&
                  !chartDisplayState.isMeasureOfValueChecked
                ) {
                  <div>
                    <!-- < 0 values -->
                    @if (classificationState.dynamicBrew && classificationState.dynamicBrew[1]) {
                      <div>
                        @for (
                          color of classificationState.dynamicBrew[1].colors;
                          track color;
                          let i = $index
                        ) {
                          <div class="row" style="margin-right: 0px">
                            <div class="col-md-3">
                              <i
                                [ngStyle]="{
                                  background: color,
                                  opacity: classificationState.currentIndicatorOpacity,
                                }"
                              ></i>
                            </div>
                            @if (classificationState.dynamicBrew[1].breaks[i + 1]) {
                              <div [class]="showLabelsColumn ? 'col-md-3' : 'col-md-6'">
                                {{
                                  getIndicatorValue_asFormattedText(
                                    classificationState.dynamicBrew[1].breaks[i]
                                  )
                                }}
                                &dash; &lt;
                                {{
                                  getIndicatorValue_asFormattedText(
                                    classificationState.dynamicBrew[1].breaks[i + 1]
                                  )
                                }}
                              </div>
                            }
                            @if (!classificationState.dynamicBrew[1].breaks[i + 1]) {
                              <div [class]="showLabelsColumn ? 'col-md-3' : 'col-md-6'">
                                {{
                                  getIndicatorValue_asFormattedText(
                                    classificationState.dynamicBrew[1].breaks[i]
                                  )
                                }}
                              </div>
                            }
                            @if (showLabelsColumn) {
                              <div class="col-md-3"></div>
                            }
                            <div class="col-md-3">
                              {{ classificationState.featuresPerColorMap.get(color) || 0 }}
                            </div>
                          </div>
                        }
                      </div>
                    }
                    <br />
                    <!-- zero -->
                    @if (envConfigService.classifyZeroSeparately && containsZeroValues) {
                      <div class="row" style="margin-right: 0px">
                        <div class="col-md-3">
                          <i
                            [ngStyle]="{
                              background: defaultColorForZeroValues,
                              opacity: classificationState.currentIndicatorOpacity,
                            }"
                          ></i>
                        </div>
                        <div [class]="showLabelsColumn ? 'col-md-3' : 'col-md-6'">0</div>
                        @if (showLabelsColumn) {
                          <div class="col-md-3"></div>
                        }
                        <div class="col-md-3">{{ classificationState.featuresPerZero }}</div>
                        <br />
                      </div>
                    }
                    <br />
                    <!-- > 0 values -->
                    @if (classificationState.dynamicBrew && classificationState.dynamicBrew[0]) {
                      <div>
                        @for (
                          color of classificationState.dynamicBrew[0].colors;
                          track color;
                          let i = $index
                        ) {
                          <div class="row" style="margin-right: 0px">
                            <div class="col-md-3">
                              <i
                                [ngStyle]="{
                                  background: color,
                                  opacity: classificationState.currentIndicatorOpacity,
                                }"
                              ></i>
                            </div>
                            @if (classificationState.dynamicBrew[0].breaks[i + 1]) {
                              <div [class]="showLabelsColumn ? 'col-md-3' : 'col-md-6'">
                                {{
                                  getIndicatorValue_asFormattedText(
                                    classificationState.dynamicBrew[0].breaks[i]
                                  )
                                }}
                                &dash; &lt;
                                {{
                                  getIndicatorValue_asFormattedText(
                                    classificationState.dynamicBrew[0].breaks[i + 1]
                                  )
                                }}
                              </div>
                            }
                            @if (!classificationState.dynamicBrew[0].breaks[i + 1]) {
                              <div [class]="showLabelsColumn ? 'col-md-3' : 'col-md-6'">
                                {{
                                  getIndicatorValue_asFormattedText(
                                    classificationState.dynamicBrew[0].breaks[i]
                                  )
                                }}
                              </div>
                            }
                            @if (showLabelsColumn) {
                              <div class="col-md-3"></div>
                            }
                            <div class="col-md-3">
                              {{ classificationState.featuresPerColorMap.get(color) || 0 }}
                            </div>
                          </div>
                        }
                      </div>
                    }
                  </div>
                }
                <!-- Static/Status legend items -->
                @if (
                  selectionState.selectedIndicator.indicatorType.includes('STATUS') &&
                  !containsNegativeValues &&
                  !chartDisplayState.isMeasureOfValueChecked &&
                  !chartDisplayState.isBalanceChecked
                ) {
                  <div>
                    @if (isQualitativeClassification) {
                      <!-- qualitative (categorical) classification -->
                      @for (
                        category of categoricalClassification;
                        track category.categoricalValue;
                        let i = $index
                      ) {
                        <div class="row" style="margin-right: 0px">
                          <div class="col-md-3">
                            <i
                              [ngStyle]="{
                                background: category.color,
                                opacity: classificationState.currentIndicatorOpacity,
                              }"
                            ></i>
                          </div>
                          <div class="col-md-3">{{ category.categoricalValue }}</div>
                          <div class="col-md-3">{{ category.label }}</div>
                          <div class="col-md-3">
                            {{ classificationState.featuresPerColorMap.get(category.color) || 0 }}
                          </div>
                        </div>
                      }
                      <!-- "Sonstige": feature values matching no defined category -->
                      @if (classificationState.featuresPerColorMap.get(categoricalOtherColor)) {
                        <div class="row" style="margin-right: 0px">
                          <div class="col-md-3">
                            <i
                              [ngStyle]="{
                                background: categoricalOtherColor,
                                opacity: classificationState.currentIndicatorOpacity,
                              }"
                            ></i>
                          </div>
                          <div class="col-md-3">Sonstige</div>
                          <div class="col-md-3"></div>
                          <div class="col-md-3">
                            {{ classificationState.featuresPerColorMap.get(categoricalOtherColor) }}
                          </div>
                        </div>
                      }
                    } @else {
                      <!-- zero -->
                      @if (envConfigService.classifyZeroSeparately && containsZeroValues) {
                        <div class="row" style="margin-right: 0px">
                          <div class="col-md-3">
                            <i
                              [ngStyle]="{
                                background: defaultColorForZeroValues,
                                opacity: classificationState.currentIndicatorOpacity,
                              }"
                            ></i>
                          </div>
                          <div [class]="showLabelsColumn ? 'col-md-3' : 'col-md-6'">0</div>
                          @if (showLabelsColumn) {
                            <div class="col-md-3"></div>
                          }
                          <div class="col-md-3">{{ classificationState.featuresPerZero }}</div>
                          <br />
                        </div>
                      }
                      <br />
                      <div>
                        @switch (classificationState.classifyMethod) {
                          @case ('manual') {
                            <div>
                              <!-- manual classification -->
                              @for (
                                color of classificationState.manualBrew?.colors;
                                track color;
                                let i = $index
                              ) {
                                <div class="row" style="margin-right: 0px">
                                  <div class="col-md-3">
                                    <i
                                      [ngStyle]="{
                                        background: color,
                                        opacity: classificationState.currentIndicatorOpacity,
                                      }"
                                    >
                                    </i>
                                  </div>
                                  @if (classificationState.manualBrew.breaks[i + 1]) {
                                    <div [class]="showLabelsColumn ? 'col-md-3' : 'col-md-6'">
                                      {{
                                        getIndicatorValue_asFormattedText(
                                          classificationState.manualBrew.breaks[i]
                                        )
                                      }}
                                      &dash; &lt;
                                      {{
                                        getIndicatorValue_asFormattedText(
                                          classificationState.manualBrew.breaks[i + 1]
                                        )
                                      }}
                                    </div>
                                  }
                                  @if (!classificationState.manualBrew.breaks[i + 1]) {
                                    <div [class]="showLabelsColumn ? 'col-md-3' : 'col-md-6'">
                                      {{
                                        getIndicatorValue_asFormattedText(
                                          classificationState.manualBrew.breaks[i]
                                        )
                                      }}
                                    </div>
                                  }
                                  @if (showLabelsColumn) {
                                    <div class="col-md-3">{{ classificationLabels[i] }}</div>
                                  }
                                  <div class="col-md-3">
                                    {{ classificationState.featuresPerColorMap.get(color) || 0 }}
                                  </div>
                                </div>
                              }
                            </div>
                          }
                          @default {
                            <div>
                              <!-- default values -->
                              @for (
                                color of classificationState.defaultBrew?.colors;
                                track color;
                                let i = $index
                              ) {
                                <div class="row" style="margin-right: 0px">
                                  <div class="col-md-3">
                                    <i
                                      [ngStyle]="{
                                        background: color,
                                        opacity: classificationState.currentIndicatorOpacity,
                                      }"
                                    ></i>
                                  </div>
                                  @if (classificationState.defaultBrew.breaks[i + 1]) {
                                    <div [class]="showLabelsColumn ? 'col-md-3' : 'col-md-6'">
                                      {{
                                        getIndicatorValue_asFormattedText(
                                          classificationState.defaultBrew.breaks[i]
                                        )
                                      }}
                                      &dash; &lt;
                                      {{
                                        getIndicatorValue_asFormattedText(
                                          classificationState.defaultBrew.breaks[i + 1]
                                        )
                                      }}
                                    </div>
                                  }
                                  @if (!classificationState.defaultBrew.breaks[i + 1]) {
                                    <div [class]="showLabelsColumn ? 'col-md-3' : 'col-md-6'">
                                      {{
                                        getIndicatorValue_asFormattedText(
                                          classificationState.defaultBrew.breaks[i]
                                        )
                                      }}
                                    </div>
                                  }
                                  @if (showLabelsColumn) {
                                    <div class="col-md-3">{{ classificationLabels[i] }}</div>
                                  }
                                  <div class="col-md-3">
                                    {{ classificationState.featuresPerColorMap.get(color) || 0 }}
                                  </div>
                                  <!-- hier -->
                                </div>
                              }
                            </div>
                          }
                        }
                      </div>
                    }
                  </div>
                }
                <div>
                  <br />
                  @if (
                    selectionState.allFeaturesRegionalMean() &&
                    envConfigService.enableMeanDataDisplayInLegend
                  ) {
                    <div>
                      <b>{{ labelService.labelMean_regional }}</b>
                      {{
                        getIndicatorValue_asFormattedText(selectionState.allFeaturesRegionalMean())
                      }}
                    </div>
                  }
                  @if (
                    selectionState.allFeaturesMean() &&
                    envConfigService.enableMeanDataDisplayInLegend &&
                    (envConfigService.configMeanDataDisplay === 'both' ||
                      (!selectionState.allFeaturesRegionalMean() &&
                        envConfigService.configMeanDataDisplay === 'preferRegionalMeanIfAvailable'))
                  ) {
                    <div>
                      <b>{{ labelService.labelMean }}</b>
                      {{ getIndicatorValue_asFormattedText(selectionState.allFeaturesMean()) }}
                    </div>
                  }
                </div>
                <!-- numeric classification editor: not applicable to qualitative indicators -->
                @if (!isQualitativeClassification) {
                  <div id="kommonitorIndicatorClassification">
                    <div
                      id="indicatorClassificationCollapse"
                      (click)="classificationCollapsed = !classificationCollapsed"
                      style="font-size: 1em; cursor: pointer; margin-top: 16px"
                      title="Klassifikation anpassen"
                    >
                      <span style="font-size: 1.5em" class="fas fa-cogs"></span> &nbsp;
                      &nbsp;Klassifikation anpassen
                    </div>
                    <div
                      [hidden]="classificationCollapsed"
                      class="box boxedLegend with-border"
                      style="border-top: 1px solid #d2d6de; margin-top: 5px"
                    >
                      <div class="box-header with-border">
                        <h3 class="box-title">Klassifikation anpassen</h3>
                        <div class="box-tools">
                          <button
                            type="button"
                            class="btn-close"
                            aria-label="Klassifikation schließen"
                            (click)="classificationCollapsed = !classificationCollapsed"
                          ></button>
                        </div>
                      </div>
                      <div class="box-body">
                        <kommonitor-classification-component></kommonitor-classification-component>
                      </div>
                    </div>
                  </div>
                }
              </div>
            </div>
            <div
              class="tab-pane"
              id="legendTab2Content"
              role="tabpanel"
              aria-labelledby="legendTab2"
            >
              <div class="just-padding">
                <h4>&Uuml;bersicht Metadaten</h4>
                <div id="indicatorMetadataOverview" text-align="center" align="center" class="">
                  <table class="table table-sm">
                    <!-- <thead>
                      <tr>
                        <th>Name des Metadatums</th>
                        <th>Beschreibung des Metadatums</th>
                      </tr>
                    </thead> -->
                    <tbody>
                      <tr>
                        <td><b>Name</b></td>
                        <td>{{ selectionState.selectedIndicator.indicatorName }}</td>
                      </tr>
                      <tr>
                        <td><b>Kategorie</b></td>
                        @if (selectionState.selectedIndicator.isHeadlineIndicator) {
                          <td>Leitindikator</td>
                        }
                        @if (!selectionState.selectedIndicator.isHeadlineIndicator) {
                          <td>Basisindikator</td>
                        }
                      </tr>
                      <tr>
                        <td><b>Typ</b></td>
                        <td>{{ selectionState.selectedIndicator.indicatorType }}</td>
                      </tr>
                      <!-- we hide characteristicValue parameter as it is and old relic not used any longer.
                      -> deprecated -->
                      <!-- <tr ng-if="selectionState.selectedIndicator.characteristicValue">
                      <td><b>Merkmalsauspr&auml;gung</b></td>
                      <td>{{selectionState.selectedIndicator.characteristicValue}}</td>
                    </tr> -->
                      <tr>
                        <td><b>Kennzeichen/K&uuml;rzel</b></td>
                        <td>{{ selectionState.selectedIndicator.abbreviation }}</td>
                      </tr>
                      <tr>
                        <td><b>Beschreibung</b></td>
                        <td
                          [innerHTML]="selectionState.selectedIndicator.metadata.description"
                        ></td>
                      </tr>
                      <tr>
                        <td><b>Maßeinheit</b></td>
                        <td>{{ selectionState.selectedIndicator.unit }}</td>
                      </tr>
                      <tr>
                        <td><b>Methodik</b></td>
                        <!-- <td [mathjax]="selectionState.selectedIndicator.processDescription"> -->
                        <td></td>
                      </tr>
                      <tr>
                        <td><b>Interpretation</b></td>
                        <td [innerHTML]="selectionState.selectedIndicator.interpretation"></td>
                      </tr>
                      <tr>
                        <td><b>Datengrundlage</b></td>
                        <td [innerHTML]="selectionState.selectedIndicator.metadata.databasis"></td>
                      </tr>
                      <tr>
                        <td><b>Datenquelle</b></td>
                        <td [innerHTML]="selectionState.selectedIndicator.metadata.datasource"></td>
                      </tr>
                      <tr>
                        <td><b>Datenhalter und Kontakt</b></td>
                        <td [innerHTML]="selectionState.selectedIndicator.metadata.contact"></td>
                      </tr>
                      <tr>
                        <td><b>Bemerkung</b></td>
                        <td [innerHTML]="selectionState.selectedIndicator.metadata.note"></td>
                      </tr>
                      <tr>
                        <td><b>Fortführungsintervall</b></td>
                        <td
                          [innerHTML]="selectionState.selectedIndicator.metadata.updateInterval"
                        ></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <hr />
                <div>
                  <h4>Verkn&uuml;pfte Indikatoren</h4>
                  @if (
                    !selectionState.selectedIndicator.referencedIndicators ||
                    selectionState.selectedIndicator.referencedIndicators.length == 0
                  ) {
                    <div>-- keine --</div>
                  }
                  @if (selectionState.selectedIndicator.referencedIndicators?.length > 0) {
                    <div>
                      <div
                        id="referencedIndicatorOverview"
                        text-align="center"
                        style="text-align: center"
                        class=""
                      >
                        <table class="table table-sm">
                          <thead>
                            <tr>
                              <th>Name des Indikators</th>
                              <th>K&uuml;rzel/Kennziffer</th>
                              <th>Beschreibung der Verkn&uuml;pfung</th>
                            </tr>
                          </thead>
                          <tbody>
                            @for (
                              indicator of selectionState.selectedIndicator.referencedIndicators;
                              track $index
                            ) {
                              @if (indicator) {
                                <tr>
                                  <td>{{ indicator.referencedIndicatorName }}</td>
                                  <td>
                                    {{
                                      indicatorStore.getIndicatorAbbreviationFromIndicatorId(
                                        indicator.referencedIndicatorId
                                      )
                                    }}
                                  </td>
                                  <td>{{ indicator.referencedIndicatorDescription }}</td>
                                </tr>
                              }
                            }
                          </tbody>
                        </table>
                      </div>
                    </div>
                  }
                </div>
                <hr />
                <div>
                  <h4>Verkn&uuml;pfte Georessourcen</h4>
                  @if (
                    !selectionState.selectedIndicator.referencedGeoresources ||
                    selectionState.selectedIndicator.referencedGeoresources.length == 0
                  ) {
                    <div>-- keine --</div>
                  }
                  @if (selectionState.selectedIndicator.referencedGeoresources?.length > 0) {
                    <div>
                      <div
                        id="referencedGeoresourcesOverview"
                        text-align="center"
                        style="text-align: center"
                        class=""
                      >
                        <h4>Verkn&uuml;pfte Georessourcen</h4>
                        <table class="table table-sm">
                          <thead>
                            <tr>
                              <th>Name der Georessource</th>
                              <th>Beschreibung der Verkn&uuml;pfung</th>
                            </tr>
                          </thead>
                          <tbody>
                            @for (
                              georesource of selectionState.selectedIndicator
                                .referencedGeoresources;
                              track $index
                            ) {
                              @if (georesource) {
                                <tr>
                                  <td>{{ georesource.referencedGeoresourceName }}</td>
                                  <td>{{ georesource.referencedGeoresourceDescription }}</td>
                                </tr>
                              }
                            }
                          </tbody>
                        </table>
                      </div>
                    </div>
                  }
                </div>
              </div>
            </div>
            @if (hasActiveWMSLayers()) {
              <div
                class="tab-pane"
                [ngClass]="{ active: hasActiveWMSLayers() }"
                id="legendTab3Content"
                role="tabpanel"
                aria-labelledby="legendTab3"
              >
                <div class="just-padding">
                  <table class="table table-sm" style="margin-bottom: 0px">
                    <thead>
                      <tr>
                        <th>Datensatz</th>
                        <th>Legende</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!--  | filter:{isSelected:'true'} -->
                      @for (
                        dataset of georesourceStore.availableWmsDatasets | activeWmsFilter;
                        track dataset
                      ) {
                        <tr>
                          <td>
                            <label [innerHTML]="dataset.title"> </label>
                          </td>
                          <td class="text-center">
                            <img
                              [src]="
                                ogcService.buildLegendUrl(
                                  dataset.connectionDetails.baseUrl,
                                  dataset.connectionDetails.layerName
                                )
                              "
                            />
                          </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            }
          </div>
        </div>
      </expandable-box>
    }
    <expandable-box [title]="'Indikatoren-Statistik'" [collapsed]="true">
      <em
        >Referenzzeitpunkt
        {{
          metadataExportService.tsToDate_withOptionalUpdateInterval(
            dateAsDate,
            selectionState.selectedIndicator.metadata.updateInterval
          )
        }}</em
      >
      <table id="statisticalValuesDisplayTable" class="table">
        <thead>
          <tr>
            <th></th>
            @if (filterHelperService.filteredIndicatorFeatureIds.size == 0) {
              <th>{{ labelService.labelAllFeatures }}</th>
            }
            @if (filterHelperService.filteredIndicatorFeatureIds.size > 0) {
              <th>{{ labelService.labelFilteredFeatures }}</th>
            }
            <th>{{ labelService.labelSelectedFeatures }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ labelService.labelNumberOfFeatures }}</td>
            <td>{{ selectionState.allFeaturesNumberOfFeatures() }}</td>
            <td>{{ selectionState.selectedFeaturesNumberOfFeatures() }}</td>
          </tr>
          @if (!selectionState.allFeaturesRegionalSum()) {
            <tr>
              <td>{{ labelService.labelSum }}</td>
              <td>{{ getIndicatorValue_asFormattedText(selectionState.allFeaturesSum()) }}</td>
              <td>{{ selectionState.selectedFeaturesSum() }}</td>
            </tr>
          }
          @if (selectionState.allFeaturesRegionalSum()) {
            <tr>
              <td>{{ labelService.labelSum_regional }}</td>
              <td>
                {{ getIndicatorValue_asFormattedText(selectionState.allFeaturesRegionalSum()) }}
              </td>
              <td>{{ getIndicatorValue_asFormattedText(selectionState.selectedFeaturesSum()) }}</td>
            </tr>
          }
          @if (selectionState.allFeaturesRegionalMean()) {
            <tr>
              <td>{{ labelService.labelMean_regional }}</td>
              <td>
                {{ getIndicatorValue_asFormattedText(selectionState.allFeaturesRegionalMean()) }}
              </td>
              <td>
                {{ getIndicatorValue_asFormattedText(selectionState.selectedFeaturesMean()) }}
              </td>
            </tr>
          }
          @if (
            selectionState.allFeaturesMean() &&
            (envConfigService.configMeanDataDisplay === 'both' ||
              (!selectionState.allFeaturesRegionalMean() &&
                envConfigService.configMeanDataDisplay === 'preferRegionalMeanIfAvailable'))
          ) {
            <tr>
              <td>{{ labelService.labelMean }}</td>
              <td>{{ getIndicatorValue_asFormattedText(selectionState.allFeaturesMean()) }}</td>
              <td>{{ selectionState.selectedFeaturesMean() }}</td>
            </tr>
          }
          <tr>
            <td>{{ labelService.labelMin }}</td>
            <td>{{ getIndicatorValue_asFormattedText(selectionState.allFeaturesMin()) }}</td>
            <td>{{ getIndicatorValue_asFormattedText(selectionState.selectedFeaturesMin()) }}</td>
          </tr>
          <tr>
            <td>{{ labelService.labelMax }}</td>
            <td>{{ getIndicatorValue_asFormattedText(selectionState.allFeaturesMax()) }}</td>
            <td>{{ getIndicatorValue_asFormattedText(selectionState.selectedFeaturesMax()) }}</td>
          </tr>
          <tr>
            <td>{{ labelService.labelSpatiallyUnassignable_regional }}</td>
            <td>{{ selectionState.allFeaturesRegionalSpatiallyUnassignable() || '-' }}</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </expandable-box>
  </div>
}
