<app-admin-content-view
  [title]="'ADMIN_CONFIG.APP.TITLE' | translate"
  [description]="'ADMIN_CONFIG.APP.DESCRIPTION' | translate"
  [contentTemplate]="content"
>
</app-admin-content-view>

<ng-template #content>
  <expandable-box [title]="'ADMIN_CONFIG.APP.BOX_TITLE' | translate" [isCollapsible]="false">
    <p>
      {{ 'ADMIN_CONFIG.APP.INTRO_PREFIX' | translate }}
      <b>Config Storage Service</b>
      {{ 'ADMIN_CONFIG.COMMON.INTRO_SUFFIX' | translate }}
    </p>

    <hr />
    <br />

    <app-config-editor-panes [descriptor]="descriptor"></app-config-editor-panes>
  </expandable-box>
</ng-template>
