:host {
  display: contents;

  .wfs-element__symbol {
    flex: 0 0 auto;
    color: #6c757d;
  }

  .wfs-element__legend {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wfs-element__legend-icon {
    font-size: 1.2em;
  }

  .wfs-element__actions {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }

  .wfs-element__action {
    color: var(--kommonitor-primary);
    cursor: pointer;
  }
}
