<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Gruppenspezifische Rechte der Organisationseinheit <i><b> {{current?.name}} </b></i> editieren</h4>
</div>
<div class="modal-body">
  <div align="center">
    <div class="loading-overlay-admin-panel" *ngIf="loadingData">
      <span class="glyphicon glyphicon-refresh icon-spin"></span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form class="multiStepForm form-group" id="roleEditGroupRightsMultistepForm" role="form" data-toggle="validator" data-disable="true" style="margin-bottom: 0px;">
        <div>
          <ul id="progressbar">
            <li style="width: 50%;" [class.active]="currentStep >= 1" (click)="goToStep(1)">Eigene Rechte an anderen Gruppen</li>
            <li style="width: 50%;" [class.active]="currentStep >= 2" (click)="goToStep(2)">Rechte anderer Gruppen an gew&auml;hlter Gruppe</li>
          </ul>
        </div>

        <fieldset [hidden]="currentStep !== 1">
          <h2 class="fs-title">Zugewiesene admnistrative Rechte</h2>
          <div class="box box-info collapsed-box">
            <div class="box-header">
              <h3 class="box-title">Bedienhinweise</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
              </div>
            </div>
            <div class="box-body">
              Die Tabelle zeigt administrativen Rechte, die die ausgew&auml;hlte Gruppe f&uuml;r andere Gruppen besitzt.
              <br><br>
              <i>Achtung: Die Tabelle ist nicht editierbar. Sie stellt dar, ob die gew&auml;hlte Gruppe &uuml;berhaupt administrative Aufgaben f&uuml;r sich selbst oder andere Gruppen &uuml;bernimmt.</i>
              <br><br>
              <i><b>Wenn Sie der gew&auml;hlten Gruppe Rechte geben wollen, so muss dies &uuml;ber das 'Rechte anderer Gruppen' Men&uuml; geschehen.</b></i>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <ag-grid-angular
                id="editAuthorityGroupRoleManagementTable"
                class="ag-theme-alpine"
                style="width: 100%; height: 45vh;"
                [columnDefs]="authorityColumnDefs"
                [rowData]="authorityRowData"
                [defaultColDef]="authorityDefaultColDef"
                [components]="authorityRoleManagementTableOptions?.components"
                [gridOptions]="authorityGridOptions">
              </ag-grid-angular>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
              <button type="button" class="btn btn-primary pull-right" (click)="nextStep()">Weiter</button>
            </div>
          </div>
        </fieldset>

        <fieldset [hidden]="currentStep !== 2">
          <h2 class="fs-title">Delegierte administrative Rechte</h2>
          <div class="box box-info collapsed-box">
            <div class="box-header">
              <h3 class="box-title">Bedienhinweise</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
              </div>
            </div>
            <div class="box-body">
              Die Tabelle zeigt administrative Rechte, die andere Gruppen für die ausgew&auml;hlte Gruppe besitzen. Weitere administrative Rechte k&ouml;nnen hier durch entsprechende H&auml;kchen an andere Gruppen &uuml;bertragen werden.
              <br><br>
              <i><b>Achtung: Auch die Rechte der gew&auml;hlten Gruppe an sich selbst werden &uuml;ber dieses Men&uuml; kontrolliert. In diesem Fall ist die gew&auml;hlte Gruppe ebenfalls als 'andere Gruppe' zu betrachten, f&uuml;r die entsprechende administrative Aufgaben zugewiesen werden k&ouml;nnen.</b></i>
              <br><br>
              <i><b>Unterschied Diese Gruppe / Untergruppen:</b> Diese Angabe kontrolliert, ob delegierte administrative Aufgaben nur f&uuml;r die gew&auml;hlte Gruppe explizit erlaubt werden, oder ob sich die delegierte Administration auch auf die Untergruppen der gew&auml;hlten Gruppe erstreckt.</i>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="delegatedRoleIDs.length!=0">
              <div class="form-group vertical-align">
                <label class="margin-right">Zeige nur zugewiesene Rechte</label>
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="activeDelegatedRolesOnly" (ngModelChange)="onActiveDelegatedRolesOnlyChange()" name="activeDelegatedRolesOnly" [disabled]="delegatedRoleIDs.length==0">
                  <span class="switchslider round"></span>
                </label>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <ag-grid-angular
                id="editDelegatedGroupRoleManagementTable"
                class="ag-theme-alpine"
                style="width: 100%; height: 45vh;"
                [columnDefs]="delegatedColumnDefs"
                [rowData]="delegatedRowData"
                [defaultColDef]="delegatedDefaultColDef"
                [components]="delegatedRoleManagementTableOptions?.components"
                [gridOptions]="delegatedGridOptions">
              </ag-grid-angular>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
              <button type="button" class="btn btn-default" (click)="prevStep()">Zur&uuml;ck</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default pull-left" (click)="cancel()">Schlie&szlig;en</button>
  <button type="button" class="btn btn-success" (click)="editRoleDelegates()">Rechte aktualisieren</button>
  <button type="button" class="btn btn-danger" (click)="resetRoleDelegatesForm()">Zur&uuml;cksetzen</button>
</div>

<div id="editOuRoleDelegatesSuccessAlert" style="position: absolute; bottom: 0px; width: 100%;" hidden class="alert alert-success alert-dismissable">
  <button type="button" class="close" (click)="hideSuccessAlert()" aria-hidden="true">&times;</button>
  <h4><i class="icon fa fa-check"></i>Rolle aktualisiert</h4>
  Die Metadaten der Rolle mit Namen {{successMessagePart}} wurden in KomMonitor aktualisiert und in die &Uuml;bersichtstabelle eingetragen.
  </div>

<div id="editRoleDelegatesErrorAlert" style="position: absolute; bottom: 0px; width: 100%;" hidden class="alert alert-danger alert-dismissable">
  <button type="button" class="close" (click)="hideErrorAlert()" aria-hidden="true">&times;</button>
  <h4><i class="icon fa fa-ban"></i>Aktualisierung gescheitert</h4>
  Bei der Aktualisierung der Metadaten der Rolle ist ein Fehler aufgetreten.
  <br />
  <pre style="overflow:auto; max-height:500px;" [innerHTML]="errorMessagePart"></pre>
</div>


