<div class="modal-header">
  <h4 class="modal-title">
    {{ 'ADMIN_SPATIAL_UNIT_HIERARCHIES.REGISTER_MODAL.TITLE' | translate }}
  </h4>
  <button
    type="button"
    class="btn-close"
    [attr.aria-label]="'ADMIN_SHARED.CLOSE' | translate"
    (click)="cancel()"
  ></button>
</div>

<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label class="form-label" for="level-name-input">
        {{ 'ADMIN_SPATIAL_UNIT_HIERARCHIES.REGISTER_MODAL.NAME_LABEL' | translate }}*
      </label>
      <input id="level-name-input" class="form-control" type="text" formControlName="name" />
      <app-form-error [control]="form.controls.name" for="level-name-input" />
    </div>

    <div class="form-group">
      <label class="form-label" for="level-datasource-input">
        {{ 'ADMIN_SPATIAL_UNIT_HIERARCHIES.REGISTER_MODAL.DATASOURCE_LABEL' | translate }}
      </label>
      <input
        id="level-datasource-input"
        class="form-control"
        type="text"
        formControlName="datasource"
        [placeholder]="
          'ADMIN_SPATIAL_UNIT_HIERARCHIES.REGISTER_MODAL.DATASOURCE_PLACEHOLDER' | translate
        "
      />
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary me-auto" (click)="cancel()">
    {{ 'ADMIN_SHARED.CANCEL' | translate }}
  </button>
  <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="submit()">
    {{ 'ADMIN_SPATIAL_UNIT_HIERARCHIES.REGISTER_MODAL.SUBMIT' | translate }}
  </button>
</div>
