<app-admin-content-view
  title="Verwalten der Indikatoren"
  description="Info"
  [controlsTemplate]="controls"
  [contentTemplate]="content"
>
</app-admin-content-view>
<ng-template #controls>
  <div>Nur editierbare Datensätze anzeigen</div>
  <div>
    <label class="switch">
      <input
        type="checkbox"
        [(ngModel)]="tableViewSwitcher"
        (ngModelChange)="onTableViewSwitch()"
      />
      <span class="switchslider round"></span>
    </label>
  </div>
  <button
    id="button-batch-update-indicators"
    class="btn btn-success btn-sm"
    type="button"
    [disabled]="!checkEditorPermission()"
    (click)="onClickBatchUpdate()"
  >
    <i class="fas fa-refresh"></i>&nbsp;&nbsp;Batch-Update
  </button>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-success btn-sm" ngbDropdownToggle>+ Erstellen</button>

    <div ngbDropdownMenu class="addButton_dropdownWrapper">
      <button ngbDropdownItem type="button" (click)="openAddIndicatorModal()">
        Indikator erstellen
      </button>
      <button
        ngbDropdownItem
        type="button"
        (click)="wmsSharedComponentsService.openAddModal(WmsResourceType.INDICATOR)"
      >
        WMS erstellen
      </button>
    </div>
  </div>
  <!-- delete selected completely -->
  <button
    class="btn btn-danger btn-sm"
    type="button"
    [disabled]="!checkDeletePermission()"
    (click)="openDeleteIndicatorModal()"
  >
    <i class="fas fa-trash"></i>&nbsp;&nbsp;Löschen
  </button>
</ng-template>

<ng-template #content>
  <expandable-box title="Indikatoren-Metadaten">
    <ag-grid-angular
      #agGrid
      style="height: 70vh"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs()"
      [rowData]="rowData()"
      [gridOptions]="gridOptions"
    >
    </ag-grid-angular>
  </expandable-box>

  <app-wms-admin-table [resourceType]="resourceType"></app-wms-admin-table>

  <!-- <expandable-box title="Indikatoren-Reihenfolge in Themenkatalog">
    TODO: add topic comp once ready
  </expandable-box> -->
</ng-template>
