<div id="adminIndicatorsContent">

  <div align="center">
    <div class="loading-overlay-admin-panel" *ngIf="loadingData">
      <span class="glyphicon glyphicon-refresh icon-spin"></span>
    </div>
  </div>

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Verwalten der Indikatoren
      <small>Info</small>
    </h1>

    <div class="adminTableButtonWrapper">
      <div class="verticalAlign">
        <span>Nur editierbare Datensätze anzeigen</span>
        <div>
          <label class="switch">
            <input type="checkbox" [(ngModel)]="tableViewSwitcher" (ngModelChange)="onTableViewSwitch()">
            <span class="switchslider round"></span>
          </label>
        </div>
      </div>
      <!-- batch update indicators -->
      <button id="button-batch-update-indicators" class="btn btn-success btn-sm" type="button" 
              [disabled]="!checkEditorPermission()"
              (click)="onClickBatchUpdate()">
        <i class="fas fa-refresh"></i>&nbsp;&nbsp;Batch-Update
      </button>
      <!-- add indicator -->
      <button [disabled]="!checkCreatePermission()" class="btn btn-success btn-sm" type="button" 
              (click)="openAddIndicatorModal()">
        <i class="fas fa-plus"></i>&nbsp;&nbsp;Erstellen
      </button>
      <!-- delete selected completely -->
      <button class="btn btn-danger btn-sm" type="button" 
              [disabled]="!checkDeletePermission()"
              (click)="onClickDeleteSelected()">
        <i class="fas fa-trash"></i>&nbsp;&nbsp;Löschen
      </button>
    </div>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">
    <!--------------------------
      | Your Page Content Here |
      -------------------------->

    <!-- POI -->

    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Indikatoren-Metadaten</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>

      <!-- /.box-header -->
      <div class="box-body">

        <div class="admin-table-wrapper">

          <ag-grid-angular
            #agGrid
            style="height: 70vh;"
            class="ag-theme-alpine"
            [columnDefs]="columnDefs"
            [rowData]="rowData"
            [gridOptions]="gridOptions"
            [defaultColDef]="gridOptions.defaultColDef"
            [pagination]="true"
            [paginationPageSize]="10"
            [rowSelection]="'multiple'"
            [suppressRowClickSelection]="true"
            [enableCellTextSelection]="true"
            [ensureDomOrder]="true"
            [suppressColumnVirtualisation]="true">
          </ag-grid-angular>

        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

    <!-- /.box-header -->
    <div class="box box-primary collapsed-box">
      <div class="box-header">
        <h3 class="box-title">Indikatoren-Reihenfolge in Themenkatalog</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">

        <div class="just-padding">

          <div id="indicatorHierarchyOrderView" class="list-group list-group-root well">

            <label>Erläuterungen zur Symbolik </label>
            <div class="list-group-item list-group-item-default style-simple-indicator">
              <p style="cursor:pointer; color: black;"> 
                <i class="fas fa-sitemap"></i> &nbsp;&nbsp;
                <b>Standardindikator (numerische Wertverteilung)</b> [Einheitsbezeichnung]
              </p>
            </div>
            
            <div class="list-group-item list-group-item-default style-headline-indicator">
              <p style="cursor:pointer; color: white;">
                <i class="fas fa-tachometer-alt"></i> &nbsp;&nbsp;
                <b>Leitindikator (bewertende Aussage)</b> [Einheitsbezeichnung]
              </p>
            </div>
            
            <br />

            <label> Via Drag and Drop Einträge innerhalb eines (Unter-)Themas sortieren </label>

            <!-- TODO: Implement the hierarchy view with Angular -->
            <div class="hierarchy-placeholder">
              <p>Hierarchy view will be implemented here</p>
            </div>

          </div>

        </div>

      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

  </section>
  <!-- /.content -->

</div> 