<div class="container-fluid">
	<div class="row wps-ui">
		<ul class="nav nav-pills nav-justified">
			<li class="active"><a data-toggle="tab" href="#setup" >Indikatoren</a></li>
			<li><a data-toggle="tab" href="#execute" >Diagramme</a></li>
			<li><a data-toggle="tab" href="#execute2" >Indikatorenradar</a></li>
			<li ><a data-toggle="tab" href="#processes">Indikator individuell berechnen</a></li>
			<li><a data-toggle="tab" href="#capabilities">Administration</a></li>
		</ul>

		<div class="tab-content">
			<div id="setup" class="tab-pane fade in active">
				<wps-setup></wps-setup>
			</div>
			<div id="execute" class="tab-pane fade">
				<wps-execute></wps-execute>
			</div>
			<div id="execute2" class="tab-pane fade">
				<wps-execute-status-info-document-wps-2></wps-execute-status-info-document-wps-2>
			</div>
			<div id="processes" class="tab-pane fade">
				<wps-processes></wps-processes>
			</div>
			<div id="capabilities" class="tab-pane fade">
				<wps-capabilities></wps-capabilities>
			</div>
		</div>

	</div>
</div>
