<div class="container-fluid">
	<div class="row wps-ui">
		<ul class="nav nav-pills nav-justified">
			<li class="active"><a data-toggle="tab" href="#setup" >Indikatoren</a></li>
			<li><a data-toggle="tab" href="#execute" >Diagramme</a></li>
			<li><a data-toggle="tab" href="#execute2" >Indikatorenradar</a></li>
			<li ><a data-toggle="tab" href="#processes">Indikator individuell berechnen</a></li>
			<li class="disabled"><a data-toggle="tab" href="#">Administration</a></li>
		</ul>

		<div class="tab-content">
			<div id="setup" class="tab-pane fade in active">
				<wps-setup></wps-setup>
			</div>
			<div id="execute" class="tab-pane fade">
				<kommonitor-diagrams></kommonitor-diagrams>
			</div>
			<div id="execute2" class="tab-pane fade">
				<indicator-radar></indicator-radar>
			</div>
			<div id="processes" class="tab-pane fade">
				<wps-processes></wps-processes>
			</div>
			<div id="capabilities" class="tab-pane fade">
				<kommonitor-admin></kommonitor-admin>
			</div>
		</div>

	</div>
</div>
