<div id="adminDashboardContent">

	<div align="center">
		<div class="loading-overlay-admin-panel ng-hide" ng-show="loadingData">
					<span class="glyphicon glyphicon-refresh icon-spin"></span>
		</div>
	</div>

	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			&Uuml;bersicht
			<small>Informationen &uuml;ber in KomMonitor enthaltene Daten</small>
		</h1>
	</section>

	<!-- Main content -->
	<section class="content container-fluid">
		<!--------------------------
			| Your Page Content Here |
			-------------------------->

			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Nutzer und Rollen</h3>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
						</button>
					</div>
				</div>
				<div class="box-body">

						<div class="row vertical-align">
			        <div class="col-md-3 col-sm-6 col-xs-12">
			          <!-- small box -->
			          <div class="small-box bg-aqua">
			            <div class="inner">
			              <h3>{{kommonitorDataExchangeService.availableRoles.length}}&nbsp; &nbsp; &nbsp;{{kommonitorDataExchangeService.availableUsers.length}}</h3>

			              <p>Rollen &nbsp; &nbsp; &nbsp; Nutzer</p>
			            </div>
			            <div class="icon">
			              <i class="fas fa-users"></i>
			            </div>
			            	<a class="small-box-footer"></a>
			          </div>
			        </div>
			        <!-- ./col -->
							<div class="col-md-3 col-sm-6 col-xs-12">

								<div class="chart">
									<div id="usersPerRoleDiagram" style="width:100%; min-height:150px;"></div>
								</div>

			        </div>
			        <!-- ./col -->
							<div class="col-md-3 col-sm-6 col-xs-12">

			        </div>
			        <!-- ./col -->
							<div class="col-md-3 col-sm-6 col-xs-12">

			        </div>
			        <!-- ./col -->
			      </div>
			      <!-- /.row -->

					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->



				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">Themenfelder</h3>

						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
					<div class="box-body">

							<div class="row vertical-align">
				        <div class="col-md-3 col-sm-6 col-xs-12">
				          <!-- small box -->
				          <div class="small-box bg-gray">
				            <div class="inner">
				              <h3>{{kommonitorDataExchangeService.availableTopics.length}}</h3>

				              <p>oberste Themenbereiche</p>
				            </div>
				            <div class="icon">
				              <i class="fas fa-book"></i>
				            </div>
				            	<a class="small-box-footer"></a>
				          </div>
				        </div>
				        <!-- ./col -->
								<div class="col-md-3 col-sm-6 col-xs-12">

									<div class="chart">
										<div id="indicatorsPerTopicDiagram" style="width:100%; min-height:150px;"></div>
									</div>

				        </div>
				        <!-- ./col -->
								<div class="col-md-3 col-sm-6 col-xs-12">

									<div class="chart">
										<div id="georesourcesPerTopicDiagram" style="width:100%; min-height:150px;"></div>
									</div>

				        </div>
				        <!-- ./col -->
								<div class="col-md-3 col-sm-6 col-xs-12">

				        </div>
				        <!-- ./col -->
				      </div>
				      <!-- /.row -->

						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->


	</section>
<!-- /.content -->
</div>
