<div class="modal-header">
  <h4
    class="modal-title"
    [innerHTML]="
      'ADMIN_GEORESOURCES.METADATA_MODAL.TITLE'
        | translate: { name: currentGeoresourceDataset?.datasetName }
    "
  ></h4>
  <button
    type="button"
    class="btn-close"
    [attr.aria-label]="'ADMIN_SHARED.CLOSE' | translate"
    (click)="cancel()"
  ></button>
</div>

<div class="modal-body">
  <div align="center">
    @if (loadingData()) {
      <div class="loading-overlay-admin-panel" [class.ng-hide]="!loadingData()">
        <i class="fas fa-spinner fa-spin fa-2x"></i>
      </div>
    }
  </div>

  <!-- MultiStep Form -->
  <div class="row">
    <div class="col-md-12">
      <form
        class="multiStepForm form-group"
        id="georesourceEditMetadataForm"
        role="form"
        style="margin-bottom: 0px"
      >
        <!-- progressbar -->
        <app-stepper [steps]="stepper.steps" [(currentStep)]="stepper.currentStep"></app-stepper>

        <!-- fieldsets -->

        <fieldset [style.display]="stepper.isActive('metadata') ? 'block' : 'none'">
          <h2 class="fs-title">{{ 'ADMIN_GEORESOURCES.COMMON.METADATA_TITLE' | translate }}</h2>
          <h3 class="fs-subtitle">
            {{ 'ADMIN_GEORESOURCES.COMMON.METADATA_SUBTITLE' | translate }}
          </h3>
          <p>
            <b
              ><i>{{ 'ADMIN_GEORESOURCES.COMMON.REQUIRED_FIELD_HINT' | translate }}</i></b
            >
          </p>

          <div class="row vertical-align">
            <div class="col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label>{{ 'ADMIN_GEORESOURCES.COMMON.NAME_LABEL' | translate }}*</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="datasetName"
                  (ngModelChange)="checkDatasetName()"
                  [placeholder]="'ADMIN_GEORESOURCES.COMMON.UNIQUE_NAME_PLACEHOLDER' | translate"
                  required
                />
                <div class="help-block with-errors"></div>
                @if (datasetNameInvalid) {
                  <div style="color: red">
                    <p>
                      {{ 'ADMIN_GEORESOURCES.COMMON.NAME_INVALID' | translate }}
                    </p>
                  </div>
                }
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label>{{ 'ADMIN_GEORESOURCES.COMMON.TYPE' | translate }}*</label>
                <select
                  [(ngModel)]="georesourceType"
                  (ngModelChange)="onChangeGeoresourceType()"
                  class="form-control"
                  required
                >
                  <option selected value="poi">Points of Interest</option>
                  <option value="loi">Lines of Interest</option>
                  <option value="aoi">Areas of Interest</option>
                </select>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>

          @if (georesourceType === 'poi') {
            <div class="row vertical-align">
              <div class="col-md-3 col-sm-6 col-12">
                <div class="form-group" align="center">
                  <label>{{ 'ADMIN_GEORESOURCES.COMMON.MARKER_COLOR' | translate }}*</label>
                  <div class="dropdown customColorPicker">
                    <button
                      type="button"
                      class="btn btn-info dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i [style.background]="selectedPoiMarkerColor?.colorValue"></i>
                      {{ selectedPoiMarkerColor?.colorName }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-center">
                      @for (markerColor of poiMarkerColors; track markerColor) {
                        <li (click)="onChangeMarkerColor(markerColor)">
                          <a style="cursor: pointer"
                            ><i [style.background]="markerColor.colorValue"></i
                            >{{ markerColor.colorName }}</a
                          >
                        </li>
                      }
                    </ul>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-12">
                <div class="form-group" align="center">
                  <label>{{ 'ADMIN_GEORESOURCES.COMMON.MARKER_STYLE' | translate }}*</label>
                  <div class="dropdown customColorPicker">
                    <button
                      type="button"
                      class="btn btn-info dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      {{
                        selectedPoiMarkerStyle.charAt(0).toUpperCase() +
                          selectedPoiMarkerStyle.slice(1)
                      }}
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-center">
                      <li (click)="onChangeMarkerStyle('symbol')">
                        <a style="cursor: pointer">{{
                          'ADMIN_GEORESOURCES.COMMON.SYMBOL' | translate
                        }}</a>
                      </li>
                      <li (click)="onChangeMarkerStyle('text')">
                        <a style="cursor: pointer">{{
                          'ADMIN_GEORESOURCES.COMMON.TEXT' | translate
                        }}</a>
                      </li>
                    </ul>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
              @if (selectedPoiMarkerStyle === 'symbol') {
                <div class="col-md-3 col-sm-6 col-12">
                  <div class="form-group" align="center">
                    <label>{{ 'ADMIN_GEORESOURCES.COMMON.SYMBOL' | translate }}*</label>
                    <br />
                    <input
                      type="text"
                      class="form-control"
                      style="width: auto; display: inline-block"
                      [(ngModel)]="selectedPoiIconName"
                      name="poiSymbolName"
                      [placeholder]="'ADMIN_GEORESOURCES.COMMON.SYMBOL_PLACEHOLDER' | translate"
                      [title]="'ADMIN_GEORESOURCES.COMMON.SYMBOL_NAME_TITLE' | translate"
                      required
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              }
              @if (selectedPoiMarkerStyle === 'text') {
                <div class="col-md-3 col-sm-6 col-12">
                  <div class="form-group" align="center">
                    <label>{{ 'ADMIN_GEORESOURCES.COMMON.TEXT' | translate }}*</label>
                    <br />
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="poiMarkerText"
                      (ngModelChange)="checkPoiMarkerText()"
                      placeholder=""
                      maxlength="3"
                      required
                    />
                    <div class="help-block with-errors">
                      {{ 'ADMIN_GEORESOURCES.METADATA_MODAL.MAX_3_CHARS' | translate }}
                    </div>
                  </div>
                </div>
              }
              <div class="col-md-3 col-sm-6 col-12">
                <div class="form-group" align="center">
                  @if (selectedPoiMarkerStyle === 'symbol') {
                    <label>{{ 'ADMIN_GEORESOURCES.COMMON.SYMBOL_COLOR' | translate }}*</label>
                  }
                  @if (selectedPoiMarkerStyle === 'text') {
                    <label>{{ 'ADMIN_GEORESOURCES.COMMON.TEXT_COLOR' | translate }}*</label>
                  }
                  <div class="dropdown customColorPicker">
                    <button
                      type="button"
                      class="btn btn-info dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i [style.background]="selectedPoiSymbolColor?.colorValue"></i>
                      {{ selectedPoiSymbolColor?.colorName }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-center">
                      @for (symbolColor of poiMarkerColors; track symbolColor) {
                        <li (click)="onChangeSymbolColor(symbolColor)">
                          <a style="cursor: pointer"
                            ><i [style.background]="symbolColor.colorValue"></i>
                            {{ symbolColor.colorName }}</a
                          >
                        </li>
                      }
                    </ul>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
            </div>
          }

          @if (georesourceType === 'loi') {
            <div class="row vertical-align">
              <div class="col-md-4 col-sm-4 col-12">
                <div class="form-group" align="center">
                  <label>{{ 'ADMIN_GEORESOURCES.COMMON.LINE_COLOR' | translate }}*</label>
                  <br />
                  <km-color-picker
                    [(color)]="loiColor"
                    [label]="'ADMIN_GEORESOURCES.COMMON.CHOOSE_LINE_COLOR' | translate"
                  ></km-color-picker>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-12">
                <div class="form-group" align="center">
                  <label>{{ 'ADMIN_GEORESOURCES.COMMON.LINE_WIDTH' | translate }}*</label>
                  <br />
                  <input
                    style="width: auto"
                    type="number"
                    [(ngModel)]="loiWidth"
                    min="1"
                    max="5"
                    step="1"
                  />
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-12">
                <div class="form-group" align="center">
                  <km-line-pattern-picker
                    [selectedPattern]="selectedLoiDashArrayObject"
                    [options]="availableLinePatternOptions"
                    [label]="('ADMIN_GEORESOURCES.COMMON.LINE_PATTERN' | translate) + '*'"
                    [placeholder]="'ADMIN_GEORESOURCES.COMMON.CHOOSE_LINE_PATTERN' | translate"
                    [width]="'200px'"
                    (patternChange)="onChangeLoiDashArray($event)"
                  >
                  </km-line-pattern-picker>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
          }

          @if (georesourceType === 'aoi') {
            <div class="row vertical-align">
              <div class="col-md-12 col-sm-12 col-12">
                <div class="form-group" align="center">
                  <label>{{ 'ADMIN_GEORESOURCES.COMMON.AREA_COLOR' | translate }}*</label>
                  <br />
                  <km-color-picker
                    [(color)]="aoiColor"
                    [label]="'ADMIN_GEORESOURCES.COMMON.CHOOSE_AREA_COLOR' | translate"
                  ></km-color-picker>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
          }

          <input
            type="button"
            name="next"
            class="next next_editGeoresourceMetadata action-button"
            [value]="'ADMIN_GEORESOURCES.COMMON.NEXT_STEP' | translate"
            (click)="stepper.next()"
          />
        </fieldset>

        <fieldset [style.display]="stepper.isActive('general') ? 'block' : 'none'">
          <h2 class="fs-title">{{ 'ADMIN_SHARED.GENERAL_METADATA' | translate }}</h2>
          <h3 class="fs-subtitle">
            {{ 'ADMIN_GEORESOURCES.COMMON.GENERAL_METADATA_SUBTITLE' | translate }}
          </h3>
          <p>
            <b
              ><i>{{ 'ADMIN_GEORESOURCES.COMMON.REQUIRED_FIELD_HINT' | translate }}</i></b
            >
          </p>

          <app-resource-metadata-form
            [form]="metadataForm"
            [updateIntervalOptions]="envConfigService.updateIntervalOptions"
          ></app-resource-metadata-form>

          <input
            type="button"
            name="next"
            class="next next_editGeoresourceMetadata action-button"
            [value]="'ADMIN_GEORESOURCES.COMMON.NEXT_STEP' | translate"
            (click)="stepper.next()"
          />

          <input
            type="button"
            name="previous"
            class="previous previous_editGeoresourceMetadata action-button-previous"
            [value]="'ADMIN_GEORESOURCES.COMMON.PREVIOUS_STEP' | translate"
            (click)="stepper.previous()"
          />
        </fieldset>

        <fieldset [style.display]="stepper.isActive('topics') ? 'block' : 'none'">
          <h2 class="fs-title">{{ 'ADMIN_GEORESOURCES.COMMON.TOPICS_TITLE' | translate }}</h2>
          <h3 class="fs-subtitle">{{ 'ADMIN_GEORESOURCES.COMMON.TOPICS_SUBTITLE' | translate }}</h3>

          <p>
            <b
              ><i>{{ 'ADMIN_GEORESOURCES.COMMON.REQUIRED_FIELD_HINT' | translate }}</i></b
            >
          </p>
          <p>
            {{ 'ADMIN_GEORESOURCES.COMMON.TOPICS_HINT' | translate }}
          </p>

          <p>{{ 'ADMIN_GEORESOURCES.COMMON.TOPICS_CATALOG_HINT' | translate }}</p>

          <div class="row vertical-align">
            <div class="col-md-3 col-sm-6 col-12">
              <div class="form-group">
                <label>{{ 'ADMIN_GEORESOURCES.COMMON.MAIN_TOPIC' | translate }}*</label>
                <select [(ngModel)]="georesourceTopic_mainTopic" class="form-control" required>
                  <option disabled selected value>
                    {{ 'ADMIN_GEORESOURCES.COMMON.CHOOSE_MAIN_TOPIC' | translate }}
                  </option>
                  @for (mainTopic of getMainTopicsForGeoresource(); track mainTopic) {
                    <option [ngValue]="mainTopic">{{ mainTopic.topicName }}</option>
                  }
                </select>
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
              @if (georesourceTopic_mainTopic?.subTopics?.length > 0) {
                <div class="form-group">
                  <label>{{ 'ADMIN_GEORESOURCES.COMMON.SUB_TOPIC_LEVEL_1' | translate }}</label>
                  <select [(ngModel)]="georesourceTopic_subTopic" class="form-control">
                    <option disabled selected value>
                      {{ 'ADMIN_GEORESOURCES.COMMON.CHOOSE_SUB_TOPIC' | translate }}
                    </option>
                    @for (subTopic of georesourceTopic_mainTopic.subTopics; track subTopic) {
                      <option [ngValue]="subTopic">{{ subTopic.topicName }}</option>
                    }
                  </select>
                  <div class="help-block with-errors"></div>
                </div>
              }
            </div>
            <div class="col-md-3 col-sm-6 col-12">
              @if (georesourceTopic_subTopic?.subTopics?.length > 0) {
                <div class="form-group">
                  <label>{{ 'ADMIN_GEORESOURCES.COMMON.SUB_TOPIC_LEVEL_2' | translate }}</label>
                  <select [(ngModel)]="georesourceTopic_subsubTopic" class="form-control">
                    <option disabled selected value>
                      {{ 'ADMIN_GEORESOURCES.COMMON.CHOOSE_SUB_TOPIC' | translate }}
                    </option>
                    @for (subsubTopic of georesourceTopic_subTopic.subTopics; track subsubTopic) {
                      <option [ngValue]="subsubTopic">{{ subsubTopic.topicName }}</option>
                    }
                  </select>
                  <div class="help-block with-errors"></div>
                </div>
              }
            </div>
            <div class="col-md-3 col-sm-6 col-12">
              @if (georesourceTopic_subsubTopic?.subTopics?.length > 0) {
                <div class="form-group">
                  <label>{{ 'ADMIN_GEORESOURCES.COMMON.SUB_TOPIC_LEVEL_3' | translate }}</label>
                  <select [(ngModel)]="georesourceTopic_subsubsubTopic" class="form-control">
                    <option disabled selected value>
                      {{ 'ADMIN_GEORESOURCES.COMMON.CHOOSE_SUB_TOPIC' | translate }}
                    </option>
                    @for (
                      subsubsubTopic of georesourceTopic_subsubTopic.subTopics;
                      track subsubsubTopic
                    ) {
                      <option [ngValue]="subsubsubTopic">{{ subsubsubTopic.topicName }}</option>
                    }
                  </select>
                  <div class="help-block with-errors"></div>
                </div>
              }
            </div>
          </div>

          <hr />

          <br />

          @if (accessControlService.checkAdminPermission()) {
            <div class="row vertical-align">
              <div class="col-md-10 col-sm-12 col-12">
                <div style="text-align: left">
                  <div
                    id="georesourceEditAdmin_topicsManagement"
                    class="box box-primary collapsed-box"
                    style="background: #ebf0fd"
                  >
                    <div class="box-header">
                      <h3 class="box-title">
                        {{ 'ADMIN_GEORESOURCES.COMMON.TOPICS_CATALOG' | translate }}
                      </h3>
                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <style>
                        #georesourceEditAdmin_topicsManagement #indicatorTopicsManagement {
                          display: none;
                        }
                      </style>
                      <app-admin-topics-management></app-admin-topics-management>
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>
              </div>
            </div>
          }

          <input
            type="button"
            name="previous"
            class="previous previous_editGeoresourceMetadata action-button-previous"
            [value]="'ADMIN_GEORESOURCES.COMMON.PREVIOUS_STEP' | translate"
            (click)="stepper.previous()"
          />
        </fieldset>
      </form>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default pull-left" (click)="cancel()">
    {{ 'ADMIN_SHARED.CLOSE' | translate }}
  </button>
  <button
    type="button"
    class="btn btn-info pull-left"
    (click)="onImportGeoresourceEditMetadata()"
    [title]="'ADMIN_GEORESOURCES.COMMON.IMPORT_METADATA_TITLE' | translate"
  >
    <i class="fas fa-file-import"></i>&nbsp;&nbsp;{{
      'ADMIN_GEORESOURCES.COMMON.METADATA_IMPORT' | translate
    }}
  </button>
  <input
    style="display: none"
    class="pull-left"
    type="file"
    #metadataImportFile
    class="form-control"
    id="georesourceEditMetadataImportFile"
    accept=".json"
    (change)="onMetadataFileSelected($event)"
  />
  <button
    type="button"
    style="margin-left: 6px"
    class="btn btn-info pull-left"
    (click)="onExportGeoresourceEditMetadata()"
    [title]="'ADMIN_GEORESOURCES.COMMON.EXPORT_METADATA_TITLE' | translate"
  >
    <i class="fas fa-file-export"></i>&nbsp;&nbsp;{{
      'ADMIN_GEORESOURCES.COMMON.METADATA_EXPORT' | translate
    }}
  </button>

  <button
    type="button"
    class="btn btn-success"
    [disabled]="!canSubmitForm()"
    (click)="editGeoresourceMetadata()"
  >
    {{ 'ADMIN_GEORESOURCES.METADATA_MODAL.UPDATE_METADATA' | translate }}
  </button>
  <button type="button" class="btn btn-danger" (click)="resetGeoresourceEditMetadataForm()">
    {{ 'ADMIN_GEORESOURCES.COMMON.RESET' | translate }}
  </button>
</div>

<!-- Update success/error feedback is shown via NotificationService toasts -->
<div
  style="position: absolute; bottom: 0px; width: 100%"
  [hidden]="!importErrorAlertVisible()"
  class="alert alert-danger alert-dismissable"
>
  <button type="button" class="close" (click)="hideMetadataErrorAlert()" aria-hidden="true">
    &times;
  </button>
  <h4>
    <i class="icon fa fa-ban"></i
    >{{ 'ADMIN_GEORESOURCES.COMMON.METADATA_IMPORT_FAILED' | translate }}
  </h4>
  {{ 'ADMIN_GEORESOURCES.COMMON.METADATA_IMPORT_ERROR' | translate }}
  <br />
  <pre>{{ georesourceMetadataImportError() }}</pre>
  <br />
  <br />
  <p>{{ 'ADMIN_GEORESOURCES.COMMON.JSON_FORMAT_HINT' | translate }}</p>
  <pre
    style="overflow: auto; max-height: 500px"
    [innerHTML]="georesourceMetadataStructure_pretty"
  ></pre>
</div>
