<div class="modal-header">
  <h4 class="modal-title">
    Metadaten der Georessource
    <i
      ><b>{{ currentGeoresourceDataset?.datasetName }}</b></i
    >
    editieren
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
</div>

<div class="modal-body">
  <div align="center">
    @if (loadingData()) {
      <div class="loading-overlay-admin-panel" [class.ng-hide]="!loadingData()">
        <i class="fas fa-spinner fa-spin fa-2x"></i>
      </div>
    }
  </div>

  <!-- MultiStep Form -->
  <div class="row">
    <div class="col-md-12">
      <form
        class="multiStepForm form-group"
        id="georesourceEditMetadataForm"
        role="form"
        data-toggle="validator"
        data-disable="true"
        style="margin-bottom: 0px"
      >
        <!-- progressbar -->
        <app-stepper [steps]="stepper.steps" [(currentStep)]="stepper.currentStep"></app-stepper>

        <!-- fieldsets -->

        <fieldset [style.display]="stepper.isActive('metadata') ? 'block' : 'none'">
          <h2 class="fs-title">Metadaten der Georessource</h2>
          <h3 class="fs-subtitle">Angaben über Metadaten der Georessource</h3>
          <p>
            <b><i>* = Pflichtfeld</i></b>
          </p>

          <div class="row vertical-align">
            <div class="col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label>Name der Georessource*</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="datasetName"
                  (ngModelChange)="checkDatasetName()"
                  placeholder="eindeutiger Name"
                  required
                />
                <div class="help-block with-errors"></div>
                @if (datasetNameInvalid) {
                  <div style="color: red">
                    <p>
                      Eingabe ungültig. Es existiert bereits eine Georessource mit gleichem Namen
                      und gleichem Typ.
                    </p>
                  </div>
                }
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label>Typ*</label>
                <select
                  [(ngModel)]="georesourceType"
                  (ngModelChange)="onChangeGeoresourceType()"
                  class="form-control"
                  required
                >
                  <option selected value="poi">Points of Interest</option>
                  <option value="loi">Lines of Interest</option>
                  <option value="aoi">Areas of Interest</option>
                </select>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>

          @if (georesourceType === 'poi') {
            <div class="row vertical-align">
              <div class="col-md-3 col-sm-6 col-12">
                <div class="form-group" align="center">
                  <label>Farbe des Punktmarkers*</label>
                  <div class="dropdown customColorPicker">
                    <button
                      type="button"
                      class="btn btn-info dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i [style.background]="selectedPoiMarkerColor?.colorValue"></i>
                      {{ selectedPoiMarkerColor?.colorName }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-center">
                      @for (markerColor of poiMarkerColors; track markerColor) {
                        <li (click)="onChangeMarkerColor(markerColor)">
                          <a style="cursor: pointer"
                            ><i [style.background]="markerColor.colorValue"></i
                            >{{ markerColor.colorName }}</a
                          >
                        </li>
                      }
                    </ul>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-12">
                <div class="form-group" align="center">
                  <label>Art*</label>
                  <div class="dropdown customColorPicker">
                    <button
                      type="button"
                      class="btn btn-info dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      {{
                        selectedPoiMarkerStyle.charAt(0).toUpperCase() +
                          selectedPoiMarkerStyle.slice(1)
                      }}
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-center">
                      <li (click)="onChangeMarkerStyle('symbol')">
                        <a style="cursor: pointer">Symbol</a>
                      </li>
                      <li (click)="onChangeMarkerStyle('text')">
                        <a style="cursor: pointer">Text</a>
                      </li>
                    </ul>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
              @if (selectedPoiMarkerStyle === 'symbol') {
                <div class="col-md-3 col-sm-6 col-12">
                  <div class="form-group" align="center">
                    <label>Symbol*</label>
                    <br />
                    <input
                      type="text"
                      class="form-control"
                      style="width: auto; display: inline-block"
                      [(ngModel)]="selectedPoiIconName"
                      name="poiSymbolName"
                      placeholder="z.B. home"
                      title="Name des Marker-Symbols (Bootstrap-3-Glyphicon-Name)"
                      required
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              }
              @if (selectedPoiMarkerStyle === 'text') {
                <div class="col-md-3 col-sm-6 col-12">
                  <div class="form-group" align="center">
                    <label>Text*</label>
                    <br />
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="poiMarkerText"
                      (ngModelChange)="checkPoiMarkerText()"
                      placeholder=""
                      maxlength="3"
                      required
                    />
                    <div class="help-block with-errors">max. 3 Zeichen</div>
                  </div>
                </div>
              }
              <div class="col-md-3 col-sm-6 col-12">
                <div class="form-group" align="center">
                  @if (selectedPoiMarkerStyle === 'symbol') {
                    <label>Farbe des Punktsymbols*</label>
                  }
                  @if (selectedPoiMarkerStyle === 'text') {
                    <label>Textfarbe*</label>
                  }
                  <div class="dropdown customColorPicker">
                    <button
                      type="button"
                      class="btn btn-info dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i [style.background]="selectedPoiSymbolColor?.colorValue"></i>
                      {{ selectedPoiSymbolColor?.colorName }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-center">
                      @for (symbolColor of poiMarkerColors; track symbolColor) {
                        <li (click)="onChangeSymbolColor(symbolColor)">
                          <a style="cursor: pointer"
                            ><i [style.background]="symbolColor.colorValue"></i>
                            {{ symbolColor.colorName }}</a
                          >
                        </li>
                      }
                    </ul>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
            </div>
          }

          @if (georesourceType === 'loi') {
            <div class="row vertical-align">
              <div class="col-md-4 col-sm-4 col-12">
                <div class="form-group" align="center">
                  <label>Linienfarbe*</label>
                  <br />
                  <km-color-picker
                    [(color)]="loiColor"
                    label="Linienfarbe wählen"
                  ></km-color-picker>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-12">
                <div class="form-group" align="center">
                  <label>Linienbreite*</label>
                  <br />
                  <input
                    style="width: auto"
                    type="number"
                    [(ngModel)]="loiWidth"
                    min="1"
                    max="5"
                    step="1"
                  />
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-12">
                <div class="form-group" align="center">
                  <km-line-pattern-picker
                    [selectedPattern]="selectedLoiDashArrayObject"
                    [options]="availableLinePatternOptions"
                    [label]="'Linienmuster*'"
                    [placeholder]="'Linienmuster wählen'"
                    [width]="'200px'"
                    (patternChange)="onChangeLoiDashArray($event)"
                  >
                  </km-line-pattern-picker>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
          }

          @if (georesourceType === 'aoi') {
            <div class="row vertical-align">
              <div class="col-md-12 col-sm-12 col-12">
                <div class="form-group" align="center">
                  <label>Objektfarbe*</label>
                  <br />
                  <km-color-picker
                    [(color)]="aoiColor"
                    label="Objektfarbe wählen"
                  ></km-color-picker>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
          }

          <input
            type="button"
            name="next"
            class="next next_editGeoresourceMetadata action-button"
            value="Nächster Schritt"
            (click)="stepper.next()"
          />
        </fieldset>

        <fieldset [style.display]="stepper.isActive('general') ? 'block' : 'none'">
          <h2 class="fs-title">Allgemeine Metadaten</h2>
          <h3 class="fs-subtitle">Angaben über allgemeine Metadaten in KomMonitor</h3>
          <p>
            <b><i>* = Pflichtfeld</i></b>
          </p>

          <app-resource-metadata-form
            [form]="metadataForm"
            [updateIntervalOptions]="envConfigService.updateIntervalOptions"
          ></app-resource-metadata-form>

          <input
            type="button"
            name="next"
            class="next next_editGeoresourceMetadata action-button"
            value="Nächster Schritt"
            (click)="stepper.next()"
          />

          <input
            type="button"
            name="previous"
            class="previous previous_editGeoresourceMetadata action-button-previous"
            value="Voriger Schritt"
            (click)="stepper.previous()"
          />
        </fieldset>

        <fieldset [style.display]="stepper.isActive('topics') ? 'block' : 'none'">
          <h2 class="fs-title">Themenhierarchie</h2>
          <h3 class="fs-subtitle">Angaben über die Themenhierarchie der Georessource</h3>

          <p>
            <b><i>* = Pflichtfeld</i></b>
          </p>
          <p>
            Angabe der Themenhierarchie. Mindestens das Hauptthema muss gewählt werden. Vorhandene
            Unterthemen erscheinen nach Auswahl eines Hauptthemas. Bis zu vier Themen-Ebenen sind
            erlaubt.
          </p>

          <p>Das Aufklappen der unteren Box ermöglicht die Verwaltung des Themenkatalogs.</p>

          <div class="row vertical-align">
            <div class="col-md-3 col-sm-6 col-12">
              <div class="form-group">
                <label>Hauptthema*</label>
                <select [(ngModel)]="georesourceTopic_mainTopic" class="form-control" required>
                  <option disabled selected value>-- Hauptthema wählen --</option>
                  @for (mainTopic of getMainTopicsForGeoresource(); track mainTopic) {
                    <option [ngValue]="mainTopic">{{ mainTopic.topicName }}</option>
                  }
                </select>
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
              @if (georesourceTopic_mainTopic?.subTopics?.length > 0) {
                <div class="form-group">
                  <label>Unterthema - erste Ebene</label>
                  <select [(ngModel)]="georesourceTopic_subTopic" class="form-control">
                    <option disabled selected value>-- Unterthema wählen --</option>
                    @for (subTopic of georesourceTopic_mainTopic.subTopics; track subTopic) {
                      <option [ngValue]="subTopic">{{ subTopic.topicName }}</option>
                    }
                  </select>
                  <div class="help-block with-errors"></div>
                </div>
              }
            </div>
            <div class="col-md-3 col-sm-6 col-12">
              @if (georesourceTopic_subTopic?.subTopics?.length > 0) {
                <div class="form-group">
                  <label>Unterthema - zweite Ebene</label>
                  <select [(ngModel)]="georesourceTopic_subsubTopic" class="form-control">
                    <option disabled selected value>-- Unterthema wählen --</option>
                    @for (subsubTopic of georesourceTopic_subTopic.subTopics; track subsubTopic) {
                      <option [ngValue]="subsubTopic">{{ subsubTopic.topicName }}</option>
                    }
                  </select>
                  <div class="help-block with-errors"></div>
                </div>
              }
            </div>
            <div class="col-md-3 col-sm-6 col-12">
              @if (georesourceTopic_subsubTopic?.subTopics?.length > 0) {
                <div class="form-group">
                  <label>Unterthema - dritte Ebene</label>
                  <select [(ngModel)]="georesourceTopic_subsubsubTopic" class="form-control">
                    <option disabled selected value>-- Unterthema wählen --</option>
                    @for (
                      subsubsubTopic of georesourceTopic_subsubTopic.subTopics;
                      track subsubsubTopic
                    ) {
                      <option [ngValue]="subsubsubTopic">{{ subsubsubTopic.topicName }}</option>
                    }
                  </select>
                  <div class="help-block with-errors"></div>
                </div>
              }
            </div>
          </div>

          <hr />

          <br />

          @if (accessControlService.checkAdminPermission()) {
            <div class="row vertical-align">
              <div class="col-md-10 col-sm-12 col-12">
                <div style="text-align: left">
                  <div
                    id="georesourceEditAdmin_topicsManagement"
                    class="box box-primary collapsed-box"
                    style="background: #ebf0fd"
                  >
                    <div class="box-header">
                      <h3 class="box-title">Themenkatalog</h3>
                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <style>
                        #georesourceEditAdmin_topicsManagement #indicatorTopicsManagement {
                          display: none;
                        }
                      </style>
                      <app-admin-topics-management></app-admin-topics-management>
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div>
              </div>
            </div>
          }

          <input
            type="button"
            name="previous"
            class="previous previous_editGeoresourceMetadata action-button-previous"
            value="Voriger Schritt"
            (click)="stepper.previous()"
          />
        </fieldset>
      </form>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default pull-left" (click)="cancel()">Schließen</button>
  <button
    type="button"
    class="btn btn-info pull-left"
    (click)="onImportGeoresourceEditMetadata()"
    title="Importieren der Metadaten aus einer Datei"
  >
    <i class="fas fa-file-import"></i>&nbsp;&nbsp;Metadaten-Import
  </button>
  <input
    style="display: none"
    class="pull-left"
    type="file"
    #metadataImportFile
    class="form-control"
    id="georesourceEditMetadataImportFile"
    accept=".json"
    (change)="onMetadataFileSelected($event)"
  />
  <button
    type="button"
    style="margin-left: 6px"
    class="btn btn-info pull-left"
    (click)="onExportGeoresourceEditMetadata()"
    title="Exportieren der Metadaten in eine Datei"
  >
    <i class="fas fa-file-export"></i>&nbsp;&nbsp;Metadaten-Export
  </button>

  <button
    type="button"
    class="btn btn-success"
    [disabled]="!canSubmitForm()"
    (click)="editGeoresourceMetadata()"
  >
    Metadaten aktualisieren
  </button>
  <button type="button" class="btn btn-danger" (click)="resetGeoresourceEditMetadataForm()">
    Zurücksetzen
  </button>
</div>

<!-- Update success/error feedback is shown via NotificationService toasts -->
<div
  style="position: absolute; bottom: 0px; width: 100%"
  [hidden]="!importErrorAlertVisible()"
  class="alert alert-danger alert-dismissable"
>
  <button type="button" class="close" (click)="hideMetadataErrorAlert()" aria-hidden="true">
    &times;
  </button>
  <h4><i class="icon fa fa-ban"></i>Metadata Import gescheitert</h4>
  Beim Import der Metadaten aus einer Datei ist ein Fehler aufgetreten. Fehlermeldung:
  <br />
  <pre>{{ georesourceMetadataImportError() }}</pre>
  <br />
  <br />
  <p>Bitte stellen Sie sicher, dass folgendes JSON-Format eingehalten wird:</p>
  <pre
    style="overflow: auto; max-height: 500px"
    [innerHTML]="georesourceMetadataStructure_pretty"
  ></pre>
</div>
