<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">WMS bearbeiten</h4>
</div>

<div class="modal-body">
  <div align="center">
    @if (loadingData) {
      <div class="loading-overlay-admin-panel" [class.ng-hide]="!loadingData">
        <span class="glyphicon glyphicon-refresh icon-spin"></span>
      </div>
    }
  </div>

  <!-- MultiStep Form -->
  <div class="row">
    <div class="col-md-12">
      <form
        class="multiStepForm form-group"
        #georesourceAddForm="ngForm"
        (ngSubmit)="editData()"
        style="margin-bottom: 0px"
      >
        <!-- progressbar -->
        <app-stepper [steps]="stepper.steps" [(currentStep)]="stepper.currentStep"></app-stepper>

        <!-- fieldsets: switched via display so the role grid (and its checked
             state) survives navigating between steps -->
        @if (envConfigService.enableKeycloakSecurity) {
          <fieldset [style.display]="stepper.isActive('roles') ? 'block' : 'none'">
            <h2 class="fs-title">Zugriffsschutz</h2>
            <h3 class="fs-subtitle">
              Vergabe der Zugriffsrechte auf Datensatz-Metadaten und -Features pro
              Organisationseinheit
            </h3>
            <div id="georesourceRoleForm">
              <label>Datensatz-Freigaben</label>
              <div class="row vertical-align">
                <div class="col-md-3">
                  <label>Öffentliche Lesefreigabe*</label>
                  <label class="switch">
                    <input
                      type="checkbox"
                      [(ngModel)]="isPublic"
                      name="isPublic"
                      (ngModelChange)="onChangeIsPublic($event)"
                    />
                    <span class="switchslider round"></span>
                  </label>
                  <div class="help-block">
                    <p>Öffentlich freigegebene Datensätze können ohne Login abgerufen werden.</p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-12">
                  <app-role-management-grid
                    gridId="wmsEditRoleManagementTable"
                    [permissions]="currentGeoresourceDataset.permissions"
                    [ownerId]="currentGeoresourceDataset.ownerId"
                  ></app-role-management-grid>
                </div>
                <div class="col-md-3">
                  <div class="alert alert-info">
                    Als Eigentümer-Organisation des Datensatzes können Sie Lese- und Editier-Rechte
                    an die eigene und weitere Organisationseinheiten vergeben.
                  </div>
                </div>
              </div>
            </div>
            <input
              type="button"
              name="previous"
              class="previous previous_addGeoresource action-button-previous"
              value="Voriger Schritt"
              (click)="stepper.previous()"
            />
            <input
              type="button"
              name="next"
              class="next next_addGeoresource action-button"
              value="Nächster Schritt"
              (click)="stepper.next()"
            />
          </fieldset>

          <fieldset [style.display]="stepper.isActive('ownership') ? 'block' : 'none'">
            <h2 class="fs-title">Eigentümerschaft eines Datensatzes</h2>
            <h3 class="fs-subtitle">
              Übertragen der Eigentümerschaft von Datensätzen mit allen dazugehörigen Rechten
            </h3>
            <app-owner-organization-select
              [ownerId]="ownerOrganization"
              [currentOwnerId]="currentGeoresourceDataset.ownerId"
              (ownerIdChange)="onChangeOwner($event)"
            ></app-owner-organization-select>
          </fieldset>
        }
      </form>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default pull-left" (click)="close()">Schließen</button>

  <button
    type="button"
    class="btn btn-success"
    [disabled]="envConfigService.enableKeycloakSecurity && !ownerOrganization"
    (click)="editData()"
  >
    WMS editieren
  </button>
  <button type="button" class="btn btn-danger" (click)="resetWmsEditForm()">Zurücksetzen</button>
</div>

<!-- Success Alert -->
<div
  id="georesourceAddSuccessAlert"
  style="position: absolute; bottom: 0px; width: 100%"
  [hidden]="!successMessage()"
  class="alert alert-success alert-dismissable"
>
  <button type="button" class="close" (click)="hideSuccessAlert()" aria-hidden="true">
    &times;
  </button>
  <h4><i class="icon fa fa-check"></i>Georessource registriert</h4>
  <p>
    Zugrifssrechte für den Datensatz mit dem Namen {{ successMessagePart() }} wurde in KomMonitor
    editiert.
  </p>
</div>

<!-- Error Alert -->
<div
  id="georesourceAddErrorAlert"
  style="position: absolute; bottom: 0px; width: 100%"
  [hidden]="!errorMessage()"
  class="alert alert-danger alert-dismissable"
>
  <button type="button" class="close" (click)="hideErrorAlert()" aria-hidden="true">&times;</button>
  <h4><i class="icon fa fa-ban"></i>Editierung gescheitert</h4>
  Bei der Editierung der Georessource ist ein Fehler aufgetreten. Fehlermeldung:
  <br />
  <pre style="overflow: auto; max-height: 500px" [innerHTML]="errorMessagePart()"></pre>
  <br />
  <br />
</div>
