<div class="row">
  <div class="col-md-9">
    <p>{{ 'ADMIN_SCRIPTS.INTRO.OVERVIEW' | translate }}</p>
    <ol class="list-unstyled intro-steps">
      <li [innerHTML]="'ADMIN_SCRIPTS.INTRO.FIRST_STEP' | translate"></li>
      <li>
        <ul class="list-unstyled">
          <li class="checklist-item">
            <i class="fas fa-check-square checklist-icon"></i>
            <span [innerHTML]="'ADMIN_SCRIPTS.INTRO.CHECK_CONTINUATION_TYPE' | translate"></span>
          </li>
          <li class="checklist-item">
            <i class="fas fa-check-square checklist-icon"></i>
            <span [innerHTML]="'ADMIN_SCRIPTS.INTRO.CHECK_UPDATE_INTERVAL' | translate"></span>
          </li>
          <li class="checklist-item">
            <i class="fas fa-check-square checklist-icon"></i>
            <span>{{ 'ADMIN_SCRIPTS.INTRO.CHECK_MISSING_TIMESTAMPS' | translate }}</span>
          </li>
          <li class="checklist-item">
            <i class="fas fa-check-square checklist-icon"></i>
            <span>{{ 'ADMIN_SCRIPTS.INTRO.CHECK_NO_EDITING' | translate }}</span>
          </li>
        </ul>
      </li>
      <li [innerHTML]="'ADMIN_SCRIPTS.INTRO.SECOND_STEP' | translate"></li>
    </ol>
    <p [innerHTML]="'ADMIN_SCRIPTS.INTRO.SCHEDULER_INFO' | translate"></p>
  </div>
  <div class="col-md-3">
    <div class="alert alert-warning">
      <b>{{ 'ADMIN_SCRIPTS.INTRO.ACCESS_RIGHTS_WARNING' | translate }}</b>
    </div>
  </div>
</div>
