

<div ngbAccordion>
	<div ngbAccordionItem [collapsed]="false">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>WMS</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
        <ag-grid-angular 
          #wmsGrid
          class="ag-theme-alpine" 
          style="height: 70vh; width: 100%;"
          [rowData]="[]"
          [columnDefs]="[]"
          [gridOptions]="wmsGridOptions"
          [defaultColDef]="{
            editable: false,
            sortable: true,
            filter: true,
            floatingFilter: true,
            resizable: true,
            wrapText: true,
            autoHeight: true
          }"
          [suppressRowClickSelection]="true"
          [rowSelection]="'multiple'"
          [pagination]="true"
          [paginationPageSize]="10"
          [enableCellTextSelection]="true"
          [ensureDomOrder]="true"
          [suppressColumnVirtualisation]="true">
        </ag-grid-angular>
			</div>
		</div>
	</div>
</div>
