<div
  cdkDropList
  class="list-group list-group-root"
  [cdkDropListDisabled]="order !== 'custom'"
  (cdkDropListDropped)="onTopicDropped($event)"
>
  @for (topic of topics | sortByOrder: order; track topic) {
    <div>
      <div
        class="list-group-item list-group-item-default level-{{ level }}"
        (click)="toggleExpand(topic.topicId!)"
        cdkDrag
      >
        @if (isExpandable()) {
          <i
            class="fa collapse-marker"
            [class.fa-angle-right]="!isExpanded(topic.topicId!)"
            [class.fa-angle-down]="isExpanded(topic.topicId!)"
          ></i>
        }
        <div [title]="topic.topicDescription">
          {{ topic.topicName }}
        </div>
        <div class="btn-group btn-group-sm" style="display: inline-block; margin: 0 5px">
          <button
            type="button"
            class="btn btn-warning"
            (click)="$event.stopPropagation(); onClickEditTopic(topic)"
          >
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="$event.stopPropagation(); onClickDeleteTopic(topic)"
          >
            <i class="fas fa-trash"></i>
          </button>
        </div>
        @if (showTopicIds) {
          <div style="margin: 0 10px">(ID: {{ topic.topicId }})</div>
        }
      </div>
      <div
        class="list-group collapse"
        [class.show]="isExpanded(topic.topicId!)"
        #collapse="ngbCollapse"
        [ngbCollapse]="!isExpanded(topic.topicId!)"
      >
        @if (topic.subTopics) {
          <div class="sub-topics">
            <app-topic-list
              [topics]="topic.subTopics"
              [parentTopic]="topic"
              [showTopicIds]="showTopicIds"
              [level]="level + 1"
              [levelLimit]="levelLimit"
              [topicResourceType]="topicResourceType"
              [order]="order"
            ></app-topic-list>
            <app-admin-add-topic
              [topicType]="'sub'"
              [topicResourceType]="topicResourceType"
              [parentTopic]="topic"
            ></app-admin-add-topic>
          </div>
        }
      </div>
    </div>
  }
</div>
