@if (loadingData()) {
  <div class="loading-overlay-admin-panel ng-hide">
    <i class="fas fa-spinner fa-spin fa-2x"></i>
  </div>
}

<div class="modal-header">
  <h4 class="modal-title">
    {{ 'ADMIN_INDICATORS.EDIT_FEATURES.TITLE_PREFIX' | translate }}
    <i
      ><b>{{ currentIndicatorDataset?.indicatorName }}</b></i
    >
    {{ 'ADMIN_INDICATORS.EDIT_FEATURES.TITLE_SUFFIX' | translate }}
  </h4>
  <button
    type="button"
    class="btn-close"
    [attr.aria-label]="'ADMIN_SHARED.CLOSE' | translate"
    (click)="closeModal()"
  ></button>
</div>

<div class="modal-body">
  <!-- MultiStep Form -->
  <div class="row">
    <div class="col-md-12">
      <form
        class="multiStepForm form-group"
        id="indicatorEditFeaturesForm"
        role="form"
        style="margin-bottom: 0px"
      >
        <!-- Progress bar -->
        <app-stepper [steps]="stepper.steps" [(currentStep)]="stepper.currentStep"></app-stepper>

        <!-- Step 1: Zeitreihen Übersicht -->
        @if (stepper.isActive('overview')) {
          <fieldset>
            <h2 class="fs-title">
              {{ 'ADMIN_INDICATORS.EDIT_FEATURES.OVERVIEW_TITLE' | translate }}
            </h2>
            <h3 class="fs-subtitle">
              {{ 'ADMIN_INDICATORS.EDIT_FEATURES.OVERVIEW_SUBTITLE' | translate }}
            </h3>
            <div class="row vertical-align">
              <div class="col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <label>{{
                    'ADMIN_INDICATORS.EDIT_FEATURES.SELECT_SPATIAL_UNIT_LABEL' | translate
                  }}</label>
                  <select
                    [(ngModel)]="overviewTableTargetSpatialUnitMetadata"
                    [ngModelOptions]="{ standalone: true }"
                    class="form-control"
                    required
                  >
                    <option [ngValue]="null" disabled>
                      {{ 'ADMIN_INDICATORS.SELECT_TARGET_SPATIAL_UNIT_OPTION' | translate }}
                    </option>
                    @for (
                      spatialUnit of spatialUnitStore.availableSpatialUnits
                        | filter: filterOverviewTargetSpatialUnits();
                      track spatialUnit
                    ) {
                      <option [ngValue]="spatialUnit">
                        {{ spatialUnit.spatialUnitLevel }}
                      </option>
                    }
                  </select>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <label>{{ 'ADMIN_INDICATORS.EDIT_FEATURES.FETCH_TIMESERIES' | translate }}</label>
                  <button
                    class="btn btn-info"
                    (click)="refreshIndicatorEditFeaturesOverviewTable()"
                    [disabled]="!overviewTableTargetSpatialUnitMetadata"
                  >
                    <i class="fas fa-sync-alt"></i>&nbsp;{{
                      'ADMIN_INDICATORS.EDIT_FEATURES.SHOW_ALL_TIMESERIES' | translate
                    }}
                  </button>
                  <div class="help-block">
                    <p>{{ 'ADMIN_INDICATORS.EDIT_FEATURES.LOAD_TIME_HINT' | translate }}</p>
                    <p>{{ 'ADMIN_INDICATORS.EDIT_FEATURES.EDIT_CELLS_HINT' | translate }}</p>
                  </div>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-12">
                <div class="form-group">
                  <label>{{ 'ADMIN_INDICATORS.EDIT_FEATURES.CLEANUP_LABEL' | translate }}</label>
                  <label class="switch">
                    <input
                      class="elementCheckbox"
                      type="checkbox"
                      [(ngModel)]="enableDeleteFeatures"
                      [ngModelOptions]="{ standalone: true }"
                      (change)="onChangeEnableDeleteFeatures()"
                    />
                    <span class="switchslider round text-left" style="line-height: 25px"></span>
                  </label>
                  &nbsp;&nbsp;
                  <button
                    class="btn btn-danger"
                    (click)="clearAllIndicatorFeatures()"
                    [disabled]="!enableDeleteFeatures"
                  >
                    <i class="fas fa-trash"></i>&nbsp;{{
                      'ADMIN_INDICATORS.EDIT_FEATURES.DELETE_TIMESERIES_BUTTON' | translate
                    }}
                  </button>
                  <div class="help-block">
                    <p>{{ 'ADMIN_INDICATORS.EDIT_FEATURES.DELETE_TIMESERIES_HINT' | translate }}</p>
                  </div>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
            <div>
              @if (featureTableHelper.featureTable_indicator_lastUpdate_timestamp_success) {
                <div style="background-color: #9dc89f">
                  <b>{{ 'ADMIN_INDICATORS.EDIT_FEATURES.LAST_UPDATE_SUCCESS' | translate }}</b>
                  {{ featureTableHelper.featureTable_indicator_lastUpdate_timestamp_success }}
                </div>
              }
              @if (featureTableHelper.featureTable_indicator_lastUpdate_timestamp_failure) {
                <div style="background-color: #e79595">
                  <b>{{ 'ADMIN_INDICATORS.EDIT_FEATURES.LAST_UPDATE_FAILURE' | translate }}</b>
                  {{ featureTableHelper.featureTable_indicator_lastUpdate_timestamp_failure }}
                </div>
              }
            </div>
            <div class="admin-table-wrapper featureTableWrapper">
              <ag-grid-angular
                id="indicatorFeatureTable"
                style="height: 50vh; width: 100%"
                class="ag-theme-alpine"
                [gridOptions]="featureTableGridOptions"
                [rowData]="featureTableGridOptions.rowData || []"
                [columnDefs]="featureTableGridOptions.columnDefs || []"
              >
              </ag-grid-angular>
            </div>
            <input
              type="button"
              name="next"
              class="next next_editFeaturesIndicator action-button"
              [value]="'ADMIN_SHARED_UI.STEP.NEXT' | translate"
              (click)="stepper.next()"
            />
          </fieldset>
        }

        <!-- Step 2: Räumlicher Datensatz -->
        @if (stepper.isActive('data')) {
          <fieldset>
            <div style="position: absolute">
              <button
                type="button"
                class="btn btn-info pull-left"
                (click)="onImportIndicatorEditFeaturesMappingConfig()"
                [title]="'ADMIN_INDICATORS.EDIT_FEATURES.MAPPING_IMPORT_TOOLTIP' | translate"
              >
                <i class="fas fa-file-import"></i>&nbsp;&nbsp;{{
                  'ADMIN_INDICATORS.EDIT_FEATURES.MAPPING_IMPORT' | translate
                }}
              </button>
              <input
                style="display: none"
                class="pull-left"
                type="file"
                class="form-control"
                id="indicatorMappingConfigEditFeaturesImportFile"
                accept=".json,"
              />
              <button
                type="button"
                style="margin-left: 6px"
                class="btn btn-info pull-left"
                (click)="onExportIndicatorEditFeaturesMappingConfig()"
                [title]="'ADMIN_INDICATORS.EDIT_FEATURES.MAPPING_EXPORT_TOOLTIP' | translate"
              >
                <i class="fas fa-file-export"></i>&nbsp;&nbsp;{{
                  'ADMIN_INDICATORS.EDIT_FEATURES.MAPPING_EXPORT' | translate
                }}
              </button>
            </div>
            <h2 class="fs-title">
              {{ 'ADMIN_INDICATORS.EDIT_FEATURES.IMPORT_TITLE' | translate }}
            </h2>
            <h3 class="fs-subtitle">
              {{ 'ADMIN_INDICATORS.EDIT_FEATURES.IMPORT_SUBTITLE' | translate }}
            </h3>
            <p>
              <b
                ><i>{{ 'ADMIN_SHARED_UI.STEP.REQUIRED_FIELD_MARKER' | translate }}</i></b
              >
            </p>
            <div class="row vertical-align">
              <div class="col-md-3 col-sm-6 col-12">
                <div class="form-group">
                  <label>{{ 'ADMIN_INDICATORS.DATASET_SOURCE_FORMAT' | translate }}*</label>
                  <select
                    [(ngModel)]="converter"
                    [ngModelOptions]="{ standalone: true }"
                    (change)="onChangeConverter()"
                    class="form-control"
                    required
                  >
                    <option [ngValue]="null" disabled>
                      {{ 'ADMIN_INDICATORS.SELECT_SOURCE_FORMAT_OPTION' | translate }}
                    </option>
                    @for (converter of filteredConverters; track converter) {
                      <option [ngValue]="converter">
                        {{ converter.name }}
                      </option>
                    }
                  </select>
                  <div class="help-block with-errors"></div>
                </div>
                @if (converter?.schemas) {
                  <div>
                    <div class="form-group">
                      <label>Schema*</label>
                      <select
                        [(ngModel)]="schema"
                        [ngModelOptions]="{ standalone: true }"
                        class="form-control"
                        required
                      >
                        <option disabled selected value>
                          {{ 'ADMIN_INDICATORS.SELECT_SCHEMA_OPTION' | translate }}
                        </option>
                        @for (schema of converter.schemas; track schema) {
                          <option [value]="schema">
                            {{ schema }}
                          </option>
                        }
                      </select>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                }
                @if (converter?.mimeTypes) {
                  <div>
                    <div class="form-group">
                      <label>{{ 'ADMIN_INDICATORS.SOURCE_FORMAT' | translate }}*</label>
                      <select
                        [(ngModel)]="mimeType"
                        [ngModelOptions]="{ standalone: true }"
                        (change)="onChangeMimeType(mimeType)"
                        class="form-control"
                        required
                      >
                        <option disabled selected value>
                          {{ 'ADMIN_INDICATORS.EDIT_FEATURES.SELECT_FORMAT_OPTION' | translate }}
                        </option>
                        @for (mimeType of converter.mimeTypes; track mimeType) {
                          <option [value]="mimeType">
                            {{ mimeType }}
                          </option>
                        }
                      </select>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                }
                @for (parameter of converter?.parameters; track parameter) {
                  @if (!parameter.name.includes('CRS')) {
                    <div>
                      <div class="form-group">
                        <label
                          >{{ parameter.name }}
                          @if (parameter.mandatory) {
                            <i>*</i>
                          }
                        </label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="{{ parameter.name }}"
                          [(ngModel)]="converterParameterValues[parameter.name]"
                          [name]="'converterParameter_' + parameter.name"
                          [ngModelOptions]="{ standalone: true }"
                          [required]="parameter.mandatory"
                        />
                        <div class="help-block">
                          <p>{{ parameter.description }}</p>
                        </div>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                  }
                }
              </div>
              <div class="col-md-3 col-sm-6 col-12">
                <div class="form-group">
                  @if (!converter) {
                    <div>
                      <p>{{ 'ADMIN_INDICATORS.EDIT_FEATURES.SELECT_FORMAT_FIRST' | translate }}</p>
                    </div>
                  }
                  @if (converter) {
                    <div>
                      <div class="form-group">
                        <label>{{ 'ADMIN_INDICATORS.DATASOURCE_TYPE' | translate }}*</label>
                        <select
                          [(ngModel)]="datasourceType"
                          [ngModelOptions]="{ standalone: true }"
                          class="form-control"
                          required
                        >
                          <option [ngValue]="null" disabled>
                            {{ 'ADMIN_INDICATORS.SELECT_DATASOURCE_TYPE_OPTION' | translate }}
                          </option>
                          @for (
                            datasourceType of importerHelperService.availableDatasourceTypes;
                            track datasourceType
                          ) {
                            <option [ngValue]="datasourceType">
                              {{ datasourceType.type }}
                            </option>
                          }
                        </select>
                        <div class="help-block with-errors"></div>
                      </div>
                      @if (datasourceType?.type === 'FILE') {
                        <div>
                          <label>{{ 'ADMIN_INDICATORS.FILE' | translate }}*</label>
                          <input
                            type="file"
                            class="form-control"
                            #indicatorDataSourceInput
                            id="indicatorDataSourceInput_editFeatures"
                            required
                          />
                        </div>
                      }
                      @if (!(datasourceType?.type === 'FILE')) {
                        <div>
                          @for (parameter of datasourceType?.parameters; track parameter) {
                            <div>
                              <div class="form-group">
                                <label>{{ parameter.name }}*</label>
                                <textarea
                                  rows="1"
                                  class="form-control"
                                  placeholder="{{ parameter.name }}"
                                  [(ngModel)]="datasourceTypeParameterValues[parameter.name]"
                                  [name]="'datasourceTypeParameter_' + parameter.name"
                                  [ngModelOptions]="{ standalone: true }"
                                  required
                                ></textarea>
                                <div class="help-block">
                                  <p>{{ parameter.description }}</p>
                                </div>
                                <div class="help-block with-errors"></div>
                              </div>
                            </div>
                          }
                        </div>
                      }
                    </div>
                  }
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-12">
                <div class="form-group">
                  <label>{{ 'ADMIN_INDICATORS.SPATIAL_REF_KEY' | translate }}*</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="spatialUnitRefKeyProperty"
                    [ngModelOptions]="{ standalone: true }"
                    required
                  />
                  <div class="help-block">
                    <p>{{ 'ADMIN_INDICATORS.EDIT_FEATURES.SPATIAL_REF_KEY_HINT' | translate }}</p>
                  </div>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-12">
                <div class="form-group">
                  <label>{{ 'ADMIN_INDICATORS.TARGET_SPATIAL_UNIT' | translate }}*</label>
                  <select
                    [(ngModel)]="targetSpatialUnitMetadata"
                    [ngModelOptions]="{ standalone: true }"
                    (change)="onChangeSelectedSpatialUnit(targetSpatialUnitMetadata)"
                    class="form-control"
                    required
                  >
                    <option [ngValue]="null" disabled>
                      {{ 'ADMIN_INDICATORS.SELECT_TARGET_SPATIAL_UNIT_OPTION' | translate }}
                    </option>
                    @for (
                      spatialUnit of spatialUnitStore.availableSpatialUnits;
                      track spatialUnit
                    ) {
                      <option [ngValue]="spatialUnit">
                        {{ spatialUnit.spatialUnitLevel }}
                      </option>
                    }
                  </select>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
            @if (envConfigService.enableKeycloakSecurity) {
              <div>
                <hr />
                <br />
                <h4>
                  {{
                    'ADMIN_INDICATORS.EDIT_FEATURES.ACCESS_RIGHTS_HEADING'
                      | translate: { level: targetSpatialUnitMetadata?.spatialUnitLevel }
                  }}
                </h4>
                <p>
                  <strong>{{
                    'ADMIN_INDICATORS.EDIT_FEATURES.READ_ACCESS_NOTE' | translate
                  }}</strong>
                </p>
                <div class="row vertical-align">
                  <div class="col-md-3">
                    <label>{{ 'ADMIN_SHARED_UI.SECURITY.PUBLIC_READ' | translate }}*</label>
                    <label class="switch">
                      <input
                        type="checkbox"
                        [(ngModel)]="isPublic"
                        [ngModelOptions]="{ standalone: true }"
                        (change)="onChangeIsPublic(isPublic)"
                      />
                      <span class="switchslider round"></span>
                    </label>
                    <div class="help-block">
                      <p>{{ 'ADMIN_SHARED_UI.SECURITY.PUBLIC_READ_HINT' | translate }}</p>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-12">
                    <div
                      id="indicatorEditFeaturesRoleManagementTable"
                      style="height: 45vh"
                      class="ag-theme-alpine"
                    ></div>
                  </div>
                  <div class="col-md-3">
                    <div class="alert alert-info">
                      {{ 'ADMIN_SHARED_UI.SECURITY.OWNER_RIGHTS_INFO' | translate }}
                    </div>
                    <br />
                    <div class="alert alert-warning">
                      {{ 'ADMIN_INDICATORS.EDIT_FEATURES.PRESELECTED_RIGHTS_WARNING' | translate }}
                    </div>
                  </div>
                </div>
                <br />
              </div>
            }
            <hr />
            <br />
            <h4>{{ 'ADMIN_INDICATORS.TIMESERIES_MAPPING' | translate }}</h4>
            <!-- todo -->
            <!-- <indicator-edit-timeseries-mapping></indicator-edit-timeseries-mapping> -->
            <div class="row vertical-align">
              <div class="col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label>{{ 'ADMIN_INDICATORS.KEEP_MISSING_VALUES' | translate }}*</label>
                  <br />
                  <label class="switch">
                    <input
                      type="checkbox"
                      value="keepMissingValues"
                      [(ngModel)]="keepMissingValues"
                      [ngModelOptions]="{ standalone: true }"
                    />
                    <span class="switchslider round"></span>
                  </label>
                  <div class="help-block">
                    <p
                      [innerHTML]="'ADMIN_INDICATORS.EDIT_FEATURES.KEEP_MISSING_HINT' | translate"
                    ></p>
                  </div>
                </div>
              </div>
            </div>
            <input
              type="button"
              name="previous"
              class="previous previous_editFeaturesIndicator action-button-previous"
              [value]="'ADMIN_SHARED_UI.STEP.PREVIOUS' | translate"
              (click)="stepper.previous()"
            />
          </fieldset>
        }
      </form>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default pull-left" (click)="closeModal()">
    {{ 'ADMIN_SHARED.CLOSE' | translate }}
  </button>
  <button
    type="button"
    class="btn btn-success"
    [disabled]="
      !converter || !datasourceType || !targetSpatialUnitMetadata || !spatialUnitRefKeyProperty
    "
    (click)="editIndicatorFeatures()"
  >
    {{ 'ADMIN_INDICATORS.EDIT_FEATURES.CONTINUE_TIMESERIES' | translate }}
  </button>
  <button type="button" class="btn btn-danger" (click)="resetIndicatorEditFeaturesForm()">
    {{ 'ADMIN_SHARED_UI.RESET' | translate }}
  </button>
</div>
