<div id="kommonitorBalance">

	<p></p>

	<!-- BALANCE  -->
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Bilanzierung</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="box-body">

				<div style="text-align: center">
					<p *ngIf="exchangeData.enableBilanceTrend">Zeitliche Trendbetrachtung der Indikatorenentwicklung &uuml;ber eine definierbare Zeitperiode.</p>
					<p *ngIf="!exchangeData.enableBilanceTrend">Zeitliche Bilanzierung der Indikatorenentwicklung &uuml;ber eine definierbare Zeitperiode.</p>
				</div>

				<br/>

				<div style="text-align: center">

					<!-- Rounded switch -->
					<strong>Bilanzierung aktivieren/deaktivieren</strong>
					&nbsp;
					<label class="switch">
						<input id="balanceCheckbox" type="checkbox" (change)="onChangeUseBalance()" [(ngModel)]="exchangeData.isBalanceChecked" [checked]="exchangeData.isBalanceChecked">
					  <span class="switchslider round"></span>
					</label>

					<br/>
					<br/>

					<div id="rangeSliderForBalanceWrapper">
						<!-- <input id="rangeSliderForBalance" type="text" class="js-range-slider" value=""> -->
            <div id="rangeSlider">
					</div>

					<br/>
					<br/>
				</div>		

			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->

		<div style="margin-bottom: 0px;" class="box box-danger" [hidden]="exchangeData.isBalanceChecked">
			<div class="box-header with-border">
				<h3 *ngIf="exchangeData.enableBilanceTrend" class="box-title">Trenddarstellung &uuml;ber alle Features</h3>
				<h3 *ngIf="!exchangeData.enableBilanceTrend" class="box-title">Zeitreihendarstellung &uuml;ber alle Features</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="box-body">

				<!-- CONFIG FOR TREND CALCULATION -->
				<div style="text-align: center">
					<h4>Diagramm-Konfiguration</h4>
					
					<table class="table text-center" style="width:100%;">
						<tr>
							<th class="text-center">
								<b>Zeige Min/Max Bereich</b>
							</th>
							<th class="text-center">
								<b>Zeige gesamte Zeitreihe</b>
							</th>
							<th>
								<b>Zeige Trendlinie</b>
							</th>
							<th class="text-center" *ngIf="exchangeData.enableBilanceTrend">
								<b>Art der Trendberechnung</b>
							</th>
							
						</tr>
						<tr>
							<td class="text-center" >
								<label class="switch">
									<input type="checkbox" value="trendConfig_allFeatures.showMinMax" [(ngModel)]="trendConfig_allFeatures.showMinMax"
									(change)="onChangeTrendConfig()" ng-init="trendConfig_allFeatures.showMinMax = true;" checked>
									<span class="switchslider round"></span>
								</label>
							</td>
							<td class="text-center">
								<label class="switch">
									<input type="checkbox" value="trendConfig_allFeatures.showCompleteTimeseries" [(ngModel)]="trendConfig_allFeatures.showCompleteTimeseries"
									(change)="onChangeTrendConfig()" ng-init="trendConfig_allFeatures.showCompleteTimeseries = true;" checked>
									<span class="switchslider round"></span>
								</label>
							</td>
							<td>				
								<label class="switch">
									<input type="checkbox" value="exchangeData.enableBilanceTrend" [(ngModel)]="exchangeData.enableBilanceTrend" (change)="onChangeEnableBilanceTrend()"
										checked>
									<span class="switchslider round"></span>
								</label>
							</td>
							<td *ngIf="exchangeData.enableBilanceTrend">
								<select style="font-size: 12px;"
									[(ngModel)]="trendConfig_allFeatures.trendComputationType" ng-init="trendConfig_allFeatures.trendComputationType = 'linear'"
									(change)="onChangeTrendConfig()" class="form-control" required>
									<option disabled selected value> -- Indikator w&auml;hlen -- </option>
									<option value="linear" selected>Linear</option>
									<option value="exponential">Exponential</option>
									<option value="polynomial_3">Polynomial (Grad 3)</option>
									<!-- <option value="linear">gleitende Mittelwerte</option> -->
								</select>
							</td>
						</tr>
					</table>
				</div>
				
				<div class="chart">
					<div id="trendDiagram_allFeatures" style="width:100%; min-height:30vh;"></div>
				</div>

			<h4 >Statistische Merkmale der Durchschnittslinie</h4>
			<div>
				<div class="row">
				<!-- 	<div class="col-md-2">
						<label>Min: </label> <i>{{trendAnalysis_allFeatures.min}}</i>
						<br/>
						<label>Max: </label> <i>{{trendAnalysis_allFeatures.max}}</i>
					</div>
					<div class="col-md-3">
						<label>Durchschnitt: </label> <i>{{trendAnalysis_allFeatures.mean}}</i>
						<br/>
						<label>Median: </label> <i>{{trendAnalysis_allFeatures.median}}</i>
					</div>
					<div class="col-md-4">
						<label>Standardabweichung: </label> <i>{{trendAnalysis_allFeatures.deviation}}</i>
						<br/>
						<label>Varianz: </label> <i>{{trendAnalysis_allFeatures.variance}}</i>
					</div>
					<div class="col-md-3">
						<label>Bilanz: </label> <i>{{trendAnalysis_allFeatures.balance}}</i>
					
						<span *ngIf="exchangeData.enableBilanceTrend">
							<br/>
							<label >Trend: </label> <i>{{trendAnalysis_allFeatures.trend}}</i>
						</span>
					</div> -->

				</div>
			</div>
			
			</div>
		</div>


</div>
