<!-- <div class="container-fluid"> -->

	<header id="header" >

		<div  style="position:absolute; left:25%;  padding-top: 7px;">

			<h4>KomMonitor (Pilotversion in Entwicklung)
				<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#infoModal">Information&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign"></span></button>
				<button type="button" data-toggle="modal" data-target="#feedbackModal" class="btn btn-danger">Feedback&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span></button>
				<button type="button" ng-click="startGuidedTour()" class="btn btn-danger">Guided Tour&nbsp;&nbsp;<span class="glyphicon glyphicon-play"></span></button>
			</h4>
		</div>

		<div style="padding-left: 10px; padding-top: 7px;">

			<img src="logos/city-logo.png" style="float: left; width: 35px; height: 35px; margin-right: 0.5%;">

			<a href="https://www.essen.de/rathaus/organisationseinheiten/organisationseinheit_1188191.de.html" target="_blank" rel="noopener noreferrer">
				<img src="logos/transparent/essen.png" style="float: right; width: 35px; height: 35px; margin-right: 0.5%;">
			</a>

			<a href="https://ratsinfo.muelheim-ruhr.de/buerger/at020.asp?ATLFDNR=23" target="_blank" rel="noopener noreferrer">
				<img src="logos/transparent/muelheim.png" style="float: right; width: 70px; height: 35px; margin-right: 0.5%;">
			</a>
			<!-- <img src="/logos/transparent/inwis.png" style="float: right; width: 102px; height: 35px; margin-right: 0.5%;"> -->
			<a href="https://www.geographie.ruhr-uni-bochum.de/institut/" target="_blank" rel="noopener noreferrer">
				<img src="logos/transparent/rub.png" style="float: right; width: 35px; height: 35px; margin-right: 0.5%;">
			</a>
			<a href="https://www.hochschule-bochum.de/fbg/forschung-und-entwicklung/" target="_blank" rel="noopener noreferrer">
				<img src="logos/transparent/hsbo.png" style="float: right; width: 145px; height: 35px; margin-right: 0.5%;">
			</a>
			<p style="float: right; margin-right: 0.5%; padding-top: 7px;">Projektpartner</p>

			<p style="clear: both;"></p>

		</div>

	</header>

	<!-- Modal -->
	<info-modal></info-modal>

	<!-- Modal -->
	<feedback-modal></feedback-modal>

	<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebarIndicatorConfig" ng-class="sidebarIndicatorConfigClass">
        <kommonitor-data-setup></kommonitor-data-setup>
    </nav>

		<nav id="sidebarPoi" ng-class="sidebarPoiClass">
        <poi></poi>
    </nav>

		<nav id="sidebarFilter" ng-class="sidebarFilterClass">
        <kommonitor-filter></kommonitor-filter>
    </nav>

		<nav id="sidebarMeasureOfValueClassification" ng-class="sidebarMeasureOfValueClassificationClass">
        <measure-of-value-classification></measure-of-value-classification>
    </nav>

		<nav id="sidebarBalance" ng-class="sidebarBalanceClass">
        <kommonitor-balance></kommonitor-balance>
    </nav>

		<nav id="sidebarDiagrams" ng-class="sidebarDiagramsClass">
        <kommonitor-diagrams></kommonitor-diagrams>
    </nav>

		<nav id="sidebarRadarDiagram" ng-class="sidebarRadarDiagramClass">
        <indicator-radar></indicator-radar>
    </nav>

		<nav id="sidebarRegressionDiagram" ng-class="sidebarRegressionDiagramClass">
        <regression-diagram></regression-diagram>
    </nav>

		<nav id="sidebarReachability" ng-class="sidebarReachabilityClass">
        <kommonitor-reachability></kommonitor-reachability>
    </nav>

		<nav id="sidebarProcessing" ng-class="sidebarProcessingClass">
        <kommonitor-individual-indicator-computation></kommonitor-individual-indicator-computation>
    </nav>

    <!-- Page Content -->
    <div id="content" style="height: 100%; width: 100%; position: relative;">

        <kommonitor-map style="height: 100%; width: 100%; position: absolute; z-index: 1;"></kommonitor-map>

				<!-- LEFT-HANDED SIDEBAR BUTTONS -->

				<div id="sideBarButtons">
						<button type="button" style="top: 10px;" id="sidebarIndicatorConfigCollapse"
							ng-click="onSidebarIndicatorButtonClick()" ng-class="buttonIndicatorConfigClass" data-toggle="tooltip" title="Indikatorenauswahl">
								<!-- <span style="font-size:1.8em;" class="glyphicon glyphicon-th" aria-hidden="true"></span> -->
								<i style="font-size:1.8em;" class="fas fa-sitemap"></i>
						</button>

						<button type="button" style="top: 85px;" id="sidebarPoiCollapse"
							ng-click="onSidebarPoiButtonClick()" ng-class="buttonPoiClass" data-toggle="tooltip" title="Points of Interest">
								<!-- <span style="font-size:1.8em;" class="glyphicon glyphicon-th" aria-hidden="true"></span> -->
								<i style="font-size:1.8em;" class="fas fa-map-marker-alt"></i>
						</button>

						<button type="button" style="top: 160px;" id="sidebarFilterCollapse"
							ng-click="onSidebarFilterButtonClick()" ng-class="buttonFilterClass" data-toggle="tooltip" title="Darstellungsfilter">
								<!-- <span style="font-size:1.8em;" class="glyphicon glyphicon-th" aria-hidden="true"></span> -->
								<i style="font-size:1.8em;" class="fas fa-filter"></i>
						</button>

						<button type="button" style="top: 235px;" id="sidebarBalanceCollapse"
							ng-click="onSidebarBalanceButtonClick()" ng-class="buttonBalanceClass" data-toggle="tooltip" title="zeitliche Bilanzierung">
								<!-- <span style="font-size:1.8em;" class="glyphicon glyphicon-sort" aria-hidden="true"></span> -->
								<i style="font-size:1.8em;" class="fas fa-chart-line"></i>
						</button>

						<button type="button" style="top: 360px;" id="sidebarDiagramsCollapse"
							ng-click="onSidebarDiagramsClick()" ng-class="buttonDiagramsClass" data-toggle="tooltip" title="statistische Diagramme">
								<!-- <span style="font-size:1.8em;" class="glyphicon glyphicon-stats" aria-hidden="true"></span> -->
								<i style="font-size:1.8em;" class="fas fa-chart-bar"></i>
						</button>

						<button type="button" style="top: 435px;" id="sidebarRadarDiagramCollapse"
							ng-click="onSidebarRadarDiagramClick()" ng-class="buttonRadarDiagramClass" data-toggle="tooltip" title="Indikatorenradar">
								<!-- <span style="font-size:1.8em;" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> -->
								<img src="iconsFromPngTree/radarMap.svg"></img>
						</button>

						<button type="button" style="top: 510px;" id="sidebarRegressionDiagramCollapse"
							ng-click="onSidebarRegressionDiagramClick()" ng-class="buttonRegressionDiagramClass" data-toggle="tooltip" title="Regressionsdiagramm">
								<!-- <span style="font-size:1.8em;" class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> -->
								<img src="iconsFromPngTree/scatterPlot.svg"></img>
						</button>

						<button type="button" style="top: 625px;" id="sidebarReachabilityCollapse"
							ng-click="onSidebarReachabilityButtonClick()" ng-class="buttonReachabilityClass" data-toggle="tooltip" title="Erreichbarkeitsanalyse">
							<i style="font-size:1.8em;" class="fas fa-route"></i>
								<!-- <span style="font-size:1.8em;" class="glyphicon glyphicon-wrench" aria-hidden="true"></span> -->
						</button>

						<button type="button" style="top: 685px;" id="sidebarProcessingCollapse"
							ng-click="onSidebarProcessingClick()" ng-class="buttonProcessingClass" data-toggle="tooltip" title="Individuelle Indikatorenberechnung">
							<i style="font-size:1.8em;" class="fas fa-sliders-h"></i>
						</button>
				</div>

				<!-- MAP UTIL BUTTONS -->

				<div id="mapUtilButtons">
					<button type="button" style="top: 20px; left:60px;" id="recenterMapButton"
						ng-click="onRecenterMapButtonClick()" class="btn btn-leaflet-custom" data-toggle="tooltip" title="Karte zentrieren">
							<span style="font-size:1.5em;" class="glyphicon glyphicon-globe" aria-hidden="true"></span>
					</button>

					<button type="button" style="top: 20px; left:120px;" id="unselectFeaturesButton"
						ng-click="onUnselectFeaturesButtonClick()" class="btn btn-leaflet-custom" data-toggle="tooltip" title="Feature-Selektion aufheben">
							<span style="font-size:1.5em;" class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
					</button>
				</div>

				<!-- Info and legend Control buttons -->
				<button type="button" style="top: 120px; right:10px; display:none;" id="toggleInfoControlButton"
					ng-click="onToggleInfoControlButtonClick()" class="btn btn-leaflet-custom" data-toggle="tooltip" title="Indikatorinformationen einblenden">
						<span style="font-size:1.5em;" class="glyphicon glyphicon-italic" aria-hidden="true"></span>
				</button>

				<button type="button" style="top: 520px; right:10px; display:none;" id="toggleLegendControlButton"
					ng-click="onToggleLegendControlButtonClick()" class="btn btn-leaflet-custom" data-toggle="tooltip" title="Legende einblenden">
						<span style="font-size:1.5em;" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
				</button>

    </div>

	</div>
