<div id="adminTopicsContent">

	<div align="center">
		<div class="loading-overlay-admin-panel ng-hide" ng-show="loadingData">
					<span class="glyphicon glyphicon-refresh icon-spin"></span>
		</div>
	</div>

	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Themenverwaltung
			<small>Management der Themenhierarchien für Indikatoren</small>
		</h1>
	</section>

	<!-- Main content -->
	<section class="content container-fluid">

		<!--------------------------
			| Your Page Content Here |
			-------------------------->

			

								<div class="just-padding">

									<div class="list-group list-group-root well">

										<div ng-repeat="mainTopic in $ctrl.kommonitorDataExchangeServiceInstance.availableTopics | filter:{topicType:'main'}">
											<div  class="list-group-item list-group-item-info">
												<a id="{{mainTopic.topicId}}" href="" ng-attr-title="{{mainTopic.topicDescription}}" class="collapseTrigger" ng-click="isCollapsed_mainTopic = !isCollapsed_mainTopic" ng-init="isCollapsed_mainTopic=true"><i class="glyphicon glyphicon-chevron-right"></i>{{mainTopic.topicName}}</a>

												<div class="btn-group btn-group-sm" style="margin-left: 30px;">
													<button type="button" class="btn btn-warning" ng-click="onClickEditTopic(mainTopic)" data-toggle="modal" data-target="#modal-edit-topic"><i class="fas fa-pencil-alt"></i></button>
													<button type="button" class="btn btn-danger" ng-click="onClickDeleteTopic(mainTopic)" data-toggle="modal" data-target="#modal-delete-topic"><i class="fas fa-trash"></i></button>
												</div>
										  </div>


											<div ng-repeat="subTopic in mainTopic.subTopics" class="list-group collapse" uib-collapse="isCollapsed_mainTopic">

												<div  class="list-group-item list-group-item-warning">
													<a id="{{subTopic.topicId}}" class="collapseTrigger" ng-attr-title="{{subTopic.topicDescription}}" href="" ng-click="isCollapsed_subTopic = !isCollapsed_subTopic" ng-init="isCollapsed_subTopic=true"><i class="glyphicon glyphicon-chevron-right"></i>{{subTopic.topicName}}</a>
													<div class="btn-group btn-group-sm" style="margin-left: 30px;">
														<button type="button" class="btn btn-warning" ng-click="onClickEditTopic(subTopic)" data-toggle="modal" data-target="#modal-edit-topic"><i class="fas fa-pencil-alt"></i></button>
														<button type="button" class="btn btn-danger" ng-click="onClickDeleteTopic(subTopic)" data-toggle="modal" data-target="#modal-delete-topic"><i class="fas fa-trash"></i></button>
													</div>
												</div>

												<div ng-repeat="subsubTopic in subTopic.subTopics" class="list-group collapse" uib-collapse="isCollapsed_subTopic">

													<div  class="list-group-item list-group-item-warning">
														<a id="{{subsubTopic.topicId}}" class="collapseTrigger" ng-attr-title="{{subsubTopic.topicDescription}}" href="" ng-click="isCollapsed_subsubTopic = !isCollapsed_subsubTopic" ng-init="isCollapsed_subsubTopic=true"><i class="glyphicon glyphicon-chevron-right"></i>{{subsubTopic.topicName}}</a>
														<div class="btn-group btn-group-sm" style="margin-left: 30px;">
															<button type="button" class="btn btn-warning" ng-click="onClickEditTopic(subsubTopic)" data-toggle="modal" data-target="#modal-edit-topic"><i class="fas fa-pencil-alt"></i></button>
															<button type="button" class="btn btn-danger" ng-click="onClickDeleteTopic(subsubTopic)" data-toggle="modal" data-target="#modal-delete-topic"><i class="fas fa-trash"></i></button>
														</div>
													</div>

													<div ng-repeat="subsubsubTopic in subsubTopic.subTopics" class="list-group collapse" uib-collapse="isCollapsed_subsubTopic">

														<div  class="list-group-item list-group-item-warning">
															<a id="{{subsubsubTopic.topicId}}" class="collapseTrigger" ng-attr-title="{{subsubsubTopic.topicDescription}}">{{subsubsubTopic.topicName}}</a>
															<div class="btn-group btn-group-sm" style="margin-left: 30px;">
																<button type="button" class="btn btn-warning" ng-click="onClickEditTopic(subsubsubTopic)" data-toggle="modal" data-target="#modal-edit-topic"><i class="fas fa-pencil-alt"></i></button>
																<button type="button" class="btn btn-danger" ng-click="onClickDeleteTopic(subsubsubTopic)" data-toggle="modal" data-target="#modal-delete-topic"><i class="fas fa-trash"></i></button>
															</div>
														</div>

													</div>

													<div class="list-group-item list-group-item-success" ng-show="!isCollapsed_subsubTopic" style="border-top: double;">
														<form role="form" class="form-group" data-toggle="validator" style="margin-bottom: 0px;">
															  <div class="row">
																	<div class="col-md-3">
																		<button class="btn btn-success btn-sm" ng-click="onAddSubSubSubTopic(subsubTopic)" ng-disabled="!subsubTopic.newSubTopicTitle || !subsubTopic.newSubTopicDescription"><i class="fas fa-plus"></i> &nbsp; &nbsp; Unterthema hinzuf&uuml;gen</button>
																	</div>
															    <div class="col-md-4">
																		<input style="width:100%;" class="form-control" type="text" placeholder="Titel des Unterthemas" ng-model="subsubTopic.newSubTopicTitle" required></input>
																		<div class="help-block with-errors"></div>
																	</div>
															    <div class="col-md-5">
																		<textarea style="width:100%;" rows="1" class="form-control" type="text" placeholder="Beschreibung des Unterthemas" ng-model="subsubTopic.newSubTopicDescription" required></textarea>
																		<div class="help-block with-errors"></div>
																	</div>

															  </div>

														</form>
													</div>

												</div>

												<div class="list-group-item list-group-item-success" ng-show="!isCollapsed_subTopic" style="border-top: double;">
													<form role="form" class="form-group" data-toggle="validator" style="margin-bottom: 0px;">
														  <div class="row">
																<div class="col-md-3">
																	<button class="btn btn-success btn-sm" ng-click="onAddSubSubTopic(subTopic)" ng-disabled="!subTopic.newSubTopicTitle || !subTopic.newSubTopicDescription"><i class="fas fa-plus"></i> &nbsp; &nbsp; Unterthema hinzuf&uuml;gen</button>
																</div>
														    <div class="col-md-4">
																	<input style="width:100%;" class="form-control" type="text" placeholder="Titel des Unterthemas" ng-model="subTopic.newSubTopicTitle" required></input>
																	<div class="help-block with-errors"></div>
																</div>
														    <div class="col-md-5">
																	<textarea style="width:100%;" rows="1" class="form-control" type="text" placeholder="Beschreibung des Unterthemas" ng-model="subTopic.newSubTopicDescription" required></textarea>
																	<div class="help-block with-errors"></div>
																</div>

														  </div>

													</form>
												</div>

											</div>

											<div class="list-group-item list-group-item-success" ng-show="!isCollapsed_mainTopic" style="border-top: double;">
												<form role="form" class="form-group" data-toggle="validator" style="margin-bottom: 0px;">
													  <div class="row">
															<div class="col-md-3">
																<button class="btn btn-success btn-sm" ng-click="onAddSubTopic(mainTopic)" ng-disabled="!mainTopic.newSubTopicTitle || !mainTopic.newSubTopicDescription"><i class="fas fa-plus"></i> &nbsp; &nbsp; Unterthema hinzuf&uuml;gen</button>
															</div>
													    <div class="col-md-4">
																<input style="width:100%;" class="form-control" type="text" placeholder="Titel des Unterthemas" ng-model="mainTopic.newSubTopicTitle" required></input>
																<div class="help-block with-errors"></div>
															</div>
													    <div class="col-md-5">
																<textarea style="width:100%;" rows="1" class="form-control" type="text" placeholder="Beschreibung des Unterthemas" ng-model="mainTopic.newSubTopicDescription" required></textarea>
																<div class="help-block with-errors"></div>
															</div>

													  </div>

												</form>
											</div>

										</div>
										<div class="list-group-item list-group-item-success" style="border-top: double;">
											<form role="form" class="form-group" data-toggle="validator" style="margin-bottom: 0px;">
												  <div class="row">
														<div class="col-md-3">
															<button class="btn btn-success btn-sm" ng-click="onAddMainTopic()" ng-disabled="!newMainTopicTitle || !newMainTopicDescription"><i class="fas fa-plus"></i> &nbsp; &nbsp; Hauptthema hinzuf&uuml;gen</button>
														</div>
												    <div class="col-md-4">
															<input style="width:100%;" class="form-control" type="text" placeholder="Titel des Hauptthemas" ng-model="newMainTopicTitle" required></input>
															<div class="help-block with-errors"></div>
														</div>
												    <div class="col-md-5">
															<textarea style="width:100%;" rows="1" class="form-control" type="text" placeholder="Beschreibung des Hauptthemas" ng-model="newMainTopicDescription" required></textarea>
															<div class="help-block with-errors"></div>
														</div>

												  </div>

											</form>
										</div>

									</div>

							</div>

            

					<div id="topicsErrorAlert" style="position: absolute; bottom: 0px; width: 100%;" hidden class="alert alert-danger alert-dismissable">
		                <button type="button" class="close" ng-click="hideErrorAlert()" aria-hidden="true">&times;</button>
		                <h4><i class="icon fa fa-ban"></i>Request gescheitert</h4>
		                Fehlermeldung:
										<br/>
										<pre>{{errorMessagePart}}</pre>.
		      </div>

	</section>
<!-- /.content -->
</div>
