<ng-template #TopicTree let-topics="topics" let-level="level">
  @for (topic of topics; track topic) {
    <app-topic-element
      [topic]="topic"
      [level]="level"
      [titleSuffix]="topic.totalCount"
      [collapsed]="collapsedTopicIds.includes(topic.topicId)"
      [showFavSelection]="showFavSelection"
      [isFavorite]="isTopicFav(topic.topicId)"
      [containsSelectedIndicator]="checkHierarchyPoiSelected(topic)"
      (toggleCollapse)="onTopicClick(topic.topicId)"
      (favToggled)="topicFavToggled.emit(topic.topicId)"
    >
      <input
        topicElementRowExtra
        type="checkbox"
        [(ngModel)]="topic.isSelected"
        id="showAllForTopic_{{ topic.topicId }}"
        title="Alle Datensätze dieses Themas anzeigen"
        (change)="showAllOnTopic.emit(topic)"
      />

      <ng-container
        *ngTemplateOutlet="TopicTree; context: { topics: topic.subTopics, level: level + 1 }"
      ></ng-container>
      @if (topic.ownCount > 0) {
        <div class="georesourceInputForm">
          <app-georesource-dataset-table
            [datasets]="topic"
            [showFavSelection]="showFavSelection"
            [showPerDatasetDateColumn]="showPerDatasetDateColumn"
            [poiFavItems]="poiFavItems"
            [wmsFavItems]="wmsFavItems"
            (toggleGeoresourceOnMap)="toggleGeoresourceOnMap.emit($event)"
            (toggleWmsOnMap)="toggleWmsOnMap.emit($event)"
            (toggleWfsOnMap)="toggleWfsOnMap.emit($event)"
            (selectedDateChange)="selectedDateChange.emit($event)"
            (zoomToLayer)="zoomToLayer.emit($event)"
            (exportGeoresource)="exportGeoresource.emit($event)"
            (poiFavClick)="poiFavToggled.emit($event)"
            (wmsFavClick)="wmsFavToggled.emit($event)"
            (wfsColorChange)="wfsColorChange.emit($event)"
          >
          </app-georesource-dataset-table>
        </div>
      }
    </app-topic-element>
  }
</ng-template>

<ng-container *ngTemplateOutlet="TopicTree; context: { topics: topics, level: 0 }"></ng-container>
