<ng-template #TopicTree let-topics="topics" let-level="level">
  @for (topic of topics; track topic) {
    <app-topic-element
      [topic]="topic"
      [level]="level"
      [titleSuffix]="topic.totalCount"
      [collapsed]="collapsedTopicIds.includes(topic.topicId)"
      [showFavSelection]="showFavSelection"
      [isFavorite]="isTopicFav(topic.topicId)"
      [containsSelectedIndicator]="checkHierarchyPoiSelected(topic)"
      (toggleCollapse)="onTopicClick(topic.topicId)"
      (favToggled)="topicFavToggled.emit(topic.topicId)"
    >
      <input
        topicElementRowExtra
        type="checkbox"
        [(ngModel)]="topic.isSelected"
        id="showAllForTopic_{{ topic.topicId }}"
        title="Alle Datensätze dieses Themas anzeigen"
        (change)="showAllOnTopic.emit(topic)"
      />

      <ng-container
        *ngTemplateOutlet="TopicTree; context: { topics: topic.subTopics, level: level + 1 }"
      ></ng-container>
      @if (topic.ownCount > 0) {
        <div class="georesourceInputForm">
          @for (poi of topic.poiData; track poi) {
            <app-georesource-vector-element
              kind="poi"
              [dataset]="poi"
              [level]="level + 1"
              [showFavSelection]="showFavSelection"
              [showPerDatasetDateColumn]="showPerDatasetDateColumn"
              [isFavorite]="poiFavItems.includes(poi.georesourceId ?? '')"
              (toggleGeoresourceOnMap)="toggleGeoresourceOnMap.emit($event)"
              (selectedDateChange)="selectedDateChange.emit($event)"
              (zoomToLayer)="zoomToLayer.emit($event)"
              (exportGeoresource)="exportGeoresource.emit($event)"
              (favToggled)="poiFavToggled.emit($event)"
            ></app-georesource-vector-element>
          }
          @for (loi of topic.loiData; track loi) {
            <app-georesource-vector-element
              kind="loi"
              [dataset]="loi"
              [level]="level + 1"
              [showFavSelection]="showFavSelection"
              [showPerDatasetDateColumn]="showPerDatasetDateColumn"
              [isFavorite]="poiFavItems.includes(loi.georesourceId ?? '')"
              (toggleGeoresourceOnMap)="toggleGeoresourceOnMap.emit($event)"
              (selectedDateChange)="selectedDateChange.emit($event)"
              (zoomToLayer)="zoomToLayer.emit($event)"
              (exportGeoresource)="exportGeoresource.emit($event)"
              (favToggled)="poiFavToggled.emit($event)"
            ></app-georesource-vector-element>
          }
          @for (aoi of topic.aoiData; track aoi) {
            <app-georesource-vector-element
              kind="aoi"
              [dataset]="aoi"
              [level]="level + 1"
              [showFavSelection]="showFavSelection"
              [showPerDatasetDateColumn]="showPerDatasetDateColumn"
              [isFavorite]="poiFavItems.includes(aoi.georesourceId ?? '')"
              (toggleGeoresourceOnMap)="toggleGeoresourceOnMap.emit($event)"
              (selectedDateChange)="selectedDateChange.emit($event)"
              (zoomToLayer)="zoomToLayer.emit($event)"
              (exportGeoresource)="exportGeoresource.emit($event)"
              (favToggled)="poiFavToggled.emit($event)"
            ></app-georesource-vector-element>
          }
          @for (dataset of topic.wmsData; track dataset) {
            <app-georesource-wms-element
              [dataset]="dataset"
              [level]="level + 1"
              [showFavSelection]="showFavSelection"
              [isFavorite]="wmsFavItems.includes(dataset.id ?? '')"
              (toggleWmsOnMap)="toggleWmsOnMap.emit($event)"
              (favToggled)="wmsFavToggled.emit($event)"
            ></app-georesource-wms-element>
          }
          @for (dataset of topic.wfsData; track dataset) {
            <app-georesource-wfs-element
              [dataset]="dataset"
              [level]="level + 1"
              (toggleWfsOnMap)="toggleWfsOnMap.emit($event)"
              (wfsColorChange)="wfsColorChange.emit($event)"
            ></app-georesource-wfs-element>
          }
        </div>
      }
    </app-topic-element>
  }
</ng-template>

<ng-container *ngTemplateOutlet="TopicTree; context: { topics: topics, level: 0 }"></ng-container>
