<div class="d-flex flex-column flex-shrink-0 sidebar">
  <header class="sidebar-header">
    <a target="_blank" rel="noopener noreferrer" href="http://kommonitor.de" class="logo">
      <!-- <span class="logo-mini"><img src="logos/KM_Logo1.svg" /></span> -->
      <img src="logos/KM_Logo1.svg" />
      <b>KomMonitor</b>
    </a>
  </header>
  <div class="sidebar-subheader">Administration</div>
  <div class="nav-pills flex-column">
    <a class="nav-link" routerLink="overview" routerLinkActive="active">
      <i class="fas fa-tachometer-alt"></i>
      <span>Übersicht</span>
    </a>

    <a class="nav-link" routerLink="groups" routerLinkActive="active">
      <i class="fas fa-users"></i>
      <span>Gruppenverwaltung</span>
    </a>

    <a class="nav-link" routerLink="permissions" routerLinkActive="active">
      <i class="fa-solid fa-user-lock"></i>
      <span>Gruppen-/Rechtekonzept</span>
    </a>

    <a class="nav-link" routerLink="topics" routerLinkActive="active">
      <i class="fas fa-book"></i>
      <span>Themenverwaltung</span>
    </a>

    <button
      class="btn btn-link nav-link w-100 text-start"
      (click)="isGeodataMgmtExpanded.set(!isGeodataMgmtExpanded())"
      [attr.aria-expanded]="isGeodataMgmtExpanded()"
    >
      <i class="fas fa-globe-americas"></i>
      <span class="label">Geodatenverwaltung</span>
      <span
        class="fa collapse-marker"
        [class.fa-angle-down]="isGeodataMgmtExpanded()"
        [class.fa-angle-left]="!isGeodataMgmtExpanded()"
      ></span>
    </button>

    <div [class.d-none]="!isGeodataMgmtExpanded()" class="nav-item child">
      <a class="nav-link" routerLink="spatial-units" routerLinkActive="active">
        <i class="fas fa-layer-group"></i>
        <span>Raumebenen</span>
      </a>
    </div>

    <div [class.d-none]="!isGeodataMgmtExpanded()" class="nav-item child">
      <a class="nav-link" routerLink="indicators" routerLinkActive="active">
        <i class="fas fa-sitemap"></i>
        <span>Indikatoren</span>
      </a>
    </div>

    <div [class.d-none]="!isGeodataMgmtExpanded()" class="nav-item child">
      <a class="nav-link" routerLink="georesources" routerLinkActive="active">
        <i class="fas fa-map-marked-alt"></i>
        <span>Georessourcen</span>
      </a>
    </div>

    <a class="nav-link" routerLink="scripts" routerLinkActive="active">
      <i class="far fa-file-code"></i>
      <span>Skriptverwaltung</span>
    </a>

    <a class="nav-link" routerLink="indicator-calculation" routerLinkActive="active">
      <i class="far fa-file-code"></i>
      <span>Indikatorenberechnung</span>
    </a>

    <button
      class="btn btn-link nav-link w-100 text-start"
      (click)="isSettingsExpanded.set(!isSettingsExpanded())"
      [attr.aria-expanded]="isSettingsExpanded()"
    >
      <i class="fas fa-tools"></i>
      <span class="label">Einstellungen</span>
      <span
        class="fa collapse-marker"
        [class.fa-angle-down]="isSettingsExpanded()"
        [class.fa-angle-left]="!isSettingsExpanded()"
      ></span>
    </button>

    <div [class.d-none]="!isSettingsExpanded()" class="nav-item child">
      <a class="nav-link" routerLink="settings" routerLinkActive="active">
        <i class="fas fa-cogs"></i>
        <span>Allgemeine Einstellungen</span>
      </a>
    </div>

    <div [class.d-none]="!isSettingsExpanded()" class="nav-item child">
      <a class="nav-link" routerLink="widgets" routerLinkActive="active">
        <i class="far fa-eye-slash"></i>
        <span>Widget-Konfiguration</span>
      </a>
    </div>

    <div [class.d-none]="!isSettingsExpanded()" class="nav-item child">
      <a class="nav-link" routerLink="filters" routerLinkActive="active">
        <i class="fa fa-filter"></i>
        <span>Filter-Konfiguration</span>
      </a>
    </div>
  </div>
</div>

<div class="content-wrapper">
  <header>
    <button type="button" class="btn btn-danger btn-sm" (click)="switchToMapApplication()">
      <i class="fas fa-user-cog"></i>
      <span>Administration verlassen</span>
    </button>
    <div class="spacer"></div>
    <div class="validity-info">
      <app-session-validity></app-session-validity>
    </div>
    <app-user-login></app-user-login>
  </header>

  <div class="tab-content flex-grow-1">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <strong>Copyright &copy; <a href="http://kommonitor.de">KomMonitor-Team</a>.</strong>
    <div class="d-none d-sm-block">Vielen Dank f&uuml;r die Nutzung von KomMonitor</div>
  </footer>
</div>

<app-notification></app-notification>
