<form role="form" class="row" style="margin-bottom: 0px">
  <div class="col-3">
    <button
      type="button"
      class="btn btn-success btn-sm"
      (click)="onAddTopic()"
      [disabled]="form.invalid"
    >
      <i class="fas fa-plus"></i> &nbsp; &nbsp;
      {{ 'ADMIN_TOPICS.ADD.ADD_BUTTON' | translate: { type: (typeLabelKey | translate) } }}
    </button>
  </div>
  <div class="col-4">
    <input
      style="width: 100%"
      class="form-control"
      type="text"
      [placeholder]="
        'ADMIN_TOPICS.ADD.TITLE_PLACEHOLDER' | translate: { type: (typeLabelKey | translate) }
      "
      [formControl]="form.controls.title"
      name="newTopicTitle"
      required
    />
    <div class="help-block with-errors"></div>
  </div>
  <div class="col-5">
    <textarea
      style="width: 100%"
      rows="1"
      class="form-control form-control-sm"
      type="text"
      [placeholder]="
        'ADMIN_TOPICS.ADD.DESCRIPTION_PLACEHOLDER' | translate: { type: (typeLabelKey | translate) }
      "
      [formControl]="form.controls.description"
      name="newTopicDescription"
      required
    ></textarea>
    <div class="help-block with-errors"></div>
  </div>
</form>
