<div>
  <div class="radio">
    <label>
      <input
        type="radio"
        value="alphabetical"
        [(ngModel)]="orderMode"
        (ngModelChange)="setOption($event)"
      />
      {{ 'ADMIN_TOPICS.ORDER.ALPHABETICAL' | translate }}
    </label>
  </div>

  <div class="radio">
    <label>
      <input
        type="radio"
        value="custom"
        [(ngModel)]="orderMode"
        (ngModelChange)="setOption($event)"
      />
      {{ 'ADMIN_TOPICS.ORDER.CUSTOM' | translate }}
    </label>
  </div>
</div>
