<div>
  <div class="radio">
    <label for="topic-order-alphabetical-{{topicResourceType}}">
      <input
        id="topic-order-alphabetical-{{topicResourceType}}"
        name="topic-order-{{topicResourceType}}"
        type="radio"
        [value]="ALPHABETICAL"
        [checked]="selectedOption === ALPHABETICAL"
        (change)="setOption(ALPHABETICAL)"
        [disabled]="isBusy"
      />
      alphabetical
    </label>
  </div>

  <div class="radio">
    <label>
      <input
        id="topic-order-custom-{{topicResourceType}}"
        name="topic-order-{{topicResourceType}}"
        type="radio"
        [value]="CUSTOM"
        [checked]="selectedOption === CUSTOM"
        (change)="setOption(CUSTOM)"
        [disabled]="isBusy"
      />
      benutzerdefiniert
    </label>
  </div>
</div>
