<app-script-indicators></app-script-indicators>
<app-script-georesources></app-script-georesources>

<p>
  Skript-Parameter sind optional und dienen dazu, variable Berechnungsparameter
  zu definieren (bspw. Radius eines Einzugsgebiets, Gewichtung). Jeder der
  definierten Skript-Parameter sollte im Skript-Code auch Verwendung finden.
</p>
<app-script-parameters></app-script-parameters>

<p>
  Der eigentliche Skript Code kann beliebige Berechnungslogik enthalten. Unter
  Verwendung der obigen (Basis-)Indikatoren, Georessourcen und Skript-Parameter
  kann mittels des hinterlegten Skript Codes die Zeitreihe des Ziel-Indikators
  berechnet werden.
</p>
<p>
  <b>HINWEIS:</b> Die hier angegebenen Skript-Inhalte werden nicht validiert
  oder auf Code-Fehler &uuml;berpr&uuml;ft. Bitte achten Sie selbst
  sorgf&auml;ltig darauf, dass der hochzuladende Code g&uuml;ltig ist.
</p>
<app-script-code></app-script-code>
