<div>Zeitpunkt(e)</div>

<ul
  ngbNav
  #nav="ngbNav"
  [(activeId)]="active"
  class="nav nav-tabs"
  [animation]="false"
  (navChange)="onTabChange($event.nextId)"
>
  <li [ngbNavItem]="1">
    <a class="nav-link" ngbNavLink>Einzeln</a>
    <ng-template ngbNavContent>
      <select (change)="updateSingleTimestamp($event)" [value]="singleValue" class="form-select">
        <option value="">Bitte wählen...</option>
        @for (ts of sortedTimestamps; track ts) {
          <option [value]="ts">
            {{ ts }}
          </option>
        }
      </select>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a class="nav-link" ngbNavLink>Zeitraum</a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <span>Von</span>
            <button type="button" class="btn btn-link btn-sm p-0" (click)="setEarliestStart()">
              Frühester
            </button>
          </div>
          <select (change)="updateRangeStart($event)" [value]="rangeStart" class="form-select">
            <option value="">Bitte wählen...</option>
            @for (ts of filteredStartTimestamps; track ts) {
              <option [value]="ts">
                {{ ts }}
              </option>
            }
          </select>
        </div>
        <div class="col-md-6">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <span>Bis</span>
            <button type="button" class="btn btn-link btn-sm p-0" (click)="setLatestEnd()">
              Aktuellster
            </button>
          </div>
          <select (change)="updateRangeEnd($event)" [value]="rangeEnd" class="form-select">
            <option value="">Bitte wählen...</option>
            @for (ts of filteredEndTimestamps; track ts) {
              <option [value]="ts">
                {{ ts }}
              </option>
            }
          </select>
        </div>
      </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
