<div class="modal-header">
  <h4 class="modal-title">
    Metadaten des Themeneintrags
    <i>
      <b>{{ topic.topicName }}</b>
    </i>
    editieren
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
</div>
<div class="modal-body">
  <div>
    @if (isSubmitting) {
      <div class="loading-overlay-admin-panel">
        <i class="fas fa-spinner fa-spin fa-2x"></i>
      </div>
    }
  </div>

  <p>
    <b><i>* = Pflichtfeld</i></b>
  </p>

  <form
    [formGroup]="topicForm"
    (ngSubmit)="onSubmit()"
    class="form-group"
    style="margin-bottom: 0px"
  >
    <h4>Themen Metadaten</h4>

    <div class="row vertical-align">
      <div class="col-md-5">
        <label for="topic-name-input">Name des Eintrags*</label>
        <input
          id="topic-name-input"
          style="width: 100%"
          class="form-control"
          type="text"
          placeholder="Titel des Eintrags"
          formControlName="name"
          required
          [attr.aria-invalid]="topicForm.get('name')?.invalid && topicForm.get('name')?.touched"
          [attr.aria-describedby]="
            topicForm.get('name')?.invalid && topicForm.get('name')?.touched ? 'name-error' : null
          "
        />
        @if (topicForm.get('name')?.invalid && topicForm.get('name')?.touched) {
          <div id="name-error" class="help-block with-errors" role="alert">
            Name ist erforderlich
          </div>
        }
      </div>
      <div class="col-md-7">
        <label for="topic-description-input">Beschreibung des Eintrags*</label>
        <textarea
          id="topic-description-input"
          style="width: 100%"
          rows="5"
          class="form-control"
          placeholder="Beschreibung des Eintrags"
          formControlName="description"
          required
          [attr.aria-invalid]="
            topicForm.get('description')?.invalid && topicForm.get('description')?.touched
          "
          [attr.aria-describedby]="
            topicForm.get('description')?.invalid && topicForm.get('description')?.touched
              ? 'description-error'
              : null
          "
        ></textarea>
        @if (topicForm.get('description')?.invalid && topicForm.get('description')?.touched) {
          <div id="description-error" class="help-block with-errors" role="alert">
            Beschreibung ist erforderlich
          </div>
        }
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Schließen</button>
  <div style="flex: 1"></div>
  <button
    type="button"
    class="btn btn-success"
    [disabled]="topicForm.invalid || isSubmitting"
    (click)="onSubmit()"
  >
    @if (isSubmitting) {
      <span class="spinner-border spinner-border-sm mr-1"></span>
    }
    Eintrag aktualisieren
  </button>
</div>
