<div id="sideBarButtons">
  @if (visibilityHelperService.elementVisibility.indicatorConfig) {
    <button
      type="button"
      style="display: block; position: relative; margin-top: 5px"
      (click)="sidebarState.toggleActive('sidebarIndicatorConfigCollapse')"
      class="btn btn-custom btn-circle"
      [ngClass]="{
        'btn-docked btn-custom-docked':
          sidebarState.activeElement() === 'sidebarIndicatorConfigCollapse',
      }"
      title="Indikatorenauswahl"
    >
      <i class="fas fa-sitemap"></i>
    </button>
  }

  @if (visibilityHelperService.elementVisibility.poi) {
    <button
      type="button"
      style="display: block; position: relative; margin-top: 5px"
      (click)="sidebarState.toggleActive('sidebarPoiCollapse')"
      class="btn btn-custom btn-circle"
      [ngClass]="{
        'btn-docked btn-custom-docked': sidebarState.activeElement() === 'sidebarPoiCollapse',
      }"
      title="Infrastrukturdaten"
    >
      <i class="fas fa-map-marker-alt"></i>
    </button>
  }

  @if (visibilityHelperService.elementVisibility.dataImport) {
    <button
      type="button"
      style="display: block; position: relative; margin-top: 5px"
      (click)="sidebarState.toggleActive('sidebarDataImportCollapse')"
      class="btn btn-custom btn-circle"
      [ngClass]="{
        'btn-docked btn-custom-docked':
          sidebarState.activeElement() === 'sidebarDataImportCollapse',
      }"
      title="Datenimport"
    >
      <i class="fas fa-file-import"></i>
    </button>
  }

  @if (visibilityHelperService.elementVisibility.filter) {
    <button
      type="button"
      style="display: block; position: relative; margin-top: 5px"
      (click)="sidebarState.toggleActive('sidebarFilterCollapse')"
      class="btn btn-custom btn-circle"
      [ngClass]="{
        'btn-docked btn-custom-docked': sidebarState.activeElement() === 'sidebarFilterCollapse',
        filterActive: filterModusActive(),
      }"
      title="Darstellungsfilter"
    >
      <i class="fas fa-filter"></i>
    </button>
  }

  <app-diagram-menu-button></app-diagram-menu-button>

  @if (visibilityHelperService.elementVisibility.reachability) {
    <button
      type="button"
      style="display: block; position: relative; margin-top: 5px"
      (click)="sidebarState.toggleActive('sidebarReachabilityCollapse')"
      class="btn btn-custom btn-circle"
      [ngClass]="{
        'btn-docked btn-custom-docked':
          sidebarState.activeElement() === 'sidebarReachabilityCollapse',
      }"
      title="Erreichbarkeitsanalyse"
    >
      <i class="fas fa-route"></i>
    </button>
  }

  @if (visibilityHelperService.elementVisibility.reportingButton) {
    <button
      type="button"
      style="display: block; position: relative; margin-top: 5px"
      (click)="openReportingModal()"
      class="btn btn-custom btn-circle"
      data-toggle="modal"
      title="Report erstellen"
    >
      <i class="fas fa-file-alt"></i>
    </button>
  }

  <app-export-menu-button></app-export-menu-button>
</div>
