@if (!reachabilityStateService.currentIsochronesGeoJSON) {
  <div style="text-align: center">
    <p>Bitte f&uuml;hren Sie zuerst eine Isochronenberechnung durch.</p>
  </div>
}

<div style="text-align: center">
  <div class="row vertical-align align-top">
    @if (reachabilityStateService.currentIsochronesGeoJSON) {
      <div class="col-md-6 col-sm-6 col-12">
        <div class="input-wrapper">
          <span class="icon"><i class="fas fa-filter"></i></span>
          <input
            type="text"
            class="form-control input-sm"
            placeholder="Stichwortfilter"
            (keyup)="onNameFilterChange($event)"
          />
        </div>
        <div class="just-padding">
          <select
            style="font-size: 12px"
            [(ngModel)]="selectedIndicatorId"
            id="indicatorSelection_reachabilityStatistic"
            (change)="onChangeSelectedIndicatorForStatistics()"
            size="5"
            class="form-control"
            required
          >
            <option disabled selected value>-- Indikator w&auml;hlen --</option>
            @for (indicatorMetadata of filteredIndicators; track indicatorMetadata) {
              <option [value]="indicatorMetadata.indicatorId">
                <!--  | filter:indicatorNameFilter | filter:{indicatorType:'STATUS_ABSOLUTE'}) track by indicatorMetadata.indicatorId -->
                {{ indicatorMetadata.indicatorName }} [{{ indicatorMetadata.unit }}]
              </option>
            }
          </select>
        </div>
        @if (selectedIndicatorForStatistics) {
          <div class="row" style="margin-right: 0px">
            <div class="col-sm-4">
              <div class="text-left"><label>Raumebene</label></div>
              <select
                id="spatialUnitSelection_reachabilityStatistic"
                style="font-size: 12px"
                [(ngModel)]="selectedSpatialUnit"
                class="form-control"
                (change)="onChangeSelectedSpatialUnit()"
                required
              >
                <option [ngValue]="null" disabled>-- Raumeinheit w&auml;hlen --</option>
                @for (
                  spatialUnit of selectedIndicatorForStatistics.applicableSpatialUnits;
                  track spatialUnit
                ) {
                  <option [ngValue]="spatialUnit">
                    {{ spatialUnit.spatialUnitName }}
                  </option>
                }
              </select>
            </div>
            <div class="col-sm-3">
              <div class="text-left"><label>Indikatoren-Zeitschnitt</label></div>
              <!-- <input id="indicatorDate_reachabilityStatistic" type="text" placeholder="YYYY-MM-DD"
              [(ngModel)]="selectionState.selectedDate" (change)="onChangeIndicatorDatepickerDate()"
              [disabled]="dataExchangeService.disableIndicatorDatePicker"> -->
              <select
                id="indicatorDate_reachabilityStatistic"
                style="font-size: 12px"
                [(ngModel)]="selectedIndicatorDate"
                class="form-control"
                required
              >
                <option disabled selected value>-- Datum w&auml;hlen --</option>
                @for (date of selectedIndicatorForStatistics.applicableDates; track date) {
                  <option [value]="date">
                    {{ date }}
                  </option>
                }
              </select>
            </div>
            <div class="col-sm-5">
              <div
                class="text-left"
                title="Berechnung der Sch&auml;tzwerte erfolgt durch &Uuml;berdeckung zwischen Einzugsgebieten und fl&auml;chigen Indikatoren-Statistiken. &Uuml;berlappende Wohngebiete ist zeitlich aufwendiger, ber&uuml;cksichtigt aber nur &Uuml;berlagerungen von Einzugsgebieten mit Siedlungsfl&auml;chen zur genaueren Sch&auml;tzung versorgter Personengruppen."
              >
                <label>Gewichtung geschnittener Raumebenen</label>&nbsp;<i
                  style="font-size: 1.3em"
                  class="fa-solid fa-circle-question"
                ></i>
              </div>
              <select
                id="weightingStrategy_reachabilityStatistic"
                style="font-size: 12px"
                [(ngModel)]="weightStrategy"
                class="form-control"
                required
              >
                <option disabled>-- Gewichtung w&auml;hlen --</option>
                @for (weight of weightStrategyOptions; track weight; let i = $index) {
                  <option [ngValue]="weight" [selected]="i == 0">{{ weight.displayName }}</option>
                }
              </select>
            </div>
          </div>
        }
        <div class="row" style="margin-right: 0px">
          @if (reachabilityStateService.settings.selectedStartPointLayer) {
            <div>
              @if (
                mapOverlayState.isochroneLegend.datasetName !=
                reachabilityStateService.settings.selectedStartPointLayer?.datasetName
              ) {
                <div>
                  <label style="color: red"
                    >Punktdatenquelle des Szenarios ge&auml;ndert - Neuberechnung erforderlich
                    f&uuml;r
                    <i>{{
                      reachabilityStateService.settings.selectedStartPointLayer.datasetName
                    }}</i></label
                  >
                </div>
              }
            </div>
          }
          <div class="col-sm-8">
            @if (reachabilityStateService.poiDataset.poiName) {
              <div>
                <b>Berechnungen f&uuml;r Punktdatenquelle:</b>
                <i>{{ reachabilityStateService.poiDataset.poiName }}</i>
              </div>
            }
            @if (!reachabilityStateService.poiDataset.poiName) {
              <div>
                <b>Berechnungen f&uuml;r Punktdatenquelle:</b>
                <i>{{ reachabilityStateService.settings?.selectedStartPointLayer?.datasetName }}</i>
              </div>
            }
          </div>
          <div class="col-sm-4">
            <button
              class="btn btn-success btn-sm"
              (click)="computeReachabilityIndicatorStatistic()"
              type="button"
            >
              <i class="fas fa-plus"></i>&nbsp;&nbsp;Indikatoren-Statistik generieren
            </button>
          </div>
        </div>
        <br />
        <hr />
        <div>
          <div style="max-height: 30vh; overflow: auto">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>Indikator</th>
                  <th>Raumeinheit</th>
                  <th>Zeitschnitt</th>
                  <th>Gewichtung</th>
                  <th>&Uuml;berdeckung / Versorgung</th>
                </tr>
              </thead>
              <tbody>
                @for (
                  indicatorStatisticsEntry of reachabilityStateService.indicatorStatistics;
                  track indicatorStatisticsEntry
                ) {
                  <tr>
                    <td>
                      <b>{{ indicatorStatisticsEntry.indicator.indicatorName }}</b>
                      @if (
                        indicatorStatisticsEntry.progress !== 'finished' &&
                        indicatorStatisticsEntry.progress !== 'failed'
                      ) {
                        <span class="glyphicon glyphicon-refresh icon-spin"></span>
                      }
                      <br />
                      <!-- <div>
                          <a href=""><i class="fa-solid fa-map-location-dot" title="Auf Karte darstellen" (click)="displayIndicatorStatisticOnMap(indicatorStatisticsEntry)"></i></a>
                          <a href=""><i class="fa-solid fa-trash-can" title="Statistik-Eintrag entfernen" (click)="removeIndicatorStatistic(indicatorStatisticsEntry)"></i></a>
                        </div> -->
                      @if (indicatorStatisticsEntry.active) {
                        <div>
                          <i>(sichtbar in Karte)</i>
                        </div>
                      }
                      <div style="text-align: left">
                        <button
                          class="btn btn-info btn-sm"
                          title="Auf Karte darstellen"
                          [disabled]="
                            indicatorStatisticsEntry.progress === 'failed' ||
                            indicatorStatisticsEntry.active
                          "
                          (click)="displayIndicatorStatisticOnMap(indicatorStatisticsEntry)"
                        >
                          <i class="fa-solid fa-map-location-dot"></i>
                        </button>
                        <button
                          class="btn btn-danger btn-sm"
                          title="Statistik-Eintrag entfernen"
                          (click)="removeIndicatorStatistic(indicatorStatisticsEntry)"
                        >
                          <i class="fa-solid fa-trash-can"></i>
                        </button>
                        <br />
                        <button
                          class="btn btn-warning"
                          style="margin-top: 5px"
                          title="PDF-Report - Gesamtregion"
                          [disabled]="
                            indicatorStatisticsEntry.progress === 'failed' ||
                            reachabilityCoverageReportsHelperService.reportInProgress_totalCoverage ||
                            (indicatorStatisticsEntry.progress !== 'finished' &&
                              indicatorStatisticsEntry.progress !== 'failed')
                          "
                          (click)="
                            reachabilityCoverageReportsHelperService.generateTotalCoverageReport_focusPoiCoverage(
                              reachabilityStateService.getSnapshot(),
                              indicatorStatisticsEntry
                            )
                          "
                        >
                          <i class="fa-solid fa-file-pdf"></i>
                          <i class="fa-solid fa-map"></i>
                          @if (
                            reachabilityCoverageReportsHelperService.reportInProgress_totalCoverage
                          ) {
                            <span class="glyphicon glyphicon-refresh icon-spin"></span>
                          }
                        </button>
                        <span style="font-size: 9px">&nbsp;(~ 2 Sekunden)</span>
                        <br />
                        <button
                          class="btn btn-warning"
                          style="margin-top: 5px"
                          title="PDF-Report - Einzelpunkte mit Karte"
                          [disabled]="
                            indicatorStatisticsEntry.progress === 'failed' ||
                            reachabilityCoverageReportsHelperService.reportInProgress_poiCoverage ||
                            (indicatorStatisticsEntry.progress !== 'finished' &&
                              indicatorStatisticsEntry.progress !== 'failed')
                          "
                          (click)="
                            reachabilityCoverageReportsHelperService.generateFeatureCoverageReport_focusPoiCoverage(
                              reachabilityStateService.getSnapshot(),
                              indicatorStatisticsEntry
                            )
                          "
                        >
                          <i class="fa-solid fa-file-pdf"></i>
                          <i class="fa-solid fa-map-location-dot"></i>
                          @if (
                            reachabilityCoverageReportsHelperService.reportInProgress_poiCoverage
                          ) {
                            <span class="glyphicon glyphicon-refresh icon-spin"></span>
                          }
                        </button>
                        @if (
                          !reachabilityCoverageReportsHelperService.reportInProgress_poiCoverage
                        ) {
                          <span style="font-size: 9px">&nbsp;(~ 1,5 Sekunden pro Punkt)</span>
                        }
                        <!--
                              <span style="font-size:9px;" *ngIf="$ctrl.kommonitorReachabilityCoverageReportsHelperServiceInstance.reportInProgress_poiCoverage"{{$ctrl.kommonitorReachabilityCoverageReportsHelperServiceInstance.progressText_poiCoverage}}>&nbsp;</span> -->
                        @if (
                          reachabilityCoverageReportsHelperService.reportInProgress_poiCoverage
                        ) {
                          <span style="font-size: 9px">&nbsp;</span>
                        }
                        <!-- <button class="btn btn-warning btn-sm" title="PDF-Report - Datentabelle Punkte" (click)="$ctrl.kommonitorReachabilityCoverageReportsHelperServiceInstance.generateCoverageDataTableReport_focusPoiCoverage($ctrl.kommonitorReachabilityScenarioHelperServiceInstance.tmpActiveScenario, indicatorStatisticsEntry)"><i class="fa-solid fa-map-location-dot"></i></button>											 -->
                        <!-- a spatial unit wise report is more complicated -->
                        <!-- indtead we might want to offer users a spatial unit wise report of all intersecting POIs and use spatial unit as a filter
                              -->
                        <!-- <button class="btn btn-warning" style="margin-top: 5px;" title="PDF-Report - Raumeinheiten mit Karte"
                              [disabled]="$ctrl.kommonitorReachabilityCoverageReportsHelperServiceInstance.reportInProgress_spatialUnitCoverage"
                              (click)="$ctrl.kommonitorReachabilityCoverageReportsHelperServiceInstance.generateFeatureCoverageReport_focusSpatialUnitCoverage($ctrl.kommonitorReachabilityScenarioHelperServiceInstance.tmpActiveScenario, indicatorStatisticsEntry)">
                              <i class="fa-solid fa-file-pdf"></i>
                              <i class="fa-solid fa-layer-group"></i>
                              <span class="glyphicon glyphicon-refresh icon-spin" *ngIf="$ctrl.kommonitorReachabilityCoverageReportsHelperServiceInstance.reportInProgress_spatialUnitCoverage"></span>
                            </button>
                            <span style="font-size:9px;">&nbsp;(~ 1 Sekunde pro Raumeinheit)</span>											 -->
                      </div>
                    </td>
                    <td>
                      {{ indicatorStatisticsEntry.spatialUnit.spatialUnitName }}
                    </td>
                    <td>
                      {{ indicatorStatisticsEntry.timestamp }}
                    </td>
                    <td>
                      {{ indicatorStatisticsEntry.weightStrategy.displayName }}
                    </td>
                    <td>
                      @if (
                        indicatorStatisticsEntry.progress !== 'finished' &&
                        indicatorStatisticsEntry.progress !== 'failed'
                      ) {
                        <span class="glyphicon glyphicon-refresh icon-spin"></span>
                      }
                      @if (indicatorStatisticsEntry.progress === 'failed') {
                        <div>Berechnung fehlgeschlagen</div>
                      }
                      @if (indicatorStatisticsEntry.coverageResult) {
                        <div>
                          @for (
                            overallCoverageEntry of indicatorStatisticsEntry.coverageResult
                              .overallCoverage;
                            track overallCoverageEntry
                          ) {
                            <div>
                              @if (reachabilityStateService.settings.focus === 'time') {
                                <div>
                                  <b>{{ overallCoverageEntry.range / 60 }} [Minuten]</b>
                                </div>
                              }
                              @if (reachabilityStateService.settings.focus === 'distance') {
                                <div>
                                  <b>{{ overallCoverageEntry.range }} [Meter]</b>
                                </div>
                              }
                              <!-- <br/> -->
                              <div style="margin-left: 10px">
                                <b
                                  ><i
                                    >{{
                                      getIndicatorValue_asFormattedText(
                                        overallCoverageEntry.coverage[0].absoluteCoverage
                                      )
                                    }}
                                    von
                                    {{
                                      getIndicatorValue_asFormattedText(
                                        indicatorStatisticsEntry.coverageResult.timeseries[0].value
                                      )
                                    }}</i
                                  ></b
                                >
                                [{{ indicatorStatisticsEntry.indicator.unit }}]
                                <br />
                                <b
                                  ><i
                                    >entspricht
                                    {{
                                      getIndicatorValue_asFormattedText(
                                        overallCoverageEntry.coverage[0].relativeCoverage * 100
                                      )
                                    }}</i
                                  ></b
                                >
                                [%]
                              </div>
                              <br />
                            </div>
                          }
                        </div>
                      }
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    }
    <div class="col-md-6 col-sm-6 col-12">
      <div id="reachabilityScenarioIsochroneStatisticsGeoMap" style="height: 57vh"></div>
    </div>
  </div>
</div>
