:host {
  position: relative;

  .inner {
    padding: 10px;

    .title {
      font-size: 38px;
      font-weight: bold;
      margin: 0 0 10px 0;
      white-space: nowrap;
      padding: 0;
    }
  }

  .icon {
    font-size: 60px;
    position: absolute;
    top: 5px;
    right: 10px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    color: rgba(0, 0, 0, 0.15);
  }

  &:hover {
    .icon {
      font-size: 65px;
    }
  }

  .footer {
    padding: 3px 0;
    width: 100%;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.1);
  }
}
