<!-- Loading overlay -->
<div align="center">
  <div class="loading-overlay-admin-panel ng-hide" *ngIf="loadingData">
    <span class="glyphicon glyphicon-refresh icon-spin"></span>
  </div>
</div>



<div class="modal-header">
  <button type="button" class="close" (click)="closeModal()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Batch-Update</h4>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <p>Diese Funktion ermöglicht es, die Mapping-Parameter mehrerer Indikatoren gleichzeitig zu aktualisieren.</p>
      <p><b>* = Pflichtfeld</b></p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <form id="indicatorBatchUpdateForm" class="form-group" role="form" data-toggle="validator" data-disable="true">

        <!-- Batch list table -->
        <div class="batch-list-table-wrapper table-responsive">
          <table class="batch-list-table table table-bordered table-condensed table-striped" style="width:100%; overflow:auto; font-size: 11px;">
            <thead>
              <tr>
                <th class="batch-list-table-sticky-column batch-list-table-sticky-column-header batch-list-table-sticky-column-1">
                  <input type="checkbox" [(ngModel)]="allRowsSelected" (change)="onChangeSelectAllRows()">
                </th>
                <th class="batch-list-table-sticky-column batch-list-table-sticky-column-header batch-list-table-sticky-column-2">Name*</th>
                <th>Mappingtabelle</th>
                <th>Zeitreihen-Mapping*</th>
                <th>Datensatz-Quellformat*</th>
                <th *ngIf="checkColumnsToShowSelectedConverter().length">Quellformat*</th>
                <th *ngIf="checkColumnsToShowSelectedConverter().length">Encoding*</th>
                <th *ngIf="false">CRS*</th>
                <th *ngIf="checkColumnsToShowSelectedConverter().includes('Tabelle_Zeitreihe_zu_Indikator')">Trennzeichen*</th>
                <th *ngIf="checkIfSelectedConverterIsCsvOnlyIndicator()">Trennzeichen*</th>
                <th *ngIf="checkColumnsToShowSelectedConverter().includes('WFS_v1')">Schema*</th>
                <th *ngIf="checkColumnsToShowSelectedConverter().includes('WFS_v1')">NAMESPACE</th>
                <th *ngIf="checkColumnsToShowSelectedConverter().includes('WFS_v1')">SCHEMA_LOCATION</th>
                <th>Datenquelltyp*</th>
                <th *ngIf="checkIfSelectedDatasourceTypeIsFile()">Datei*</th>
                <th *ngIf="checkIfSelectedDatasourceTypeIsHttp()">URL*</th>
                <th *ngIf="checkIfSelectedDatasourceTypeIsInline()">Payload*</th>
                <th>ID Attributname der Raumeinheiten*</th>
                <th>Ziel-Raumebene*</th>
                <th>Mappingtabelle speichern</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let indicator of batchList; let i = index" 
                  [ngClass]="{'batch-list-odd-rows': i % 2 === 0, 'batch-list-even-rows': i % 2 === 1}">

                <!-- isSelected -->
                <td class="batch-list-table-sticky-column batch-list-table-sticky-column-1">
                  <input type="checkbox" [(ngModel)]="indicator.isSelected">
                </td>

                <!-- Name -->
                <td class="batch-list-table-sticky-column batch-list-table-sticky-column-2">
                  <select class="form-control batch-list-table-name-field" 
                          [(ngModel)]="indicator.name" required>
                    <option [ngValue]="null">-- Indikator wählen --</option>
                    <option *ngFor="let avIndicator of kommonitorDataExchangeService.availableIndicators" 
                            [ngValue]="avIndicator">
                      {{avIndicator.indicatorName}}
                    </option>
                  </select>
                </td>
                
                <!-- Mappingtabelle -->
                <td>
                  <input [id]="'indicatorMappingTableSelect' + i" 
                         class="form-control indicatorMappingTableInputField" 
                         type="file" 
                         (change)="onMappingTableSelected($event, i)">
                </td>

                <!-- Zeitreihen Mapping* -->
                <td>
                  <button [id]="'indicatorTimeseriesMappingBtn' + i" 
                          class="form-control btn btn-success btn-sm indicatorTimeseriesMappingBtn"
                          (click)="onTimeseriesMappingBtnClicked($event, i)" 
                          style="background-color: #5cb85c;">
                    Hinzufügen/Editieren
                  </button>
                </td>

                <!-- Datensatz-Quellformat -->
                <td>
                  <select class="form-control" 
                          [(ngModel)]="indicator.selectedConverter" required>
                    <option [ngValue]="null">-- Datensatz-Quellformat wählen --</option>
                    <option *ngFor="let converter of getAvailableConverters()" 
                            [ngValue]="converter">
                      {{converter.name}}
                    </option>
                  </select>
                </td>

                <!-- Quellformat -->
                <td *ngIf="checkColumnsToShowSelectedConverter().length > 0">
                  <select class="form-control" 
                          [(ngModel)]="indicator.mappingObj.converter.mimeType" required>
                    <option [ngValue]="null">-- Quellformat wählen --</option>
                    <option *ngFor="let mimeType of indicator.selectedConverter?.mimeTypes" 
                            [ngValue]="mimeType">
                      {{mimeType}}
                    </option>
                  </select>
                </td>

                <!-- Encoding -->
                <td *ngIf="checkColumnsToShowSelectedConverter().length > 0">
                  <select class="form-control" 
                          [(ngModel)]="indicator.mappingObj.converter.encoding" required>
                    <option [ngValue]="null">-- Encoding wählen --</option>
                    <option *ngFor="let encoding of indicator.selectedConverter?.encodings" 
                            [ngValue]="encoding">
                      {{encoding}}
                    </option>
                  </select>
                </td>

                <!-- CRS (hidden) -->
                <td *ngIf="false">
                  <input class="form-control" 
                         [(ngModel)]="indicator.mappingObj.converter.crs"
                         type="text" 
                         value="EPSG:4326" 
                         required>
                </td>

                <!-- Trennzeichen -->
                <td *ngIf="checkColumnsToShowSelectedConverter().includes('Tabelle_Zeitreihe_zu_Indikator')">
                  <input class="form-control" 
                         [(ngModel)]="indicator.mappingObj.converter.separator"
                         type="text" 
                         [disabled]="!indicator.selectedConverter?.name?.includes('Tabelle_Zeitreihe_zu_Indikator')">
                </td>

                <!-- Trennzeichen for CSV-only indicators -->
                <td *ngIf="checkIfSelectedConverterIsCsvOnlyIndicator()">
                  <input class="form-control" 
                         [(ngModel)]="indicator.mappingObj.converter.separator"
                         type="text" 
                         [disabled]="!indicator.selectedConverter?.name?.includes('csv_onlyIndicator')" 
                         required>
                </td>

                <!-- Schema -->
                <td *ngIf="checkColumnsToShowSelectedConverter().includes('WFS_v1')">
                  <select class="form-control" 
                          [(ngModel)]="indicator.mappingObj.converter.schema" 
                          [disabled]="!indicator.selectedConverter?.name?.includes('WFS_v1')" required>
                    <option [ngValue]="null">-- Schema wählen --</option>
                    <option *ngFor="let schema of indicator.selectedConverter?.schemas" 
                            [ngValue]="schema">
                      {{schema}}
                    </option>
                  </select>
                </td>

                <!-- NAMESPACE -->
                <td *ngIf="checkColumnsToShowSelectedConverter().includes('WFS_v1')">
                  <input class="form-control" 
                         [(ngModel)]="indicator.mappingObj.converter.schemaNamespace"
                         type="text" 
                         [disabled]="!indicator.selectedConverter?.name?.includes('WFS_v1')">
                </td>

                <!-- SCHEMA_LOCATION -->
                <td *ngIf="checkColumnsToShowSelectedConverter().includes('WFS_v1')">
                  <input class="form-control" 
                         [(ngModel)]="indicator.mappingObj.converter.schemaLocation"
                         type="text" 
                         [disabled]="!indicator.selectedConverter?.name?.includes('WFS_v1')">
                </td>

                <!-- Datenquelltyp -->
                <td>
                  <select [(ngModel)]="indicator.selectedDatasourceType"
                          class="form-control" required>
                    <option [ngValue]="null">-- Quelltyp wählen --</option>
                    <option *ngFor="let datasourceType of getAvailableDatasourceTypes()" 
                            [ngValue]="datasourceType">
                      {{datasourceType.type}}
                    </option>
                  </select>
                </td>

                <!-- Datei -->
                <td *ngIf="checkIfSelectedDatasourceTypeIsFile()">
                  <input [id]="'indicatorDataSourceFileInputField' + i" 
                         class="form-control indicatorDataSourceFileInputField" 
                         type="file" 
                         [disabled]="!indicator.selectedDatasourceType?.type?.includes('FILE')" 
                         (change)="onDataSourceFileSelected($event, i)" required>
                </td>

                <!-- URL -->
                <td *ngIf="checkIfSelectedDatasourceTypeIsHttp()">
                  <input class="form-control" 
                         type="text" 
                         [(ngModel)]="indicator.mappingObj.dataSource.url"
                         [disabled]="!indicator.selectedDatasourceType?.type?.includes('HTTP')" required>
                </td>

                <!-- Payload -->
                <td *ngIf="checkIfSelectedDatasourceTypeIsInline()">
                  <input class="form-control" 
                         type="text" 
                         [(ngModel)]="indicator.mappingObj.dataSource.payload"
                         [disabled]="!indicator.selectedDatasourceType?.type?.includes('INLINE')" required>
                </td>

                <!-- ID Attributname der Raumebenen-Features* -->
                <td>
                  <input class="form-control" 
                         [(ngModel)]="indicator.mappingObj.propertyMapping.spatialReferenceKeyProperty" 
                         type="text" required>
                </td>

                <!-- Ziel-Raumebene -->
                <td>
                  <select [(ngModel)]="indicator.selectedTargetSpatialUnit"
                          class="form-control" required>
                    <option [ngValue]="null">-- Raumebene wählen --</option>
                    <option *ngFor="let spatialUnit of kommonitorDataExchangeService.availableSpatialUnits" 
                            [ngValue]="spatialUnit">
                      {{spatialUnit.spatialUnitLevel}}
                    </option>
                  </select>
                </td>

                <!-- Mappingtabelle speichern -->
                <td>
                  <button [id]="'indicatorMappingTableSave' + i" 
                          type="button" 
                          class="btn btn-primary fas fa-save" 
                          (click)="saveMappingObjectToFile($event, i)">
                  </button>
                </td>

                             </tr>
             </tbody>

             <tfoot>
               <tr>
                 <th class="batch-list-table-sticky-column batch-list-table-sticky-column-header batch-list-table-sticky-column-1">
                   <input type="checkbox" [(ngModel)]="allRowsSelected" (change)="onChangeSelectAllRows()">
                 </th>
                 <th class="batch-list-table-sticky-column batch-list-table-sticky-column-header batch-list-table-sticky-column-2">Name*</th>
                 <th>Mappingtabelle</th>
                 <th>Zeitreihen-Mapping*</th>
                 <th>Datensatz-Quellformat*</th>
                 <th *ngIf="checkColumnsToShowSelectedConverter().length">Quellformat*</th>
                 <th *ngIf="checkColumnsToShowSelectedConverter().length">Encoding*</th>
                 <th *ngIf="false">CRS*</th>
                 <th *ngIf="checkColumnsToShowSelectedConverter().includes('Tabelle_Zeitreihe_zu_Indikator')">Trennzeichen*</th>
                 <th *ngIf="checkIfSelectedConverterIsCsvOnlyIndicator()">Trennzeichen*</th>
                 <th *ngIf="checkColumnsToShowSelectedConverter().includes('WFS_v1')">Schema*</th>
                 <th *ngIf="checkColumnsToShowSelectedConverter().includes('WFS_v1')">NAMESPACE</th>
                 <th *ngIf="checkColumnsToShowSelectedConverter().includes('WFS_v1')">SCHEMA_LOCATION</th>
                 <th>Datenquelltyp*</th>
                 <th *ngIf="checkIfSelectedDatasourceTypeIsFile()">Datei*</th>
                 <th *ngIf="checkIfSelectedDatasourceTypeIsHttp()">URL*</th>
                 <th *ngIf="checkIfSelectedDatasourceTypeIsInline()">Payload*</th>
                 <th>ID Attributname der Raumeinheiten*</th>
                 <th>Ziel-Raumebene*</th>
                 <th>Mappingtabelle speichern</th>
               </tr>
             </tfoot>
           </table>
         </div>

         <button type="button" class="btn btn-primary" (click)="addNewRowToBatchList()">neue Zeile hinzufügen</button>
         <button type="button" class="btn btn-danger" (click)="deleteSelectedRowsFromBatchList()">ausgewählte Zeilen löschen</button>
       </form>
     </div>
   </div>

   <hr>
   <br>

   <div class="row vertical-align">
     <div class="col-md-5 col-sm-5 col-xs-12">
       <div class="box box-primary collapsed-box">
         <div class="box-header with-border">
           <h3 class="box-title">Standardwert-Funktion</h3>
           <div class="box-tools pull-right">
             <button type="button" class="btn btn-box-tool" data-widget="collapse" (click)="toggleAccordion($event)">
               <i class="fa fa-plus"></i>
             </button>
           </div>
         </div>
         <!-- /.box-header -->
         <div class="box-body">
           <div class="form-group">
             <div class="help-block">
               <p>
                 Diese Funktion ermöglicht es, einen Standardwert für alle Zeilen einer variablen Tabellenspalte zu setzen.<br />
                 Sofern die Checkbox aktiviert ist, wird der Wert für alle Zeilen gesetzt. Ist sie deaktiviert, werden nur leere Tabellenfelder überschrieben, sodass bereits eingetragene Werte erhalten bleiben.<br />
                 Beim Zeitreihen-Mapping kann über die Checkbox festgelegt werden, ob bestehende Mappingeinträge für den angegebenen Attributnamen aktualisiert werden sollen. Neue Attributnamen werden unabhängig davon für alle Zeilen hinzugefügt.<br />
                 Gesperrte (ausgegraute) Felder werden ignoriert.
               </p>
             </div>
             <div class="row">
               <div class="col-md-6 col-sm-6 col-xs-6">
                 <label for="indicatorColDefaultFunctionColSelectInput">Tabellenspalte:</label>
                 <select id="indicatorColDefaultFunctionColSelectInput" class="form-control"
                         [(ngModel)]="colDefaultFunctionSelectedColumn" (change)="colDefaultFunctionNewValue=undefined">
                   <option [ngValue]="null">-- Tabellenspalte wählen --</option>
                   <option value="mappingObj.propertyMapping.timeseriesMappings">Zeitreihen-Mapping*</option>
                   <option value="selectedConverter">Datensatz-Quellformat*</option>
                   <option value="mappingObj.converter.mimeType">Quellformat*</option>
                   <option value="mappingObj.converter.encoding">Encoding*</option>
                   <option value="mappingObj.converter.separator">Trennzeichen*</option>
                   <option value="mappingObj.converter.schema">Schema*</option>
                   <option value="mappingObj.converter.schemaNamespace">NAMESPACE</option>
                   <option value="mappingObj.converter.schemaLocation">SCHEMA_LOCATION</option>
                   <option value="selectedDatasourceType">Datenquelltyp*</option>
                   <option value="mappingObj.dataSource.URL">URL*</option>
                   <option value="mappingObj.dataSource.payload">Payload*</option>
                   <option value="mappingObj.propertyMapping.spatialReferenceKeyProperty">ID Attributname der Raumebenen-Features*</option>
                   <option value="selectedTargetSpatialUnit">Ziel-Raumebene*</option>
                 </select>
                 <label>Wert:</label>
                 <!-- default -->
                 <input *ngIf="!colDefaultFunctionSelectedColumn" type="text" class="form-control" 
                        [(ngModel)]="colDefaultFunctionNewValue" disabled placeholder="keine Tabellenspalte ausgewählt">
                 
                 <!-- Zeitreihen-Mapping* -->
                 <button class="form-control btn btn-success btn-sm" 
                         (click)="onDefaultTimeseriesMappingBtnClicked($event)"
                         *ngIf="colDefaultFunctionSelectedColumn=='mappingObj.propertyMapping.timeseriesMappings'"
                         style="background-color: #5cb85c;">
                   Hinzufügen/Editieren
                 </button>

                 <!-- Datensatz-Quellformat* -->
                 <select *ngIf="colDefaultFunctionSelectedColumn=='selectedConverter'" 
                         class="form-control" 
                         [(ngModel)]="colDefaultFunctionNewValue">
                   <option [ngValue]="null">-- Quellformat wählen --</option>
                   <option *ngFor="let converter of getAvailableConverters()" [ngValue]="converter">
                     {{converter.name}}
                   </option>
                 </select>

                 <!-- Quellformat* -->
                 <select *ngIf="colDefaultFunctionSelectedColumn=='mappingObj.converter.mimeType'" 
                         class="form-control" 
                         [(ngModel)]="colDefaultFunctionNewValue"
                         [disabled]="checkColumnsToShowSelectedConverter().length != 1">
                   <option [ngValue]="null">-- Quellformat wählen --</option>
                   <option *ngFor="let mimeType of getConverterObjectByName(batchList[0]?.selectedConverter?.name)?.mimeTypes" 
                           [ngValue]="mimeType">
                     {{mimeType}}
                   </option>
                 </select>

                 <!-- Encoding* -->
                 <select *ngIf="colDefaultFunctionSelectedColumn=='mappingObj.converter.encoding'" 
                         class="form-control" 
                         [(ngModel)]="colDefaultFunctionNewValue"
                         [disabled]="checkColumnsToShowSelectedConverter().length != 1">
                   <option [ngValue]="null">-- Encoding wählen --</option>
                   <option *ngFor="let encoding of getConverterObjectByName(batchList[0]?.selectedConverter?.name)?.encodings" 
                           [ngValue]="encoding">
                     {{encoding}}
                   </option>
                 </select>

                 <!-- Trennzeichen* -->
                 <input *ngIf="colDefaultFunctionSelectedColumn=='mappingObj.converter.separator'" 
                        type="text" 
                        class="form-control"
                        [(ngModel)]="colDefaultFunctionNewValue"
                        [disabled]="!checkColumnsToShowSelectedConverter().includes('Tabelle_Zeitreihe_zu_Indikator')">

                 <!-- Schema* -->
                 <select *ngIf="colDefaultFunctionSelectedColumn=='mappingObj.converter.schema'" 
                         class="form-control" 
                         [(ngModel)]="colDefaultFunctionNewValue" 
                         [disabled]="!checkColumnsToShowSelectedConverter().includes('WFS_v1')">
                   <option [ngValue]="null">-- Schema wählen --</option>
                   <option *ngFor="let schema of getConverterObjectByName('WFS_v1')?.schemas" 
                           [ngValue]="schema">
                     {{schema}}
                   </option>
                 </select>

                 <!-- NAMESPACE -->
                 <input *ngIf="colDefaultFunctionSelectedColumn=='mappingObj.converter.schemaNamespace'" 
                        type="text" 
                        class="form-control"
                        [(ngModel)]="colDefaultFunctionNewValue"
                        [disabled]="!checkColumnsToShowSelectedConverter().includes('WFS_v1')">

                 <!-- SCHEMA LOCATION -->
                 <input *ngIf="colDefaultFunctionSelectedColumn=='mappingObj.converter.schemaLocation'" 
                        type="text" 
                        class="form-control"
                        [(ngModel)]="colDefaultFunctionNewValue"
                        [disabled]="!checkColumnsToShowSelectedConverter().includes('WFS_v1')">

                 <!-- Datenquelltyp* -->
                 <select *ngIf="colDefaultFunctionSelectedColumn=='selectedDatasourceType'" 
                         class="form-control" 
                         [(ngModel)]="colDefaultFunctionNewValue">
                   <option [ngValue]="null">-- Quelltyp wählen --</option>
                   <option *ngFor="let datasourceType of getAvailableDatasourceTypes()" 
                           [ngValue]="datasourceType">
                     {{datasourceType.type}}
                   </option>
                 </select>

                 <!-- URL* -->
                 <input *ngIf="colDefaultFunctionSelectedColumn=='mappingObj.dataSource.URL'" 
                        type="text" 
                        class="form-control"
                        [(ngModel)]="colDefaultFunctionNewValue" 
                        [disabled]="!checkIfSelectedDatasourceTypeIsHttp()">

                 <!-- Payload* -->
                 <input *ngIf="colDefaultFunctionSelectedColumn=='mappingObj.dataSource.payload'" 
                        type="text" 
                        class="form-control"
                        [(ngModel)]="colDefaultFunctionNewValue" 
                        [disabled]="!checkIfSelectedDatasourceTypeIsInline()">

                 <!-- ID Attributname der Raumebenen-Features* -->
                 <input *ngIf="colDefaultFunctionSelectedColumn=='mappingObj.propertyMapping.spatialReferenceKeyProperty'" 
                        type="text" 
                        class="form-control"
                        [(ngModel)]="colDefaultFunctionNewValue">

                 <!-- Ziel-Raumebene* -->
                 <select *ngIf="colDefaultFunctionSelectedColumn=='selectedTargetSpatialUnit'" 
                         class="form-control" 
                         [(ngModel)]="colDefaultFunctionNewValue">
                   <option [ngValue]="null">-- Raumebene wählen --</option>
                   <option *ngFor="let spatialUnit of kommonitorDataExchangeService.availableSpatialUnits" 
                           [ngValue]="spatialUnit">
                     {{spatialUnit.spatialUnitLevel}}
                   </option>
                 </select>
               </div>
             </div>
             <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                 <label for="indicatorColDefaultFunctionAllRowsChb">Vorhandene Werte überschreiben?</label>
                 <input id="indicatorColDefaultFunctionAllRowsChb" type="checkbox" [(ngModel)]="colDefaultFunctionAllRowsChb">
               </div>
               <div class="col-md-12 col-sm-12 col-xs-12">
                 <button type="button" class="btn btn-primary" (click)="onClickSaveColDefaultValue()">
                   Standardwert eintragen
                 </button>
               </div>
             </div>
           </div>
         </div>
       </div>	
     </div>

     <div class="col-md-4 col-sm-4 col-xs-12">
       <div class="form-group">
         <label>Fehlende/NULL Werte beibehalten (als NoData-Wert)*</label>
         <br/>	
         <label class="switch">
           <input type="checkbox" value="keepMissingValues" [(ngModel)]="keepMissingValues">
           <span class="switchslider round"></span>
         </label>
         <div class="help-block">
           <p>Angabe, ob leere Attributwerte (<code>NULL</code>-Werte) übernommen werden. Diese werden wie NoData-Werte behandelt.
             Bei deaktivierter Option wird bei einem solchen Fall ein Fehler geworfen.
           </p>
         </div>
       </div>
     </div>
     
     <div class="col-md-3 col-sm-3 col-xs-12">
       <div class="form-group">
         <div class="alert alert-warning">
           <b>
             Falls für Indikatoren durch das Batch Update erstmalig neue Raumeinheiten verknüpft werden,
             so werden die Zugriffsrechte aus den zugehörigen Metadaten übernommen
           </b>
         </div>
       </div>
     </div>
   </div>



         </div>
 
<div class="modal-footer">
  <button type="button" class="btn btn-default pull-left" (click)="closeModal()">Schließen</button>
  <button type="button" class="btn btn-info pull-left" (click)="loadIndicatorsBatchList()"
          title="Importieren der Batch-Liste aus einer Datei">
    <i class="fas fa-file-import"></i>&nbsp;&nbsp;Batch-Liste importieren
  </button>

  <input #batchListFileInput style="display:none;" class="pull-left" type="file" class="form-control"
         id="indicatorsBatchListFile" accept=".json," (change)="onBatchListFileSelected($event)">

  <button type="button" style="margin-left: 6px;" class="btn btn-info pull-left" [disabled]="false"
          (click)="saveBatchListToFile()" title="Exportieren der Batch-Liste in eine Datei">
    <i class="fas fa-file-export"></i>&nbsp;&nbsp;Batch-Liste exportieren
  </button>

  <button id="indicator-reopen-results-btn" type="button" class="btn btn-info"
          (click)="reopenResultModal()" [disabled]="!lastUpdateResponseObj">Ergebnis anzeigen
  </button>

  <button id="indicator-batch-update-btn" type="button" class="btn btn-success"
          (click)="startBatchUpdate()" [disabled]="!checkIfNameAndFilesChosenInEachRow()">Update ausführen
  </button>
  
  <button type="button" class="btn btn-danger" (click)="resetBatchUpdateForm()">Zurücksetzen</button>
</div> 