<!--<div id="map" ng-init="$ctrl.initializeMap()"></div>-->

<!-- <leaflet center="center" defaults="defaults" controls="controls" layers="layers" geojson="geojson" width="100%" height="100%">
</leaflet> -->

<div style="position:relative;">

  <div align="center">
    <div class="loading-overlay ng-hide" ng-show="loadingData">
          <span class="glyphicon glyphicon-refresh icon-spin"></span>
    </div>
  </div>

  <div id="map" ng-init="$ctrl.initializeMap()"></div>

  <!-- <div id="dateSlider" class="rangeslide" ></div> -->
  <div id="dateSliderWrapper">
    <input id="dateSlider" type="text" class="js-range-slider" value=""></input>
  </div>

  <!-- <div id="outlierInfo" align="center" ng-show="showOutlierInfoAlert" class="alert alert-warning fade in">
    <button class="close" ng-click="onCloseOutlierAlert()" aria-label="close">&times;</button>

    <p>Der Datensatz enth&auml;lt <strong>extreme Ausrei&szlig;er</strong> nach der Methode der BoxPlot-Bestimmung.</p>
    <br/>
    <p>Diese k&ouml;nnen gesondert markiert werden und somit nicht bei der Klassifizierung ber&uuml;cksichtigt werden. Nutzen Sie dazu bitte die entsprechende Checkbox im Indikatoren-Informationsfenster.</p>

  </div> -->

</div>
