<expandable-box [title]="'ADMIN_SCRIPTS.PARAMETERS.TITLE' | translate" [formGroup]="draft">
  <p [innerHTML]="'ADMIN_SCRIPTS.PARAMETERS.INTRO' | translate"></p>

  <div class="row vertical-align">
    <div class="col-md-4 col-sm-6 col-12">
      <div class="form-group">
        <label class="form-label">{{ 'ADMIN_SCRIPTS.PARAMETERS.NAME_LABEL' | translate }}</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          appAria="script-param-name"
          [placeholder]="'ADMIN_SHARED.NAME' | translate"
        />
        <app-form-error [control]="draft.controls.name" for="script-param-name" />
        <div class="help-block">
          <p>{{ 'ADMIN_SCRIPTS.PARAMETERS.NAME_HELP' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-6 col-12">
      <div class="form-group">
        <label class="form-label">{{
          'ADMIN_SCRIPTS.PARAMETERS.DESCRIPTION_LABEL' | translate
        }}</label>
        <textarea
          rows="3"
          class="form-control"
          formControlName="description"
          appAria="script-param-description"
          [placeholder]="'ADMIN_SHARED.DESCRIPTION' | translate"
        ></textarea>
        <app-form-error [control]="draft.controls.description" for="script-param-description" />
        <div class="help-block">
          <p>{{ 'ADMIN_SCRIPTS.PARAMETERS.DESCRIPTION_HELP' | translate }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row vertical-align">
    <!-- Datentyp -->
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label class="form-label">{{
          'ADMIN_SCRIPTS.PARAMETERS.DATA_TYPE_LABEL' | translate
        }}</label>
        <select
          formControlName="dataType"
          size="5"
          class="form-control"
          (change)="onChangeParameterDataType()"
        >
          <option disabled selected [ngValue]="undefined">
            {{ 'ADMIN_SCRIPTS.PARAMETERS.DATA_TYPE_PLACEHOLDER' | translate }}
          </option>
          @for (dataType of scriptHelperService.availableScriptDataTypes; track dataType) {
            <option [ngValue]="dataType">
              {{ dataType.displayName }}
            </option>
          }
        </select>
        <app-form-error [control]="draft.controls.dataType" />
      </div>
    </div>

    <!-- Standard-Wert -->
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label class="form-label">{{
          'ADMIN_SCRIPTS.PARAMETERS.DEFAULT_VALUE_LABEL' | translate
        }}</label>
        @if (parameterDataType_tmp?.apiName === 'string') {
          <div>
            <input
              type="text"
              class="form-control"
              formControlName="defaultValue"
              [placeholder]="'ADMIN_SCRIPTS.PARAMETERS.DEFAULT_STRING_PLACEHOLDER' | translate"
              required
            />
          </div>
        }
        @if (parameterDataType_tmp?.apiName === 'boolean') {
          <div>
            <input type="checkbox" formControlName="defaultValue" required />
          </div>
        }
        @if (parameterDataType_tmp?.apiName === 'integer') {
          <div>
            <input
              type="number"
              step="1"
              class="form-control"
              formControlName="defaultValue"
              [placeholder]="'ADMIN_SCRIPTS.PARAMETERS.DEFAULT_INTEGER_PLACEHOLDER' | translate"
              required
            />
          </div>
        }
        @if (parameterDataType_tmp?.apiName === 'double') {
          <div>
            <input
              type="number"
              step="0.000000001"
              class="form-control"
              formControlName="defaultValue"
              [placeholder]="'ADMIN_SCRIPTS.PARAMETERS.DEFAULT_DOUBLE_PLACEHOLDER' | translate"
              required
            />
            <div class="help-block">
              <p>{{ 'ADMIN_SCRIPTS.PARAMETERS.MAX_DECIMALS_HELP' | translate }}</p>
            </div>
          </div>
        }
        <app-form-error [control]="draft.controls.defaultValue" />
        <div class="help-block">
          <p>{{ 'ADMIN_SCRIPTS.PARAMETERS.DEFAULT_VALUE_HELP' | translate }}</p>
        </div>
      </div>
    </div>

    <!-- Min (integer) -->
    @if (parameterDataType_tmp?.apiName === 'integer') {
      <div class="col-md-3 col-sm-6 col-12">
        <div class="form-group">
          <label class="form-label">{{
            'ADMIN_SCRIPTS.PARAMETERS.MIN_VALUE_LABEL' | translate
          }}</label>
          <input
            type="number"
            step="1"
            class="form-control"
            formControlName="numericMinValue"
            [placeholder]="'ADMIN_SCRIPTS.PARAMETERS.INTEGER_MIN_PLACEHOLDER' | translate"
          />
          <div class="help-block">
            <p>{{ 'ADMIN_SCRIPTS.PARAMETERS.MIN_VALUE_HELP' | translate }}</p>
          </div>
        </div>
      </div>
    }

    <!-- Max (integer) -->
    @if (parameterDataType_tmp?.apiName === 'integer') {
      <div class="col-md-3 col-sm-6 col-12">
        <div class="form-group">
          <label class="form-label">{{
            'ADMIN_SCRIPTS.PARAMETERS.MAX_VALUE_LABEL' | translate
          }}</label>
          <input
            type="number"
            step="1"
            class="form-control"
            formControlName="numericMaxValue"
            [placeholder]="'ADMIN_SCRIPTS.PARAMETERS.INTEGER_MAX_PLACEHOLDER' | translate"
          />
          <div class="help-block">
            <p>{{ 'ADMIN_SCRIPTS.PARAMETERS.MAX_VALUE_HELP' | translate }}</p>
          </div>
        </div>
      </div>
    }

    <!-- Min (double) -->
    @if (parameterDataType_tmp?.apiName === 'double') {
      <div class="col-md-3 col-sm-6 col-12">
        <div class="form-group">
          <label class="form-label">{{
            'ADMIN_SCRIPTS.PARAMETERS.MIN_VALUE_LABEL' | translate
          }}</label>
          <input
            type="number"
            step="0.000000001"
            class="form-control"
            formControlName="numericMinValue"
            [placeholder]="'ADMIN_SCRIPTS.PARAMETERS.DOUBLE_MIN_PLACEHOLDER' | translate"
          />
          <div class="help-block">
            <p>{{ 'ADMIN_SCRIPTS.PARAMETERS.MIN_VALUE_HELP' | translate }}</p>
          </div>
        </div>
      </div>
    }

    <!-- Max (double) -->
    @if (parameterDataType_tmp?.apiName === 'double') {
      <div class="col-md-3 col-sm-6 col-12">
        <div class="form-group">
          <label class="form-label">{{
            'ADMIN_SCRIPTS.PARAMETERS.MAX_VALUE_LABEL' | translate
          }}</label>
          <input
            type="number"
            step="0.000000001"
            class="form-control"
            formControlName="numericMaxValue"
            [placeholder]="'ADMIN_SCRIPTS.PARAMETERS.DOUBLE_MAX_PLACEHOLDER' | translate"
          />
          <div class="help-block">
            <p>{{ 'ADMIN_SCRIPTS.PARAMETERS.MAX_VALUE_HELP' | translate }}</p>
          </div>
        </div>
      </div>
    }
  </div>

  <div class="row vertical-align pt-2">
    <div class="col-12 d-flex justify-content-center">
      <div class="form-group">
        <button
          class="btn btn-success btn-sm"
          [disabled]="isAddParameterDisabled()"
          (click)="onAddScriptParameter()"
        >
          {{ 'ADMIN_SCRIPTS.ADD' | translate }}
        </button>
      </div>
    </div>
  </div>

  <!-- Tabelle der definierten Skript-Parameter -->
  <div class="row vertical-align mt-4">
    <div class="col-md-12 col-sm-12 col-12">
      <label class="form-label">{{ 'ADMIN_SCRIPTS.PARAMETERS.OVERVIEW_LABEL' | translate }}</label>
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th>{{ 'ADMIN_SHARED.EDIT_FUNCTIONS' | translate }}</th>
            <th>{{ 'ADMIN_SCRIPTS.PARAMETERS.PARAMETER_NAME' | translate }}</th>
            <th>{{ 'ADMIN_SHARED.DESCRIPTION' | translate }}</th>
            <th>{{ 'ADMIN_SCRIPTS.PARAMETERS.DATA_TYPE' | translate }}</th>
            <th>{{ 'ADMIN_SCRIPTS.PARAMETERS.DEFAULT_VALUE' | translate }}</th>
            <th>{{ 'ADMIN_SCRIPTS.PARAMETERS.MIN_VALUE' | translate }}</th>
            <th>{{ 'ADMIN_SCRIPTS.PARAMETERS.MAX_VALUE' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          @for (
            scriptParameter of scriptHelperService.requiredScriptParameters_tmp;
            track scriptParameter
          ) {
            <tr>
              <td>
                <div class="btn-group btn-group-sm">
                  <button
                    class="btn btn-danger btn-sm"
                    type="button"
                    (click)="scriptHelperService.removeScriptParameter(scriptParameter)"
                    [title]="'ADMIN_SCRIPTS.DELETE_ENTRY' | translate"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
              <td>{{ scriptParameter.name }}</td>
              <td>{{ scriptParameter.description }}</td>
              <td>{{ scriptParameter.dataType }}</td>
              <td>{{ scriptParameter.defaultValue }}</td>
              <td>
                @if (
                  scriptParameter.dataType === 'integer' || scriptParameter.dataType === 'double'
                ) {
                  {{ scriptParameter.minParameterValueForNumericInputs }}
                }
              </td>
              <td>
                @if (
                  scriptParameter.dataType === 'integer' || scriptParameter.dataType === 'double'
                ) {
                  {{ scriptParameter.maxParameterValueForNumericInputs }}
                }
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</expandable-box>
