<app-admin-content-view
  [title]="'ADMIN_ROLES.EXPLANATION.TITLE' | translate"
  [description]="'ADMIN_ROLES.EXPLANATION.DESCRIPTION' | translate"
  [contentTemplate]="content"
>
</app-admin-content-view>
<ng-template #content>
  <div class="row">
    @for (item of items; track item.title) {
      <div class="col-md-6">
        <div class="box-wrapper">
          <expandable-box [title]="item.title | translate" [collapsed]="!item.expanded">
            <div class="box-content">
              <div [innerHTML]="item.content | translate"></div>
              @if (item.nestedItems) {
                <div class="nested-accordion">
                  @for (nestedItem of item.nestedItems; track nestedItem.title) {
                    <expandable-box
                      [title]="nestedItem.title | translate"
                      [collapsed]="!nestedItem.expanded"
                    >
                      <div [innerHTML]="nestedItem.content | translate"></div>
                    </expandable-box>
                  }
                </div>
              }
            </div>
          </expandable-box>
        </div>
      </div>
    }
  </div>
</ng-template>
