:host {
  .fav-export-bulk-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  app-topic-element [topicElementRowExtra] {
    flex: 0 0 auto;
  }
}
