<p class="center" [innerHTML]="'ADMIN_SCRIPTS.CONTENT_STEP.INTRO' | translate"></p>

<p class="center">
  {{ 'ADMIN_SCRIPTS.CONTENT_STEP.TEMPLATE_INTRO' | translate }}
  <a
    href="./kommonitor-script-resources/kommonitor-script-template.js"
    rel="noopener noreferrer"
    target="_blank"
    >{{ 'ADMIN_SCRIPTS.SCRIPT_TEMPLATE_LINK' | translate }}</a
  >.
  <br />
  {{ 'ADMIN_SCRIPTS.CONTENT_STEP.DEV_HINTS' | translate }}
  <a
    href="https://github.com/KomMonitor/processing-engine/tree/master/resources"
    rel="noopener noreferrer"
    target="_blank"
    >{{ 'ADMIN_SCRIPTS.CONTENT_STEP.PROCESSING_ENGINE_LINK' | translate }}</a
  >
</p>

<p class="center">
  <b
    ><i>{{ 'ADMIN_SCRIPTS.REQUIRED_FIELD_HINT' | translate }}</i></b
  >
</p>

<div class="row justify-content-center">
  <div class="col-md-6">
    <app-filterable-select
      [label]="'ADMIN_SCRIPTS.CONTENT_STEP.SELECT_SCRIPT_TYPE_LABEL' | translate"
      propertyKey="displayName"
      [selectionSize]="10"
      [filterPlaceholder]="'ADMIN_SHARED.KEYWORD_FILTER' | translate"
      [selectPlaceholder]="'ADMIN_SCRIPTS.CONTENT_STEP.SELECT_SCRIPT_TYPE_PLACEHOLDER' | translate"
      [options]="scriptTypeOptions"
      (selectedItemChange)="onChangeScriptType($event)"
    ></app-filterable-select>
    <div class="help-block">
      <p>
        {{ 'ADMIN_SCRIPTS.CONTENT_STEP.SCRIPT_TYPE_HELP_PREFIX' | translate }}
        <b>{{ 'ADMIN_SCRIPTS.CONTENT_STEP.GENERIC_DEFINITION' | translate }}</b>
        {{ 'ADMIN_SCRIPTS.CONTENT_STEP.SCRIPT_TYPE_HELP_SUFFIX' | translate }}
      </p>
    </div>
  </div>
</div>

<!-- ===================== SCRIPT TYPE SPECIFIC SECTIONS ===================== -->

@if (selectedScriptType?.apiName === 'generic') {
  <div>
    <app-script-definition-wrapper
      [title]="'ADMIN_SCRIPTS.CONTENT_STEP.GENERIC_TITLE' | translate"
      [description]="'ADMIN_SCRIPTS.CONTENT_STEP.GENERIC_DESCRIPTION' | translate"
      [content]="scriptGeneric"
    ></app-script-definition-wrapper>
    <ng-template #scriptGeneric>
      <app-script-generic></app-script-generic>
    </ng-template>
  </div>
}
