:host {
  .style-headline-indicator {
    background-color: #f7931e !important;
    color: #fff !important;
  }

  .item {
    display: flex;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    padding: 0.75rem 0.8rem;
    margin: 3px 0;
    align-items: center;
    font-size: 0.95rem;
    font-weight: 400 !important;

    app-favorite-star {
      font-size: 0.8em;
    }

    &.headline-indicator {
      background-color: rgb(247, 147, 30) !important;
      color: #fff !important;
    }

    &.active {
      background: var(--kommonitor-primary);
    }

    .content {
      display: grid;
      grid-template-columns: min-content auto;
      align-items: center;
      gap: 0.5em;
      cursor: pointer;

      * {
        margin: 0;
      }
    }
  }

  .item > div {
    width: min-content;
    flex: none;
  }

  .item > div:nth-last-child(3) {
    flex: 1 1 auto;
  }

  .list-group-item.active {
    background-color: var(--kommonitor-primary) !important;
  }
}
