:host {
  .list-group .list-group-item-grid-layout div:first-child {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

.style-headline-indicator {
  background-color: #f7931e !important;
  color: #fff !important;
}

.list-group-item p {
  margin: 0.5em 0;
}

.list-group-item.active {
  background-color: var(--kommonitor-primary) !important;
}
