:host {
  .list-group-item div:first-child p,
  .georesources-grid-item.list-group-item p {
    margin: 0.5em 0 !important;
  }

  .hierarchy-topic-level-0 {
    background-color: var(--kommonitor-hierarchy-level-0);
    color: #000 !important;
  }
}

/* Collapse animation */
.collapse {
  transition: height 0.35s ease;
}

.collapse.in {
  display: block;
}
