<a
  id="userLogin"
  #userLoginPopover="ngbPopover"
  [ngbPopover]="userLoginContent"
  triggers="manual"
  [autoClose]="false"
  [disablePopover]="!enableKeycloakSecurity"
  [popoverTitle]="'COMMON.USER_LOGIN' | translate"
  popoverClass="user-login-popover"
  container="body"
  (mouseenter)="onAnchorEnter()"
  (mouseleave)="onAnchorLeave()"
  (shown)="onPopoverShown()"
  (hidden)="onPopoverHidden()"
>
  <i class="fas fa-user-cog" [style.color]="isAdminView ? 'white' : 'inherit'"></i>
</a>

<ng-template #userLoginContent>
  @if (authenticated) {
    <div>
      <div>
        <div>
          <b>{{ 'COMMON.USERNAME' | translate }}: </b>
          <i>{{ currentKeycloakUser.username }}</i>
        </div>
        @if (currentKeycloakUser.firstName && currentKeycloakUser.lastName) {
          <div>
            <span class="word-break-all">
              <b>{{ 'COMMON.FIRST_AND_LAST_NAME' | translate }}: </b>
              <i>
                {{ currentKeycloakUser.firstName }}
                {{ currentKeycloakUser.lastName }}
              </i>
            </span>
          </div>
        }
        @if (!currentKeycloakUser.firstName && currentKeycloakUser.lastName) {
          <div>
            <span class="word-break-all"
              ><b>{{ 'COMMON.LAST_NAME' | translate }}: </b
              ><i>{{ currentKeycloakUser.lastName }}</i></span
            >
          </div>
        }
        @if (currentKeycloakUser.email) {
          <div>
            <span class="word-break-all"
              ><b>{{ 'COMMON.EMAIL' | translate }}: </b><i>{{ currentKeycloakUser.email }}</i></span
            >
          </div>
        }
      </div>
      <div class="box box-simplified collapsed-box">
        <div class="box-header with-border" (click)="userLoginRolesCollapse.toggle()">
          <div class="box-title">{{ 'COMMON.ROLES' | translate }}</div>
          <div class="box-tools">
            <i
              class="fa"
              [ngClass]="{
                'fa-angle-left': isUserLoginRolesCollapse,
                'fa-angle-down': !isUserLoginRolesCollapse,
              }"
            ></i>
          </div>
        </div>
        <div
          class="box-body"
          #userLoginRolesCollapse="ngbCollapse"
          [(ngbCollapse)]="isUserLoginRolesCollapse"
        >
          <table>
            @for (item of userRoleInformation | keyvalue; track item) {
              <tr>
                <td>
                  <table>
                    <tr>
                      <th>{{ item.key }}</th>
                    </tr>
                    <tr>
                      <td class="role-values-cell">
                        @for (role of item.value; track role) {
                          <p>{{ role }}</p>
                        }
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            }
          </table>
        </div>
      </div>
      <div class="box box-simplified collapsed-box">
        <div class="box-header with-border" (click)="userLoginGroupesCollapse.toggle()">
          <div class="box-title">{{ 'COMMON.GROUPS_HIERARCHY' | translate }}</div>
          <div class="box-tools">
            <i
              class="fa"
              [ngClass]="{
                'fa-angle-left': isUserLoginGroupesCollapse,
                'fa-angle-down': !isUserLoginGroupesCollapse,
              }"
            ></i>
          </div>
        </div>
        <div
          class="box-body"
          #userLoginGroupesCollapse="ngbCollapse"
          [(ngbCollapse)]="isUserLoginGroupesCollapse"
        >
          <table>
            @for (entry of userGroupInformation; track entry) {
              <tr>
                <td>
                  @for (group of entry; track group; let i = $index) {
                    <p class="group-item" [style.padding-left.em]="i">
                      {{ group }}
                    </p>
                  }
                </td>
              </tr>
            }
          </table>
        </div>
      </div>
      <app-session-validity></app-session-validity>
      <div class="d-grid gap-2 controls">
        <button class="btn btn-danger" (click)="tryLogoutUser()" type="button">
          {{ 'COMMON.LOGOUT' | translate }}
        </button>
        <button type="button" class="btn btn-secondary" (click)="extendKeycloakSession()">
          {{ 'COMMON.RELOGIN' | translate }}
        </button>
      </div>
    </div>
  }

  @if (!authenticated) {
    <div>
      <div class="d-grid gap-2 controls">
        <button class="btn btn-primary" (click)="tryLoginUser()" type="button">
          {{ 'COMMON.LOGIN' | translate }}
        </button>
        <div>
          @if (envConfigService.loginInfoText) {
            <span>
              {{ envConfigService.loginInfoText }}
            </span>
          }
          @if (!envConfigService.loginInfoText) {
            <span>{{ 'COMMON.LOGIN_INFO_DEFAULT' | translate }}</span>
          }
        </div>
      </div>
    </div>
  }
</ng-template>
