<ng-container [formGroup]="form">
  <div class="row vertical-align">
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>Beschreibung*</label>
        <textarea
          rows="3"
          class="form-control"
          formControlName="description"
          name="description"
          placeholder="Datensatz Beschreibung"
          required
        ></textarea>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>Datenbasis</label>
        <textarea
          rows="3"
          class="form-control"
          formControlName="databasis"
          name="databasis"
          placeholder="optionale Beschreibung etwaiger grundlegender Daten, die zur Erzeugung des Datensatzes beitragen"
        ></textarea>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>Datenquelle*</label>
        <textarea
          rows="3"
          class="form-control"
          formControlName="datasource"
          name="datasource"
          placeholder="Beschreibung der Datenquelle"
          required
        ></textarea>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>Datenhalter und Kontakt*</label>
        <textarea
          rows="3"
          class="form-control"
          formControlName="contact"
          name="contact"
          placeholder="Beschreibung des Datenhalters und etwaiger Kontaktinformationen"
          required
        ></textarea>
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>
  <div class="row vertical-align">
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>Aktualisierungszyklus*</label>
        <select
          formControlName="updateInterval"
          name="updateInterval"
          class="form-control"
          required
        >
          <option [ngValue]="null">-- Aktualisierungszyklus wählen --</option>
          @for (value of updateIntervalOptions; track value.apiName) {
            <option [ngValue]="value">
              {{ value.displayName }}
            </option>
          }
        </select>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>Datum der letzten Aktualisierung*</label>
        <km-date-picker
          name="lastUpdate"
          placeholder="YYYY-MM-DD"
          formControlName="lastUpdate"
          [required]="true"
        ></km-date-picker>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>Literatur</label>
        <textarea
          rows="3"
          class="form-control"
          formControlName="literature"
          name="literature"
          placeholder="optionale Angaben zu Literatur"
        ></textarea>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label>Bemerkung</label>
        <textarea
          rows="3"
          class="form-control"
          formControlName="note"
          name="note"
          placeholder="optionale Bemerkung"
        ></textarea>
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>
</ng-container>
