<ng-container [formGroup]="form">
  <div class="row vertical-align">
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label class="form-label">{{ 'ADMIN_SHARED.DESCRIPTION' | translate }}*</label>
        <textarea
          rows="3"
          class="form-control"
          formControlName="description"
          name="description"
          [placeholder]="'ADMIN_SHARED_UI.FORM.DESCRIPTION_PLACEHOLDER' | translate"
          required
        ></textarea>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label class="form-label">{{ 'ADMIN_SHARED_UI.FORM.DATABASIS' | translate }}</label>
        <textarea
          rows="3"
          class="form-control"
          formControlName="databasis"
          name="databasis"
          [placeholder]="'ADMIN_SHARED_UI.FORM.DATABASIS_PLACEHOLDER' | translate"
        ></textarea>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label class="form-label">{{ 'ADMIN_SHARED.DATASOURCE' | translate }}*</label>
        <textarea
          rows="3"
          class="form-control"
          formControlName="datasource"
          name="datasource"
          [placeholder]="'ADMIN_SHARED_UI.FORM.DATASOURCE_PLACEHOLDER' | translate"
          required
        ></textarea>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label class="form-label">{{ 'ADMIN_SHARED.DATA_HOLDER_CONTACT' | translate }}*</label>
        <textarea
          rows="3"
          class="form-control"
          formControlName="contact"
          name="contact"
          [placeholder]="'ADMIN_SHARED_UI.FORM.CONTACT_PLACEHOLDER' | translate"
          required
        ></textarea>
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>
  <div class="row vertical-align">
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label class="form-label">{{ 'ADMIN_SHARED_UI.FORM.UPDATE_INTERVAL' | translate }}*</label>
        <!-- .form-select, not .form-control: it is the Bootstrap 5 class for a
             <select>, and it puts this control at the same 38px height and caret
             as the selects in the other steps of the same dialogs. -->
        <select formControlName="updateInterval" name="updateInterval" class="form-select" required>
          <option [ngValue]="null">
            {{ 'ADMIN_SHARED_UI.FORM.SELECT_UPDATE_INTERVAL' | translate }}
          </option>
          @for (value of updateIntervalOptions; track value.apiName) {
            <option [ngValue]="value">
              {{ value.displayName }}
            </option>
          }
        </select>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label class="form-label">{{ 'ADMIN_SHARED_UI.FORM.LAST_UPDATE_DATE' | translate }}*</label>
        <km-date-picker
          name="lastUpdate"
          placeholder="YYYY-MM-DD"
          formControlName="lastUpdate"
          [required]="true"
        ></km-date-picker>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label class="form-label">{{ 'ADMIN_SHARED_UI.FORM.LITERATURE' | translate }}</label>
        <textarea
          rows="3"
          class="form-control"
          formControlName="literature"
          name="literature"
          [placeholder]="'ADMIN_SHARED_UI.FORM.LITERATURE_PLACEHOLDER' | translate"
        ></textarea>
        <div class="help-block with-errors"></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-12">
      <div class="form-group">
        <label class="form-label">{{ 'ADMIN_SHARED_UI.FORM.NOTE' | translate }}</label>
        <textarea
          rows="3"
          class="form-control"
          formControlName="note"
          name="note"
          [placeholder]="'ADMIN_SHARED_UI.FORM.NOTE_PLACEHOLDER' | translate"
        ></textarea>
        <div class="help-block with-errors"></div>
      </div>
    </div>
  </div>
</ng-container>
