<div class="modal-header">
  <h4 class="modal-title">Raumebenen löschen</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
</div>

<div class="modal-body">
  <app-loading-overlay [loading]="loadingData">
    <h4><b>Sollen die folgenden Raumebenen wirklich gelöscht werden?</b></h4>

    <p>
      Dabei werden auch sämtliche Indikatoren-Datensätze der angezeigten Raumebenen dauerhaft aus
      dem System entfernt.
    </p>

    @if (datasetsToDelete.length > 0) {
      <div>
        <ul>
          @for (dataset of datasetsToDelete; track dataset) {
            <li>{{ dataset.spatialUnitLevel }}</li>
          }
        </ul>
      </div>
    }

    @if (!datasetsToDelete.length) {
      <div>
        <pre>
kein Datensatz zum Löschen markiert. Mindestens ein Datensatz muss markiert werden.</pre
        >
      </div>
    }
  </app-loading-overlay>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default pull-left" (click)="closeModal()">Schließen</button>
  <button
    type="button"
    class="btn btn-danger"
    (click)="deleteSpatialUnits()"
    [disabled]="!datasetsToDelete.length"
  >
    Raumebenen unwiderruflich löschen
  </button>
</div>

@if (failedDatasetsAndErrors.length > 0) {
  <div id="spatialUnitsDeleteErrorReport" class="alert alert-danger">
    <h4><i class="icon fa fa-ban"></i>Löschen gescheitert</h4>
    Folgende Datensätze konnten nicht gelöscht werden.
    <br />
    <table
      class="table table-bordered table-condensed"
      style="width: 100%; overflow: auto; font-size: 11px"
    >
      <thead>
        <tr>
          <th>Name</th>
          <th>Fehlermeldung</th>
        </tr>
      </thead>
      <tbody>
        @for (dataset of failedDatasetsAndErrors; track dataset) {
          <tr>
            <td>{{ dataset[0].spatialUnitLevel }}</td>
            <td [innerHTML]="dataset[1]"></td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
