<expandable-box [title]="'ADMIN_SCRIPTS.REQUIRED_INDICATORS' | translate">
  <div class="row vertical-align">
    <div class="col-md-12 col-sm-12 col-12">
      <app-filterable-select
        [label]="'ADMIN_SCRIPTS.INDICATORS.SELECT_LABEL' | translate"
        propertyKey="indicatorName"
        [filterPlaceholder]="'ADMIN_SHARED.KEYWORD_FILTER' | translate"
        [selectPlaceholder]="'ADMIN_SCRIPTS.INDICATORS.SELECT_PLACEHOLDER' | translate"
        [options]="indicatorStore.availableIndicators"
        (selectedItemChange)="onChangeIndicator($event)"
      ></app-filterable-select>
    </div>
  </div>

  <div class="row vertical-align">
    <div class="col-md-6 col-sm-6 col-12">
      <div class="form-group">
        <label class="form-label">{{
          'ADMIN_SCRIPTS.INDICATORS.SELECTED_ID_LABEL' | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          disabled
          [placeholder]="'ADMIN_SCRIPTS.INDICATOR_ID_PLACEHOLDER' | translate"
          [value]="selectedIndicator?.indicatorId || ''"
        />
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-12">
      <div class="form-group">
        <label class="form-label">{{
          'ADMIN_SCRIPTS.INDICATORS.SELECTED_NAME_LABEL' | translate
        }}</label>
        <input
          type="text"
          class="form-control"
          disabled
          [placeholder]="'ADMIN_SCRIPTS.INDICATOR_NAME_PLACEHOLDER' | translate"
          [value]="selectedIndicator?.indicatorName || ''"
        />
      </div>
    </div>
  </div>

  <div class="row vertical-align pt-2">
    <div class="col-12 d-flex justify-content-center">
      <div class="form-group">
        <button
          class="btn btn-success btn-sm"
          [disabled]="!selectedIndicator"
          (click)="scriptHelperService.addBaseIndicator(selectedIndicator)"
        >
          {{ 'ADMIN_SCRIPTS.ADD' | translate }}
        </button>
      </div>
    </div>
  </div>

  <!-- Tabelle der definierten (Basis-)Indikatoren -->
  <div class="row vertical-align">
    <div class="col-md-12 col-sm-12 col-12">
      <label class="form-label">{{ 'ADMIN_SCRIPTS.INDICATORS.OVERVIEW_LABEL' | translate }}</label>
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th>{{ 'ADMIN_SHARED.EDIT_FUNCTIONS' | translate }}</th>
            <th>{{ 'ADMIN_SCRIPTS.INDICATORS.INDICATOR_ID' | translate }}</th>
            <th>{{ 'ADMIN_SCRIPTS.INDICATORS.INDICATOR_NAME' | translate }}</th>
            <th>{{ 'ADMIN_SHARED.DESCRIPTION' | translate }}</th>
            <th>{{ 'ADMIN_SCRIPTS.INDICATORS.UNIT' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          @for (baseIndicator of scriptHelperService.requiredIndicators_tmp; track baseIndicator) {
            <tr>
              <td>
                <div class="btn-group btn-group-sm">
                  <button
                    class="btn btn-danger btn-sm"
                    type="button"
                    (click)="scriptHelperService.removeBaseIndicator(baseIndicator)"
                    [title]="'ADMIN_SCRIPTS.DELETE_ENTRY' | translate"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
              <td>{{ baseIndicator.indicatorId }}</td>
              <td>{{ baseIndicator.indicatorName }}</td>
              <td>{{ baseIndicator.metadata?.description }}</td>
              <td>{{ baseIndicator.unit }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</expandable-box>
