<div id="adminSpatialUnitsContent">

	<div align="center">
		<div class="loading-overlay-admin-panel ng-hide" ng-show="loadingData">
					<span class="glyphicon glyphicon-refresh icon-spin"></span>
		</div>
	</div>

	<!-- Content Header (Page header) -->
	<section class="content-header">
			<h1>
				Verwalten der Raumebenen
				<small>Info</small>
			</h1>

			<div class="adminTableButtonWrapper">
				<button ng-disabled="!$ctrl.kommonitorDataExchangeServiceInstance.checkCreatePermission()" class="btn btn-success btn-sm" type="button" data-toggle="modal" data-target="#modal-add-spatial-unit"><i class="fas fa-plus"></i>&nbsp;&nbsp;Erstellen</button>
				<!-- edit metadata -->

				<!-- edit features -->

				<!-- delete b timestamp -->
			</div>
	</section>

	<!-- Main content -->
	<section class="content container-fluid">
		<!--------------------------
			| Your Page Content Here |
			-------------------------->

			<div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Raumebenen</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

							<div class="admin-table-wrapper">
	              
								<div id="spatialUnitOverviewTable" style="height: 70vh;" class="ag-theme-alpine"></div>	   

							</div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

	</section>
<!-- /.content -->
</div>
