<div class="listWrapper">
  <div class="selectBox">
    <div class="header">verf&uuml;gbar:</div>
    <div class="search">
      <input name="availableSearch" placeholder="Suche..." (keyup)="onAvailableSearchChange($event)">
    </div>
    <select style="font-size: 12px;" size="{{selectSize}}" class="form-control">
      <option *ngFor="let elem of availableElements" (click)="onAvailableElementClick(elem)">{{elem.name}} &rArr;</option>
    </select>
  </div>
  <div class="selectBox">
    <div class="header">ausgew&auml;hlt:</div>
    <div class="search">
      <input name="selectedSearch" placeholder="Suche..." (keyup)="onSelectedSearchChange($event)">
    </div>
    <select style="font-size: 12px;" size="{{selectSize}}" class="form-control">
      <option *ngFor="let elem of displayedSelectedElements" (click)="onSelectedElementClick(elem)">&lArr; {{elem.name}}</option>
    </select>
  </div>
</div>