<!-- Classification method + class count (centered, stacked) -->
<div class="centered-field">
  <label>{{ 'ADMIN_INDICATORS.CLASSIFICATION_METHOD' | translate }}*</label>
  <div class="control-inline">
    <app-classification-method-select
      [defaultMethodId]="state.classificationMethod"
      [hiddenMethodIds]="['manual']"
      (onMethodSelect)="state.onClassificationMethodSelected($event)"
    ></app-classification-method-select>
  </div>
</div>

<div class="centered-field">
  <label>{{ 'ADMIN_INDICATORS.STEP_CLASSIFICATION.NUM_CLASSES' | translate }}*</label>
  <select
    [(ngModel)]="state.numClassesPerSpatialUnit"
    name="numClassesPerSpatialUnit"
    (ngModelChange)="state.onNumClassesChanged($event)"
    class="form-control"
    required
  >
    @for (numClass of state.numClassesArray; track numClass) {
      <option [ngValue]="numClass">{{ numClass }}</option>
    }
  </select>
  <div class="help-block text-center">
    <p>{{ 'ADMIN_INDICATORS.STEP_CLASSIFICATION.NUM_CLASSES_HINT' | translate }}</p>
  </div>
</div>

@if (state.numClassesPerSpatialUnit > 0) {
  @if (state.isRegional) {
    <app-classification-regional-breaks></app-classification-regional-breaks>
  } @else {
    <app-classification-computed-classes></app-classification-computed-classes>
  }
}
