<div class="modal-header">
  <h4 class="modal-title">{{ 'ADMIN_ROLES.ADD_MODAL.TITLE' | translate }}</h4>
  <button
    type="button"
    class="btn-close"
    [attr.aria-label]="'ADMIN_SHARED.CLOSE' | translate"
    (click)="close()"
  ></button>
</div>

<div class="modal-body">
  <app-loading-overlay
    [loading]="processCreation()"
    [message]="'ADMIN_ROLES.ADD_MODAL.CREATING' | translate"
  >
    @if (showErrorAlert()) {
      <div class="alert alert-danger" role="alert">
        {{ 'ADMIN_ROLES.ADD_MODAL.CREATE_ERROR' | translate }}
        <span [innerHTML]="errorMessagePart()"></span>
      </div>
    }
    @if (showKeycloakErrorAlert()) {
      <div class="alert alert-danger" role="alert">
        {{ 'ADMIN_ROLES.ADD_MODAL.KEYCLOAK_ROLES_ERROR' | translate }}
        <span [innerHTML]="keycloakErrorMessagePart()"></span>
      </div>
    }

    <div class="stepper-wrapper">
      <app-stepper [steps]="stepper.steps" [(currentStep)]="stepper.currentStep"></app-stepper>
    </div>

    @if (stepper.isActive('basics')) {
      <form (ngSubmit)="addOrganizationalUnit()">
        <h2 class="fs-title text-center">{{ 'ADMIN_ROLES.ADD_MODAL.BASICS_TITLE' | translate }}</h2>
        <p class="help-block">{{ 'ADMIN_ROLES.ADD_MODAL.BASICS_HELP' | translate }}</p>
        <p class="text-center">
          <b
            ><i>{{ 'ADMIN_SHARED_UI.STEP.REQUIRED_FIELD_MARKER' | translate }}</i></b
          >
        </p>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>{{ 'ADMIN_SHARED.NAME' | translate }}*</label>
              <input
                class="form-control"
                type="text"
                [placeholder]="'ADMIN_ROLES.ADD_MODAL.NAME_PLACEHOLDER' | translate"
                [formControl]="form.controls.name"
              />
              <app-form-error
                [control]="form.controls.name"
                [keyOverride]="
                  form.controls.name.hasError('uniqueName')
                    ? 'ADMIN_ROLES.ADD_MODAL.NAME_INVALID'
                    : ''
                "
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>{{ 'ADMIN_SHARED.DESCRIPTION' | translate }}*</label>
              <textarea
                class="form-control"
                rows="4"
                [placeholder]="'ADMIN_ROLES.ADD_MODAL.DESCRIPTION_PLACEHOLDER' | translate"
                [formControl]="form.controls.description"
                name="description"
                required
              ></textarea>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>{{ 'ADMIN_ROLES.CONTACT' | translate }}*</label>
              <textarea
                class="form-control"
                rows="4"
                [placeholder]="'ADMIN_ROLES.ADD_MODAL.CONTACT_PLACEHOLDER' | translate"
                [formControl]="form.controls.contact"
                name="contact"
                required
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row form-section-row vertical-align">
          @if (isRealmAdmin) {
            <div class="col-md-4">
              @if (parentSelected) {
                <div class="alert alert-info compact-alert">
                  {{ 'ADMIN_ROLES.ADD_MODAL.MANDANT_REMOVE_PARENT_HINT' | translate }}
                </div>
              }
              @if (!parentSelected) {
                <div class="form-group">
                  <div class="toggle-row">
                    <label class="toggle-label"
                      >{{ 'ADMIN_ROLES.ADD_MODAL.MANDANT_LABEL' | translate }}*</label
                    >
                    <label class="switch" for="mandant-toggle">
                      <input
                        id="mandant-toggle"
                        type="checkbox"
                        [formControl]="form.controls.mandant"
                        (change)="onMandantChange()"
                      />
                      <span class="switchslider round"></span>
                    </label>
                  </div>
                  <p class="toggle-help-text">
                    {{ 'ADMIN_ROLES.ADD_MODAL.MANDANT_HELP' | translate }}
                  </p>
                </div>
              }
            </div>
          }
          <div [class]="isRealmAdmin ? 'col-md-4' : 'col-md-8'">
            <label for="parentOrganizationalUnitSelect">
              <b>{{ 'ADMIN_ROLES.ADD_MODAL.HIERARCHY_LABEL' | translate }}</b>
            </label>
            @if (newOrganizationalUnit.mandant) {
              <div class="alert alert-info compact-alert">
                {{ 'ADMIN_ROLES.ADD_MODAL.MANDANT_NO_PARENT' | translate }}
              </div>
            }
            @if (!newOrganizationalUnit.mandant) {
              <app-filterable-select
                propertyKey="name"
                [filterPlaceholder]="'ADMIN_SHARED.KEYWORD_FILTER' | translate"
                [selectPlaceholder]="'ADMIN_ROLES.ADD_MODAL.NO_PARENT_OPTION' | translate"
                [options]="accessControlOptions"
                (selectedItemChange)="onParentOrganizationalUnitChange($event)"
              ></app-filterable-select>
              <p class="help-block hierarchy-help-block">
                {{ 'ADMIN_ROLES.ADD_MODAL.HIERARCHY_HELP' | translate }}
              </p>
            }
          </div>
        </div>
      </form>
    }

    @if (stepper.isActive('rights')) {
      <h2 class="fs-title text-center">{{ 'ADMIN_ROLES.DELEGATED_RIGHTS_TITLE' | translate }}</h2>
      <expandable-box [title]="'ADMIN_ROLES.USAGE_HINTS' | translate" borderColor="cyan">
        <div class="info-panel">
          <p class="text-center">
            {{ 'ADMIN_ROLES.ADD_MODAL.RIGHTS_INTRO' | translate }}
          </p>
          <p class="text-center">
            <i>
              <b>{{ 'ADMIN_ROLES.GROUP_VS_SUBGROUPS_TITLE' | translate }}</b
              >: {{ 'ADMIN_ROLES.GROUP_VS_SUBGROUPS_TEXT' | translate }}
            </i>
          </p>
          <p class="text-center">
            <i>
              <b>
                {{ 'ADMIN_ROLES.ADD_MODAL.RIGHTS_AFTER_CREATE_HINT' | translate }}
              </b>
            </i>
          </p>
        </div>
      </expandable-box>
      <div class="role-grid-wrapper ag-theme-alpine">
        <ag-grid-angular
          class="role-delegates-grid"
          [gridOptions]="roleDelegatesGridOptions"
          [columnDefs]="roleDelegatesColumnDefs"
          [rowData]="roleDelegatesRowData"
          [defaultColDef]="roleDelegatesDefaultColDef"
        ></ag-grid-angular>
      </div>
    }
  </app-loading-overlay>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="close()">
    {{ 'ADMIN_SHARED.CLOSE' | translate }}
  </button>
  <div style="flex: 1"></div>
  <button
    type="button"
    class="btn btn-success"
    [disabled]="!canSubmit"
    (click)="addOrganizationalUnit()"
  >
    {{ 'ADMIN_ROLES.ADD_MODAL.SUBMIT' | translate }}
  </button>
  <button type="button" class="btn btn-danger" (click)="reset()">
    {{ 'ADMIN_SHARED_UI.RESET' | translate }}
  </button>
</div>
